{% extends 'PimCatalogBundle::layout.html.twig' %}

{% block content %}
    {% set parameters = parameters|merge({'operationAlias': batchOperator.operationAlias}) %}
    <form id="{{ form.vars.id }}" action="{{ path('pim_catalog_batch_operation_perform', parameters) }}" method="POST" class="form-horizontal">
        {% block form %}{{ form_widget(form) }}{% endblock %}
        <a href="{{ path('pim_catalog_batch_operation_choose', {'products': parameters.products}) }}" class="btn">Cancel</a>
        <input type="submit" value="Continue &rarr;" class="btn">
    </form>
{% endblock %}

{% block head_script_component %}
    {{ parent() }}

    {% set parameters = parameters|merge({'operationAlias': batchOperator.operationAlias}) %}
    {% set action = path('pim_catalog_batch_operation_configure', parameters) %}

    <script type="text/javascript">
        $(function() {
            'use strict';
            $('select.operation-param').change(function (event) {
                $('#{{ form.vars.id }}')
                    .attr('action', '{{ action|raw }}')
                    .submit();
            });
        });
    </script>
{% endblock %}
