{% extends 'PimCatalogBundle:Family:index.html.twig' %}

{% block familyTab %}
{{ JSFV(form) }}
{{ form_start(form, {
    'action': path('pim_catalog_family_create'),
    'attr': {
        'data-updated-title': 'confirmation.leave'|trans,
        'data-updated-message': 'confirmation.discard changes'|trans({ '%entity%': 'family'|trans })
    }
}) }}

    {% set title = 'family.create'|trans %}

    {{ elements.page_header(title, elements.submitBtn, null, null, elements.updated(form.vars.id)) }}

    {{ elements.form_navbar('Properties') }}

    <div class="tab-content">

        {{ elements.form_errors(form) }}

        <div class="tab-pane active" id="properties">
            {{ elements.accordion({ 'General Properties': form_row(form.code), 'Locale values': form_row(form.label) }) }}
        </div>
    </div>

{{ form_end(form) }}
{% endblock %}
