{% extends 'PimCatalogBundle:Family:index.html.twig' %}

{% block familyTab %}
{{ JSFV(form) }}
<form id="{{ form.vars.id }}" class="form-horizontal" action="{{ path('pim_catalog_family_create') }}" method="POST">

    {% set title = elements.title('family', 'create') %}

    {{ elements.page_header(title, elements.submitBtn) }}

    {{ elements.form_navbar('Properties') }}

    <div class="tab-content">

        {{ elements.form_errors(form) }}

        <div class="tab-pane active" id="properties">
            {{ elements.accordion({ 'General Properties': form_row(form.code), 'Locale values': form_row(form.label) }) }}
        </div>
    </div>

    {{ form_row(form._token) }}
</form>
{% endblock %}
