{% extends 'PimCatalogBundle:Family:index.html.twig' %}

{% oro_title_set({ params: { "%family.label%": form.vars.value.label } }) %}

{% block familyTab %}

{% include 'PimCatalogBundle:ProductAttribute:_available-attributes-form.html.twig' with {
    'form': attributesForm,
    'action': path('pim_catalog_family_addproductattributes', {'id': family.id})
} %}

{{ JSFV(form) }}
{{ form_start(form, {
    'action': path('pim_catalog_family_edit', { id: family.id }),
    'attr': {
        'data-updated-title': 'confirmation.leave'|trans,
        'data-updated-message': 'confirmation.discard changes.'|trans({ '%entity%': 'family'|trans })
    }
}) }}

    {% set title = 'family.edit'|trans ~ ' - ' ~ family.label %}

    {% set buttons %}
        {% if form.vars.value.id %}
            {{ elements.deleteLink(
                path('pim_catalog_family_remove', {'id': family.id}),
                path('pim_catalog_family_index'), 'confirmation.remove.family'|trans({ '%name%': family.label }), "", "flash.family.removed"|trans)
            }}
        {% endif %}
        {{ elements.submitBtn() }}
    {% endset %}

    {{ elements.page_header(title, buttons, null, null, elements.updated(form.vars.id)) }}

    {{ elements.form_navbar(['Properties', 'Attributes', 'History']) }}

    <div class="tab-content">

        {{ elements.form_errors(form) }}

        <div class="tab-pane active" id="properties">
            {% set generalProperties %}
                {{ form_row(form.code) }}
                {{ form_row(form.attributeAsLabel) }}
            {% endset %}

            {{ elements.accordion({ 'General Properties': generalProperties, 'Locale values': form_row(form.label) }) }}
        </div>

        <div class="tab-pane" id="attributes">
            {% include 'PimCatalogBundle:Family:_attributeRequirements.html.twig' %}
        </div>

        <div class="tab-pane" id="history">
            <div id="history-grid"></div>
        </div>

    </div>
{{ form_end(form) }}
{% endblock %}

{% block head_script_component %}
    {{ parent() }}

    <script type="text/javascript">
        require(
            ['jquery'],
            function ($) {
                'use strict';

                $(function() {
                    $('.group').click(function() {
                        $(this).parent().find('tr:not(.group)').toggle();
                        $(this).find('i').toggleClass('icon-expand-alt icon-collapse-alt');
                    });

                    $('.attribute-requirement:not(.identifier) i').each(function() {
                        var $input = $(this).siblings('input[type="checkbox"]');
                        if ($input.attr('checked')) {
                            $(this).attr('data-original-title', $(this).parent().data('required-title'));
                        } else {
                            $(this).attr('data-original-title', $(this).parent().data('not-required-title'));
                        }
                    }).click(function() {
                        $(this).toggleClass('icon-ok required');
                        $(this).toggleClass('icon-circle non-required');

                        var $input = $(this).siblings('input[type="checkbox"]');
                        if ($input.attr('checked')) {
                            $(this).attr('data-original-title', $(this).parent().data('not-required-title')).tooltip('show');
                            $input.removeAttr('checked').trigger('change');
                        } else {
                            $(this).attr('data-original-title', $(this).parent().data('required-title')).tooltip('show');
                            $input.attr('checked', 'checked').trigger('change');
                        }
                    });
                });
            }
        );
    </script>
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': historyDatagrid, 'selector': '#history-grid'} %}
{% endblock %}
