{% extends 'PimEnrichBundle::layout.html.twig' %}

{% set currentGroup = group is defined and group is not empty ? group.id : null %}

{% block head_script_component %}
    {{ parent() }}
    {% set sortFieldId = form is defined and form.sort_order is defined ? form.sort_order.vars.id : null %}
    {% include 'PimEnrichBundle:AttributeGroup:_js-handler.html.twig' with { sortFieldId: sortFieldId, currentGroup: currentGroup } %}
{% endblock %}

{% block content %}
    <div id="group-container" class="row-fluid">
        <div class="sidebar-list">
            {% set editGranted = resource_granted('pim_enrich_attributegroup_edit') %}
            {% if resource_granted('pim_enrich_attributegroup_sort') %}
                <form id="pim_enrich_attributegroup_sort" action="{{ path('pim_enrich_attributegroup_sort') }}" method="POST">
                    <ul id="entities-sortable">
                        {% for groupId, groupName in groups %}
                            <li class="{{ groupId == currentGroup ? 'active' : '' }}" data-id="{{ groupId }}">
                                <span class="handle">
                                    <i class="icon-reorder"></i>
                                    <input name="{{ groupId }}" type="hidden" value="{{ loop.index }}">
                                </span>
                                {% if editGranted %}
                                    <a href="{{ path('pim_enrich_attributegroup_edit', {'id': groupId}) }}">{{ groupName }}</a>
                                {% else %}
                                    {{ groupName }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            {% else %}
                <ul>
                    {% for groupId, groupName in groups %}
                        <li class="{{ groupId == currentGroup ? 'active' : '' }}" data-id="{{ groupId }}">
                            {% if editGranted %}
                                <a href="{{ path('pim_enrich_attributegroup_edit', {'id': groupId}) }}">{{ groupName }}</a>
                            {% else %}
                                {{ groupName }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div id="form-tab">
            {% block groupTab %}
                <div class="sub-title buffer-extra-top buffer-left fullwidth text-center">
                    {{ 'attribute group.suggest creation'|trans }}
                    {% if resource_granted('pim_enrich_attributegroup_create') %}
                        <br/>
                        <br/>
                        {{ 'attribute group.or'|trans }}
                        <a href="{{ path('pim_enrich_attributegroup_create') }}">
                            <span class="label link-label large">{{ 'attribute group.create new'|trans }}</span>
                        </a>
                    {% endif %}
                </div>
            {% endblock groupTab %}
        </div>
    </div>
{% endblock %}
