{% set currentGroup = group is defined and group is not empty ? group.id : null %}

{% block content %}
    <div id="group-container" class="row-fluid">
        <div class="sidebar-list">
            {% set editGranted = resource_granted('pim_enrich_attributegroup_edit') %}
            {% if resource_granted('pim_enrich_attributegroup_sort') %}
                <form id="pim_enrich_attributegroup_sort" action="{{ path('pim_enrich_attributegroup_sort') }}" method="POST">
                    <ul id="entities-sortable" class="AknVerticalList AknVerticalList--withoutBorder">
                        {% for groupId, groupName in groups %}
                            <li class="AknVerticalList-item {{ groupId == currentGroup ? 'active' : '' }}" data-id="{{ groupId }}">
                                <span class="handle">
                                    <i class="icon-reorder"></i>
                                    <input name="{{ groupId }}" type="hidden" value="{{ loop.index }}">
                                </span>
                                {% if editGranted %}
                                    <a class="AknVerticalList-itemLink" href="#{{ path('pim_enrich_attributegroup_edit', {'id': groupId}) }}">{{ groupName }}</a>
                                {% else %}
                                    <span class="AknVerticalList-itemLink">{{ groupName }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            {% else %}
                <ul>
                    {% for groupId, groupName in groups %}
                        <li class="{{ groupId == currentGroup ? 'active' : '' }}" data-id="{{ groupId }}">
                            {% if editGranted %}
                                <a href="#{{ path('pim_enrich_attributegroup_edit', {'id': groupId}) }}">{{ groupName }}</a>
                            {% else %}
                                {{ groupName }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div id="form-tab">
            {% block groupTab %}
                <div class="AknInfoBlock">
                    {{ 'attribute group.suggest creation'|trans }}
                    {% if resource_granted('pim_enrich_attributegroup_create') %}
                        <br/>
                        {{ 'attribute group.or'|trans }}
                        <br/>
                        <a class="AknButton AknButton--withIcon AknButton--apply" href="#{{ path('pim_enrich_attributegroup_create') }}">
                            <i class="AknButton-icon icon-plus"></i>
                            {{ 'attribute group.create new'|trans }}
                        </a>
                    {% endif %}
                </div>
            {% endblock groupTab %}
        </div>
    </div>
{% endblock %}
