{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block content %}

    {% set currentGroup = group is defined ? group.id : null %}

    <div id="group-container" class="row-fluid">
        <div class="sidebar-list">
            {% if resource_granted('pim_enrich_attribute_group_sort') %}
                <form id="pim_enrich_attributegroup_sort" action="{{ path('pim_enrich_attributegroup_sort') }}" method="POST">
                    <ul id="entities-sortable">
                        {% for groupId, groupName in groups %}
                            <li class="{{ groupId == currentGroup ? 'active' : '' }}" data-id="{{ groupId }}">
                                <span class="handle">
                                    <i class="icon-reorder"></i>
                                    <input name="{{ groupId }}" type="hidden" value="{{ loop.index }}">
                                </span>
                                <a href="{{ path('pim_enrich_attributegroup_edit', {'id': groupId}) }}">{{ groupName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            {% else %}
                <ul>
                    {% for groupId, groupName in groups %}
                        <li class="{{ groupId == currentGroup ? 'active' : '' }}" data-id="{{ groupId }}">
                            <a href="{{ path('pim_enrich_attributegroup_edit', {'id': groupId}) }}">{{ groupName }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div id="form-tab">
            {% block groupTab %}
            {% endblock groupTab %}
        </div>
    </div>

{% endblock %}

{% block head_script_component %}
    {{ parent() }}
    {% include 'PimEnrichBundle:AttributeGroup:_js-handler.html.twig' %}
{% endblock %}
