{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}StrixOS - Edit Attribute{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('strixos_catalog_attribute_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-ui-button-navigation-back"></span><span class="ui-button-text">Back to list</span>
        </a>
    </li>
{% endblock %}

{% block content %}

    {% form_theme form 'BapUIBundle:Form:fields.html.twig' %}
    <form action="{{ path('strixos_catalog_attribute_save') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
    
        <div class="form-panel ui-corner-all">
            <h2>General</h2>
            {{ form_row(form.id) }}
            {{ form_row(form.code) }}
            {{ form_row(form.isRequired) }}
            {{ form_row(form.isUnique) }}
            {{ form_row(form.input) }}
            {{ form_row(form.defaultValue) }}
        </div>

        {% if form.input.vars.value == "select" or form.input.vars.value == "multiselect" %}
        <div class="form-panel ui-corner-all">
                <h2>Options</h2>
                <div>
                    <ul class="options" data-prototype="{{ form_widget(form.options.vars.prototype)|e }}" >
                        {% for option in form.options %}
                            <li>{{ form_row(option.value) }}</li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
        {% endif %}

        {{ form_widget(form._token) }}

        <input type="submit" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">

    </form>

    <script type="text/javascript">
    // Get the div that holds the collection of options
    var collectionHolder = $('ul.options');
    
    // setup an "add an option" link
    var $addOptionLink = $('<a href="#" class="add_option_link">Add an option</a>');
    var $newLinkLi = $('<li></li>').append($addOptionLink);
    
    jQuery(document).ready(function() {
        // add a delete link to all of the existing option form li elements
        collectionHolder.find('li').each(function() {
            addOptionFormDeleteLink($(this));
        });
    
        // add the "add a option" anchor and li to the options ul
        collectionHolder.append($newLinkLi);
    
        $addOptionLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
    
            // add a new tag form (see next code block)
            addOptionForm(collectionHolder, $newLinkLi);
        });
    });
    
    function addOptionForm(collectionHolder, $newLinkLi) {
        // Get the data-prototype we explained earlier
        var prototype = collectionHolder.attr('data-prototype');
    
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on the current collection's length.
        var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
    
        // Display the form in the page in an li, before the "Add an option" link li
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    
        // add a delete link to the new form
        addOptionFormDeleteLink($newFormLi);
    }
    
    function addOptionFormDeleteLink($optFormLi) {
        var $removeFormA = $('<a class="action-delete-inline" href="#">Delete ^</a>');

        $optFormLi.append($removeFormA);
    
        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
    
            // remove the li for the tag form
            $optFormLi.remove();
        });
    }
    
    </script>

{% endblock %}


