{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}{{ parent() }} Manage Attribute{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('strixos_catalog_attribute_new') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-plus-button"></span><span class="ui-button-text">Create attribute</span>
        </a>
    </li>
{% endblock %}

{% block content %}

    <table class="grid">
        <thead>
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for attribute in attributes %}
          <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}">
            <td>{{attribute.id}}</td>
            <td>{{attribute.code}}</td>
            <td>{{attribute.input}}</td>
            <td>
                <a href="{{ path('strixos_catalog_attribute_edit', {'id': attribute.id }) }}">Edit</a> <!-- - <a href="{{ path('strixos_dashboard_default_index') }}">Delete</a>-->
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
