{% extends 'StrixosCatalogBundle::layout.html.twig' %}

{% block title %}StrixOS - Manage Attribute{% endblock %}

{% block content_header '' %}

{% block content_header_more %}
    <li><a class="symfony-button-green" href="{{ path('strixos_catalog_default_index') }}">Back to home</a></li>
    <li><a class="symfony-button-green" href="{{ path('strixos_catalog_attribute_new') }}">New attribute</a></li>
{% endblock %}
                
{% block content %}

    <table class="grid">
        <thead>
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for attribute in attributes %}
          <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}">
            <td>{{attribute.id}}</td>
            <td>{{attribute.code}}</td>
            <td>{{attribute.input}}</td>
            <td>
                <a href="{{ path('strixos_catalog_attribute_edit', {'id': attribute.id }) }}">Edit</a> <!-- - <a href="{{ path('strixos_catalog_default_index') }}">Delete</a>-->
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
