{% extends "OroUIBundle:Default:index.html.twig" %}

{% block user_menu %}
    {% if app.user %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
            {{ oro_menu_render('usermenu') }}
        </li>
    {% else %}
        <li><a href="{{ path('oro_user_security_login') }}">Login</a></li>
    {% endif %}
{% endblock user_menu %}

{% block application_menu %}
    {{ oro_menu_render('application_menu') }}
    {% for type, messages in app.session.flashbag.all %}
    <div class="alert alert-{{ type }}">
        <button data-dismiss="alert" class="close" type="button">×</button>
        {% for message in messages %}
        <div>{{ message|trans|raw }}</div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock application_menu %}

{% block head_script %}
    {{ parent() }}
    {% block javascripts %}{% endblock %}
    
    <!-- quick fix until we get pin bar -->
    <style type="text/css">
    .pin-bar {display:none;}
    </style>
    
{% endblock %}
