{% extends 'PimConfigBundle::layout.html.twig' %}

{% set title = form.vars.value.id ? 'Edit locale'|trans : 'Add locale'|trans %}

{% block page_container %}
<div class="container-fluid">
    
    {% block content %}
    <form class="form-horizontal" action="{{ form.vars.value.id ? 
        path('pim_config_locale_edit', { id: form.vars.value.id }) : 
        path('pim_config_locale_create') }}" method="POST" class="form-register">
    
        <div class="row-fluid">
            <div class="form-row">
                <h3 class="pull-left">{{ title|trans }}</h3>
                <button class="btn btn-primary pull-right" type="submit">{{ 'Save'|trans }}</button>
                {% if form.vars.value.id %}
                    <a class="btn pull-right" href="#" id="btn-disable-locale">
                        {% if form.vars.value.activated %} {{ "Disable" | trans }} {% else %} {{ "Enable" | trans }} {% endif %}
                    </a>
                {% endif %}
                <a class="pull-right return" href="{{ path('pim_config_locale_index') }}">
                    {{ "Back to list" | trans }}
                </a>
            </div>
        </div>
        
        <div class="row_fluid">
            {% if form.vars.errors|length %}
                <div class="alert alert-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            
            {{ form_row(form.id) }}
            
            {{ form_row(form.code) }}
            
            {{ form_row(form.fallback) }}
            
            {{ form_row(form.defaultCurrency) }}
            
            {{ form_row(form.activated) }}
            
            {{ form_row(form._token) }}
        </div>
    </form>
    {% endblock %}
</div>
{% endblock %}

{% block head_script_component %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/backbone.bootstrap-modal.js') }}"></script>
    
    <script type="text/javascript">
    $(function() {
        $('select').select2({ allowClear: true });
        $('input.multiselect').select2({ tags: $(this).val() });
        $('#btn-disable-locale').click(function(event) {
            doAction = function() {
                if ($('#pim_config_locale_form_activated').val() == '1') {
                    window.location.href = "{{ path('pim_config_locale_disable', { id: form.vars.value.id }) }}";
                } else {
                    window.location.href = "{{ path('pim_config_locale_enable', { id: form.vars.value.id }) }}";
                }
            };
            
            if (!_.isUndefined(Backbone.BootstrapModal)) {
                if ($('#pim_config_locale_form_activated').val() == '1') {
                    confirm = new Backbone.BootstrapModal({
                        title: "{{ 'Disable Confirmation' | trans }}",
                        content: "{{ 'Are you sure you want to disable this item' | trans }}"
                    });
                } else {
                    confirm = new Backbone.BootstrapModal({
                        title: "{{ 'Enable Confirmation' | trans }}",
                        content: "{{ 'Are you sure you want to enable this item' | trans }}"
                    });
                }
                confirm.on('ok', doAction);
                confirm.open();
            } else if (window.confirm(message)) {
                doAction();
            }
        });
    });
    </script>
{% endblock %}
