<div class="tab-pane {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {% if form.vars.data.products|length == 0 %}
        <div class="alert alert-info">
            <button data-dismiss="alert" class="close" type="button">×</button>
            {{ 'info.group.select products'|trans }}
        {% if form.vars.data.type.isVariant %}
            <br />{{ 'info.group.selectable products'|trans }}
        {% endif %}
        </div>
    {% endif %}

    {{ dataGrid.renderGrid(gridName, { dataLocale: locale_code(), currentGroup: currentGroup }) }}

    {{ form_widget(form.appendProducts, {'id': 'appendProducts'}) }}
    {{ form_widget(form.removeProducts, {'id': 'removeProducts'}) }}
</div>
