{% extends 'OroUIBundle:Form:fields.html.twig' %}

{% block genemu_jqueryselect2_country_row %}
    {{ block('genemu_jqueryselect2_row') }}
{% endblock %}

{% block genemu_jqueryselect2_choice_row %}
    {{ block('genemu_jqueryselect2_row') }}
{% endblock %}

{% block genemu_jqueryselect2_entity_row %}
    {{ block('genemu_jqueryselect2_row') }}
{% endblock %}

{% block genemu_jqueryselect2_row %}
    {{ form_row(form, { 'attr': {'class': 'select2'} }) }}
    {{ form_javascript(form) }}
{% endblock %}

{% block percent_widget %}
    {% set type = type|default('text') %}
    <div class="input-append">
        {% set type = type|default('text') %}
        <input class="input-addon" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <span class="add-on">%</span>
    </div>
{% endblock %}

{% block genemu_jqueryselect2_javascript %}
    <script type="text/javascript">
        require(['jquery', 'oro/select2-config', 'jquery.select2'],
        function($, Select2Config){
            var $field = $('#{{ id }}');

            {% block genemu_jqueryselect2_javascript_prototype %}
            {% set url = '' %}
            {% if configs.ajax.url is defined and configs.ajax.url%}
            {% set url = configs.ajax.url %}
            {% elseif configs.route_name is defined and configs.route_name %}
            {% set url = path(configs.route_name) %}
            {% endif %}

            {% if configs.placeholder is defined %}
            {% set configs = configs|merge({'placeholder': configs.placeholder|trans }) %}
            {% endif %}
            {% if configs.result_template_twig is defined and configs.result_template_twig %}
            {% set configs = configs|merge({'result_template': include(configs.result_template_twig) }) %}
            {% endif %}
            {% if configs.selection_template_twig is defined and configs.selection_template_twig %}
            {% set configs = configs|merge({'selection_template': include(configs.selection_template_twig) }) %}
            {% endif %}

            var select2Config = {{ configs|json_encode|raw }};
            {% if configs.extra_config is defined and configs.extra_config %}
            {{ block('oro_combobox_dataconfig_' ~ configs.extra_config) }}
            {% endif %}

            {% if excluded is not defined %}
                {% set excluded = [] %}
            {% endif %}
            if ($field.length) {
                var configurator = new Select2Config(
                    select2Config,
                    $field[0].tagName.toLowerCase(),
                    {{ url|json_encode|raw }},
                    {{ configs.per_page|default(10) }},
                    {{ excluded|json_encode|raw }}
                );
                select2Config = configurator.getConfig();
            }

            $field.select2(select2Config);

            $field.trigger('select2-init');
            {% endblock %}
        });
    </script>
{% endblock %}

{% block genemu_jqueryselect2_entity_widget %}
    {% spaceless %}
        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('genemu_jqueryselect2_entity_widget_collapsed') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block genemu_jqueryselect2_entity_widget_collapsed %}
    {% spaceless %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option {% if value is empty %} selected="selected"{% endif %} value="">
                    {{ empty_value|trans({}, translation_domain) }}
                </option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock %}

{% block oro_ticker_symbol_widget %}
    <script type="text/javascript">
        require(['jquery', 'bootstrap'],
        function($){
            $(function() {
                var cache = {};
                $("#{{ id }}").typeahead({
                    source: function (request, process) {
                        YAHOO = {
                            Finance: {
                                SymbolSuggest: {
                                    ssCallback: function (data) {
                                        var result = $.map(data.ResultSet.Result, function (item) {
                                            return item.name + " (" + item.symbol + ")";
                                        });
                                        $.each(data.ResultSet.Result, function (itemKey, item) {
                                            cache[item.name + " (" + item.symbol + ")"] = item.symbol;
                                        });
                                        process(result)
                                    }
                                }
                            }
                        };
                        $.ajax({
                            type: "GET",
                            dataType: "jsonp",
                            jsonp: "callback",
                            jsonpCallback: "YAHOO.Finance.SymbolSuggest.ssCallback",
                            data: {
                                query: request
                            },
                            cache: true,
                            url: "http://autoc.finance.yahoo.com/autoc"
                        });
                    },
                    updater: function(item) {
                        if (typeof cache[item] != 'undefined') {
                            return cache[item];
                        } else {
                            return item;
                        }
                    }
                });
            });
        });
    </script>

    {{ form_widget(form) }}
{% endblock %}

{% block oro_jqueryselect2_hidden_row %}
    {{ block('genemu_jqueryselect2_row') }}
{% endblock %}

{% block oro_icon_select_widget %}
    {{ form_widget(form) }}
    {{ form_javascript(form) }}
{% endblock %}

{% block oro_combobox_dataconfig_autocomplete %}
    {% set url = '' %}
    {% if configs.ajax.url is defined and configs.ajax.url%}
    {% set url = configs.ajax.url %}
    {% elseif configs.route_name is defined and configs.route_name %}
        {% set url = path(configs.route_name) %}
    {% endif %}
    select2Config.ajax = {
        'url': {{ url|json_encode|raw }},
        'data': function (query, page) {
            return {
                'page': page,
                'per_page': {{ configs.per_page|default(10) }},
                'name': "{{ configs.autocomplete_alias }}",
                'query': query
            };
        },
        'results': function (data, page) {
            return data;
        }
    };
{% endblock %}

{% block oro_combobox_dataconfig_relation %}
    {% set url = '' %}
    {% if configs.ajax.url is defined and configs.ajax.url%}
    {% set url = configs.ajax.url %}
    {% elseif configs.route_name is defined and configs.route_name %}
        {% set url = path(configs.route_name) %}
    {% endif %}
    select2Config.ajax = {
        'url': {{ url|json_encode|raw }},
        'data': function (query, page) {
            return {
                'page': page,
                'per_page': {{ configs.per_page|default(10) }},
                'name': "{{ configs.autocomplete_alias }}",
                'query': query + ',{{ configs.target_entity }},{{ configs.target_field }}'
            };
        },
        'results': function (data, page) {
            return data;
        }
    };
{% endblock %}

{% block oro_combobox_dataconfig_grid %}
    {% set url = configs.ajax.url is defined ? configs.ajax.url : path(configs.route, {'_format': 'json'}) %}
    select2Config.ajax = {
        'url': {{ url|json_encode|raw }},
        'data': function (query, page) {
            return {
                '{{ configs.grid.name }}[_pager][_page]': page,
                '{{ configs.grid.name }}[_pager][_per_page]': {{ configs.per_page|default(10) }},
                '{{ configs.grid.name }}[_sort_by][{{ configs.grid.sort_by|default(configs.properties[0]) }}]': "{{ configs.grid.sort_order|default('ASC') }}",
                '{{ configs.grid.name }}[_filter][{{ configs.properties[0] }}][type]': 1,
                '{{ configs.grid.name }}[_filter][{{ configs.properties[0] }}][value]': query
            };
        },
        'results': function (data, page) {
            return {
                results: $.map(data.data, function(item) {
                    return {'id': item.id, 'text': item.{{- configs.properties[0] -}} };
                }),
                more: page*10 < data.options.totalRecords
            };
        }
    };
{% endblock %}

{% block oro_multiple_entity_widget %}
    {{ form_widget(form) }}

    <style type="text/css">
        #{{ id }}-container .entity-item {
            padding: 5px 7px;
            margin-left: 0;
            margin-right: 1.5%;
            margin-top: 15px;
        }

        #{{ id }}-container .entity-item h4 {
            margin: 3px 0;
        }
    </style>

    <div id="{{ id }}-container"></div>

    <script type="text/javascript">
        require(['jquery',
            'oro/multiple-entity', 'oro/multiple-entity/collection', 'oro/multiple-entity/model',
            'text!{{ asset('bundles/oroform/js/multiple-entity/templates/multiple-entities.html') }}',
            'text!{{ asset('bundles/oroform/js/multiple-entity/templates/multiple-entity.html') }}'
        ],
        function($, MultipleEntity, MultipleEntityCollection, MultipleEntityModel, EntitiesTpl, EntityTpl) {
            var widget = new MultipleEntity({
                el: '#{{ id }}-container',
                template: EntitiesTpl,
                elementTemplate: EntityTpl,
                addedElement: '#{{ id }}_added',
                removedElement: '#{{ id }}_removed',
                name: {{ id|json_encode|raw }},
                defaultElement: {{ form.vars.default_element|json_encode|raw }},
                selectionUrl: {{ form.vars.grid_url|json_encode|raw }},
                collection: new MultipleEntityCollection(),
                selectorWindowTitle: {{ form.vars.selector_window_title|trans|json_encode|raw }}
            });
            var data = [];
            {% for element in initial_elements %}
                data.push(new MultipleEntityModel({{ element|json_encode|raw }}));
            {% endfor %}
            widget.getCollection().reset(data);
        });
    </script>
{% endblock %}

{% block form_label %}
    {% spaceless %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% set isRadioLabel = form.parent.vars.expanded|default(false) and checked is defined %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if tooltip is defined and tooltip %}
                {% set tooltip = tooltip|trans %}
                {% if (tooltip_details_enabled is defined and tooltip_details_enabled)
                    or (tooltip_details_anchor is defined or tooltip_details_link is defined) %}
                    {% set helpLink = tooltip_details_link|default(get_help_link()) %}
                    {% if tooltip_details_anchor is defined and tooltip_details_anchor %}
                        {% set helpLink = helpLink ~ '#' ~ tooltip_details_anchor %}
                    {% endif %}
                    {% set tooltip = tooltip
                        ~ '<div class="clearfix"><div class="pull-right"><a href="' ~ helpLink ~ '">' ~ 'Read more'|trans ~ '</a></div></div>' %}
                {% endif %}
                <i class="icon-info-sign"
                    style="color: #6b92d0;font-size: 13px;"
                    {% if tooltip_placement is defined %}data-placement="{{ tooltip_placement }}"{% endif %}
                    data-content="{{ tooltip }}"
                    data-toggle="popover"></i>
            {% endif %}
            {% if required and not isRadioLabel %}
                <em>*</em>
            {% endif %}
            {{ label|trans({}, translation_domain)|capitalize }}
        </label>
    {% endspaceless %}
{% endblock form_label %}

{% block oro_money_currency_addon %}
    <span class="add-on">{{ currency_symbol }}</span>
{% endblock oro_money_currency_addon %}

{% block oro_money_widget %}
    {% spaceless %}
        {% if currency_symbol_prepend is null %}
            {% set div_input_class = '' %}
        {% elseif currency_symbol_prepend == true %}
            {% set div_input_class = 'input-prepend' %}
        {% else %}
            {% set div_input_class = 'input-append' %}
        {% endif %}

        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-addon')|trim}) %}

        <div class="{{ div_input_class }}">
            {% set money_field = money_pattern %}
            {% set money_field = money_field|replace({ '{{ widget }}': block('form_widget_simple') }) %}
            {% set money_field = money_field|replace({ '{{ currency }}': block('oro_money_currency_addon') }) %}
            {{ money_field|raw }}
        </div>
    {% endspaceless %}
{% endblock oro_money_widget %}

{% block oro_date_widget %}
    {% set actual_id = id %}
    {% set selector_name = 'date_selector_' ~ id %}
    {% set selector_id = selector_name %}

    {# Actual date field that uses ISO format #}
    {% set attr = attr|merge({'data-input-id': selector_id}) %}
    <span style="display:none">{{ block('date_widget') }}</span>

    {# Visible fake datepicker field that uses localized format #}
    <input type="text"
           name="{{ selector_name }}"
           id="{{ selector_id }}"
           placeholder="{{ placeholder|trans }}" />

    <script type="text/javascript">
        require(['jquery', 'oro/formatter/datetime', 'jquery-ui'],
        function($, datetimeFormatter) {
            var selector = $("#{{ selector_id }}");
            var actual = $("#{{ actual_id }}");
            var sync = function() {
                selector.val(datetimeFormatter.formatDate(actual.val()));
            };
            actual.on('change', sync);
            if (actual.val() && actual.val().length) {
                sync();
            }
            selector.datepicker({
                altField: '#{{ actual_id }}',
                altFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '-80:+1',
                showButtonPanel: true
            });
            selector.keyup(
                function () {
                    var selectorValue = selector.val();
                    if (datetimeFormatter.isDateValid(selectorValue)) {
                        actual.val(datetimeFormatter.convertDateToBackendFormat(selectorValue));
                    } else {
                        actual.val('');
                    }
                }
            );
        });
    </script>
{% endblock oro_date_widget %}

{% block oro_datetime_widget %}
    {% set actual_id = id %}
    {% set selector_name = 'datetime_selector_' ~ id %}
    {% set selector_id = selector_name %}

    {# Actual date field that uses ISO format #}
    {% set attr = attr|merge({'data-input-id': selector_id}) %}
    <span style="display:none">{{ block('datetime_widget') }}</span>

    {# Visible fake datetimepicker field that uses localized format #}
    <input type="text"
           name="{{ selector_name }}"
           id="{{ selector_id }}"
           placeholder="{{ placeholder|trans }}" />

    <script type="text/javascript">
        require(['jquery', 'oro/formatter/datetime', 'jquery-ui-timepicker'],
        function($, datetimeFormatter) {
            var selector = $("#{{ selector_id }}");
            var actual = $("#{{ actual_id }}");
            var sync = function() {
                selector.val(datetimeFormatter.formatDateTime(actual.val()));
            };
            actual.on('change', sync);
            if (actual.val() && actual.val().length) {
                sync();
            }
            selector.datetimepicker({
                altField: '#{{ actual_id }}',
                altFormat: 'yy-mm-dd',
                altTimeFormat: 'HH:mm:ssz',
                altFieldTimeOnly: false,
                altSeparator: 'T',
                changeMonth: true,
                changeYear: true,
                yearRange: '-80:+1',
                showButtonPanel: true
            });
            selector.keyup(
                function () {
                    var selectorValue = selector.val();
                    if (datetimeFormatter.isDateTimeValid(selectorValue)) {
                        actual.val(datetimeFormatter.convertDateTimeToBackendFormat(selectorValue));
                    } else {
                        actual.val('');
                    }
                }
            );
        });
    </script>
{% endblock oro_datetime_widget %}
