<div id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}" class="job-profile-content-tab tab-pane buffer-top">
    <div id="pim-product-export-edit-content" class="form-horizontal"></div>
    <input id="{{ form.configuration.filters.vars.id }}" name="{{ form.configuration.filters.vars.full_name }}" value="{{ form.configuration.filters.vars.value|json_encode }}" type="hidden"/>
    <script>
        require(
            ['jquery', 'pim/fetcher-registry', 'pim/form-builder', 'oro/loading-mask'],
            function($, FetcherRegistry, FormBuilder, LoadingMask) {
                $(function() {
                    var loadingMask = new LoadingMask();
                    loadingMask.render().$el.appendTo($('#container')).show();
                    FetcherRegistry.initialize().done(function () {
                        FormBuilder.build('{{ form.vars.disabled ? 'pim-product-export-show-content' : 'pim-product-export-edit-content' }}')
                            .then(function (form) {
                                form
                                    .setElement('#pim-product-export-edit-content')
                                    .setData(JSON.parse($('#{{ form.configuration.filters.vars.id }}').val()))
                                    .render();

                                form.on('pim_enrich:form:entity:post_update', function () {
                                    document.getElementById('{{ form.configuration.filters.vars.id }}').value = JSON.stringify(form.getFormData());
                                });

                                loadingMask.remove();
                            });
                    })
                });
            });
    </script>
</div>
