<div id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}" class="tab-pane buffer-top active">
    {% set properties %}
        {{ form_row(form.code) }}
        {{ form_row(form.label) }}
    {% endset %}
    {{ elements.accordion({ 'pane.accordion.properties': properties }, 1) }}

    {% set globalSettings %}
        {% for step in form.job.steps %}
            {% for stepElement in step.children %}
                {% for field in stepElement.children %}
                    {% if field.vars.attr['data-tab'] is not defined %}
                        {{ form_row(field) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endset %}
    {{ elements.accordion({ 'pane.accordion.global_settings': globalSettings }, 2) }}
</div>
