{% form_theme form 'PimImportExportBundle:JobProfile/Tab:_form_theme.html.twig' %}

<div id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}" class="tab-pane buffer-top active">
    {% block configuration %}
        {% set globalSettings %}
            <table class="configuration">
                <thead></thead>
                <tbody>
                {% for element in form.configuration %}
                    {% if element.vars.attr['data-tab'] is not defined %}
                    <tr>
                        <td><b>{{ element.vars.label|trans }}</b></td>
                        <td>{{ element.vars|normalizeFieldValue|trans }} {{ getViolations(violations, element.vars.name) }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {{ elements.accordion({ 'pane.accordion.global_settings': globalSettings }, 1, true) }}
    {% endblock configuration %}
</div>
