{% extends 'PimProductBundle:AttributeGroup:index.html.twig' %}

{% block groupTab %}
{{ JSFV(form) }}
<form action="{{ form.vars.value.id ?
    path('pim_product_attributegroup_edit', { id: form.vars.value.id }) :
    path('pim_product_attributegroup_create') }}" method="POST" class="form-horizontal">
    <div class="form-row">
        <h3>
            {% if form.vars.value.id %}
                {{ 'Group'|trans }} - {{ form.vars.data.name }}
            {% else %}
                {{ 'New group'|trans }}
            {% endif %}
            <button class="btn btn-primary pull-right" type="submit">{{ 'Save'|trans }}</button>
            {% if form.vars.value.id %}
                <a href="{{ path('pim_product_attributegroup_remove', {'id': form.vars.value.id}) }}"
                    class="btn pull-right" data-method="DELETE"
                    data-confirm="{{ 'Are you sure you want to remove the group %group%?'|trans({'%group%': form.vars.data.name}) }}">
                    {{ 'Delete'|trans }}
                </a>
            {% endif %}
        </h3>
    </div>

   {% set tabs = form.vars.value.id ? ['Properties', 'Attributes'] : 'Properties' %}

    {{ elements.form_navbar(tabs) }}

    <div class="tab-content">

        {{ elements.form_errors(form) }}

        <div class="tab-pane active" id="properties">
            <div id="accordion1" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                            <i class="fa-icon-collapse-alt"></i>
                            {{ "General Properties"|trans }}
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body in">
                        <div class="accordion-inner">
                            {{ form_row(form.code) }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion2" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            <i class="fa-icon-collapse-alt"></i>
                            {{ "Group values"|trans }}
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body in">
                        <div class="accordion-inner">
                            {{ form_row(form.name) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_row(form.sort_order) }}
        {{ form_row(form._token) }}

        {% if form.vars.value.id %}
            <div class="tab-pane" id="attributes">
                <div id="attribute-buttons"></div>
                <div class="clearfix"></div>
                <table class="table groups">
                    <thead>
                        <th>&nbsp;</th>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Type'|trans }}</th>
                        <th>{{ 'Scope'|trans }}</th>
                        <th>{{ 'Translatable'|trans }}</th>
                        <th>&nbsp;</th>
                    </thead>
                        <tbody id="attributes-sortable">
                            {% for attribute in group.attributes %}
                                <tr>
                                    <td>
                                        <span class="handle">
                                            <i class="fa-icon-reorder"></i>
                                            <input name="{{ attribute.id }}" type="hidden" value="{{ attribute.sortOrder }}">
                                        </span>
                                    </td>
                                    <td>{{ attribute.label }}</td>
                                    <td>{{ attribute.attributeType|trans }}</td>
                                    <td>{{ attribute.scopable ? 'Channel'|trans : 'Global'|trans }}</td>
                                    <td>
                                        <input type="checkbox" disabled="disabled"{% if attribute.translatable %} checked="checked"{% endif %}>
                                    </td>
                                    <td>
                                        <a href="{{ path('pim_product_attributegroup_removeproductattribute', {'groupId': group.id, 'attributeId': attribute.id}) }}" class="remove-attribute" data-method="DELETE" data-confirm="{{ 'Are you sure you want to remove attribute %attribute%?'|trans({'%attribute%': attribute.label}) }}">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</form>

{% include 'PimProductBundle:ProductAttribute:_available-attributes-form.html.twig' with {
    'form': attributesForm,
    'action': path('pim_product_attributegroup_addproductattributes', {id: form.vars.value.id ? form.vars.value.id : 0})
} %}

{% include 'PimProductBundle:AttributeGroup:_attribute-sort-form.html.twig' with {
    'list': '#attributes-sortable',
    'attributes': group.attributes
} %}

{% endblock %}
