{% extends 'PimProductBundle::layout.html.twig' %}

{% block content %}

    {% set currentGroup = group is defined ? group : null %}

    <div id="group-container" class="row-fluid">
        <div class="sidebar-list">
            <form id="pim_product_attributegroup_sort" action="{{ path('pim_product_attributegroup_sort') }}" method="POST">
                <ul id="entities-sortable">
                    {% for group in groups %}
                        <li class="{{ group == currentGroup ? 'active' : '' }}" data-id="{{ group.id }}">
                            <span class="handle">
                                <i class="fa-icon-reorder"></i>
                                <input name="{{ group.id }}" type="hidden" value="{{ group.sortOrder }}">
                            </span>
                            <a href="{{ path('pim_product_attributegroup_edit', {'id': group.id}) }}">{{ group.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
        <div id="form-tab">
            {% block groupTab %}
            {% endblock groupTab %}
        </div>
    </div>

{% endblock %}

{% block head_script_component %}
    {{ parent() }}

    {% javascripts
        '@PimUIBundle/Resources/public/js/jquery.multiselect.custom.js'
        '@PimUIBundle/Resources/public/js/jquery.pimMultiselect.js'

        filter='?yui_js'
        output='js/pim.multiselect.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include 'PimProductBundle:AttributeGroup:_js-handler.html.twig' %}
{% endblock %}