{% if widget.show %}
    <div class="quick-launchpad-widget span6">
        <div class="clearfix">
            <div class="widget-header">
                {{ 'pimee_dashboard.widget.product_drafts.title'|trans }}
            </div>
            {% if widget.params|length %}
                <table id="product-drafts-widget" class="table table-condensed table-light groups unspaced">
                    <thead>
                        <tr>
                            <th class="center">{{ 'pimee_dashboard.widget.product_drafts.date'|trans }}</th>
                            <th class="center">{{ 'pimee_dashboard.widget.product_drafts.author'|trans }}</th>
                            <th class="center">{{ 'pimee_dashboard.widget.product_drafts.product'|trans }}</th>
                            <th class="center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for productDraft in widget.params %}
                            <tr>
                                <td>
                                    {% set timeFormat = 'now'|date('Y-m-d') == productDraft.createdAt|date('Y-m-d') ? 'h:i' : 'Y-m-d h:i' %}
                                    {{ productDraft.createdAt|date(timeFormat) }}
                                </td>
                                <td>{{ productDraft.author }}</td>
                                <td>
                                    <a href="{{ path('pim_enrich_product_edit', { id: productDraft.product.id }) }}">
                                        {{ productDraft.product }}
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-mini" href="{{ path('pim_enrich_product_edit', { id: productDraft.product.id }) }}" onclick="sessionStorage.setItem('redirectTab', '#product-drafts')">
                                        {{ 'pimee_dashboard.widget.product_drafts.review'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span class="label text-center buffer-small-top buffer-small-bottom fullwidth">{{ 'pimee_dashboard.widget.product_drafts.empty'|trans }}</span>
            {% endif %}
        </div>
    </div>
{% endif %}
