<div class="widget-header">
    {{ 'pimee_dashboard.widget.proposals.title'|trans }}
</div>

{% if widget.params|length %}
    <table id="proposals-widget" class="table table-condensed table-light groups unspaced">
        <thead>
            <tr>
                <th class="center">{{ 'pimee_dashboard.widget.proposals.date'|trans }}</th>
                <th class="center">{{ 'pimee_dashboard.widget.proposals.author'|trans }}</th>
                <th class="center">{{ 'pimee_dashboard.widget.proposals.product'|trans }}</th>
                <th class="center"></th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in widget.params %}
                <tr>
                    <td>
                        {% set timeFormat = 'now'|date('Y-m-d') == proposal.createdAt|date('Y-m-d') ? 'h:i' : 'Y-m-d h:i' %}
                        {{ proposal.createdAt|date(timeFormat) }}
                    </td>
                    <td>{{ proposal.createdBy }}</td>
                    <td>
                        <a href="{# {{ path('pim_enrich_product_edit', { id: proposal.product.id }) }} #}">
                            {{ proposal.product }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-mini" href="{# {{ path('pim_enrich_product_edit', { id: proposal.product.id }) }} #}">
                            {{ 'pimee_dashboard.widget.proposals.review'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <span class="label text-center buffer-small-top buffer-small-bottom fullwidth">{{ 'pimee_dashboard.widget.proposals.empty'|trans }}</span>
{% endif %}
