{% macro renderTransitionButton(workflow, transition, workflowItem, transitionData) %}
    {% if (transitionData['dialog-url'] is not defined or not transitionData['dialog-url']) and transition.hasForm() %}
        {% set transitionData = transitionData|merge({
            'dialog-url': path(
                'oro_workflow_widget_transition_form',
                {
                    workflowItemId: workflowItem.id,
                    transitionName: transition.name
                }
            )
        }) %}
    {% endif %}

    {% if transitionData['transition-url'] is not defined or not transitionData['transition-url'] %}
        {% set transitionData = transitionData|merge({'transition-url':
            path(
                'oro_workflow_api_rest_workflow_transit',
                {
                    workflowItemId: workflowItem.id,
                    transitionName: transition.name
                }
            )
        }) %}
    {% endif %}

    {% if not transitionData['enabled'] and transitionData['transition-condition-messages'] %}
        {% set conditionMessages = [] %}
        {% for error in transitionData['transition-condition-messages'] %}
            {% set conditionMessages = conditionMessages|merge(['<li>' ~ error.message|trans(error.parameters) ~ '</li>']) %}
        {% endfor %}
        {% set transitionData = transitionData|merge({
            'transition-condition-messages': '<ol>' ~ conditionMessages|join ~ '</ol>'
        }) %}
    {% endif %}

    <a href="{{ transitionData['transition-url'] }}"
        {% for key, value in transitionData %}
            data-{{ key }}="{{ value }}"
        {% endfor %}
        title="{{ transition.label|trans }}"
        class="btn icons-holder-text no-hash
            {% if not transitionData.enabled %}disabled{% endif %}
            {% if transition.frontendOptions is defined and transition.frontendOptions.class is defined %}{{ transition.frontendOptions.class }}{% endif %}"
        id="transition-{{ workflow.name }}-{{ transition.name }}">
        {% if transition.frontendOptions is defined and transition.frontendOptions.icon is defined %}
            <i class="{{ transition.frontendOptions.icon }}"></i>
        {% endif %}
        {{ transition.label|trans }}
    </a>
{% endmacro %}

{% macro renderTransitionsJs(transitionsData, blockId) %}
    <script type="text/javascript">
        require(['jquery', 'oro/workflow-transition-handler', 'popover-extra-placements'],
        function($, workflowTransitionHandler) {
            'use strict';

            $(function() {
                var container = $('#{{ blockId }}');
                {% for data in transitionsData %}
                (function(transitionBtn) {
                    if (transitionBtn.data('enabled')) {
                        transitionBtn.data('executor', function() {
                            workflowTransitionHandler.call(transitionBtn);
                        });
                        transitionBtn.on('click', function(e) {
                            e.preventDefault();
                            $(this).data('executor').call();
                        });
                        transitionBtn.trigger('transitionHandlerInitialized');
                    } else {
                        transitionBtn.popover({
                            'html': true,
                            'placement': 'bottomRight',
                            'trigger': 'hover',
                            'title': '<i class="icon-exclamation-sign"></i>' + {{ 'Unmet conditions'|trans|json_encode|raw }},
                            'content': transitionBtn.data('transition-condition-messages')
                        });
                    }
                })(container.find('#transition-{{ data.workflow.name }}-{{ data.transition.name }}'));
                {% endfor %}
            });
        });
    </script>
{% endmacro %}
