{% macro renderTransitionButton(workflow, transition, enabled, url, redirectToWorkflow) %}
    <button type="button"
        {% if not enabled %}disabled="disabled"{% endif %}
        data-href="{{ url }}"
        data-redirect-to-workflow="{{ redirectToWorkflow }}"
        data-has-attributes="true"
        class="btn icons-holder-text no-hash {% if transition.frontend_options is defined and transition.frontend_options.class is defined %}{{ transition.frontend_options.class }}{% endif %}"
        id="transition-{{ workflow.name }}-{{ transition.name }}">
        {% if transition.frontend_options is defined and transition.frontend_options.icon is defined %}
            <i class="{{ transition.frontend_options.icon }} hide-text">{{ transition.label|trans }}</i>
        {% endif %}
        {{ transition.label|trans }}
    </button>
{% endmacro %}

{% macro renderTransitionsJs(transitionsData, blockId) %}
    <script type="text/javascript">
        require(['jquery', 'oro/workflow-transition-handler'],
        function($, workflowTransitionHandler) {
            'use strict';

            $(function() {
                var container = $('#{{ blockId }}');
                {% for data in transitionsData %}
                    container.on(
                        'click',
                        '#transition-{{ data.workflow.name }}-{{ data.transition.name }}',
                        workflowTransitionHandler
                    );
                {% endfor %}
            });
        });
    </script>
{% endmacro %}
