{% extends 'OroNavigationBundle:Menu:_htabs.html.twig' %}

{% block item %}
    {{ block('item_renderer') }}
{% endblock %}

{% block item_renderer %}
    {% set showNonAuthorized = item.extras.showNonAuthorized is defined and item.extras.showNonAuthorized %}
    {% set displayable = item.extras.isAllowed or showNonAuthorized %}
    {% if item.displayed and displayable %}
        {# displaying the item #}
        {% import _self as oro_menu %}
        {%- set linkAttributes = item.linkAttributes %}
        {%- set labelAttributes = item.labelAttributes %}
        {% set class = [''] %}
        {% if item.extras.activeIfFirstIsEmpty is defined and item.extras.activeIfFirstIsEmpty %}
            {% set class = class|merge(['show-if-empty']) %}
        {% endif %}
        <li id="{{- item.name|replace({' ': '_', '#': '_'})|lower|trim -}}-tab" class="{{ class|join(' ') }}">
            {{ block('linkElement') }}
        </li>
    {% endif %}
{% endblock %}

{% block linkElement %}
    {% import 'OroNavigationBundle:Menu:menu.html.twig' as oro_menu %}
    {% set linkAttributes = linkAttributes|merge({'data-toggle': 'tab'}) %}
    {% set itemLink = '#' ~ item.name|replace({' ': '_', '#': '_'})|lower|trim ~ '-content' %}
    <a href="{{ itemLink }}"{{ oro_menu.attributes(linkAttributes) }}>{{ block('label') }}</a>
{% endblock %}
