{% extends 'OroNavigationBundle:Menu:menu.html.twig' %}

{% block root %}
    <div class="navbar">
        <div class="navbar-inner">
            {{ block('brand') }}

            {% set listAttributes = item.childrenAttributes %}
            {% import 'OroNavigationBundle:Menu:menu.html.twig' as oro_menu %}
            {% set listAttributes = listAttributes|merge(
                {'class': oro_menu.add_attribute_values(listAttributes, 'class', ['nav'])}
            ) %}
            {{ block('list') -}}
        </div>
    </div>
{% endblock %}

{% block brand %}
    {% if item.extra('brand') is not none %}
        {% set brandLink = item.extra('brandLink') is not null ? item.extra('brandLink') : '/' %}
        <a class="brand" href="{{ brandLink }}">{{ item.extra('brand')}}</a>
    {% endif %}
{% endblock %}

{% block item %}
    {%- if item.hasChildren and item.displayChildren %}
        {% if item.level > 0 %}
            {%- set childrenClasses = childrenClasses|merge(['dropdown-menu']) %}
        {% endif %}
        {% if item.level == 1 %}
            {%- set classes = classes|merge(['dropdown']) %}
        {% elseif item.level > 1 %}
            {%- set classes = classes|merge(['dropdown-submenu']) %}
        {% endif %}

    {%- endif %}

    {{ block('item_renderer') }}
{% endblock %}

{% block linkElement %}
    {%- if item.level == 1 and item.hasChildren and item.displayChildren %}
        {% import 'OroNavigationBundle:Menu:menu.html.twig' as oro_menu %}
        {%- set linkAttributes = linkAttributes|merge(
            {'class': oro_menu.add_attribute_values(linkAttributes, 'class', ['dropdown-toggle']), 'data-toggle': 'dropdown'}
        ) %}
    {%- endif %}

    {{ parent() }}
{% endblock %}

{% block label %}
    {{ parent() }}
    {% if item.hasChildren and item.level == 1 and item.displayChildren %}
        <b class="caret"></b>
    {%  endif %}
{% endblock %}
