{{ elements.backLink(path('pim_enrich_product_index', { dataLocale: dataLocale })) }}
{{ elements.enabledSwitch(form) }}
{% if resource_granted("pim_enrich_product_remove") %}
     {{ elements.deleteLink(
        path('pim_enrich_product_remove', { id: form.vars.value.id }),
        'pim_enrich_product_remove',
        path('pim_enrich_product_index'),
        'confirmation.remove.product'|trans({ '%name%': product.label }),
        'flash.product.removed'|trans
    ) }}
{% endif %}

{% if is_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::OWN'), product) %}
    {{ elements.link('btn.publish', path('pimee_workflow_published_product_publish', {id: form.vars.value.id, dataLocale: dataLocale}), {icon: 'cloud-upload'}) }}
{% elseif proposition.inProgress and proposition.id is not null %}
    {{ elements.link('btn.send for approval', path('pimee_workflow_proposition_ready', { id: proposition.id, dataLocale: dataLocale })) }}
{% elseif not proposition.inProgress %}
    <span href="#" class="btn disabled">{{ 'btn.sent for approval'|trans }}</span>
{% endif %}

{{ elements.submitDropdownBtn(
    is_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::OWN'), product) ? 'btn.save working copy' : 'btn.save draft',
    {
        'Create': { 'text': 'btn.save and create' },
        'BackGrid': { 'text': 'btn.save and back' }
    }
) }}
