{#<div id="locale-switcher" class="btn-group sub-title">
    <span class="product-name dropdown-toggle" data-toggle="dropdown">
        {{ dataLocale|flag }}
        <span class="title">
            {{ product.label }}
        </span>
        <i class="icon-caret-down"></i>
    </span>
    <ul class="dropdown-menu">
        {% for locale in locales %}
            <li class="{{ locale.code == dataLocale ? 'active' : '' }}">
                <a href="{{ path('pimee_enrich_product_dispatch', {id: product.id, dataLocale: locale.code}) }}" title="{{ locale_label(locale.code) }}">
                    <span class="indicator">
                        {% if locale.code == dataLocale %}
                            <i class="icon-circle"></i>
                        {% endif %}
                      </span>
                     {{ locale.code|flag }}
                     <span class="title">{{ product.label(locale.code) }}</span>
                  </a>
             </li>
        {% endfor %}
    </ul>
</div>
#}
