{% if sequentialEdit %}
    {% set previousProduct = sequentialEdit.previous %}
    {% set nextProduct = sequentialEdit.next %}
    {% set ratio = sequentialEdit.countEditedProducts(product) / sequentialEdit.countObjectSet * 100 %}

    <div class="row-fluid" id="sequentialEdit">
        <span class="span3 right-aligned">
            {% if previousProduct %}
            <a href="{{ path('pimee_enrich_product_dispatch', { id: previousProduct.id, dataLocale: dataLocale, compareWith: comparisonLocale  }) }}" class="left"
                data-original-title="{{ 'pim_enrich.sequential_edit_action.product.previous'|trans({ '%product%': previousProduct }) }}" data-toggle="tooltip" data-placement="bottom">
                <i class="icon-chevron-left"></i>&nbsp;&nbsp;{{ previousProduct.label|length > 25 ? previousProduct.label|slice(0, 22) ~ '...' : previousProduct }}
            </a>
            {% endif %}
        </span>
        <span class="span6">
            <div class="progress progress-bar">
                <div class="bar" style="width: {{ ratio }}%;">
                {{ ratio < 30  ? '</div>&nbsp;&nbsp;' }}
                    {{ sequentialEdit.countEditedProducts(product) }} / {{ sequentialEdit.countObjectSet }} {{ 'Products'|trans }}
                {{ ratio >= 30 ? '</div>' }}
            </div>
        </span>
        <span class="span3">
            {% if nextProduct %}
            <a href="{{ path('pimee_enrich_product_dispatch', { id: nextProduct.id, dataLocale: dataLocale, compareWith: comparisonLocale  }) }}" class="right"
                data-original-title="{{ 'pim_enrich.sequential_edit_action.product.next'|trans({ '%product%': nextProduct }) }}" data-toggle="tooltip" data-placement="bottom">
                {{ nextProduct.label|length > 25 ? nextProduct.label|slice(0, 22) ~ '...' : nextProduct }}&nbsp;&nbsp;<i class="icon-chevron-right"></i>
            </a>
            {% endif %}
        </span>
    </div>
    <hr class="small" />
{% endif %}
