<div class="tab-pane active" id="attributes">
    {% include 'PimEnrichBundle:Product:_attributes.html.twig' %}
    {% if not form.vars.groups %}
        <div class="alert alert-info">
            {{ 'attribute group.permissions.no_access_to_attributes'|trans }}
        </div>
    {% endif %}
</div>

{% if resource_granted("pim_enrich_product_categories_view")
    and is_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::OWN'), product) %}
    <div class="tab-pane" id="categories">
       {% include 'PimEnrichBundle:Product:_associateCategories.html.twig' %}
    </div>
{% endif %}

{% if resource_granted("pim_enrich_associations_view")
    and is_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::OWN'), product) %}
    <div class="tab-pane" id="associations" data-url="{{ path('pim_enrich_associations', { id: product.id , dataLocale: dataLocale}) }}">
    </div>
{% endif %}

<div class="tab-pane" id="completeness" data-url="{{ path('pim_enrich_product_completeness', { id: product.id, dataLocale: dataLocale }) }}">
</div>

<div class="tab-pane" id="history" data-url="{{ path('pim_enrich_product_history', { id: product.id }) }}">
</div>

{% if is_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::OWN'), product) %}
<div class="tab-pane" id="propositions" data-url="{{ path('pimee_enrich_product_propositions', { id: product.id, dataLocale: dataLocale }) }}">
</div>
{% endif %}
