{% extends 'PimEnrichBundle::layout.html.twig' %}

{% oro_title_set({ params: { "%product.sku%": product.label } }) %}

{% block content %}
    {% set title = 'product.title'|trans %}

    {% block sequentialEdit %}
        {% include 'PimEnterpriseEnrichBundle:Product:_sequentialEdit.html.twig' %}
    {% endblock %}

    {% set buttons %}
        {{ elements.backLink(path('pim_enrich_product_index', { dataLocale: dataLocale })) }}
        {% if resource_granted('pim_pdf_generator_product_download') %}
            {{ elements.link('btn.download_pdf', path('pim_pdf_generator_download_product_pdf', { id: product.id, dataLocale: dataLocale }), { icon: 'download', class: 'no-hash', id: 'download-btn'}) }}
        {% endif %}
    {% endset %}

    {% set subtitle %}
        {% include 'PimEnrichBundle:Product:_locale-switcher.html.twig' %}
    {% endset %}

    {% set left %}
        <ul class="inline">
            <li>
                {{ 'Family'|trans|capitalize }}: {{ product.family|capitalize|default('N/A'|trans) }}
            </li>

            {% if product.groups|length != 0 %}
            <li>
                {{ 'Groups'|trans|capitalize }}:
                {% for group in product.groups %}
                    <a id="group-products-{{ group.id }}" href="#"
                    {% if group.type.isVariant %}
                        data-toggle="tooltip" data-placement="bottom" data-html="true"
                        data-original-title="{{ 'info.group.axis'|trans({'%attributes%': group.attributes|join(', ')}) }}"
                    {% endif %}
                    >
                        {{ group.label }}</a>{% if not loop.last %}, {% endif %}
                    </a>
                {% endfor %}
            </li>
            {% endif %}
            <li>{{ 'Created'|trans }}: {{ created ? created.loggedAt|date("Y-m-d H:i:s") : 'N/A'|trans }} {{ 'by'|trans }} {{ created ? created.author : 'N/A'|trans }}</li>
            <li>{{ 'Last update'|trans }}: {{ updated ? updated.loggedAt|date("Y-m-d H:i:s") : 'N/A'|trans }} {{ 'by'|trans }} {{ updated ? updated.author : 'N/A'|trans }}</li>
       </ul>
    {% endset %}

    {{ elements.page_header(title, buttons, subtitle, left) }}

    <form class="form-horizontal product-edit product-view">
        <div class="layout-content">
            {{ elements.form_navbar(view_element_aliases('pim_product_show.form_tab')) }}

            <div class="row-fluid tab-content">

                {{ view_elements('pim_product_show.form_tab') }}

                <div class="tab-pane" id="completeness" data-url="{{ path('pim_enrich_product_completeness', { id: product.id, dataLocale: dataLocale }) }}">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
