{% macro renderGrid(name, params = {}, renderParams = {}) %}
    {% import 'OroDataGridBundle::macros.html.twig' as oroDataGrid %}
    {{ oroDataGrid.renderGrid(name, params, renderParams) }}
{% endmacro %}

{#
    Datagrid macro to load the grid asynchronously
#}
{% macro renderGridAsync(name, params = {}, renderParams = {}) %}
    <div id="grid-{{ name }}" data-type="datagrid" {% if renderParams.cssClass is defined %} class="{{ renderParams.cssClass }}" {% endif %}></div>
    <script type="text/javascript">
        require(
            ['jquery', 'routing', 'oro/datagrid-builder', 'oro/pageable-collection'],
            function ($, Routing, datagridBuilder, PageableCollection) {
                'use strict';
                $(function() {
                    var urlParams = {
                        alias: '{{ name }}',
                        params: {{ params|json_encode|raw }}
                    };
                    if (typeof Storage !== 'undefined' && sessionStorage) {
                        urlParams.params.gridView = sessionStorage.getItem('{{ name }}.view');
                        var state = sessionStorage.getItem('{{ name }}');
                        if (state) {
                            var collection = new PageableCollection();
                            state = collection.decodeStateData(state);
                            collection.processFiltersParams(urlParams, state, '{{ name }}[_filter]');
                        }
                    }

                    $.get(Routing.generate('pim_datagrid_load', urlParams), function(resp) {
                        $('#grid-{{ name }}').data({ 'metadata': resp.metadata, 'data': JSON.parse(resp.data) });

                        require(resp.metadata.requireJSModules, function () {
                            var builders = _.toArray(arguments);
                            $(function () {
                                datagridBuilder(builders);
                            });
                        });
                    });
                });
            }
        );
    </script>
{% endmacro %}

{#
    Datagrid macro to render entity history grid
#}
{% macro renderHistoryGrid(entity) %}
    {{ _self.renderGrid('history-grid', { object_class: entity|class, object_id: entity.id }) }}
{% endmacro %}
