{{ form_start(form, {
    'attr': {
        'data-title':         'Datagrid Configuration'|trans,
        'data-button-submit': 'Apply'|trans,
        'data-button-cancel': 'Cancel'|trans
    }
}) }}

<div class="row">
    <div class="span4">
        <h2>Columns</h2>
        <ul id="columns" class="connectedSortable">
            {% for column in form.columns if column.vars.checked %}
            <li>
                <i class="icon-reorder"></i> {{ column.vars.label }}
                {{ form_widget(column) }}
            </li>
            {% endfor %}
        </ul>
        {{ form_widget(form.order) }}
    </div>

    <div class="span4">
        <h2>Available Columns</h2>
        <ul id="bucket" class="connectedSortable">
            {% for column in form.columns if not column.vars.checked %}
            <li>
                <i class="icon-reorder"></i> {{ column.vars.label }}
                {{ form_widget(column) }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{{ form_end(form) }}

<script type="text/javascript">
    require(['jquery', 'jquery-ui-full'], function($){
        $(function() {
            $('#columns, #bucket')
                .sortable({
                    connectWith: '.connectedSortable',
                    stop: function() {
                        var values = [];
                        $('#columns input[type="checkbox"]').each(function() {
                            values.push($(this).val());
                        });
                        $('#{{ form.order.vars.id }}').val(values.join(','));
                    }
                })
                .disableSelection();
        });
    });
</script>
