{#
    Available variables:
    * entities - array of activity entities. Which items of this array is an associative array contains subset of fields of an activity entity
#}
{# TODO: This is a temporary template created for demo purposes. It will be removed when 'display activities' functionality is implemented  #}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::macros.html.twig' as EA %}

<div id="emails-grid">
    <div class="clearfix">
        <div class="clearfix">
            <div class="container-fluid">
                <div class="grid-container">
                    <table class="grid table-hover table table-bordered table-condensed" style="display: table;">
                        <thead>
                        <tr>
                            <th style="display: none;"><span>ID</span></th>
                            <th><span>From </span></th>
                            <th><span>To </span></th>
                            <th><span>Subject </span></th>
                            <th><span>Sent </span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td class="integer-cell" style="display: none;">{{ entity.id }}</td>
                                <td class="string-cell">{{ EA.email_address(entity.fromEmailAddress, entity.fromName) }}</td>
                                <td class="string-cell"><a class="view-email-entity-btn no-hash" title="{{ entity.subject }}" href="{{ path('oro_email_view', {id:entity.id}) }}">{{ entity.subject }}</a></td>
                                <td class="datetime-cell">{{ entity.sentAt|oro_format_datetime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
