{#
    Available variables:
    * entity - email entity Oro\Bundle\EmailBundle\Entity\Email
#}
{# TODO: This is a demo template. It need to be replaced with a real one #}
<tr>
    <td class="integer-cell" style="display: none;">{{ entity.id }}</td>
    <td class="string-cell">{{ _self.email_address(entity.fromEmailAddress, entity.fromName, format) }}</td>
    <td class="string-cell"><a class="view-email-entity-btn no-hash" href="{{ path('oro_email_view', {id:entity.id}) }}">{{ entity.subject }}</a></td>
    <td class="datetime-cell">{{ UI.time(entity.sentAt) }}</td>
</tr>

{% macro email_address(emailAddress, emailAddressName, format) %}
    {% if emailAddress.owner is null %}
        {{ emailAddressName|raw }}
    {% else %}
        {# TODO: we need EntityConfig to get view url for an entity #}
        <a href="{{ path(emailAddress.owner.class|split('\\')|first|lower ~ '_' ~ emailAddress.owner.class|split('\\')|last|lower ~ '_view', {id:emailAddress.owner.id}) }}">{{ emailAddress.owner.fullname(format)|default('N/A')|raw }}</a>
    {% endif %}
{% endmacro %}
