{#
    Available variables:
    * entity       - email entity Oro\Bundle\EmailBundle\Entity\Email
#}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set format = oro_config_value('oro_user.name_format') %}

{% block page_container %}
<div class="container-fluid email-body-holder">
    {% block content %}
        <div class="form-horizontal">
            <div class="control-group">
                {{ _self.renderRow('Sent', 'email-sent', _self.text(UI.Time(entity.sentAt))) }}
                {{ _self.renderRow('From', 'email-from', _self.email_address(entity.fromEmailAddress, entity.fromName, format)) }}
                {{ _self.renderRow('To', 'email-to', _self.recipient_email_addresses(entity.recipients('to'), format)) }}
                {{ _self.renderRow('Cc', 'email-cc', _self.recipient_email_addresses(entity.recipients('cc'), format)) }}
                {{ _self.renderRow('Bcc', 'email-bcc', _self.recipient_email_addresses(entity.recipients('bcc'), format)) }}
                {{ _self.renderRow('Subject', 'email-subject', _self.text(entity.subject)) }}
                {% if entity.emailBody.hasAttachments %}
                    {{ _self.renderAttachmentsRow('Attachments', entity.emailBody.attachments) }}
                {% endif %}
                {% if entity.emailBody.bodyIsText %}
                    <pre class="email-body scrollable-container">{{ entity.emailBody.content }}</pre>
                {% else %}
                    <iframe class="email-body scrollable-container" src="{{ path('oro_email_body', {id:entity.emailBody.id}) }}">
                    </iframe>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}

{% macro renderRow(title, iClass, value) %}
    {% macro row_data(value) %}
        <div class="clearfix-oro">
            {{ value|raw }}
        </div>
    {% endmacro %}
    <div class="{{ iClass }}">
        <label class="control-label">{{ title|trans }}</label>

        <div class="controls">
            {{ _self.row_data(value)|raw }}
        </div>
    </div>
{% endmacro %}

{% macro renderAttachmentsRow(title, value) %}
    {% macro attachments_row_data(value) %}
        <div class="clearfix-oro well-small">
            <ul class="inline">
                {% for val in value %}
                    <li>
                        <a class="no-hash" href="{{ path('oro_email_attachment', {id:val.id}) }}">
                            <span class="label label-info">{{ val.fileName }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endmacro %}
    <div class="email-attachments">
        <label class="control-label">{{ title|trans }}</label>

        <div class="controls">
            {{ _self.attachments_row_data(value)|raw }}
        </div>
    </div>
{% endmacro %}

{% macro text(val) %}
    <p class="control-label">{{ val|raw }}</p>
{% endmacro %}

{% macro email_address(emailAddress, emailAddressName, format) %}
    {% if emailAddress.owner is defined %}
        {# TODO: we need EntityConfig to get view url for an entity #}
        <p class="control-label"><a class="close-dialog-btn" href="{{ path(emailAddress.owner.class|split('\\')|first|lower ~ '_' ~ emailAddress.owner.class|split('\\')|last|lower ~ '_view', {id:emailAddress.owner.id}) }}">{{ emailAddress.owner.fullname(format)|default('N/A')|raw }}</a></p>
    {% else %}
        <p class="control-label">{{ emailAddressName|raw }}</p>
    {% endif %}
{% endmacro %}

{% macro recipient_email_addresses(recipients, format) %}
    {% set addreses = {} %}
    {% for recipient in recipients %}
        {{ _self.email_address(recipient.emailAddress, recipient.name, format) }}
        {% if not loop.last %}
            <span>,</span>
        {% endif %}
    {% endfor %}
{% endmacro %}
