{% if app.user == comment.author %}
    <a href="javascript:void(0);"
       class="comment-dialog pull-right"
       title="{{ 'btn.delete'|trans|capitalize }}"
       data-comment="#comment{{ comment.id }}"
       data-method="DELETE"
       data-message="{{ 'confirmation.remove.comment'|trans }}"
       data-title="{{ 'confirmation.delete'|trans }}"
       data-sucess-message="flash.comment.delete.success"
       data-error-message="flash.comment.delete.error"
       data-url="{{ path('pim_comment_comment_delete', { 'id': comment.id }) }}"
    >
        <i class="icon-trash"></i>
    </a>
{% endif %}
