{% set fullname = reply.author|oro_format_name|default('N/A') %}
<div class="row-fluid">
    <div class="span2" style="text-align: right">
        <img width="45" class="img-polaroid" src="{{ reply.author.imagePath ? reply.author.imagePath | imagine_filter('avatar_med') : asset('bundles/oroui/img/info-user.png') }}" alt="{{ fullname }}"/>
    </div>
    <div class="span10">
        <div><strong>{{ fullname }}</strong>&nbsp;<span style="color: #808080">{{ reply.createdAt }}</span></div>
        {{ reply.body }}
    </div>
</div>
