{% set fullname = app.user|oro_format_name|default('N/A') %}

<div class="span2 image-reply-action">
    <img width="45" class="img-polaroid" src="{{ app.user.imagePath ? app.user.imagePath | imagine_filter('avatar_med') : asset('bundles/oroui/img/info-user.png') }}" alt="{{ fullname }}"/>
</div>
<div class="span10">
    {% include 'PimCommentBundle:Comment:reply.html.twig' %}
</div>
<script type="text/javascript">
    require(['jquery', 'oro/messenger'], function($, messenger) {
        $(function() {
            $('#pim_comment_comment_reply_{{ comment.id }}').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    url: '{{ path('pim_comment_comment_reply', {'id': comment.id})}}',
                    type: 'POST',
                    data: $('#pim_comment_comment_reply_{{ comment.id }}').serialize(),
                    success: function(data) {
                        $('#comment{{ comment.id }}').remove();
                        $('#comment_threads > li:first-child').after('<li>' + data + '</li>');
                        $('#pim_comment_comment_body_reply_{{ comment.id }}').val('');

                        $(".reply-btn").click(function(){
                            $("div").animate({ scrollTop: 0 }, 600);
                        });

                        messenger.notificationFlashMessage('success', '{{ 'flash.comment.reply.success'|trans }}');
                    },
                    error: function(xhr) {
                        messenger.notificationFlashMessage(
                                'error',
                                (xhr.responseJSON && xhr.responseJSON.message) ?
                                        xhr.responseJSON.message :
                                        '{{ 'flash.comment.reply.error'|trans }}'
                        );
                    }
                });
            });
        });
    });

    $("#comments .comment-thread, .comment-create").on("click", function(){ $("#comments .active").removeClass("active"); $(this).addClass("active"); })
    $("#comments").find(".comment-reply").on("focusout", function(){ $("#comments .active").removeClass("active");})
</script>
