{% set fullname = comment.author|oro_format_name|default('N/A') %}
<ol class="comment-thread unstyled" id="comment{{ comment.id }}">
    <li class="comment-topic">
        <div class="row-fluid">
            <div class="span2">
                <img width="100" class="img-polaroid" src="{{ comment.author.imagePath ? comment.author.imagePath | imagine_filter('avatar_med') : asset('bundles/oroui/img/info-user.png') }}" alt="{{ fullname }}"/>
            </div>
            <div class="span10">
                <div><strong>{{ fullname }}</strong>&nbsp;<span class="date">{{ comment.createdAt|date("F jS \\a\\t g:ia") }}</span></div>
                {{ comment.body }}
                <div class="comment-buttons">
                    {% include 'PimCommentBundle:Comment:_buttons.html.twig' with {id: comment.id} %}
                </div>
            </div>
        </div>
    </li>
    <li class="row-fluid comment-reply comment-reply-action reply-color">
        {% include 'PimCommentBundle:Comment:_commentReplyAction.html.twig' %}
    </li>
    {% for reply in comment.children %}
        <li id="comment{{ reply.id }}" class="row-fluid comment-reply">
            {% include 'PimCommentBundle:Comment:_commentReply.html.twig' with {'reply': reply} %}
        </li>
    {%  endfor %}
</ol>
