{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}

{{ form_start(createForm, {
    'id': 'pim_comment_comment_create',
    'action': path('pim_comment_comment_create'),
    'class': 'form-horizontal'
}) }}
    {{ JSFV(createForm) }}

    {{ elements.form_errors(createForm) }}

    <div class="row-fluid">
        {{ form_widget(createForm.body, { 'id': 'pim_comment_comment_body_create' }) }}
        {{ form_row(createForm.resourceName) }}
        {{ form_row(createForm.resourceId) }}
        <button class="btn create-btn pull-right">{{ 'btn.post'|trans|capitalize }}</button>
    </div>
{{ form_end(createForm) }}
