{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}

{{ form_start(form, {
    'action': path('pim_comment_comment_create'),
    'class': 'form-horizontal'
}) }}
    {{ JSFV(form) }}

    {{ elements.form_errors(form) }}

    <div class="row-fluid">
        {{ form_row(form.body) }}
        {{ form_row(form.resourceName) }}
        {{ form_row(form.resourceId) }}
        <button class="btn pull-right">{{ 'btn.post'|trans|capitalize }}</button>
    </div>
{{ form_end(form) }}
