{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}

{{ form_start(createForm, {
    'id': 'pim_comment_comment_create',
    'action': path('pim_comment_comment_create'),
    'class': 'unspaced'
}) }}
    {{ JSFV(createForm) }}

    {{ elements.form_errors(createForm) }}

    <div class="row-fluid">
        <div class="span12">
            {{ form_widget(createForm.body, { 'id': 'pim_comment_comment_body_create', 'attr': {'class': 'exclude span12'} }) }}
            {{ form_row(createForm.resourceName) }}
            {{ form_row(createForm.resourceId) }}
            <span class="comment-buttons toggle-active">
                <button class="btn btn-primary comment-btn pull-right">{{ 'btn.post'|trans|capitalize }}</button>
                <input class="btn cancel comment-btn pull-right" type="reset" value="{{ 'btn.cancel'|trans|capitalize }}"/>
            </span>
        </div>
    </div>
{{ form_end(createForm) }}
