{% extends 'PimUIBundle::layout.html.twig' %}

{% block content %}

    <div class="popup-box">
        <h2>{{ "Edit attribute" | trans }}</h2>
        
        {% for key, flashMessage in app.session.flashes %}
            <div class="alert alert-{{ key }}">
                <button data-dismiss="alert" class="close" type="button">x</button>
                <strong>{{ key }}</strong>&nbsp;
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <form action="{{ path('pim_flexibleproduct_productattribute_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
            
            {% if form.get('errors') is not empty %}
                <div class="alert alert-error">{{ form_errors(form) }}</div>
            {% endif %}
            
            <div class="form-panel ui-corner-all">
                {{ form_widget(form) }}
            </div>
            
            <input id="form-submit" type="submit" value="{{ "Save" | trans }}" class="ui-helper-hidden" role="button" aria-disabled="false" />
            
        </form>
        
    </div>
    <hr />

    <a class="btn btn-small btn-primary disabled" href="{{ path('pim_flexibleproduct_productattribute_index') }}">
        {{ "List attributes" | trans }}
    </a>
    <a class="btn btn-small btn-primary disabled" href="{{ path('pim_flexibleproduct_productattribute_new') }}">
        {{ "Create attribute" | trans }}
    </a>

{% endblock %}
