<!doctype html>
<!--[if IE 7 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/oroinstaller/css/style.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/oroinstaller/lib/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroinstaller/lib/jquery.ajaxQueue.min.js') }}"></script>
    {% block javascript %}
    <script type="text/javascript">
        $(function() {
            $('.progress-bar li:last-child em.fix-bg').width($('.progress-bar li:last-child').width() / 2);
            $('.progress-bar li:first-child em.fix-bg').width($('.progress-bar li:first-child').width() / 2);

            $('form').submit(function () {
                $(this).find(':submit').attr('disabled', true).addClass('disabled');
            });

        });

        function ajaxQueue(actions, url) {
            var finRes = true;

            $.each(actions, function(i) {
                var stepCon = $('#step-' + this);

                stepCon.closest('tr').find('td:last').text('{{ 'wait'|trans }}');

                if (i == 0) {
                    stepCon
                        .addClass('icon-wait')
                        .closest('tr').find('td:last').text('{{ 'progress'|trans }}');
                }

                $.ajaxQueue({
                    url: '?action=' + this,
                }).done(function(data) {
                    var curRes = typeof data.result != 'undefined' && data.result;
                        finRes = finRes || curRes;

                    stepCon
                        .removeClass('icon-wait')
                        .addClass('icon-' + (curRes ? 'yes' : 'no'))
                        .closest('tr')
                            .find('td:last').text(curRes ? '{{ 'passed'|trans }}' : '{{ 'failed'|trans }}').end()
                        .closest('tr').next()
                            .find('td:last').text('{{ 'progress'|trans }}').end()
                            .find('span').addClass('icon-wait');

                    if (i == actions.length - 1 && finRes) {
                        $('a.primary').removeClass('disabled').attr('href', url);
                    }
                }).fail(function() {
                    stepCon
                        .removeClass('icon-wait')
                        .addClass('icon-no')
                        .closest('tr').find('td:last').text('{{ 'failed'|trans }}');
                });
            });
        }
    </script>
    {% endblock javascript %}
</head>
<body>
    <header class="header">
        <h1 class="logo">{{ 'title'|trans }}</h1>
    </header>
    <div class="wrapper">
        <div class="content">
            {% block progress %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block bottom %}{% endblock bottom %}
</body>
</html>
