{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}

{% block head_script %}
    {{ parent() }}
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#roles-grid'} %}
{% endblock %}

{% block page_container %}
    {% block content %}
    <div class="container-fluid">
        <h1>{{ 'Roles'|trans }} <a class="btn btn-primary pull-right" href="{{ path('oro_user_role_create') }}" title="{{ 'Create role'|trans }}">{{ 'Create role'|trans }}</a></h1>
    </div>
    <div id="roles-grid"></div>
    {% endblock %}
{% endblock %}
