{% extends 'OroUIBundle:actions:update.html.twig' %}

{% set title = form.vars.value.id ? 'Update Role'|trans : 'New Role'|trans %}
{% oro_title_set({params : { "%role%": form.vars.value.label } }) %}
{% set gridId = 'users-grid' %}
{% set formAction = form.vars.value.id ? path('oro_user_role_update', { 'id': form.vars.value.id}) : path('oro_user_role_create') %}
{% block head_script %}
    {{ parent() }}

    {% set listenerParameters = {
        'columnName': 'has_role',
        'selectors': {
            'included': '#roleAppendUsers',
            'excluded': '#roleRemoveUsers'
        }
    } %}

    {% placeholder prepare_grid with {'datagrid': datagrid, 'selector': '#' ~ gridId, 'parameters': listenerParameters} %}

    <script type="text/javascript">
        $(function() {
            $('#acl_tree').jstree({
                "checkbox": {
                    real_checkboxes: true,
                    real_checkboxes_names: function (n) {
                        return ['resource[' + n.data('id') + ']', 1]
                    }
                },
                "plugins": ["themes", "html_data", "ui", "checkbox", "hotkeys"]
            });
        });
    </script>
{% endblock %}

{% block navButtons %}
    {% if form.vars.value.id and resource_granted('oro_user_role_remove') %}
        {{ UI.deleteButton({
                'dataUrl': path('oro_api_delete_role', {'id': form.vars.value.id}),
                'dataRedirect': path('oro_user_role_index'),
                'aCss': 'no-hash remove-button',
                'dataId': form.vars.value.id,
                'id': 'btn-remove-role',
                'dataMessage': 'Are you sure you want to delete this role?',
                'title': 'Delete Role',
                'label': 'Delete'
            })
        }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.button({'path' : path('oro_user_role_index'), 'title' : 'Cancel', 'label' : 'Cancel'}) }}
    {{ UI.buttonType({'type': 'submit', 'class': 'btn-success', 'label': 'Save'}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('oro_user_role_index'),
            'indexLabel': 'Roles',
            'entityTitle': form.vars.value.label
        }
        %}
        {{ parent() }}
    {% else %}
        {% include 'OroUIBundle::page_title_block.html.twig' %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'role-profile' %}

    {% set dataBlocks = [{
            'title': 'General',
            'class': 'active',
            'subblocks': [
                {
                    'title': '',
                    'data': [
                        form_widget(form.appendUsers, {'id': 'roleAppendUsers'}),
                        form_widget(form.removeUsers, {'id': 'roleRemoveUsers'}),
                        form_row(form.role),
                        form_row(form.label)
                    ]
                }
            ]
        }]
    %}

    {% macro aclTree(form, resources) %}
        <div id="acl_tree">
            {% include 'OroUserBundle:Role:_aclSubTree.html.twig' with {'resources': resources, 'hasId': form.vars.value.id ? true : false} %}
        </div>
    {% endmacro %}
    {% set dataBlocks = dataBlocks|merge(
        [{
            'title': 'Acl',
            'subblocks': [
                {
                    'title': '',
                    'data': [
                        _self.aclTree(form, resources)
                    ]
                }
            ]
        }]
        )
    %}

    {% set dataBlocks = dataBlocks|merge(
        [{
            'title' : 'Users',
            'subblocks':
            [
                {
                    'title' : null,
                    'useSpan': false,
                    'data' : [UI.gridBlock(gridId)]
                }
            ]
        }]
    )
    %}

    {% set data =
        {
            'formErrors': form_errors(form)? form_errors(form) : null,
            'dataBlocks': dataBlocks,
            'hiddenData': form_rest(form)
        }
    %}
    {{ parent() }}
{% endblock content_data %}
