<div class="widget-header">
    {{ 'pim_dashboard.widget.completeness.title'|trans }}
</div>

<table id="completeness-widget">
{% for channel, channelResult in widget.params %}
    <tr class="channel{{ loop.first ? ' first' : '' }}">
        <td><a href="#" data-toggle-channel="{{ channel }}"><i class="icon-caret-down"/></a></td>
        <td><a href="#" data-toggle-channel="{{ channel }}"><b>{{ channel }}</b></a></td>
        <td>
            <b>{{ (channelResult.complete/(channelResult.total*channelResult.locales|length)*100)|number_format(0) }}%</b>
        </td>
        <td>&nbsp;</td>
    </tr>

    {% for locale, localeResult in channelResult.locales %}
    {% set ratio = (localeResult/channelResult.total*100)|number_format(0) %}
    {% if ratio == 100 %}
        {% set progressClass = 'bar-success' %}
    {% else %}
        {% set progressClass = 'bar-warning' %}
    {% endif %}
    <tr data-channel="{{ channel }}">
        <td>&nbsp;</td>
        <td>{{ locale_label(locale) }}</td>
        <td>{{ ratio ~ '%' }}</td>
        <td class="progress-cell">
            <div class="progress">
                <div class="bar {{ progressClass }}" style="width: {{ ratio ~ '%' }};"></div>
            </div>
            <small>{{ localeResult ~ '/' ~ channelResult.total }}</small>
        </td>
    </tr>
    {% endfor %}
{% endfor %}
</table>

<script type="text/javascript">
    require(
        ['jquery'],
        function ($) {
            'use strict';
            $(function () {
                $('a[data-toggle-channel]').click(
                    function (event) {
                        event.preventDefault();
                        $('tr[data-channel="' + $(this).data('toggle-channel') + '"]').toggle();
                        $('a[data-toggle-channel="' + $(this).data('toggle-channel') + '"] i')
                            .toggleClass('icon-caret-right')
                            .toggleClass('icon-caret-down');
                    }
                );
            });
        }
    );
</script>
