<div class="image-wrap pull-left">
    <p class="text-center">
        {{ widget.label|trans }}
    </p>
    {% if widget.image is defined and widget.image %}
    <a href="javascript:void(0);" class="widget-image {{ widget.image }}"></a>
    {% endif %}
</div>

<div class="list-wrap pull-left">
    <ul class="nav nav-list">
        {% for link in widget.links %}
            {% if resource_granted(link.route) %}
            <li class="{{ loop.last ? 'last' : '' }}">
                <a href="{{ path(link.route) }}" title="{{ link.label|trans }}">{{ link.label|trans }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
