{% extends 'OroInstallerBundle::layout.html.twig' %}
{% use 'OroInstallerBundle::progress.html.twig' %}

{% block title %}{{ 'process.step.check.header'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
{% set fulfilled = true %}
<div class="page-title">
    <h2>{{ 'process.step.check.header'|trans }}</h2>
</div>

<div class="well">
    {% for collection in collections %}
    <table class="table">
        <col width="50%" valign="top">
        <col width="25%" valign="top">
        <col width="25%" valign="top">
        <thead>
            <tr>
                <th>{{ collection.label }}</th>
                <th>{{ 'process.step.check.table.current'|trans }}</th>
                <th>{{ 'process.step.check.table.required'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for requirement in collection %}
            <tr>
                <td class="dark">
                    {% if requirement.fulfilled %}
                    <span class="icon-yes">
                    {% elseif requirement.required %}
                    <span class="icon-no">{% set fulfilled = false %}
                    {% else %}
                    <span class="icon-warning">
                    {% endif %}
                    {{ requirement.label }}
                    </span>
                </td>
                <td>{{ requirement.actual }}</td>
                <td>{{ requirement.expected }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

<div class="button-set">
    <div class="pull-right">
        <a href="{{ path('sylius_flow_display', { scenarioAlias: 'oro_installer', stepName: 'check' }) }}" class="button icon-reset">
            <span>{{ 'process.button.refresh'|trans }}</span>
        </a>
        <a href="{{ fulfilled ? path('sylius_flow_forward', { scenarioAlias: 'oro_installer', stepName: 'check' }) : 'javascript: void(0);' }}" class="button next {{ fulfilled ? 'primary' : 'disabled' }}">
            <span>{{ 'process.button.next'|trans }}</span>
        </a>
    </div>
</div>
{% endblock %}
