{% extends 'OroInstallerBundle::layout.html.twig' %}

{% block title %}{{ 'process.step.final.header'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
<div class="page-title">
    <h2>{{ 'process.step.final.header'|trans }}</h2>
</div>

<div class="well">
    <p>{{ 'process.step.final.content'|trans }}</p>
</div>

<div class="button-set">
    <a href="{{ path('oro_default') }}" class="button primary">{{ 'process.button.finish'|trans }}</a>
</div>
{% endblock %}
