{% extends 'OroInstallerBundle::layout.html.twig' %}
{% use 'OroInstallerBundle::progress.html.twig' %}

{% set step = 'final' %}

{% block title %}{{ 'process.step.final.header'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
<div class="page-title">
    <h2>{{ 'process.step.final.header'|trans }}</h2>
</div>

<div class="well">
    <p>{{ 'process.step.final.content'|trans|raw }}</p>
</div>

<div class="button-set">
    <a href="{{ path('oro_default') }}" class="button primary" target="_blank">{{ 'process.button.finish'|trans }}</a>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $.get('{{ path('sylius_flow_display', { scenarioAlias: 'oro_installer', stepName: 'schema' }) }}?action=cache');
        });
    </script>
{% endblock javascript %}