{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as macros %}
{% oro_title_set({
    params : {
        '%workflow%': workflow.label,
        '%step%': currentStep.label
    }
}) %}

{# TODO: Move this to OroUIBundle::macros.html.twig #}
{% macro renderRow(label, value) %}
    {% import 'OroUIBundle::macros.html.twig' as macros %}
    {{ macros.renderAttribute(label, '<p class="control-label">' ~ value|default('N/A'|trans) ~ '</p>') }}
{% endmacro %}

{% block content %}
    <style type="text/css">
        /** Step form styles */
        .step-form .box-type1 {
            border: none;
        }

        .step-form .box-type1 .title {
            font-weight: normal;
            padding: 20px 0 0;
        }

        /** Bottom layout */
        .span6.no-margin {
            margin: 0 !important;
            width: 50%;
        }

        .workflow-data {
            border-top: 1px solid #d0d0d0;
        }

        .workflow-data.dark-bg {
            background: #fbfbfb;
        }

        .workflow-data > :first-child {
            border-right: 1px solid #d0d0d0;
        }

        .workflow-data > :last-child {
            border-left: 1px solid #d0d0d0;
            position: relative;
            left: -1px;
        }

        /** Widget styles */
        .workflow-data .box-type1 {
            border: none;
            background: inherit;
            margin-top: 20px;
        }

        .workflow-data .box-type1 .title {
            height: 1px;
            margin: 20px 0;
            padding: 0;
            position: relative;
            text-align: left;
            border-color: #d0d0d0;
        }

        .workflow-data .box-type1 .title .widget-title {
            background: #FBFBFB;
            display: inline-block;
            line-height: 15px;
            padding-right: 15px;
            position: relative;
            top: -0.6em;
        }

        /** Accordion stub */
        .accordion-toogler {
            line-height: 26px;
            border-bottom: 1px solid #d0d0d0;
            background-color: #eeeeee;
            cursor: pointer;
        }

        .step-info {
            padding: 0 20px;
        }
    </style>

    {% block workflow_header %}
    <div class="navigation clearfix navbar-extra navbar-extra-right" style="border-bottom: 1px solid #c8c8c8">
        <div class="row">
            <div class="pull-right">
                <div class="pull-left">
                    {% block workflow_transitions %}
                        {{ oro_widget_render({
                            'widgetType': 'buttons',
                            'url': path('oro_workflow_widget_buttons_wizard', {workflowItemId: workflowItem.id}),
                            'alias': 'workflow_transitions'
                        }) }}
                    {% endblock workflow_transitions %}

                    {% block workflow_actions %}
                        <div class="btn-group icons-holder pull-left">
                            <a title="Duplicate" class="btn icons-holder-text " href="#">
                                <i class="icon-copy  hide-text">Duplicate</i>
                                Duplicate
                            </a>
                            <a title="Share" class="btn icons-holder-text " href="#">
                                <i class="icon-share  hide-text">Share</i>
                                Share
                            </a>
                            <a title="Delete" class="btn icons-holder-text " href="#">
                                <i class="icon-remove  hide-text">Delete</i>
                                Delete
                            </a>
                        </div>
                    {% endblock workflow_actions %}
                </div>
            </div>
            <div class="span9">
                <div class="customer-info customer-simple well-small">
                    <div class="customer-content pull-left">
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="sub-title"><a href="#">{{ 'Workflows'|trans }}</a></div>
                                <span class="separator">/</span>
                                <h1 class="user-name">{{ workflow.label|trans }} ({{ currentStep.label|trans }})</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block step_form %}
        <div class="container-fluid step-form">
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': path('oro_workflow_widget_step_form', {workflowItemId: workflowItem.id}),
                'alias': 'workflow_step_form'
            }) }}
            <script type="text/javascript">
                $(function() {
                    Oro.widget.Manager.getWidgetInstanceByAlias('workflow_step_form')
                        .on('formSave', function() {
                            Oro.NotificationFlashMessage('success', _.__('Step information saved'));
                            Oro.widget.Manager.getWidgetInstanceByAlias('workflow_transitions').loadContent();
                        });
                });
            </script>
        </div>
    {% endblock step_form %}

    <div class="step-info">
        {% block step_info %}
        {% endblock step_info %}
    </div>

    {% block workflow_data %}
        <div class="workflow-data row-fluid dark-bg">
            <div class="span6 no-margin">
                <div class="container-fluid" style="padding: 20px;">
                    {% block workflow_entities %}
                    {% endblock workflow_entities %}
                </div>
            </div>

            <div class="span6 no-margin">
                    {% block workflow_toolbox %}
                        <div class="accordion-toogler"><i class="icon icon-chevron-right"></i> Activities</div>
                        <div class="accordion-toogler"><i class="icon icon-chevron-down"></i> Notes</div>

                        <div id="notes-content">
                            <div class="container-fluid" style="padding-top: 20px;">

                                <div class="clearfix">
                                    <form method="post" action="" style="width: 80%">
                                        <fieldset>
                                            <div class="control-group">
                                                <label for="notes" style="font-weight: bold;">Summary:</label>
                                                <div class="control">
                                                    <textarea rows="3" style="width: 100%" id="notes" name="notes"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="pull-right">
                                            <button type="submit" class="btn">Save</button>
                                        </div>
                                    </form>
                                </div>

                                <p class="muted">2 days ago</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur suscipit,
                                    quam eget convallis congue, mauris nibh dignissim sem, et consectetur turpis
                                    metus non mauris. Nulla gravida sem a massa euismod, ut rhoncus nulla
                                    sollicitudin. Mauris urna enim, euismod sed arcu a, luctus varius nibh.
                                </p>
                                <hr/>

                                <p class="muted">2 days ago</p>
                                <p>
                                    Nulla viverra quam vitae mauris viverra, vel dictum dolor ultricies.
                                    Sed pulvinar augue malesuada mattis tincidunt. Aenean condimentum consectetur
                                    lacinia. Ut eget sapien rhoncus, lacinia nulla vitae, tincidunt arcu.
                                </p>
                            </div>
                        </div>
                    {% endblock workflow_toolbox %}
            </div>
        </div>
    {% endblock workflow_data %}
{% endblock content %}
