<select id="view-selector" class="hide">
    <option value="0" data-default="1">
        {{- 'datagrid_view.default'|trans -}}
    </option>
{% for view in views %}
    <option value="{{ view.id }}" data-filters="{{ view.filters }}" data-columns="{{ view.columns|join(',') }}"{{ view.owner.id == app.user.id ? ' data-removable="1"' : '' }}>
        {{- view.label -}}
    </option>
{% endfor %}
</select>

<button id="update-view" class="view-button btn hide">{{ 'datagrid_view.save_changes'|trans }}</button>

<a id="remove-view" class="muted hide">
    <i class="icon-trash" data-toggle="tooltip" data-placement="right" data-original-title="{{ 'datagrid_view.remove'|trans }}"></i>
</a>

<button id="create-view" class="view-button btn btn-primary hide">{{ 'datagrid_view.create'|trans }}</button>

{{ form_start(form, { attr: { class: 'hide' } }) }}
    {{ form_widget(form.label) }}
    {{ form_widget(form.filters) }}
    {{ form_widget(form.order) }}
{{ form_end(form) }}

<script type="text/javascript">
require(
    ['jquery', 'underscore', 'backbone', 'routing', 'oro/mediator', 'pim/datagrid/state', 'oro/messenger', 'pim/dialog', 'jquery.multiselect', 'jquery.multiselect.filter'],
    function ($, _, Backbone, Routing, mediator, DatagridState, messenger, Dialog) {
        'use strict';

        var reloadPage = function() {
            var url = window.location.hash;
            Backbone.history.navigate(url.substr(0, url.length -1));
            Backbone.history.navigate(url, true);
        };

        var $selector = $('#view-selector');

        var activateView = function(viewId) {
            if (0 === +viewId) {
                DatagridState.remove('{{ alias }}', ['view', 'filters', 'columns']);
            } else {
                var $viewItem = $selector.find('option[value="' + viewId + '"]');
                if ($viewItem.length) {
                    DatagridState.set('{{ alias }}', { 'view': viewId, 'filters': $viewItem.data('filters'), 'columns': $viewItem.data('columns') });
                }
            }
        };

        var activeViewId = DatagridState.get('{{ alias }}', 'view');
        var $activeView  = $selector.find('option[value="'+activeViewId+'"]');

        if (!$activeView.length) {
            $activeView = $selector.find('option[data-default="1"]');
            activeViewId = $activeView.val();
        }

        var activeViewLabel = $activeView.text();

        var $removeLink = $('#remove-view');
        if ($activeView.data('removable')) {
            $removeLink.removeClass('hide').on('click', function() {
                Dialog.confirm('{{ 'confirmation.remove.datagrid view'|trans }}', '{{ 'confirmation.delete'|trans }}', function() {
                    $.ajax({
                        url: Routing.generate('pim_datagrid_view_remove', { id: activeViewId }),
                        type: 'POST',
                        headers: { accept:'application/json' },
                        data: { _method: 'DELETE' },
                        success: function() {
                            DatagridState.remove('{{ alias }}', ['view', 'filters', 'columns']);
                            reloadPage();
                        }
                    });
                });
            });
        }

        var truncateTitle = function(title) {
            return title.length > 20 ? title.substr(0, 17) + '...' : title;
        };

        var opts = {
            title: truncateTitle(activeViewLabel),
            placeholder: '{{ 'Search'|trans }}',
            header: '',
            height: 175,
            minWidth: 225,
            classes: 'pimmultiselect',
            position: {
                my: 'right top',
                at: 'right bottom',
                collision: 'none'
            }
        };
        opts.selectedText = opts.noneSelectedText = opts.title;

        $selector.multiselect(opts).multiselectfilter({
            label: false,
            placeholder: opts.placeholder
        });

        var $menu = $('.ui-multiselect-menu.pimmultiselect').addClass('highlight-hover').appendTo($('#container'));
        $menu.find('input[type=checkbox]').addClass('hide');
        $menu.find('input[type="search"]').width(207);

        var sendForm = function(url, cb) {
            $.post(url, $('#{{ form.vars.id }}').serialize(), function(response) {
                if (response && response.errors && response.errors.length) {
                    _.each(response.errors, function(error) {
                        messenger.notificationFlashMessage('error', error);
                    })
                } else if (response && response.id) {
                    DatagridState.set('{{ alias }}', 'view', response.id);
                    if (cb) {
                        cb(response.id);
                    } else {
                        reloadPage();
                    }
                }
            });
        };

        var submitForm = function () {
            if (!$('#{{ form.label.vars.id }}').val()) {
                return;
            }
            $('#{{ form.filters.vars.id }}').val(DatagridState.get('{{ alias }}', 'filters'));
            $('#{{ form.order.vars.id }}').val(DatagridState.get('{{ alias }}', 'columns'));
            sendForm('{{ path('pim_datagrid_view_index', { alias: alias }) }}');
        };

        var $openButton = $('button.pimmultiselect').addClass('btn btn-group').css({
            'margin-top': '-6px',
            'margin-left': '10px'
        }).prepend($('<span>', { 'text': '{{ 'datagrid_view.views'|trans }}', 'class': 'pull-left buffer-small-right' }).css({
            'margin-right': '10px',
            'border-right': '1px solid #ccc'
        }));
        $openButton.append($('<i>', { 'class': 'icon-caret-down', 'css': { 'position': 'absolute', 'top': '6px', 'right': '6px' } }));

        var $updateButtton = $('#update-view');
        $updateButtton.on('click', function() {
            var state = DatagridState.get('{{ alias }}', ['view', 'columns', 'filters']);
            $('#{{ form.filters.vars.id }}').val(state.filters);
            $('#{{ form.order.vars.id }}').val(state.columns);

            sendForm(Routing.generate('pim_datagrid_view_index', { alias: '{{ alias }}', id: state.view }), function() {
                $activeView.data('filters', state.filters);
                $activeView.data('columns', state.columns);
                handleStateChange();
                messenger.notificationFlashMessage('success', '{{ 'flash.datagrid view.updated'|trans }}');
            });
        });

        var promptForLabel = function() {
            var content = '<input name="label" id="view-label" type="text" placeholder="{{ 'datagrid_view.placeholder'|trans }}">';
            var label = null;
            Dialog.confirm(content, '{{ 'datagrid_view.choose_label'|trans }}', function() {
                $('#{{ form.label.vars.id }}').val(label);
                submitForm();
            });
            var $input = $('#view-label');
            var $submitBtn = $input.parent().parent().find('.btn.ok').hide();
            $input.on('input', function() {
                label = $input.val();
                if (!label.length) {
                    $submitBtn.hide();
                } else {
                    $submitBtn.show();
                }
            }).on('keypress', function(e) {
                if ((e.keyCode || e.which) == 13 && label.length) {
                    $submitBtn.trigger('click');
                }
            });
        };

        var $createButton = $('#create-view').removeClass('hide').on('click', promptForLabel);

        mediator.once('hash_navigation_request:start', function() {
            $selector.multiselect('destroy').hide();
            $createButton.hide();
            $updateButtton.hide();
            $removeLink.hide();
        });

        var setTitle = function(title, suffix) {
            title = truncateTitle(title);
            if (suffix) {
                title += suffix;
            }
            $selector.multiselect({
                title: title,
                selectedText: title,
                noneSelectedText: title
            });
        };

        var handleStateChange = function() {
            var cleanState = { 'filters': $activeView.data('filters'), 'columns': $activeView.data('columns') };
            var currentState = DatagridState.get('{{ alias }}', ['filters', 'columns']);

            if ((!currentState.filters || currentState.filters == cleanState.filters)
                && (!currentState.columns || currentState.columns == cleanState.columns)
            ) {
                setTitle(activeViewLabel);
                $updateButtton.hide();

            } else {
                setTitle(activeViewLabel, ' *');
                if (!!$activeView.data('removable') || !$activeView.data('default')) {
                    $updateButtton.show();
                }
            }
        };

        handleStateChange();

        mediator.bind('grid:{{ alias }}:state_changed', handleStateChange);

        $menu.on('click', 'li', function() {
            var gridViewId = $(this).find('input').val();
            activateView(gridViewId);

            reloadPage();
        });
    }
);
</script>
