{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

<select id="view-selector" class="hide">
{% for view in views %}
    <option value="{{ view.id }}" data-filters="{{ view.filters }}" data-columns="{{ view.columns|join(',') }}"{{ view.default ? ' data-default="1"' : '' }}{{ not view.default and view.owner.id == app.user.id ? ' data-removable="1"' : '' }}>
        {{- view.default ? 'datagrid_view.default'|trans : view.label -}}
    </option>
{% endfor %}
</select>

{{ form_start(form, { attr: { class: 'pull-left unspaced hide' } }) }}
    {{ form_widget(form.label,  { attr: { class: 'input-medium input-invisible', placeholder: 'datagrid_view.placeholder'|trans } }) }}
    {{ form_widget(form.filters) }}
    {{ form_widget(form.order) }}
{{ form_end(form) }}

<script type="text/javascript">
require(
    ['jquery', 'backbone', 'routing', 'oro/mediator', 'pim/datagrid/state', 'oro/messenger', 'pim/dialog', 'jquery.multiselect', 'jquery.multiselect.filter', 'bootstrap'],
    function ($, Backbone, Routing, mediator, DatagridState, messenger, Dialog) {
        'use strict';

        var reloadPage = function(id) {
            Backbone.history.navigate(window.location.hash + '&gv=' + id, true);
        };

        var $selector = $('#view-selector');

        var activeViewId = DatagridState.get('{{ alias }}', 'view');
        var $activeView  = $selector.find('option[value="'+activeViewId+'"]');

        if (!$activeView.length) {
            $activeView = $selector.find('option[data-default="1"]');
            activeViewId = $activeView.val();
            DatagridState.set('{{ alias }}', 'view', activeViewId);
        }

        var activeViewLabel = $activeView.text();

        if ($activeView.data('removable')) {
            var $removeIcon = $('<i>', { 'class': 'icon-trash', 'data-toggle': 'tooltip', 'data-placement': 'right', 'data-original-title': '{{ 'datagrid_view.remove'|trans }}' }).tooltip();
            var $removeLink = $('<a>', { 'class': 'muted', 'css': { 'cursor': 'pointer' } }).html($removeIcon).insertAfter($selector);

            $removeLink.on('click', function() {
                Dialog.confirm('{{ 'confirmation.remove.datagrid view'|trans }}', '{{ 'confirmation.delete'|trans }}', function() {
                    $.ajax({
                        url: Routing.generate('pim_datagrid_view_remove', { id: activeViewId }),
                        type: 'POST',
                        headers: { accept:'application/json' },
                        data: { _method: 'DELETE' },
                        success: function() {
                            DatagridState.remove('{{ alias }}', ['view', 'filters', 'columns']);
                            reloadPage(0);
                        }
                    });
                });
            });
        }

        var opts = {
            title: activeViewLabel,
            placeholder: '{{ 'Search'|trans }}',
            header: '',
            height: 175,
            minWidth: 225,
            classes: 'pimmultiselect',
            position: {
                my: 'right top',
                at: 'right bottom',
                collision: 'none'
            }
        };
        opts.selectedText = opts.noneSelectedText = opts.title;

        $selector.multiselect(opts).multiselectfilter({
            label: false,
            placeholder: opts.placeholder
        });

        mediator.once('hash_navigation_request:start', function() {
            $selector.multiselect('destroy').hide();
        });

        var $menu = $('.ui-multiselect-menu.pimmultiselect').addClass('highlight-hover').appendTo($('#container'));
        $menu.find('input[type=checkbox]').addClass('hide');
        $menu.find('input[type="search"]').width(207);

        var $footerContainer = $('<div>').addClass('ui-multiselect-footer pull-left fullwidth').css({
            'background-color': '#f6f6f6'
        }).appendTo($menu);
        $('#{{ form.vars.id }}').appendTo($footerContainer).removeClass('hide').find('input[type=text]').css({
            'margin-top': '3px',
            'margin-left': '5px'
        });
        var $saveButton = $('<button>').addClass('btn btn-small btn-primary pull-right').css({
            'margin': '5px'
        }).html('{{ 'datagrid_view.create'|trans }}').on('click', function () {
            if (!$('#{{ form.label.vars.id }}').val()) {
                return;
            }
            $('#{{ form.filters.vars.id }}').val(DatagridState.get('{{ alias }}', 'filters'));
            $('#{{ form.order.vars.id }}').val(DatagridState.get('{{ alias }}', 'columns'));
            $selector.multiselect('close');
            $.post('{{ path('pim_datagrid_view_index', { alias: alias }) }}', $('#{{ form.vars.id }}').serialize(), function(response) {
                if (response && response.errors && response.errors.length) {
                    _.each(response.errors, function(error) {
                        messenger.notificationFlashMessage('error', error);
                    })
                } else if (response && response.id) {
                    DatagridState.set('{{ alias }}', 'view', response.id);
                    reloadPage(response.id);
                }
            });
        }).appendTo($footerContainer);


        var $openButton = $('button.pimmultiselect').addClass('btn btn-group').css({
            'margin-top': '-6px',
            'margin-left': '10px'
        }).prepend($('<span>', { 'text': '{{ 'Views'|trans }}', 'class': 'pull-left buffer-small-right' }).css({
            'margin-right': '10px',
            'border-right': '1px solid #ccc'
        }));
        $openButton.append($('<span>', { 'class': 'caret pull-right' }));

        $menu.on('click', 'li', function() {
            var label = $(this).text().trim();
            $selector.multiselect({
                selectedText: label,
                noneSelectedText: label
            });
            var gridViewId = $(this).find('input').val();

            var $viewItem = $selector.find('option[value="' + gridViewId + '"]');
            DatagridState.set('{{ alias }}', { 'view': gridViewId, 'filters': $viewItem.data('filters'), 'columns': $viewItem.data('columns') });

            reloadPage(gridViewId);
        });

        $('#{{ form.label.vars.id }}').on('keypress', function(e) {
            if ((e.keyCode || e.which) == 13) {
                e.preventDefault();
                $saveButton.trigger('click');
            }
        });
    }
);
</script>
