{% if record.getValue('status') == constant('Akeneo\\Pim\\WorkOrganization\\Workflow\\Component\\Model\\EntityWithValuesDraftInterface::IN_PROGRESS') %}
    <em>{{ 'pimee_workflow.proposal.draft_in_progress'|trans({'%author%': record.getValue('author')}) }}</em>
{% else %}
    {% for code, changes in value %}
        {% set isAttributeLocalizable = is_attribute_localizable(code) %}
        {% set canView = is_attribute_granted(constant('Akeneo\\Pim\\Permission\\Component\\Attributes::VIEW_ATTRIBUTES'), code) %}
        {% for change in changes %}
            {% set product_draft_change = present_product_draft_change(record.getValue('proposal'), change, code) %}
            {% if
                canView and
                (not isAttributeLocalizable or is_locale_granted(constant('Akeneo\\Pim\\Permission\\Component\\Attributes::VIEW_ITEMS'), change.locale)) and
                product_draft_change|length > 0
            %}
                {%
                    set canReview = (
                        is_attribute_granted(constant('Akeneo\\Pim\\Permission\\Component\\Attributes::EDIT_ATTRIBUTES'), code) and
                        is_granted(constant('Akeneo\\Pim\\Permission\\Component\\Attributes::OWN'), record.getValue('product')) and
                        (not isAttributeLocalizable or is_locale_granted(constant('Akeneo\\Pim\\Permission\\Component\\Attributes::EDIT_ITEMS'), change.locale))
                    )
                %}
                <div class="AknGridContainer AknGridContainer--box">
                <table
                    class="AknGrid AknGrid--unclickable proposal-changes{% if not canReview %} readonly{% endif %}"
                    data-product="{{ record.getValue('search_id') }}"
                    data-document-type="{{ record.getValue('document_type') }}"
                    data-scope="{{ change.scope }}"
                    data-locale="{{ change.locale }}"
                    data-attribute="{{ code }}"
                    data-author="{{ record.getValue('author') }}"
                    data-draft="{{ record.getValue('proposal_id') }}"
                >
                    <thead>
                        <tr class="AknGrid-bodyRow">
                            <th class="AknGrid-headerCell label-cell">{{ get_attribute_label_from_code(code) }}</th>
                            <th class="AknGrid-headerCell">
                                {{ change.locale|pretty_locale_name }}

                                {% if change.scope is not null %}
                                    - {{ change.scope }}
                                {% endif %}
                            </th>
                            <th class="AknGrid-headerCell action-cell">
                                {% if canReview %}
                                    <div class="AknButtonList AknButtonList--right">
                                        <button
                                            class="AknButtonList-item AknIconButton AknIconButton--ok AknIconButton--apply AknIconButton--round partial-approve-link"
                                            data-product="{{ record.getValue('search_id') }}"
                                            data-document-type="{{ record.getValue('document_type') }}"
                                            data-scope="{{ change.scope }}"
                                            data-locale="{{ change.locale }}"
                                            data-attribute="{{ code }}"
                                            data-author="{{ record.getValue('author') }}"
                                            data-draft="{{ record.getValue('proposal_id') }}"
                                            data-action="approve"
                                            title="{{ 'pimee_workflow.product_draft.action.partial_approve'|trans({'%attribute%': code, '%product%': record.getValue('product').id}) }}">
                                        </button>
                                        <button
                                            class="AknButtonList-item AknIconButton AknIconButton--removeWhite AknIconButton--important AknIconButton--round partial-reject-link"
                                            data-product="{{ record.getValue('search_id') }}"
                                            data-document-type="{{ record.getValue('document_type') }}"
                                            data-scope="{{ change.scope }}"
                                            data-locale="{{ change.locale }}"
                                            data-attribute="{{ code }}"
                                            data-author="{{ record.getValue('author') }}"
                                            data-draft="{{ record.getValue('proposal_id') }}"
                                            data-action="reject"
                                            title="{{ 'pimee_workflow.product_draft.action.partial_reject'|trans({'%attribute%': code, '%product%': record.getValue('product').id}) }}">
                                        </button>
                                    </div>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if product_draft_change.before != product_draft_change.after %}
                            <tr class="AknGrid-bodyRow">
                                <td class="AknGrid-bodyCell AknGrid-bodyCell--tight AknDiff--remove">{{ 'pimee_workflow.proposal.original_value'|trans }}</td>
                                <td class="AknGrid-bodyCell original-value" colspan="2">
                                    {{ product_draft_change.before|raw }}
                                </td>
                            </tr>
                            <tr class="AknGrid-bodyRow">
                                <td class="AknGrid-bodyCell AknGrid-bodyCell--tight AknDiff--add">{{ 'pimee_workflow.proposal.new_value'|trans }}</td>
                                <td class="AknGrid-bodyCell new-value" colspan="2">
                                    {{ product_draft_change.after|raw }}
                                </td>
                            </tr>
                        {% else %}
                            <tr class="AknGrid-bodyRow">
                                <td class="AknGrid-bodyCell AknGrid-bodyCell--full" colspan="3"><em>{{ 'pimee_workflow.proposal.no_diff'|trans({'%value%': change.data }) }}</em></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
