{% set orderedGroups = form.productTemplate.vars.orderedGroups %}

<div class="tab-pane product-edit tab-attribute {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    <div class="tab-groups">
        <ul class="nav nav-list">
            {% for group in orderedGroups if form.productTemplate.vars.groups[group.id] is defined %}
                <li class="tab{% if loop.index == 1 %} active{% endif %}">
                    <a href="#tabs-{{group.id}}" data-toggle="tab">{{ group.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tab-content">
        <div id="attribute-buttons">
            {% include 'PimEnrichBundle:Locale:_locale_switcher.html.twig' with {
                'locales':           locales,
                'currentLocaleCode': dataLocale,
                'routeName':         'pim_enrich_variant_group_edit',
                'routeParams':       { 'id': form.vars.data.id }
            } only %}
            {{ elements.channelSwitcher(channels) }}
        </div>

        {% for groupId, groupView in form.productTemplate.vars.groups %}
            <div id="tabs-{{ groupId }}" class="tab-pane fullheight">
                <h3>{{ groupView.label }}</h3>
                {% include 'PimEnrichBundle:VariantGroup:_edit_without_comparison.html.twig' %}
            </div>
        {% else %}
            <div class="tab-pane active fullheight">
                <h3>&nbsp;</h3>
                <div class="alert alert-info">
                    <div class="message">
                        {% if form.productTemplate.vars.data and form.productTemplate.vars.data.values|length %}
                            {{ 'pim_enrich.variant_group.info.no_attributes_in_selected_locale'|trans }}
                        {% else %}
                            {{ 'pim_enrich.variant_group.info.no_attributes'|trans }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
