{% extends 'PimProductBundle::layout.html.twig' %}                                                                                                                                
{% set title = 'Associate category to product tree overview'|trans %}


{% block head_script %}
    {{ parent() }}

    <script type="text/javascript">
        var assetsPath = "{{ asset('bundles/pimproduct/') }}";
        var urlCheckedCategories = "{{ path('pim_product_product_listcategories',{'id':product.id, 'category_id':1,  '_format': 'json' }) }}";
        var urlChildren = "{{ path('pim_product_categorytree_children', { '_format': 'json' }) }}"
        {% if trees %}
            {% set firstTree = trees|first %}
            var preSelectedTree = '{{ firstTree['tree'].id }}' ;
        {% endif %}
    </script>

    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.js') }}"></script>

{% endblock %}

{% block page_container %}
<div class="container-fluid product">
    {% block content %}
    <div id="associate-category-container" class="row-fluid">
        <div id="trees-list">
            <ul>
                {% for tree in trees %}
                    {% set aClass = "" %}
                    {% if (tree['productsCount'] > 0) %}
                        {% set aClass = "tree-has-product" %}
                    {% endif %}
                    <li><a class="{{ aClass }}" href="#" id="tree-link-{{ tree['tree'].id }}">{{ tree['tree'].title }} ({{ tree['productsCount'] }})</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="form-tab">
            <form>
                <div id="trees">
                    {% for tree in trees %}
                        <div id="tree-{{ tree['tree'].id }}">Tree {{ tree['tree'].title }}</div>
                    {% endfor %}
                </div>
                <script type="text/javascript" src="{{ asset('bundles/pimproduct/js/tree-associate.jstree.js') }}"></script>
                <input type="submit">
            </form>
    {% endblock %}
</div>
{% endblock %}
