{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = form.vars.value.id ? 'Edit product'|trans : 'Add product'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}

    {% form_theme form 'PimUIBundle:Form:fields.html.twig' %}
    
    <form action="{{ form.vars.value.id ? path('pim_product_product_edit', { id: form.vars.value.id }) : path('pim_product_product_create') }}" 
        method="POST" class="form-register" {{ form_enctype(form) }}>

        <div class="row-fluid">
            <div class="form-row">
                <h3 class="pull-left">{{ title|trans }}</h3>
                <button class="btn btn-primary pull-right" type="submit">{{ 'Save'|trans }}</button>
                <a class="btn pull-right" href="{{ path('pim_product_product_remove', { id: form.vars.value.id }) }}">
                    {{ "Delete" | trans }}
                </a>
                <a class="pull-right" href="{{ path('pim_product_product_index') }}">
                    {{ "Back to list" | trans }}
                </a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="control-group">
                <div class="controls">
                    {{ form_label(form.productFamily, 'Family', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_widget(form.productFamily) }}
                </div>
            </div>
        </div>


    <div class="row-fluid">
        {% if form.vars.errors|length %}
            <div class="alert alert-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        <div id="tabs" style="overflow: inherit;">
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="active"><a href="#tabs-0">General</a></li>
                </ul>
            </div>
            <div class="span10">

                {{ form_row(form.id) }}
                
                {{ form_row(form.sku) }}

                {% for formValue in form.values %}
                    <div class="control-group">
                        <div class="controls">
                            {{ form_widget(formValue) }}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        {{ form_row(form.id) }}
        {{ form_row(form._token) }}
        {{ form_row(form.languages) }}
    </form>

    {# TODO style this as a dropdown #}
    <ul class="locales">
        {% for language in form.vars.value.getActiveLanguages() %}
            <li>{{ language }}</li>
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(function() {
        $('select').select2({ allowClear: true });
        $('input.multiselect').select2({ tags: $(this).val() });
    });
    </script>
    <link rel="stylesheet" href="{{ asset('bundles/pimui/css/select2.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/pimui/js/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pimui/js/jquery-ui-1.10.0.min.js') }}"></script>
{% endblock %}
