<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Akeneo{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        
        {% block head_css %}
        <link rel="stylesheet" href="{{ asset('bundles/bapui/css/smoothness/jquery-ui-1.9.1.custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/bapui/css/main-bap.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/bapui/css/icons-fugue.css') }}" />
        {% endblock %}

        {% block head_js %}
        <script type="text/javascript" src="{{ asset('bundles/bapui/js/jquery-1.8.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bapui/js/jquery-ui-1.9.1.custom.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="body-wrapper">
            <div id="header" class="ui-corner-bl ui-corner-br">
                <a class="logo" href="{{ path('_welcome') }}">
                    <img src="{{ asset('bundles/bapui/images/logo.gif') }}" alt="Akeneo logo" />
                </a>
            </div>

            {% block main_menu %}
                {{ knp_menu_render('BapMainMenu') }}
            {% endblock %}

            <div class="content ui-corner-all">

                {% block content_menu %}
                    <ul id="menu">
                        {% block content_menu_more %}
                            <li>
                                <a href="{{ path('strixos_dashboard_default_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                                    <span class="ui-button-icon-primary ui-icon ui-icon-fugue-home"></span><span class="ui-button-text">Back to home</span>
                                </a>
                            </li>
                        {% endblock %}
                    </ul>
                    <div style="clear: both"></div>
                {% endblock %}
    
                {% for key, flashMessage in app.session.getFlashes() %}
                    <div class="flash-message">
                        <em>{{ key | capitalize }}</em>: {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block leftcolumn %}{% endblock %}

                {% block content %}{% endblock %}
                
                {% block rightcolumn %}{% endblock %}
            </div>

            <div id="footer">
                {% block footer %}
                    <p><em>The future of catalog management is open ! © Akeneo SAS.</em></p>
                {% endblock %}
          </div>
        </div>
        {% block afterfooter %}
        <script>
            $(function() {
                $("#BapMainMenu").menu({ position: { at: "bottom" }});
            });
        </script>
        {% endblock %}
    </body>
</html>
