{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}

{{ form_start(form, {
    'action': path(createRoute, {customEntityName: customEntityName}),
    'class': 'form-inline',
    'attr': {
        'data-title': (customEntityName ~ '.create')|trans,
        'data-button-submit': 'Create'|trans,
        'data-button-cancel': 'Cancel'|trans
    }
}) }}
    {{ JSFV(form) }}

    {{ elements.form_errors(form) }}

    <div class="row-fluid">
        {{ form_widget(form) }}
    </div>
{{ form_end(form) }}
