<form method="POST" id="pim_icecatdemo_{{ customEntityName }}_quickcreate" class="form-horizontal" data-title="{{ ( customEntityName ~ '.create')|trans }}" data-button-submit="{{ 'Create'|trans }}" data-button-cancel="{{ 'Cancel'|trans }}" action="{{ path(createRoute, {customEntityName: customEntityName}) }}" {{ form_enctype(form) }}>

    {{ JSFV(form) }}

    {% if form.vars.errors|length %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="row-fluid">
        {{ form_widget(form) }}
    </div>

</form>
