{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}

{{ JSFV(form) }}
<form id="{{ form.vars.id }}" class="form-horizontal form-register" action="{{ form.vars.value.id ?
    path('pim_product_productattribute_edit', { id: form.vars.value.id }) :
    path('pim_product_productattribute_create') }}" method="POST">

    {% set title = 'Attributes'|trans %}

    {% set buttons %}
        <div class="btn-group icons-holder">
            <a class="btn" href="{{ path('pim_product_productattribute_index') }}" title="{{ 'Back to grid' | trans }}"><i class="icon-chevron-left"></i></a>
        </div>
        {% if form.vars.value.id and form.attributeType.vars.value != 'pim_product_identifier' %}
            <div class="btn-group icons-holder">
                <a href="javascript: void(0);" class="btn icons-holder-text" id="btn-delete-attribute" data-id="{{ form.vars.value.id }}" data-message="{{ 'Are you sure you want to delete this attribute ?'|trans }}" title="{{ 'Delete'|trans }}"><i class="icon-trash hide-text">{{ 'Remove'|trans }}</i>Delete</a>
            </div>
        {% endif %}
        <div class="btn-group">
            <button type="submit" class="btn btn-primary"><i class="hide-text">Save </i> {{ ' Save'|trans }}</button>
        </div>
    {% endset %}

    {% set subtitle %}
        <div class="sub-title">{{ form.vars.value.id ? form.vars.value.code : 'New attribute'|trans }}</div>
    {% endset %}

    {% set left %}
        <ul class="inline">
           <li>{{ 'Last update'|trans }}: {{ form.vars.value.updated|date("Y-m-d") }}</li>
           <li>{{ 'Created'|trans }}: {{ form.vars.value.created|date("Y-m-d") }}</li>
       </ul>
    {% endset %}

    {{ elements.page_header(title, buttons, subtitle, left) }}

    {{ elements.form_navbar(['Parameters', 'Values', 'History'], 'tab') }}

    <div class="row-fluid tab-content">

        {{ elements.form_errors(form) }}

        <div class="tab-pane active" id="parameters">
            {% include 'PimProductBundle:ProductAttribute:_form_parameters.html.twig' with {'form': form} %}
        </div>

        <div class="tab-pane" id="values">
            {% include 'PimProductBundle:ProductAttribute:_form_values.html.twig' with {'form': form} %}
        </div>

        <div class="tab-pane" id="history">
            <div id="history-grid"></div>
        </div>

        {{ form_row(form.id) }}
        {{ form_row(form._token) }}
    </div>
</form>
