{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}

{{ JSFV(form) }}
<form id="{{ form.vars.id }}" class="form-horizontal form-register" action="{{ form.vars.value.id ?
    path('pim_product_productattribute_edit', { id: form.vars.value.id }) :
    path('pim_product_productattribute_create') }}" method="POST">

    {% set title = 'Attributes'|trans %}

    {% set buttons %}
        <div class="btn-group icons-holder">
            <a class="btn" href="{{ path('pim_product_productattribute_index') }}" title="{{ 'Back to grid' | trans }}"><i class="icon-chevron-left"></i></a>
        </div>
        <div class="btn-group icons-holder">
            <a href="javascript: void(0);" class="btn icons-holder-text" id="btn-delete-attribute" data-id="{{ form.vars.value.id }}" data-message="{{ 'Are you sure you want to delete this attribute ?'|trans }}" title="{{ 'Delete'|trans }}"><i class="icon-trash hide-text">{{ 'Remove'|trans }}</i>Delete</a>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary"><i class="hide-text">Save </i> {{ ' Save'|trans }}</button>
        </div>
    {% endset %}

    {% set subtitle %}
        <div class="sub-title">{{ form.vars.value.id ? form.vars.value.code : 'New attribute'|trans }}</div>
    {% endset %}

    {% set left %}
        <ul class="inline">
           <li>{{ 'Last update'|trans }}: {{ form.vars.value.updated|date("Y-m-d") }}</li>
           <li>{{ 'Created'|trans }}: {{ form.vars.value.created|date("Y-m-d") }}</li>
       </ul>
    {% endset %}

    {{ elements.page_header(title, buttons, subtitle, left) }}

    {{ elements.form_navbar(['Parameters', 'Values']) }}

    <div class="row-fluid">

        {{ elements.form_errors(form) }}

        <div data-spy="scroll" data-target="#form-navbar" data-offset="50" class="scrollspy row-fluid">
            <div id="parameters">
                <h3 class="scrollspy-title">{{ "Parameters"|trans }}</h3>
                <div id="accordion1" class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                <i class="fa-icon-collapse-alt"></i>
                                {{ "General parameters"|trans }}
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body in">
                            <div class="accordion-inner">
                                {{ form_row(form.code, { 'label': 'Name'|trans }) }}
                                {{ form_row(form.attributeType) }}

                                {% if form.scopable is defined %}
                                    {{ form_row(form.scopable, { 'label': 'Scope'|trans }) }}
                                {% endif %}

                                {% if form.translatable is defined %}
                                    {{ form_row(form.translatable) }}
                                {% endif %}

                                {% if form.unique is defined %}
                                    {{ form_row(form.unique, { 'label': 'Unique value'|trans }) }}
                                {% endif %}

                                {{ form_row(form.required) }}

                                {% if form.availableLocales is defined %}
                                    <div class="control-group">
                                        <label class="control-label" for="limitLocales">{{ 'Locale specific'|trans }}</label>
                                        <div class="controls">
                                            <div id="limitLocales-switch" class="switch switch-small" data-on-label="{{ 'Yes'|trans }}" data-off-label="{{ 'No'|trans }}">
                                                <input type="checkbox" name="limitLocales">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="control-group" style="display: none;">
                                        {{ form_label(form.availableLocales, null, { 'label_attr': {'class': 'control-label'} }) }}
                                        <div class="controls">
                                            {{ form_widget(form.availableLocales, {'attr' : { 'class': 'input-large' }}) }}
                                        </div>
                                    </div>
                                {% endif %}

                                {% set optionalFields = ['dateType', 'dateMin', 'dateMax',
                                'negativeAllowed', 'decimalsAllowed', 'numberMin', 'numberMax',
                                'valueCreationAllowed', 'maxCharacters', 'wysiwygEnabled',
                                'metricFamily', 'defaultMetricUnit', 'allowedFileSources',
                                'maxFileSize', 'allowedFileExtensions', 'validationRule',
                                'validationRegexp', 'defaultValue', 'sortOrder'] %}

                                {% for field in optionalFields %}
                                    {% if form[field] is defined %}
                                        {{ form_row(form[field]) }}
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                                <i class="fa-icon-collapse-alt"></i>
                                {{ "Backend parameters"|trans }}
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body in">
                            <div class="accordion-inner">
                                <div class="control-group">
                                    {{ form_label(form.group, 'Attribute group'|trans, { 'label_attr': {'class': 'control-label'} }) }}
                                    <div class="controls">
                                        {{ form_widget(form.group, { 'attr': { 'class': 'input-large', 'data-placeholder': 'Choose a group'|trans }}) }}
                                    </div>
                                </div>

                                {# form_row(form.variant, { 'label': 'Variants behavior when edited'|trans }) #}
                                {# form_row(form.smart) #}

                                {% if form.searchable is defined %}
                                    {{ form_row(form.searchable) }}
                                {% endif %}

                                {{ form_row(form.useableAsGridColumn) }}

                                {{ form_row(form.useableAsGridFilter) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="values">
                <h3 class="scrollspy-title">{{ "Values"|trans }}</h3>
                <div id="accordion2" class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                <i class="fa-icon-collapse-alt"></i>
                                {{ "Label translations"|trans }}
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body in">
                            <div class="accordion-inner">
                                {{ form_row(form.label) }}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                <i class="fa-icon-collapse-alt"></i>
                                {{ "Description"|trans }}
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body in">
                            <div class="accordion-inner">
                                <div class="control-group">
                                    {{ form_row(form.description) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if form.options is defined %}
                        {% form_theme form 'PimProductBundle:Form:simple_layout.html.twig' %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                                    <i class="fa-icon-collapse-alt"></i>
                                    {{ "Options"|trans }}
                                </a>
                            </div>
                            <div id="collapseFive" class="accordion-body in">
                                <div class="accordion-inner">
                                    <table id="sortable_options" class="table table-striped table-hover table-condensed options">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>{{ "Default value"|trans }}</th>
                                                {% for locale in locales %}
                                                    <th>{{ locale.code|trans }}</th>
                                                {% endfor %}
                                                <th>{{ "Default value"|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for option in form.options %}
                                                <tr class="att-option">
                                                    <td class="handle">
                                                        <i class="fa-icon-reorder"></i>
                                                        {{ form_row(option.sort_order) }}
                                                    </td>
                                                    <td>
                                                        {{ form_row(option.defaultValue) }}
                                                    </td>
                                                    {% for locale in locales %}
                                                        <td>
                                                            {% for value in option.optionValues %}
                                                                {% if value.locale.vars.value == locale.code %}
                                                                    {{ form_row(value.id) }}
                                                                    {{ form_row(value.value) }}
                                                                    {{ form_row(value.locale) }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                    {% endfor %}
                                                    <td>
                                                        {{ form_row(option.default) }}
                                                        <input type="{{ form.attributeType.vars.value == 'pim_product_multiselect' ? 'checkbox' : 'radio' }}" name="default"{% if option.vars.value.default %} checked="checked"{% endif %}>
                                                    </td>
                                                    {% if disabledLocales is not empty %}
                                                        <td style="display:none;">
                                                            {% for i in 0..disabledLocales|length-1 %}
                                                                {% for value in option.optionValues %}
                                                                    {% if value.locale.vars.value == disabledLocales[i].code %}
                                                                        {{ form_row(value.id) }}
                                                                        {{ form_row(value.locale) }}
                                                                        {{ form_row(value.value) }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ form_row(form.sortOrder) }}
        {{ form_row(form.id) }}
        {{ form_row(form._token) }}
    </div>
</form>
