<div class="widget-content grid-widget-content">
    {% set gridId = "entity-grid-" ~ random() %}
    {% set listenerParameters = {
        'columnName': 'has_relation',
        'selectors': {
            'included': '#appendRelation',
            'excluded': '#removeRelation'
        }
    } %}
    {% set stateParameters = {
        'parameters': {
            'data_in': app.request.get('added'),
            'data_not_in': app.request.get('removed')
        }
    } %}
    {% placeholder prepare_grid with {
        'datagrid'  : datagrid,
        'selector'  : '#' ~ gridId,
        'parameters': listenerParameters,
        'state'     : stateParameters
    } %}

    <style type="text/css">
        .grid-widget-content .grid, .grid-widget-content .table{margin-bottom: 0;}
    </style>

    {% block content %}
        <div id="{{ gridId }}"></div>
        <input type="hidden" name="appendRelation" id="appendRelation" value="{{ app.request.get('added') }}" />
        <input type="hidden" name="removeRelation" id="removeRelation" value="{{ app.request.get('removed') }}" />
    {% endblock %}

    <script type="text/javascript">
        {% set wid = app.request.get('_wid') %}
        require(['jquery', 'oro/datagrid/callback-listener', 'oro/widget-manager', 'oro/multiple-entity/model'],
                function($, CallbackListener, WidgetManager, MultipleEntityModel) {
                    var addedModels = {};
                    WidgetManager.getWidgetInstance({{ wid|json_encode|raw }}, function(widget) {
                        if (widget.options.type == 'dialog') {
                            widget.getWidget().css({
                                'padding': 0,
                                'max-height': 500,
                                'overflow': 'auto'
                            });
                        }

                        widget.getAction('select', 'adopted', function(selectBtn) {
                            selectBtn.click(function() {
                                var addedVal = $('#appendRelation').val();
                                var removedVal = $('#removeRelation').val();
                                var appendedIds = addedVal.length ? addedVal.split(',') : [];
                                var removedIds = removedVal.length ? removedVal.split(',') : [];
                                widget.trigger('completeSelection', appendedIds, addedModels, removedIds);
                            });
                        });
                    });

                    $(function() {
                        /** @type {oro.datagrid.CallbackListener} */
                        new CallbackListener({
                            datagridName: {{ datagrid.datagrid.name|json_encode|raw }},
                            dataField: 'id',
                            columnName: 'has_relation',
                            processCallback: function (value, model, listener) {
                                var isActive = model.get(listener.columnName);
                                var id = model.get('id');
                                if (isActive) {
                                    addedModels[id] = new MultipleEntityModel({
                                        'id': model.get('id'),
                                        'link': Routing.generate('orocrm_contact_info', {id: model.get('id')}),
                                        'label': model.get('first_name') + ' ' + model.get('last_name'),
                                        'extraData': [
                                            {
                                                'label': 'Phone',
                                                'value': model.get('phone')
                                            },
                                            {
                                                'label': 'Email',
                                                'value': model.get('email')
                                            }
                                        ]
                                    });
                                } else if (addedModels.hasOwnProperty(id)) {
                                    delete addedModels[id];
                                }
                            }
                        });
                    });
                });
    </script>

    <div class="widget-actions">
        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
        <button type="button" class="btn btn-primary" data-action-name="select">{{ 'Select'|trans }}</button>
    </div>
</div>
