{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
<div class="widget-content grid-widget-content">
    {% set gridName = 'entity-relation-grid' %}

    {% set gridParams = {
        '_parameters' : {
            'data_in': app.request.get('added')|split(','),
            'data_not_in': app.request.get('removed')|split(','),
        },
        'class_name': entity_class,
        'entity_id': entity_id,
        'field_name': app.request.get('fieldName'),
        'id': app.request.get('id')
    } %}

    <style type="text/css">
        .grid-widget-content .grid, .grid-widget-content .table{margin-bottom: 0;}
    </style>

    {% block content %}
        {{ dataGrid.renderGrid(gridName, gridParams) }}
        <input type="hidden" name="appendRelation" id="appendRelation" value="{{ app.request.get('added') }}" />
        <input type="hidden" name="removeRelation" id="removeRelation" value="{{ app.request.get('removed') }}" />
    {% endblock %}

    <script type="text/javascript">
        {% set wid = app.request.get('_wid') %}
        require(['jquery', 'oro/datagrid/callback-listener', 'oro/widget-manager', 'oro/multiple-entity/model'],
                function($, CallbackListener, WidgetManager, MultipleEntityModel) {
                    var addedModels = {};
                    WidgetManager.getWidgetInstance({{ wid|json_encode|raw }}, function(widget) {
                        if (widget.options.type == 'dialog') {
                            widget.getWidget().css({
                                'padding': 0,
                                'max-height': 500,
                                'overflow': 'auto'
                            });
                        }

                        widget.getAction('select', 'adopted', function(selectBtn) {
                            selectBtn.click(function() {
                                var addedVal = $('#appendRelation').val();
                                var removedVal = $('#removeRelation').val();
                                var appendedIds = addedVal.length ? addedVal.split(',') : [];
                                var removedIds = removedVal.length ? removedVal.split(',') : [];
                                widget.trigger('completeSelection', appendedIds, addedModels, removedIds);
                            });
                        });
                    });

                    var gridName = {{ gridName|json_encode|raw }};

                    $(function() {
                        /** @type {oro.datagrid.CallbackListener} */
                        new CallbackListener({
                            $gridContainer: $('#grid-' + gridName),
                            gridName: gridName,
                            dataField: 'id',
                            columnName: 'assigned',
                            processCallback: function (value, model, listener) {
                                var isActive = model.get(listener.columnName);
                                var id = model.get('id');
                                if (isActive) {
                                    var label = '';

                                    {% set label = '' %}
                                    {% for title in relation.get('target_title') %}
                                        {% set is_extend = extend_provider.getConfig(relation.get('target_entity'), title).is('owner', 'Custom') %}
                                        {% set field_label = title %}
                                        {% if is_extend == true %}
                                            {% set field_label = 'field_' ~ title %}
                                        {% endif %}

                                        label += model.get('{{ field_label }}') + ' ';
                                    {% endfor %}

                                    addedModels[id] = new MultipleEntityModel({
                                        'id': model.get('id'),
                                        'link': Routing.generate(
                                                'oro_entity_detailed',
                                                {
                                                    id: model.get('id'),
                                                    className: '{{ relation.get('target_entity')|replace('\\', '_') }}',
                                                    fieldName: '{{ relation.getId().getFieldName() }}'
                                                }
                                        ),
                                        'label': label,
                                        'extraData':
                                        [
                                            {% for field in relation.get('target_grid') %}
                                                {% set is_extend = extend_provider.getConfig(relation.get('target_entity'), field).is('owner', 'Custom') %}
                                                {% set field_name = field %}
                                                {% if is_extend == true %}
                                                    {% set field_name = 'field_' ~ field %}
                                                {% endif %}
                                            {
                                                'label': '{{ entity_provider.getConfig(relation.get('target_entity'), field).get('label') }}',
                                                'value': model.get('{{ field_name }}')
                                            },
                                            {% endfor %}
                                        ]
                                    });
                                } else if (addedModels.hasOwnProperty(id)) {
                                    delete addedModels[id];
                                }
                            }
                        });
                    });
                });
    </script>

    <div class="widget-actions">
        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
        <button type="button" class="btn btn-primary" data-action-name="select">{{ 'Select'|trans }}</button>
    </div>
</div>
