{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%entityName%": 'Item #'~entity.id|default('N/A') }}) %}

{% block navButtons %}
    {{ UI.button({'path' : path('oro_entity_index', {id: parent}), 'iClass' : 'icon-chevron-left ', 'title' : 'Back', 'label' : 'Back'}) }}
    {% if resource_granted('oro_user_user_update') %}
        {{ UI.button({'path' : path('oro_entity_update', { 'entity_id': parent, id: entity.id }), 'iClass' : 'icon-edit ', 'title' : 'Edit user', 'label' : 'Edit'}) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_entityconfig_index'),
        'indexLabel': 'Entities',
        'entityTitle': 'Item #'~entity.id|default('N/A'),
        'additional': [{
            'indexPath'  : path('oro_entity_index', {id: parent}),
            'indexLabel' : entity_config.get('label')|default('N/A')
        }]
    }%}

    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
{% endblock stats%}

{% block content_data %}

    {#{{ dump(entity) }}#}

    {#{{ entity.getFieldName() }}#}
    {#{{ entity.field_name }}#}

    {% set general_fields = [ ] %}
    {% for key, value in entity_fields|default %}
        {% set general_fields = general_fields|merge([UI.attibuteRow(key|capitalize, value)])%}
    {% endfor %}

    {#UI.attibuteRow('Name', entity_name),#}
        {#UI.renderAttribute('Icon', ['<div class="clearfix-oro"><p class="control-label"><i class="',entity_config.get('icon'),' hide-text"></i> (',entity_config.get('icon'),')</p></div>']|join),#}
        {#UI.attibuteRow('Label', entity_config.get('label')),#}
        {#UI.attibuteRow('Plural Label', entity_config.get('plural_label')),#}
        {#UI.attibuteRow('Type', entity_extend.get('owner')),#}
        {#UI.attibuteRow('Description', entity_config.get('description')),#}
        {#UI.attibuteRow('Ownership Type', entity_ownership.get('owner_type')),#}
        {#UI.attibuteRow('Module', module_name),#}
    {#]%}#}

    {% set data = { 'dataBlocks': [{
        'title': 'General',
        'class': 'active',
        'subblocks': [
            {'title': 'General Information', 'data': general_fields },
        ]
    } ]} %}

    {{ parent() }}
{% endblock content_data %}
