{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {
    "%entityName%": entity_config.get('label')|default('N/A'),
    "%recordName%": 'Item #'~entity.id|default('N/A') },
}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', 'entity:'~entity_class) %}
        {{ UI.button({'path' : path('oro_entity_update', { 'entity_id': parent, id: entity.id }), 'iClass' : 'icon-edit ', 'title' : 'Edit user', 'label' : 'Edit'}) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_entityconfig_index'),
        'indexLabel': 'Entities',
        'entityTitle': 'Item #'~entity.id|default('N/A'),
        'additional': [{
            'indexPath'  : path('oro_entity_index', {id: parent}),
            'indexLabel' : entity_config.get('label')|default('N/A')
        }]
    }%}

    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
{% endblock stats%}

{% macro attibuteRow(title, value) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% macro attribute_data(value) %}
        <div class="clearfix-oro">
            <p class="control-label">{{ value|raw }}</p>
        </div>
    {% endmacro %}
    {{ UI.renderAttribute(title, _self.attribute_data(value)) }}
{% endmacro %}

{% block content_data %}
    {% set general_fields = [ ] %}
    {% for key, value in entity_fields|default %}
        {% if value is iterable %}
            {% set data = '' %}
            {% for item in value.values %}
                {% if item.link is defined and item.link != false  %}
                    {% set data = data ~ '<a href="' ~ item.link ~ '">' ~ item.title ~ '</a>' %}
                {% else %}
                    {% set data = data ~ item.title %}
                {% endif %}
                {% if not loop.last %}
                    {% set data = data ~ ', ' %}
                {% endif %}
            {% endfor %}
            {% set value = data %}
        {% endif %}

        {% set general_fields = general_fields|merge([_self.attibuteRow(key|capitalize, value)])%}
    {% endfor %}

    {% set data = { 'dataBlocks': [{
        'title': 'General',
        'class': 'active',
        'subblocks': [{
            'title': 'General Information',
            'data':  general_fields
        }]
    }] } %}

    {{ parent() }}
{% endblock content_data %}
