{% extends "OroUIBundle:Default:index.html.twig" %}
{% use ':Default:components.html.twig' %}

{% block head_script %}
    {{ parent() }}
    {{ block('head_script_component') }}
{% endblock %}

{% block head_style %}
    {{ parent() }}
    {{ block('head_style_component') }}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <a href="{{ path('pim_default') }}">Akeneo</a>
    </h1>
{% endblock logo %}

{% block messages %}
    {% set allMessages = {'empty': ['']} %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% set allMessages = allMessages|merge(app.session.flashbag.all) %}
    {% endif %}
    <div class=""
            {% if allMessages|length < 2 %}style="display:none"{% endif %}>
        <div class="">
        {% for type, messages in allMessages %}
            {% for message in messages %}
                <div class="alert{{ type ? ' alert-'~type : '' }} fade in top-messages ">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <div class="message">{{ message|trans|raw }}</div>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock messages %}

{% block main %}
    {{ parent() }}
    {{ oro_windows_restore() }}
{% endblock %}
