{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}
<form id="pim_importexport_import_upload" method="POST" class="form-horizontal" data-title="{{ 'Upload a file'|trans }}" data-button-submit="{{ 'Upload and run'|trans }}" data-button-cancel="{{ 'Cancel'|trans }}" action="{{ path('pim_importexport_import_launch', { id: jobInstance.id }) }}" {{ form_enctype(form) }}>
    {{ JSFV(form) }}
    {{ elements.form_errors(form) }}
    <div class="row-fluid">
        {{ form_row(form.file) }}
        {{ form_row(form._token) }}
    </div>
</form>
