{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}Akeneo - {% if entity.id > 0 %} {{ "pim.catalogtaxinomy.source.title.edit" | trans }} {% else %} {{ "pim.catalogtaxinomy.source.title.new" | trans }} {% endif %} {% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('pim_catalogtaxinomy_source_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-ui-button-navigation-back"></span>
            <span class="ui-button-text">{{ "bap.navigation.back-list" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="#" onclick="$('#edit-form-submit').click(); return false;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-disk"></span>
            <span class="ui-button-text">{{ "bap.button.save" | trans }}</span>
        </a>
    </li>
{% endblock %}

{% block content %}

    <h1>{% if entity.id > 0 %} {{ "pim.catalogtaxinomy.source.title.edit" | trans }} {% else %} {{ "pim.catalogtaxinomy.source.title.new" | trans }} {% endif %}</h1>

    <div class="form-panel ui-corner-all">
        <h2>{{ "pim.catalogtaxinomy.source.fieldset.general" | trans }}</h2>

        {% form_theme form 'BapUIBundle:Form:fields.html.twig' %}
        <form action="{{ formAction }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input id="edit-form-submit" type="submit" value="{{ "bap.button.save" | trans }}" class="ui-helper-hidden" role="button" aria-disabled="false">
        </form>
    </div>

{% endblock %}
