{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = form.vars.value.id ? 'Edit product segment'|trans : 'Add product segment'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}

{% set parentId %}{{ form.vars.value.parent ? form.vars.value.parent.id : null }}{% endset %}

<form action="{{ form.vars.value.id ?
    path('pim_product_classificationtree_edit', { id: form.vars.value.id, parent: parentId }) :
    path('pim_product_classificationtree_create', { parent: parentId }) }}" method="POST" class="form-register">
    <fieldset>
        <legend>{{ title|trans }}
            <a class="btn btn-primary pull-right" href="{{ path('pim_product_classificationtree_index') }}">
                {{ "Back to list" | trans }}
            </a>
        </legend>

        {{ form_row(form) }}

        <br />

        <div class="form-row">
            <button class="btn btn-large btn-primary" type="submit">{{ 'Save'|trans }}</button>
        </div>
    </fieldset>
</form>
{% endblock %}
