{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Classification tree overview'|trans %}

{% block head_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.tree_selector.js') }}"></script>
    
{% endblock %}

{% block page_container %}
<div class="container-fluid classification">
    {% block content %}
    <div class="row-fluid">
        <div class="span2 tree-sidebar">
            <div id="tree"></div>
            
            <div class="tree-toolbar">
                <button id="tree-create" class="btn btn-mini"><i class="icon-plus-sign"></i></button>
                <button id="tree-edit" class="btn btn-mini"><i class="icon-edit"></i></button>
                <button id="tree-duplicate" class="btn btn-mini"><i class="icon-copy"></i></button>
                <button id="tree-remove" class="btn btn-mini"><i class="icon-trash"></i></button>
            </div>
        </div>
        
        <div id="form-tab" class="span10">
            <h3>{{ title }}</h3>
            
            <div id="list">
                <table id="product_grid" border="1"></table>
            </div>
        </div>
    </div>
    
<script type="text/javascript">
    var assetsPath = "{{ asset('bundles/pimproduct/') }}";
    var tree_id = "#tree";
    var urlListTree = "{{ path('pim_product_classificationtree_listtree', { '_format': 'json' }) }}";
    var urlChildren = "{{ path('pim_product_classificationtree_children', { '_format': 'json' }) }}";
    
    // define action when click on dynamic buttons
    var fctCreate = function() {
        var node = $.jstree._focused().get_selected();
        if(!$.jstree._focused()._get_node()) {
            PimDialog.alert("{{ 'You must select a node' | trans }}", "{{ 'Alert message' | trans }}");
        } else {
            var parentId = node.attr("id").replace('node_', '');
            window.location = "{{ path('pim_product_classificationtree_create') }}/"+parentId;
        }
    }
    var fctRemove = function() {
        if(!$.jstree._focused()._get_node($.jstree._focused().get_selected()) 
            || $.jstree._focused()._get_parent() == -1) {
            PimDialog.alert("{{ 'You must select a node' | trans }}", "{{ 'Alert message' | trans }}");
        } else {
            var doRemove = function() {
                $(tree_id).jstree("remove");
            };
            PimDialog.confirm(
                "{{ 'Are you sure you want to delete this item' | trans }}",
                "{{ 'Delete Confirmation' | trans }}",
                doRemove
            );
        }
    }
    var fctEdit = function() {
        var node = $.jstree._focused().get_selected();
        if(!$.jstree._focused()._get_node(node) || $.jstree._focused()._get_parent() == -1) {
            PimDialog.alert("{{ 'You must select a node' | trans }}", "{{ 'Alert message' | trans }}");
        } else {
            var segmentId = node.attr("id").replace('node_', '');
            window.location = "{{ path('pim_product_classificationtree_edit') }}/"+segmentId;
        }
    }
    // define dynamic buttons
    var btnCreate = '<button id="segment-create" class="btn btn-mini"><i class="icon-plus-sign"></i></button>';
    var btnUpdate = '<button id="segment-edit" class="btn btn-mini"><i class="icon-edit"></i></button>';
    var btnRemove = '<button id="segment-remove" class="btn btn-mini"><i class="icon-trash"></i></button>';
    
    // define buttons actions
    $(".tree-toolbar button").click(function () {
        switch(this.id) {
            case "tree-create":
                window.location = "{{ path('pim_product_classificationtree_create') }}";
                break;
            case "segment-create":
                fctCreate();
                break;
            case "tree-edit":
                var treeId = $.jstree._focused().get_tree_id();
                window.location = "{{ path('pim_product_classificationtree_edit') }}/"+treeId;
                break;
            case "tree-remove":
                PimDialog.alert('Not yet implemented');
                break;
            case "segment-edit":
                fctEdit();
                break;
            case "segment-remove":
                fctRemove();
                break;
            case "segment-duplicate":
                PimDialog.alert('Not yet implemented', '');
                break;
            case "tree-duplicate":
                PimDialog.alert('Not yet implemented', '');
                break;
        }
    });
</script>
<script type="text/javascript" src="{{ asset('bundles/pimproduct/js/tree-management.jstree.js') }}"></script>
{% endblock %}
</div>
{% endblock %}