{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Classification tree overview'|trans %}

{% block head_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.tree_selector.js') }}"></script>
    
{% endblock %}

{% block content %}
    <div id="tree_menu" style="overflow:auto;">
    </div>
    
    <div id="tree">
    </div>

    <!-- JavaScript for the tree -->
    <script type="text/javascript">
        var assetsPath = "{{ asset('bundles/pimproduct/') }}";
    </script>
    <script type="text/javascript" src="{{ asset('bundles/pimproduct/js/classificationtree.jstree.js') }}"></script>
    
    <div id="list">
        <table id="product_grid" border="1">
        </table>
    </div>
{% endblock %}
