{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Classification tree overview'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}

    <h1>{{ title }} 
        <a class="btn btn-primary pull-right" style="margin-left:10px;"
            href="{{ path('pim_product_classificationtree_create') }}">{{ 'New tree'|trans }}</a>
    </h1>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Childs'|trans }}</th>
                <th style="width: 50px">{{ 'Edit'|trans }}</th>
                <th style="width: 50px">{{ 'Remove'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for tree in trees %}
            <tr>
                <td>
                    <a href="{{ path('pim_product_classificationtree_manage', { treeRoot: tree.id }) }}">
                        {{ tree.code }}
                    </a>
                </td>
                <td>{{ tree.title }}</td>
                <td>{{ tree.children|length }}</td>
                <td>
                    <a href="{{ path('pim_product_classificationtree_edit', { id: tree.id }) }}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pim_product_classificationtree_remove', { id: tree.id }) }}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
