<div class="widget-content" id="import-validation">
    <style type="text/css">
        #import-errors {
            display: none;
        }
        #import-errors ol {
            height: 180px;
            overflow: auto;
            padding-left: 25px;
        }
    </style>
    <strong>{{ 'Import validation results'|trans }}</strong>
    <table class="table table-condensed table-hover">
        <thead>
            <th></th>
            <th>
                <div class="pull-right">
                    {{ 'Number of items'|trans }}
                </div>
            </th>
        </thead>
        <tbody>
        <tr>
            <td>{{ 'Records to add'|trans }}</td>
            <td>
                <div class="pull-right">
                    {{ counts.atd|default(0) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>{{ 'Records to replace'|trans }}</td>
            <td>
                <div class="pull-right">
                    {{ counts.replace|default(0) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>{{ 'Records to update'|trans }}</td>
            <td>
                <div class="pull-right">
                    {{ counts.update|default(0) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>{{ 'Records to delete'|trans }}</td>
            <td>
                <div class="pull-right">
                    {{ counts.delete|default(0) }}
                </div>
            </td>
        </tr>

        {% if errors|length > 0 %}
            <tr class="error">
                <td>
                    <a href="javascript: void(0)" class="error-toggle">
                        <i class="icon-expand"></i>
                        {{ 'Total errors'|trans }}
                   </a>
                </td>
                <td>
                    <div class="pull-right">
                        {{ errors|length }}
                    </div>
                </td>
            </tr>
        {% endif %}

        <tr class="info">
            <td><strong>{{ 'Total number of records'|trans }}</strong></td>
            <td>
                <div class="pull-right">
                    {{ counts.read|default(0) }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    {% if errors|length > 0 %}
    <div id="import-errors">
        <ol>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ol>
        <div class="clearfix">
            <div class="pull-right">
                <a href="javascript:void(0);" class="error-toggle">{{ 'Hide'|trans }}</a>
                <a href="{{ errorsUrl }}" target="_blank" class="btn btn-small"><i class="icon-download-alt"></i>{{ 'Download log'|trans }}</a>
            </div>
        </div>
    </div>
    {% endif %}

    <script type="text/javascript">
        require(['jquery', 'oro/widget-manager', 'oro/messenger'],
        function($, WidgetManager, Messanger) {
            var container = $('#import-validation');
            var toggleErrors = function(e) {
                e.preventDefault();
                $('#import-errors').toggle();
                var errorTr = container.find('tr.error');
                var icon = errorTr.find('i');
                if (icon.hasClass('icon-collapse')) {
                    icon.removeClass('icon-collapse');
                    icon.addClass('icon-expand');
                } else {
                    icon.removeClass('icon-expand');
                    icon.addClass('icon-collapse');
                }
                container.find('tr:not(.error)').toggle();
            };
            container.find('.error-toggle').on('click', toggleErrors);

            WidgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                var backAction = $('<button type="button" class="btn">{{ 'Back'|trans }}</button>');
                backAction.on('click', function(e) {
                    widget.setUrl({{ path('oro_importexport_import_form', {entity: entityName})|json_encode|raw }});
                    widget.loadContent();
                });
                widget.addAction('back', backAction, 'adopted');

                {% if isSuccessful %}
                    var importAction = $('<button type="button" class="btn btn-primary">{{ 'Import'|trans }}</button>');
                    importAction.on('click', function(e) {
                        Messanger.notificationFlashMessage(
                            'info',
                            {{ 'Import started, please wait...'|trans|json_encode|raw }}
                        );

                        widget.trigger('beforeContentLoad', widget);
                        $.getJSON({{ path('oro_importexport_import_process', {processorAlias: processorAlias})|json_encode|raw }}, function(data) {
                            widget.trigger('contentLoad', '', widget);
                            widget.trigger('importComplete', data);
                            var message = data.message;
                            if (!data.success && data.errorsUrl) {
                                var link = '<a target="_blank" href="' + data.errorsUrl + '">{{ 'Download error log'|trans}}</a>';
                                message += ' ' + link;
                            }
                            Messanger.notificationFlashMessage(data.success ? 'success' : 'error', data.message);
                            widget.remove();
                        }).fail(function() {
                            Messanger.notificationFlashMessage('error', {{ 'Import process failed'|trans|json_encode|raw }});
                            widget.trigger('contentLoad', '', widget);
                        });

                    });
                    widget.addAction('import', importAction, 'adopted');
                {% endif %}
            });
        });
    </script>
</div>
