{% block oro_acl_label_widget %}
    <strong>{{ value }}</strong>
{% endblock %}

{% block oro_acl_object_name_widget %}
    {{ form_widget(form.oid) }}
    {{ form_widget(form.name) }}
{% endblock %}

{% block oro_acl_collection_widget %}
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>
                {% trans %}Entity{% endtrans %}
            </th>
            {% for field in privileges_config %}
                <th>
                    {{ field|trans }}
                </th>
            {% endfor %}
        </tr>
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block oro_acl_privilege_widget %}
     {% spaceless %}
         <tr>
             <td>
                 {{ form_widget(form.identity) }}
             </td>
             {{ form_widget(form.permissions) }}
         </tr>
     {% endspaceless %}
{% endblock %}

{% block oro_acl_permission_widget %}
    {{ form_widget(form.accessLevel) }}
    {{ form_widget(form.name) }}
{% endblock %}

{% block oro_acl_permission_collection_widget %}
    {% for field in privileges_config %}
        <th>
            {% for permission in form %}
                {% if permission.vars.value.name == field %}
                    {{ form_widget(permission) }}
                {% endif %}
            {% endfor %}
        </th>
    {% endfor %}
{% endblock %}
