{% block oro_acl_access_level_selector_widget %}
    <div class="access_level_value"
         data-identity="{{ identity }}"
         data-selector-id="{{ id }}"
         data-selector-name="{{ full_name }}"
         data-value="{{ value }}"
    >
        <div class="access_level_value_link">
            <a href="javascript:void(0);">
                {% if level_label %}
                    {% set label = 'oro.security.access-level.' ~ level_label %}
                    {{ label|trans({}, translation_domain) }}
                {% else %}
                    {{ 'oro.security.access-level.NONE'|trans({}, translation_domain) }}
                {% endif %}
            </a>
            {% set type = type|default('hidden') %}
            {{ block('form_widget_simple') }}
        </div>
        <div class="access_level_value_choice" style="display: none"></div>
    </div>
{% endblock %}

{% block oro_acl_label_widget %}
    <strong>{{ value|trans }}</strong>
{% endblock %}

{% block oro_acl_object_name_widget %}
    {{ form_widget(form.oid) }}
    {{ form_widget(form.name) }}
{% endblock %}

{% block oro_acl_collection_widget %}
    {% if privileges_config.view_type == 'grid' %}
        <table class="table table-striped acl-table">
            <tbody>
            <tr>
                <th>
                    &nbsp;
                </th>
                {% set width = ((100/(privileges_config['permissions']|length + 1))-1)|number_format(0) %}
                {% for field in privileges_config['permissions'] %}
                    <th width="{{ width }}%">
                        {{ field|trans }}
                    </th>
                {% endfor %}
            </tr>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% for child in form %}
            <div class="security-row">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block oro_acl_privilege_widget %}
     {% spaceless %}
         <tr {% if form.vars.value.identity.name == "(default)" %}class="default-field"{% endif %}>
             <td>
                 {{ form_widget(form.identity) }}
             </td>
             {{ form_widget(form.permissions) }}
         </tr>
     {% endspaceless %}
{% endblock %}

{% block oro_acl_permission_widget %}
    {{ form_widget(form.accessLevel) }}
    {{ form_widget(form.name) }}
{% endblock %}

{% block oro_acl_permission_collection_widget %}
    {% for field in privileges_config['permissions'] %}
        <td>
            {% for permission in form %}
                {% if permission.vars.value.name == field %}
                    {{ form_widget(permission) }}
                {% endif %}
            {% endfor %}
            &nbsp;
        </td>
    {% endfor %}
{% endblock %}
