{% extends 'OroUIBundle:Form:fields.html.twig' %}

{% block oro_region_widget %}
    {# // check if block was not included yet #}
    {% set _block = block('oro_region_updater_js') %}
    {% if (_block is empty) %}
        {% include 'OroAddressBundle:Include:javascript.html.twig' %}
        {{ block('oro_region_updater_js')|raw }}
    {% endif %}

    {% if country_field is not defined or country_field is empty %}
        {% set country_field = "#" ~ id|replace({'_state': '_country'}) %}
    {% endif %}

    {% if state_text_field is not defined or state_text_field is empty %}
        {% set state_text_field = "#" ~ id ~ "_text" %}
    {% endif %}

    {{ form_widget(form) }}

    <script type="text/javascript">
        $(function() {
            var regions = new Oro.RegionUpdater.Collection();

            var regionView = new Oro.RegionUpdater.View({
                el: $('{{ country_field }}'),
                target: $('#{{ id }}'),
                simpleEl: $('{{ state_text_field }}'),
                collection: regions,
                showSelect: {{ (choices is not empty)|json_encode }}
            });
        });
    </script>

    <style type="text/css">
        {% if choices %}
            #{{ id }} {
                display: block;
            }

            {{ state_text_field }} {
                display: none;
            }
        {% else %}
            #{{ id }} {
                display: none;
            }

            {{ state_text_field }} {
                display: block;
            }
        {% endif %}
    </style>
{% endblock oro_region_widget %}

{% block oro_address_widget %}
    {{ form_row(form.label) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.street) }}
    {{ form_row(form.street2) }}
    {{ form_row(form.city) }}
    {{ form_row(form.state_text) }}
    {{ form_row(form.state) }}
    {{ form_row(form.country) }}
    {{ form_row(form.postalCode) }}
{%  endblock oro_address_widget %}

{% macro address_collection_prototype(widget) %}
    {% if widget.get('prototype') %}
        {% set form = widget.get('prototype') %}
        {% set name = widget.get('prototype').get('name') %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.get('full_name') %}
    {% endif %}
    <div data-content="{{ name }}">
        <div class="row-oro oro-multiselect-holder">
            {{ form_errors(form) }}
            {{ form_row(form.id) }}
            {{ form_row(form.types) }}
            {{ form_row(form.primary) }}
            {{ block('oro_address_widget') }}
            <button class="removeRow btn btn-action btn-link" type="button" data-related="{{ name }}">×</button>
        </div>
    </div>
{% endmacro %}

{% block oro_address_collection_widget %}
    {% spaceless %}
        <div class="row-oro">
            <div class="collection-fields-list" id="{{ id }}_collection" data-prototype="{{ _self.address_collection_prototype(form)|escape }}">
                {% for field in form.children %}
                    {{ _self.address_collection_prototype(field) }}
                {% endfor %}
            </div>
            <a class="btn add-list-item" href="javascript: void(0);"><i class="icon-plus"></i>{{ 'Add'|trans }}</a>
        </div>
        <script type="text/javascript">
            $(function() {
                var container = $('#{{ id }}_collection');
                /**
                 * Allow only 1 primary checkbox to be checked.
                 * This logic convert checkbox logic to logic used in radiobutton
                 */
                container.on('click', '[name$="[primary]"]', function() {
                    container.find('[name$="[primary]"]').each(function (idx, el) {
                        el.checked = false;
                    });
                    this.checked = true;
                });

                /**
                 * Allow only 1 address with selected type
                 */
                container.on('click', '[name$="[types][]"]', function() {
                    if (this.checked) {
                        container.find('[name$="[types][]"][value="' + this.value + '"]').each(function (idx, el) {
                            el.checked = false;
                        });
                        this.checked = true;
                    }
                });
            });
        </script>
    {% endspaceless %}
{%  endblock oro_address_collection_widget %}
