{% macro renderAddress(address) %}
    {% import _self as __ %}

    {% set fields = [
        {label: "Label", data: "label"},
        {label: "First name", data: "firstName"},
        {label: "Last name", data: "lastName"},
        {label: "Street", data: "street"},
        {label: "Street 2", data: "street2"},
        {label: "City", data: "city"},
        {label: "State", data: "universalState"},
        {label: "Country", data: "country"},
        {label: "Zip/postal code", data: "postalCode"}
    ] %}

    {{ __.renderAddressView(address, fields) }}
{% endmacro %}

{% macro renderAddressView(address, fields, renderFlexibleAttributes) %}
    {# Render flexible attributes by default #}
    {% set renderFlexibleAttributes = renderFlexibleAttributes|default(true) %}

    {# Render static attributes #}
    {% for field in fields %}
        {{ block('addressStaticAttribute') }}
    {% endfor %}

    {# Render flexible attributes #}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% for value in address|getAttributes() %}
        {{ UI.flexibleAttributeRow(value) }}
    {% endfor %}
{% endmacro %}

{% block addressStaticAttribute %}
    {% set defaultValue = field.defaultValue|default('N/A') %}
    {% set value = field.value is defined ? field.value : attribute(address, field.data) %}
    <div class="control-group">
        <label class="control-label">{{ field.label|trans|title }}</label>
        <div class="controls">
            <div class="clearfix-oro">
                <p class="control-label">{{ value|default(defaultValue) }}</p>
            </div>
        </div>
    </div>
{% endblock addressStaticAttribute %}
