{% extends 'PimConfigBundle::layout.html.twig' %}

{% set title = form.vars.value.id ? 'Edit currency'|trans : 'Add currency'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}
    <form action="{{ form.vars.value.id ? 
        path('pim_config_currency_edit', { id: form.vars.value.id }) : 
        path('pim_config_currency_create') }}" method="POST" class="form-register">

        <fieldset>
            <legend>
                {{ title }} 
                <a class="btn btn-primary pull-right" href="{{ path('pim_config_currency_index') }}">
                    {{ "Back to list" | trans }}
                </a>
            </legend>
            
            {% if form.vars.errors|length %}
                <div class="alert alert-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            
            {{ form_row(form.id) }}
            
            {{ form_row(form.code) }}
            
            {{ form_row(form.activated) }}
            
            {{ form_row(form._token) }}
            
            <br />
            <div class="form_row">
                <button class="btn btn-large btn-primary" type="submit">{{ 'Save'|trans }}</button>
            </div>
    
        </fieldset>
    
    </form>

{% endblock %}
