{% extends bap.layout is defined ? bap.layout : 'ConfigBundle::layout.bootstrap.html.twig' %}

{% block content %}

    <h1>{{ 'Currencies overview'|trans }}
        <a class="btn btn-primary pull-right" 
            href="{{ path('pim_config_currency_create') }}">{{ 'New currency'|trans }}</a>
    </h1>
    
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <th>{{ 'Activated'|trans }}</th>
                <th style="width: 50px">{{ 'Edit'|trans }}</th>
                <th style="width: 50px">{{ 'Disable'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for currency in currencies %}
            <tr>
                <td>
                    <a href="{{ path('pim_config_currency_edit', { id: currency.id }) }}">{{ currency.code }}</a>
                </td>
                <td>{{ currency.activated }}</td>
                <td>
                    <a href="{{ path('pim_config_currency_edit', { id: currency.id }) }}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pim_config_currency_disable', { id: currency.id }) }}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
