<ul>
{% for fieldKey, fieldValue in value %}
    {% if fieldKey == 'auditData' %}
        {% if fieldValue.new|length %}
        {% for collKey, collValue in fieldValue.new %}
    <li>
        <strong>{{ collKey }}:</strong> {{ collValue|attribute_option_presenter(collKey) }}
    </li>
        {% endfor %}
        {% endif %}
    {% else %}
    <li>
        <strong>{{ fieldKey }}:</strong>
        {% if fieldValue.new.timestamp is defined %}
            {{ fieldValue.new|datetime_presenter }}
        {% else %}
            {{ fieldValue.new|attribute_option_presenter(fieldKey) }}
        {% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>
