<p>
    Akeneo successfully completed your batch {{ jobExecution.jobInstance.type }}.<br/>
    <br/>
    Started on {{ jobExecution.startTime|date("Y-m-d") }} at {{ jobExecution.startTime|date("H:i:s") }}.<br/>
    Ended on {{ jobExecution.endTime|date("Y-m-d") }} at {{ jobExecution.endTime|date("H:i:s") }}.<br/>
</p>

<p>
    Results:<br/>
    <ul>
        {% for stepExecution in jobExecution.stepExecutions %}
            <li>
                {{ stepExecution.stepName|trans }} [{{ stepExecution.status }}]
                {{ 0 < stepExecution.warnings|length ? 'With ' ~ stepExecution.warnings|length ~ ' warning(s)' : '' }}
            </li>
        {% endfor %}
    </ul>
</p>

<p>
{% if akeneo_pim_url is not empty %}
    You can view full summary page in the
    <a href="{{ akeneo_pim_url }}/#{{ path('pim_enrich_job_tracker_show', {'id': jobExecution.id}) }}">Process Tracker</a>.
{% else %}
    You should set the AKENEO_PIM_URL environment variable to have a link to the Process Tracker
{% endif %}
</p>

<p>
    -- <br/>
    Akeneo Batch<br/>
</p>
