{% block user_menu %}
    {% if app.user %}
        <li class="dropdown">
            <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.fullname(oro_config_value('oro_user.name_format')) }} <b class="caret"></b></a>
            {{ oro_menu_render('usermenu') }}
        </li>
    {% else %}
        <li><a href="{{ path('oro_user_security_login') }}">Login</a></li>
    {% endif %}
{% endblock user_menu %}

{% block application_menu %}
    {{ oro_menu_render('application_menu') }}
{% endblock application_menu %}
{% block pin_button %}
    <div id="pin-button-div" {% if app.request.attributes.get('_route') == bap.start_route %}style="display: none"{% endif %}>
        {{ block('top_action_box') }}
    </div>
{% endblock pin_button %}
{% block pin_bar %}
    {{ oro_menu_render('dots_menu') }}
{% endblock pin_bar %}

{% block searchbar %}
        {% render "OroSearchBundle:Search:searchBar" with {'searchString':app.request.get('search'), 'fromString':app.request.get('from')} %}
{% endblock searchbar %}

{% block head_script_component %}
    {% include 'OroWindowsBundle:Include:javascript.html.twig' %}

    {% include 'OroNavigationBundle:Js:dot.menu.js.twig' %}
    {% include 'OroNavigationBundle:Js:pinbar.js.twig' %}

    {% javascripts
    '@OroNavigationBundle/Resources/public/js/models/navigation.item.js'
    '@OroNavigationBundle/Resources/public/js/collections/navigation.js'
    '@OroNavigationBundle/Resources/public/js/views/navigation.abstract.js'
    '@OroNavigationBundle/Resources/public/js/views/dot.menu.item.js'
    '@OroNavigationBundle/Resources/public/js/views/dot.menu.js'

    '@OroNavigationBundle/Resources/public/js/models/pinbar.item.js'
    '@OroNavigationBundle/Resources/public/js/models/pagestate.js'

    '@OroNavigationBundle/Resources/public/js/collections/pinbar.js'
    '@OroNavigationBundle/Resources/public/js/views/pinbar.item.js'
    '@OroNavigationBundle/Resources/public/js/views/pinbar.js'
    '@OroNavigationBundle/Resources/public/js/views/pagestate.js'

    '@OroNavigationBundle/Resources/public/js/views/favorites.js'
    '@OroNavigationBundle/Resources/public/js/views/shortcuts.js'

    '@OroUserBundle/Resources/public/js/status.js'

    '@OroSearchBundle/Resources/public/js/searchBar.js'

    '@PimUIBundle/Resources/public/js/pim_all.js'
    '@PimUIBundle/Resources/public/js/select2.js'
    '@PimUIBundle/Resources/public/js/jquery-ui-1.10.0.min.js'
    '@PimUIBundle/Resources/public/js/sidebarize.js'
    '@PimUIBundle/Resources/public/js/wysihtml5-0.3.0.js'
    '@PimUIBundle/Resources/public/js/bootstrap-wysihtml5.js'
    '@PimUIBundle/Resources/public/js/slimbox2.js'
    '@PimUIBundle/Resources/public/js/jquery.dialogForm.js'
    '@PimUIBundle/Resources/public/js/pim-dialog.js'
    '@PimUIBundle/Resources/public/js/pim-ajax.js'
    '@PimUIBundle/Resources/public/js/scopableField.js'
    '@PimUIBundle/Resources/public/js/currencyField.js'
    '@PimUIBundle/Resources/public/js/unsafe-method-link.js'

    filter='yui_js'
    output='js/oroapp.all.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        navigation.Item.prototype.urlRoot = {{ path('oro_api_get_navigationitems', {'type': ''})|json_encode|raw }};
    </script>
{% endblock %}


{% block head_style_component %}
    {% stylesheets

        'bundles/pimui/css/pim.less'
        'bundles/pimui/css/bootstrap-datetimepicker.min.css'
        'bundles/pimui/css/select2.css'
        'bundles/pimui/css/bootstrap-wysihtml5.css'
        'bundles/pimui/css/slimbox2.css'

        debug=true
        filter='cssrewrite, lessphp, yui_css'
        output='css/akeneo.pim.css'
        %}
        <link rel="stylesheet" media="all" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block top_action_box %}
    <div class="navigation clearfix">
        <div class="container-fluid">
            <div class="top-action-box">
                <div class="btn-group icons-holder icons-small">
                    <button class="btn minimize-button" data-title="{{ oro_title_render_serialized() }}" title="{{ 'Minimize the window to the pinbar'|trans }}"><i class="icon-minimize hide-text">minimaze tab</i></button>
                    {# <button class="btn maximize-button"><i class="icon-fullscreen hi1de-text">full screen</i></button> #}
                    <button class="btn favorite-button" data-title="{{ oro_title_render_serialized() }}" title="{{ 'Add this page to favorites'|trans }}"><i class="icon-star hide-text">favorites</i></button>
                    <button class="btn close-button" title="{{ 'Close page'|trans }}"><i class="icon-remove hide-text">Close</i></button>
                </div>
            </div>
        </div>
    </div>
{% endblock top_action_box %}
{% block shortcuts %}
    {{ oro_menu_render('shortcuts', {source: path('oro_api_get_shortcuts', {query: ''}), details: path('oro_shortcut_actionslist')}) }}
{% endblock shortcuts %}