{% extends 'PimEnrichBundle:MassEditAction:layout.html.twig' %}

{% block content %}
    {% set title %}
        {{ title|default('title')|trans }} /
        {{ subtitle|transchoice(itemsCount) }}
    {% endset %}

    {{ elements.page_header(title) }}

    {{ parent() }}

    {{ form_start(form, { 'action': '#' ~ path(actionPath, queryParams) }) }}

        <div class="AknWidget">
            <div class="AknWidget-header">
                {{ subtitle|transchoice(itemsCount) }}
            </div>
            <div class="AknWidget-content AknWidget-content--withPadding">
                {{ form_widget(form.operationAlias) }}
                <div class="AknButtonList AknButtonList--right configuration">
                    {{ elements.link('btn.cancel', '#' ~ path(canceledPath), {icon: 'chevron-left', class: 'AknButtonList-item btn-cancel'}) }}
                    {{ elements.submitBtn('btn.next', 'chevron-right', 'AknButtonList-item') }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block head_script_component %}
    {% set currentStep = 2 %}
    {{ parent() }}
{% endblock %}
