{% extends 'PimEnrichBundle:MassEditAction:layout.html.twig' %}

{% block content %}
    {{ elements.page_header(title|trans, null, subtitle|transchoice(itemsCount)) }}

    {{ parent() }}

    <div class="row">
        <div class="offset1">
            <h3>{{ title|default('title')|trans }}</h3>
            <h4>{{ subtitle|default('subtitle')|transchoice(itemsCount) }}</h4>
        </div>
    </div>

    {{ form_start(form, { 'action': path(actionPath, queryParams) }) }}

        <div class="row">
            <div class="offset1">
                {{ form_widget(form.operationAlias) }}
            </div>
        </div>

        <div class="row buffer-top">
            <div class="offset1 configuration">
                {{ elements.link('btn.cancel', path(canceledPath), {icon: 'chevron-left', class: 'btn-cancel'}) }}
                {{ elements.submitBtn('btn.next','chevron-right') }}
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}

{% block head_script_component %}
    {% set currentStep = 2 %}
    {{ parent() }}
{% endblock %}
