{% extends 'PimEnrichBundle:MassEditAction:layout.html.twig' %}

{% block content %}
    {% set title = 'pim_catalog.mass_edit_action.page_title'|trans %}
    {% set subtitle = 'pim_catalog.mass_edit_action.page_subtitle'|transchoice(productIds|length) %}
    {{ elements.page_header(title, null, subtitle) }}

    {{ parent() }}

    <div class="row">
        <div class="offset1">
            <h3>{{ 'pim_catalog.mass_edit_action.title'|trans }}</h3>
            <h4>{{ 'pim_catalog.mass_edit_action.subtitle'|transchoice(productIds|length) }}</h4>
        </div>
    </div>

    {{ form_start(form, { 'action': path('pim_enrich_mass_edit_action_choose', { 'products': productIds }) }) }}

        <div class="row">
            <div class="offset1">
                {{ form_widget(form.operationAlias) }}
            </div>
        </div>

        <div class="row buffer-top">
            <div class="offset1">
                {{ elements.link('btn.cancel', path('pim_enrich_product_index')) }}
                {{ elements.submitBtn('btn.next') }}
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}

{% block head_script_component %}
    {% set currentStep = 2 %}
    {{ parent() }}
{% endblock %}
