{% extends 'PimEnrichBundle:MassEditAction:layout.html.twig' %}

{% block content %}
    {% set title %}
        {{ title|default('title')|trans }} /
        {{ subtitle|default('subtitle')|transchoice(itemsCount) }}
    {% endset %}

    {{ elements.page_header(title) }}

    {{ parent() }}

    {{ JSFV(form) }}
    {{ form_start(form, {'attr': {'class': 'span12 '~operationAlias}, 'action': path(performRoute, queryParams|merge({ 'operationAlias': operationAlias })) }) }}

        <div class="AknWidget">
            <div class="AknWidget-header">
                <div>
                    {{ ('pim_enrich.mass_edit_action.' ~ operationAlias ~ '.label')|trans }}
                </div>
                <div>
                    {% block formTitle %}{% endblock %}
                </div>
            </div>
            <div class="AknWidget-subTitle">
                {% block formDescription %}
                    {{ ('pim_enrich.mass_edit_action.' ~ operationAlias ~ '.description')|trans }}
                {% endblock %}
            </div>
            <div class="AknWidget-content">
                <div class="AknMessageBox AknMessageBox--hide confirmation">
                    {{ confirmLabel|default('confirm')|transchoice(itemsCount) }}
                </div>
                <div class="errors">
                    {{ elements.form_errors(form) }}
                </div>
                {% block formContent %}
                {% endblock %}
            </div>
            <div class="AknWidget-footer">
                <div class="AknButtonList AknButtonList--right configuration">
                    {{ elements.link(
                        'btn.back',
                        path(backButtonRoute, queryParams),
                        {'class': 'btn-cancel AknButtonList-item', 'icon': 'chevron-left'}
                    ) }}
                    {{ elements.link(
                        'btn.next',
                        null,
                        {'class': ['next btn-next AknButton--apply AknButtonList-item'], 'icon': 'chevron-right'}
                    ) }}
                </div>

                <input type="hidden" name="itemIds" value="" class="pim-hidden-form-input" />

                <div class="AknButtonList AknButtonList--right confirmation AknButtonList--hide">
                    {{ elements.link(
                        'btn.cancel',
                        null,
                        {'class': 'cancel btn-cancel AknButtonList-item', 'icon': 'chevron-left'}
                    ) }}
                    {{ elements.submitBtn(
                        'btn.confirm',
                        'ok',
                        'AknButtonList-item'
                    ) }}
                </div>
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}

{% block head_script_component %}
    {% set currentStep = 3 %}
    {{ parent() }}

    {% set action = path(configureRoute, queryParams|merge({ 'operationAlias': operationAlias })) %}
    <script type="text/javascript">
        require(
            ['jquery', 'oro/mediator', 'wysiwyg', 'jquery.wizard', 'jquery.select2', 'bootstrap.bootstrapswitch', 'jquery.multiselect'],
            function ($, mediator, wysiwyg) {
                'use strict';

                $(function () {
                    var disableForm = function() {
                        $('form').addClass('disabled-fields');

                        // Disable common fields
                        $('input, select, textarea').each(function() {
                            $(this).prop('readonly', true);
                        });

                        // Disable select2
                        $('select').select2('readonly', true);

                        // Disable multiselect
                        $('select.pimmultiselect').multiselect('disable');

                        // Disable switcher
                        $('.has-switch').bootstrapSwitch('setActive', false);

                        // Trigger jstree lock
                        mediator.trigger('jstree:lock');

                        // Trigger mass edit form lock
                        mediator.trigger('mass-edit:form:lock');

                        // Disable wysiwyg
                        $('textarea.wysiwyg[id]').each(function () {
                            wysiwyg.readonly($(this), true);
                        });

                        {% block disableFormScript %}
                        {% endblock %}
                    }

                    var enableForm = function() {
                        $('form').removeClass('disabled-fields');

                        // Enable common fields
                        $('input, textarea').each(function() {
                            $(this).prop('readonly', false);
                        });

                        // Enable select2
                        $('select').select2('readonly', false);

                        // Enable multiselect
                        $('select.pimmultiselect').multiselect('enable');

                        // Enable switcher
                        $('.has-switch').bootstrapSwitch('setActive', true);

                        // Trigger jstree unlock
                        mediator.trigger('jstree:unlock');

                        // Trigger mass edit form unlock
                        mediator.trigger('mass-edit:form:unlock');

                        // Enable wysiwyg
                        $('textarea.wysiwyg[id]').each(function () {
                            wysiwyg.readonly($(this), false);
                        });

                        {% block enableFormScript %}
                        {% endblock %}
                    };

                    $('select.operation-param').change(function () {
                        $('#{{ form.vars.id }}').attr('action', '{{ action|raw }}').submit();
                    });

                    /**
                     * Confirmation
                     */
                    $('a.next').on('click', function() {
                        $('.wizard').wizard({ currentStep: {{ nextStepNumber|default(4) }} });
                        disableForm();
                        $('.configuration').addClass('AknButtonList--hide');
                        $('.AknButtonList.confirmation').removeClass('AknButtonList--hide');
                        $('.AknMessageBox.confirmation').removeClass('AknMessageBox--hide');
                    });

                    $('a.cancel').on('click', function() {
                        $('.wizard').wizard({ currentStep: {{ previousStepNumber|default(3) }} });
                        enableForm();
                        $('.configuration').removeClass('AknButtonList--hide');
                        $('.AknButtonList.confirmation').addClass('AknButtonList--hide');
                        $('.AknMessageBox.confirmation').addClass('AknMessageBox--hide');
                    });

                    var itemIds = JSON.parse(localStorage.getItem('mass_action.itemIds')).join(',');
                    $('input.pim-hidden-form-input[name="itemIds"]').val(itemIds)
                });
            }
        );
    </script>
{% endblock %}
