{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block content %}
    <div class="row wizard-header">
        <ul class="wizard">
            {% spaceless %}
            <li>{{ ('pim_enrich.mass_edit_action.' ~ operator.name ~  '.steps.first')|trans }}</li>
            <li>{{ ('pim_enrich.mass_edit_action.' ~ operator.name ~  '.steps.second')|trans }}</li>
            <li>{{ ('pim_enrich.mass_edit_action.' ~ operator.name ~  '.steps.third')|trans }}</li>
            <li>{{ ('pim_enrich.mass_edit_action.' ~ operator.name ~  '.steps.fourth')|trans }}</li>
            {% endspaceless %}
        </ul>
    </div>
{% endblock %}

{% block head_script_component %}

    <script type="text/javascript" charset="utf-8">
        require(
            ['jquery', 'jquery.wizard'],
            function($) {
                $(function() {
                    $('.wizard').wizard({
                        currentStep: {{ currentStep }}
                    });
                });
            }
        );
    </script>

{% endblock %}
