{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block content %}
    <div class="row wizard-header">
        <ul class="wizard">
            <li>{{ 'Choose products'|trans }}</li><li>{{ 'Choose operation'|trans }}</li><li>{{ 'Configure'|trans }}</li><li>{{ 'Confirm'|trans }}</li>
        </ul>
    </div>
{% endblock %}

{% block head_script_component %}

    <script type="text/javascript" charset="utf-8">
        require(
            ['jquery', 'jquery.wizard'],
            function($) {
                $(function() {
                    $('.wizard').wizard({
                        currentStep: {{ currentStep }}
                    });
                });
            }
        );
    </script>

{% endblock %}
