{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}Akeneo - {{ "pim.catalogtaxinomy.locale.title.list" | trans }}{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('pim_catalogtaxinomy_locale_new') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-plus"></span>
            <span class="ui-button-text">{{ "pim.catalogtaxinomy.locale.button.new" | trans }}</span>
        </a>
    </li>
{% endblock %}

{% block content %}

    <h1>{{ "pim.catalogtaxinomy.locale.title.list" | trans }}</h1>

    {{ grid(grid) }}

{% endblock %}
