{% extends 'BapUIBundle::layout.html.twig' %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pimui/css/main-pim.css') }}" />
{% endblock %}

{% block title %}Akeneo - {% endblock %}

{% block header %}
    <div id="header" class="ui-corner-bl ui-corner-br">
        <a class="logo" href="{{ path('_welcome') }}">
            <img src="{{ asset('bundles/pimui/images/logo-akeneo.gif') }}" alt="Akeneo logo" />
        </a>
        {{ parent() }}
    </div>
{% endblock %}

{% block main_menu %}{{ parent() }}{% endblock %}

{% block footer %}
    <p><em>
        The future of catalog management is open ! {% trans %}pim.footer.akeneo.copyright{% endtrans %}.
    </em></p>
{% endblock %}
