{% extends 'OroProductBundle::layout.html.twig' %}

{% block content %}

    <table class="mytable">
        <tr>
            <td>Id</td><td>Code</td><td>Title</td><td>Type</td><td>Translatable</td><td>Created</td><td>Updated</td>
        </tr>
    {% for attribute in attributes %}
        <tr>
            <td>{{ attribute.id }}</td><td>{{ attribute.code }}</td><td>{{ attribute.title }}</td><td>{{ attribute.attributeType }}</td><td>{{ attribute.translatable }}</td>
            <td>{{ attribute.created|date('Y-m-d h:i:s') }}</td><td>{{ attribute.updated|date('Y-m-d h:i:s') }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}