{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}{{ parent() }} Manage products{% endblock %}

{% block content %}

    <table class="grid">
        <thead>
          <tr>
            <th>Id</th>
            <th>Sku</th>
            <th>Name</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for product in products %}
          <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}">
            <td>{{product.id}}</td>
            <td>{{product.sku}}</td>
            <td>{{product.values.name}}</td>
            <td>{{product.attributeSetCode}}</td>
            <td>
                <a href="{{ path('strixos_catalog_product_edit', {'id': product.id }) }}">Edit</a> 
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
