{% extends 'StrixosCatalogBundle::layout.html.twig' %}

{% block title %}StrixOS - Test searches{% endblock %}

{% block content_header '' %}

{% block content_header_more %}
    <li><a class="symfony-button-green" href="{{ path('strixos_catalog_default_index') }}">Back to home</a></li>
    <!--<li><a class="symfony-button-green" href="{{ path('strixos_catalog_default_index') }}">New product</a></li>-->
{% endblock %}
                
{% block content %}

    <table class="grid">
        <thead>
          <tr>
            <th>Description</th>
            <th>Time</th>
            <th>Memory</th>
            <th>Nb Results</th>
          </tr>
        </thead>
        <tbody>
        {% for search in searches %}
          <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}">
            <td>{{search.description}}</td>
            <td>{{search.time}}</td>
            <td>{{search.memory}}</td>
            <td>{{search.results}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
