{% extends bap.layout %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set gridName = 'search-grid' %}


{% oro_title_set({ params: { '%keyword%': searchString } }) %}

{% block page_container %}
    {% block content %}
    <div class="container-fluid search-header clearfix">
        <h2>
            {% trans %}Search results{% endtrans %}
        </h2>
        <form method="get" action="{{ path('oro_search_results') }}" class="form-inline search-form">
            <input type="hidden" name="from" value="" />
            <input type="text" id="search" class="span2 search" name="search" value="{{ searchString }}" />
            <button type="submit" class="btn btn-search btn-primary">{{ 'Search'|trans }}</button>
        </form>
    </div>

        {% if '' in groupedResults|keys and groupedResults[''].count > 0 or groupedResults|length > 1 %}
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="search-entity-types-column">
                    {% for alias, type in groupedResults %}
                        {% set config = oro_config_entity(type.class) %}
                        {% set selected, label, iconClass = alias == from, config.name|trans({}, 'config'), config.icon_class %}

                        {% if alias == '' %}
                            {% set label, iconClass = 'All', 'icon-search' %}
                        {% endif %}

                        <div class="entity-type{% if selected %} selected{% endif %}">
                            <i class="{{ iconClass }}"></i>
                            {% if selected %}
                            {{ label|trans }} ({{ type.count }})
                            <div class="arrow"><i class="icon-chevron-right"></i></div>
                            {% else %}
                            <a href="{{ path('oro_search_results', { from: alias, search: searchString }) }}">
                                {{ label|trans }} ({{ type.count }})
                            </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td class="search-results-column">
                    <div id="search-result-grid">
                        {{ dataGrid.renderGrid(gridName, {from: from, search: searchString}, { cssClass: 'search-grid' }) }}
                    </div>
                </td>
            </tr>
        </table>
        {% else %}
        <div class="search-no-results">
            {% trans %}No results were found to match your search.{% endtrans %}
            <br />
            {% trans %}Try modifying your search criteria or creating a new ...{% endtrans %}
        </div>
        {% endif %}
    {% endblock %}
{% endblock %}
