{% macro createBtn(entity, url, attr, acl, icon) %}
{% spaceless %}
    {% if acl is null or resource_granted(acl) %}
        {% if attr == 'dialog' %}
            {% set buttonId = 'create-'~(entity|replace({' ': '-', '.': '-'})|lower) %}
            {% set attr = { 'id': buttonId, 'data-form-url': url } %}
            {% set url = null %}
        {% endif %}
        {% set title = ('btn.create.' ~ entity)|trans|capitalize %}
        <a class="AknButton AknButton--apply{% if attr.class is defined %} {{ attr.class }}{% endif %} {% if icon %} AknButton--withIcon {% endif %}" href="{{ url ? '#' ~ url : 'javascript:void(0);' }}" title="{{ title }}"{% if attr %}{% for key, value in attr %}{% if key != 'class' %} {{ key }}="{{ value }}"{% endif %}{% endfor %}{% endif %}>
        {% if icon %}
            <i class="AknButton-icon icon-{{ icon }}"></i>
          {% endif %}
          {{ title }}
        </a>
        {% if buttonId is defined %}
            <script type="text/javascript">
                require(
                    ['jquery', 'pim/dialogform'],
                    function ($, DialogForm) {
                        'use strict';
                        $(function() {
                            new DialogForm('#{{ buttonId }}');
                        });
                    }
                );
            </script>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro submitBtn(text, icon, class = '') %}
{% spaceless %}
    {% set text = text|default('btn.save')|trans|capitalize %}
    <button type="submit" class="AknButton AknButton--apply AknButton--withIcon {{ class }}" title="{{ text }}">
        {% if icon %}
            <i class="AknButton-icon icon-{{ icon }}"></i>
        {% endif %}
        {{ text }}
    </button>
{% endspaceless %}
{% endmacro %}

{% macro submitDropdownBtn(actions) %}
{% spaceless %}
    <div class="btn-group submit-form">
        {% for actionKey, action in actions %}
            {% if loop.first %}
                <button type="submit" class="btn btn-primary" title="{{ action.text|default('')|trans|capitalize }}">{{ action.text|default('')|trans|capitalize }}</button>
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu right-align">
            {% else %}
                    <li><a href="javascript:void(0);" value="{{ actionKey }}">{{ action.text|default('')|trans|capitalize }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endspaceless %}
{% endmacro %}

{% macro backLink(url, title) %}
{% spaceless %}
    {% set title = title|default('btn.to grid') %}
    <a class="AknTitleContainer-backLink back-link" title="{{ title|trans|capitalize }}" href="#{{ url }}">
        <i class="icon-chevron-left"></i>
    </a>
{% endspaceless %}
{% endmacro %}

{% macro deleteLinkAttributes(url, redirectUrl, message, successMessage, title) %}{% spaceless %}
    {% set message = message|default('confirmation.remove.item') %}
    {% set title = title|default('confirmation.delete'|trans) %}
    {% set successMessage = successMessage|default('flash.entity.removed'|trans) %}
    href="javascript:void(0);" data-dialog="confirm" data-title="{{ title }}" data-message="{{ message }}" data-url="{{ url }}" data-redirect-url="{{ redirectUrl }}" data-method="DELETE" data-error-message="{% trans %}The element could not be deleted{% endtrans %}" data-success-message="{{ successMessage }}"
{% endspaceless %}{% endmacro %}

{% macro deleteLink(url, acl, redirectUrl, message, successMessage, title, class = '') %}{% spaceless %}
    {% if acl is null or resource_granted(acl) %}
        {% import _self as elements %}
        <a class="AknButton AknButton--withIcon AknButton--important {{ class }}" title="{{ 'btn.delete'|trans|capitalize }}" {{elements.deleteLinkAttributes(url, redirectUrl, message, successMessage, title)}} >
            <i class="AknButton-icon icon-trash"></i>
            {{ 'btn.delete'|trans|capitalize }}
        </a>
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro link(text, url, opts = {}) %}
{% spaceless %}
    {% set title = opts.title is defined ? opts.title : text %}
    {% set icon = opts.icon is defined ? opts.icon : null %}
    <a{% if opts.id is defined %} id="{{ opts.id }}"{% endif %} class="AknButton {{ opts.class is defined ? opts.class|join(' ') }}{% if text and icon %} AknButton--withIcon{% elseif icon %} icons-holder{% endif %} {{ icon }}" href="{{ url ? url : 'javascript:void(0);' }}"{% if title %} title="{{ title|trans|capitalize }}"{% endif %}{% if opts.attr is defined %}{% for key, value in opts.attr %} {{ key }}="{{ value }}"{% endfor %}{% endif %}>
        {% if icon %}<i class="AknButton-icon icon-{{ icon }}"></i>{% endif %}
        {{ text|trans|capitalize }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro page_header(title, buttons, titleButtons, meta, right, backButton, state) %}
    <header class="AknTitleContainer navigation">
        <div class="AknTitleContainer-backContainer" data-drop-zone="back">
            {% if backButton is not empty %}
                {{ backButton }}
            {% endif %}
        </div>
        <div class="AknTitleContainer-contentContainer">
            <div class="AknTitleContainer-mainLine">
                <div class="AknTitleContainer-titleContainer" data-drop-zone="title">
                    <h2 class="AknTitleContainer-title">
                        {% block title %}
                            {{ title }}
                        {% endblock title %}
                    </h2>
                    {% if titleButtons is not empty %}
                        <div class="AknTitleContainer-titleButtons AknButtonList" data-drop-zone="title-buttons">
                            {{ titleButtons }}
                        </div>
                    {% endif %}
                </div>
                <div class="AknTitleContainer-rightButtons" data-drop-zone="buttons">
                    {% block navButtons %}{% endblock navButtons %}
                    {{ right }}
                    {% if buttons is not empty %}
                        <div class="AknButtonList AknButtonsList--right AknTitleContainer-rightButtons">
                            {{ buttons }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="AknTitleContainer-metaLine">
                <div class="AknTitleContainer-meta">
                    {{ meta }}
                </div>
                <div class="AknTitleContainer-state">
                    {{ state }}
                </div>
            </div>
        </div>
    </header>
{% endmacro %}

{% macro form_navbar(tabs, translationSuffix = '.title') %}
    <div id="form-navbar" class="AknHorizontalNavtab scrollspy-nav">
        <div class="navbar-inner">
            <div class="row-fluid">
                {% if tabs is not empty %}
                    <ul class="AknHorizontalNavtab-list nav nav-tabs">
                        {% if tabs is iterable %}
                            {% for tab in tabs %}
                                <li class="AknHorizontalNavtab-item{% if loop.first %} AknHorizontalNavtab-item--active active{% endif %}">
                                    <a class="AknHorizontalNavtab-link" href="#{{ tab|replace({' ': '-', '.': '-'})|lower }}" data-toggle="tab">{{ (tab ~ translationSuffix)|trans }}</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="AknHorizontalNavtab-item AknHorizontalNavtab-item--active active"><a href="#{{ tabs|replace({' ': '-', '.': '-'})|lower }}" data-toggle="tab">{{ (tabs ~ translationSuffix)|trans }}</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro form_errors(form) %}
    {% if form.vars.errors|length %}
        <div class="AknMessageBox AknMessageBox--error fade in top-messages">
            <div class="message">
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro tabSections(items = {}) %}
    <div class="tabsections">
        {% for title, content in items %}
            {% if content|trim is not empty %}
                <div class="tabsection">
                    <div class="tabsection-title">{{ title|trans }}</div>
                    <div class="tabsection-content">
                        {{ content|raw }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro updated(formId) %}
{% spaceless %}
    <div id="entity-updated" style="opacity: 0">
        <span class="AknBadge AknBadge--warning">
            <i class="AknBadge-icon icon-circle"></i>
            {{ 'info.updated'|trans }}
        </span>
    </div>
    <script type="text/javascript">
        require(
            ['jquery', 'pim/formupdatelistener'],
            function ($, FormUpdateListener) {
                'use strict';
                $(function () {
                    new FormUpdateListener($('#{{ formId }}'));
                });
            }
        );
    </script>
{% endspaceless %}
{% endmacro %}

{% macro enabledSwitch(form) %}
{% spaceless %}
    {% if form.enabled is defined %}
        {% set switchId = 'switch_status' %}
        {% set enableLabel = 'info.product.enable'|trans %}
        {% set disableLabel = 'info.product.disable'|trans %}
        {% set enabledLabel = 'info.product.enabled'|trans %}
        {% set disabledLabel = 'info.product.disabled'|trans %}
        {{ form_widget(form.enabled) }}
        <div class="btn-group">
            <button id="{{ switchId }}" type="button" class="btn">{{ form.enabled.vars.value ? disableLabel : enableLabel }}</button>
        </div>
        <script type="text/javascript">
            require(
                ['jquery'],
                function ($) {
                    'use strict';
                    $(function () {
                        $('#{{ switchId }}').on('click', function () {
                            var $field = $('#{{ form.enabled.vars.id }}'),
                                $status = $('.status-enabled').find('.badge');
                            if (+$field.val()) {
                                $field.val(0).trigger('change');
                                $(this).html('{{ enableLabel }}');
                                $status.html('<i class="icon-status-disabled icon-circle"></i>{{ disabledLabel }}').removeClass('badge-enabled status-enabled').addClass('badge-disabled status-disabled');
                            } else {
                                $field.val(1).trigger('change');
                                $(this).html('{{ disableLabel }}');
                                $status.html('<i class="icon-status-enabled icon-circle"></i>{{ enabledLabel }}').removeClass('badge-disabled status-disabled').addClass('badge-enabled status-enabled');
                            }
                        });
                    });
                }
            );
        </script>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro enabledLabel(form) %}
{% spaceless %}
    {% if form.enabled is defined %}
        <div class="status-enabled pull-left">
            {% if form.enabled.vars.value %}
                <div class="AknBadge AknBadge--rounded AknBadge--enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ 'info.product.enabled'|trans }}</div>
            {% else %}
                <div class="AknBadge AknBadge--rounded AknBadge--disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ 'info.product.disabled'|trans }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro confirmLinkAttributes(url, redirectUrl, message, successMessage, title) %}{% spaceless %}
    {% set title = title|default('confirmation.confirm'|trans) %}
    href="javascript:void(0);" data-dialog="confirm" data-title="{{ title }}" data-message="{{ message }}" data-url="{{ url }}" data-redirect-url="{{ redirectUrl }}" data-method="POST" data-error-message="{% trans %}The action could not be performed{% endtrans %}" data-success-message="{{ successMessage }}"
{% endspaceless %}{% endmacro %}

{% macro confirmLink(url, redirectUrl, successMessage, buttonLabel, buttonIcon, message, buttonClass, title) %}{% spaceless %}
    {% import _self as this %}
    {% set buttonLabel = 'btn.' ~ buttonLabel %}
    <a class="AknButton AknButton--withIcon {{ buttonClass }}" title="{{ buttonLabel|trans|capitalize }}" {{this.confirmLinkAttributes(url, redirectUrl, message, successMessage, title)}} >
        <i class="AknButton-icon icon-{{ buttonIcon }}"></i>
        {{ buttonLabel|trans|capitalize }}
    </a>
{% endspaceless %}{% endmacro %}

{% macro flashMessagesContainer() %}
    <div id="flash-messages" class="AknBreadcrumbContainer-flashContainer">
        {% block messages %}
            <div class="flash-messages-holder AknBreadcrumbContainer-flashList"></div>
            <script type="text/template" id="message-item-template">
                <div class="AknFlash alert <% if (type) {  %><%= 'alert-' + type + ' AknFlash--' + type %><% } %> fade in top-messages">
                    <button type="button" class="AknFlash-closeButton close" data-dismiss="alert">&times;</button>
                    <div class="message"><%= message %></div>
                </div>
            </script>
            <script type="text/javascript">
                require(
                    ['jquery', 'oro/messenger'],
                    function($, messenger) {
                        messenger.setup({
                            container: '#flash-messages .flash-messages-holder',
                            template: _.template($.trim($('#message-item-template').html()))
                        });
                        {% if app.session.flashbag.peekAll|length > 0 %}
                            $(function() {
                                {% for type, messages in app.session.flashbag.all %}
                                    {% for message in messages %}
                                        messenger.notificationFlashMessage({{ type|json_encode|raw }}, {{ message|trans|json_encode|raw }});
                                    {% endfor %}
                                {% endfor %}
                            });
                        {% endif %}
                    }
                );
            </script>
        {% endblock messages %}
    </div>
{% endmacro %}

{% macro form_container(content) %}
    <div class="AknFormContainer AknFormContainer--withPadding">
        {% autoescape false %}
            {{ content }}
        {% endautoescape %}
    </div>
{% endmacro %}
