{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}
{% set generalParameters %}
    {{ form_row(form.code, { 'label': 'Code'|trans }) }}
    {{ form_row(form.attributeType) }}

    {% if form.scopable is defined %}
        {{ form_row(form.scopable, { 'label': 'Scope'|trans }) }}
    {% endif %}

    {% if form.localizable is defined %}
        {{ form_row(form.localizable, { 'label': 'Localizable'|trans }) }}
    {% endif %}

    {% if form.unique is defined %}
        {{ form_row(form.unique, { 'label': 'Unique value'|trans }) }}
    {% endif %}

    {# {{ form_row(form.required) }} #}

    {% if form.availableLocales is defined %}
        <div class="control-group">
            <label class="control-label" for="limitLocales">{{ 'Locale specific'|trans }}</label>
            <div class="controls">
                <div id="limitLocales-switch" class="switch switch-small" data-on-label="{{ 'Yes'|trans }}" data-off-label="{{ 'No'|trans }}">
                    <input type="checkbox" name="limitLocales">
                </div>
            </div>
        </div>
        {{ form_row(form.availableLocales) }}
    {% endif %}

    {% set optionalFields = ['dateType', 'dateMin', 'dateMax', 'negativeAllowed', 'decimalsAllowed', 'numberMin',
    'numberMax', 'maxCharacters', 'wysiwygEnabled', 'metricFamily', 'defaultMetricUnit', 'maxFileSize',
    'allowedExtensions', 'validationRule', 'validationRegexp', 'minimumInputLength', 'defaultValue', 'sortOrder'] %}

    {% for field in optionalFields %}
        {% if form[field] is defined %}
            {{ form_row(form[field]) }}
        {% endif %}
    {% endfor %}
{% endset %}

{% set backendParameters %}
    {{ form_row(form.group, { 'label': 'Attribute group' }) }}

    {% if form.searchable is defined %}
        {{ form_row(form.searchable) }}
    {% endif %}

    {{ form_row(form.useableAsGridColumn) }}

    {{ form_row(form.useableAsGridFilter) }}
{% endset %}

{{ elements.accordion({ 'pane.accordion.general_parameters': generalParameters, 'pane.accordion.backend_parameters': backendParameters }) }}
