{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}

{{ form_start(form, {
    'action': path('pim_enrich_attribute_create_option', { id: attribute.id, dataLocale: locale_code() }),
    'class': 'form-inline',
    'attr': {
        'data-title': 'popin.create.option.title'|trans,
        'data-button-submit': 'btn.save'|trans|capitalize,
        'data-button-cancel': 'btn.cancel'|trans|capitalize
    }
}) }}
    {{ JSFV(form) }}

    {{ elements.form_errors(form) }}

    <div class="row-fluid">
        {{ form_row(form.code) }}
        {% form_theme form 'PimEnrichBundle:Form:simple_layout.html.twig' %}

        <div class="control-group">
            <label class="control-label" for="{{ form.optionValues|first.value.vars.id }}">
                {{ form.optionValues|first.locale.vars.value }}
            </label>
            <div class="controls">
                {{ form_row(form.optionValues|first) }}
            </div>
        </div>

{{ form_end(form) }}
