{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% set title = 'attribute.overview'|trans %}

{% block content %}
    {% set buttons %}
        {{ elements.createBtn('attribute', null, { id: 'create-attribute' }, 'pim_enrich_attribute_create') }}
    {% endset %}

    {{ elements.page_header(title, buttons) }}

    {{ dataGrid.renderStatefulGrid('attribute-grid', { localeCode: locale_code() }) }}

    {% if resource_granted('pim_enrich_attribute_create') %}
        {% set modalContent %}
            <div class="AknButtonList AknButtonList--twoColumns">
                {% for code, label in attributeTypes %}
                    {% set attributeTypes = attributeTypes|merge({ (code): label|trans }) %}
                {% endfor %}

                {% for code, label in attributeTypes|sort %}
                    <a class="AknButtonList-item AknButton AknButton--withIcon attribute-choice" href="#{{ path('pim_enrich_attribute_create', { attribute_type: code }) }}">
                        <i class="AknButton-icon icon-{{ attribute_icon(code) }}"></i>
                        {{ label }}
                    </a>
                {% endfor %}
            </div>
        {% endset %}
        <script type="text/javascript">
            require(
                ['jquery', 'backbone', 'backbone/bootstrap-modal'],
                function($, Backbone) {
                    $(function() {
                        var modal = null;
                        $('#create-attribute').on('click', function() {
                            if (modal) {
                                modal.open();
                            } else {
                                modal = new Backbone.BootstrapModal({
                                    title: '{{ 'Choose the attribute type'|trans }}',
                                    content: {{ modalContent|json_encode|raw }}
                                });

                                modal.open();
                                modal.$el.find('.modal-footer').remove();

                                modal.$el.on('click', 'a.attribute-choice', function(e) {
                                    e.preventDefault();
                                    modal.close();
                                    modal.$el.remove();
                                    Backbone.history.navigate($(this).attr('href'));
                                });
                            }
                        });
                    });
                }
            );
        </script>
    {% endif %}
{% endblock %}
