<div class="tab-pane {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {% spaceless %}
    {% if elements is not defined %}
        {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
    {% endif %}
    {% endspaceless %}

    {% set generalParameters %}
        {{ view_elements(form.vars.id ~ '.general_parameters') }}
    {% endset %}

    {% set validationParameters %}
        {% set validationFields = ['dateMin', 'dateMax', 'negativeAllowed', 'decimalsAllowed', 'numberMin',
        'numberMax', 'maxCharacters', 'wysiwygEnabled', 'metricFamily', 'defaultMetricUnit', 'maxFileSize',
        'allowedExtensions', 'validationRule', 'validationRegexp', 'minimumInputLength', 'defaultValue', 'sortOrder'] %}

        {% for property in form.vars.value.properties|keys %}
            {% set validationFields = validationFields|merge([property]) %}
        {% endfor %}

        {% for field in validationFields %}
            {% if form[field] is defined %}
                {{ form_row(form[field]) }}
            {% endif %}
        {% endfor %}
    {% endset %}

    {% set backendParameters %}
        {{ view_elements(form.vars.id ~ '.backend_parameter') }}
    {% endset %}

    {% set panes = {'pane.accordion.general_parameters': generalParameters} %}
    {% if validationParameters|trim is not empty %}
        {% set panes = panes|merge({'pane.accordion.validation_parameters': validationParameters}) %}
    {% endif %}
    {% set panes = panes|merge({'pane.accordion.backend_parameters': backendParameters}) %}

    {{ elements.accordion(panes) }}
</div>
