<div class="tab-pane {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {% spaceless %}
    {% if elements is not defined %}
        {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
    {% endif %}
    {% endspaceless %}
    {% set accordionContent = { 'pane.accordion.label_translations': form_row(form.label) } %}
    {% if form['autoOptionSorting'] is defined %}
        {% set optionsContent %}
            {% if form.vars.value.id is not null %}
                {% set sortable = form['autoOptionSorting'] is defined ? (not form['autoOptionSorting'].vars.data ? '1' : '0') : '1' %}
                <div id="attribute-option-grid" data-attribute-id="{{ form.vars.value.id }}" data-locales="{{ locales|json_encode() }}" data-sortable="{{ sortable }}"></div>

                <script type="text/javascript">
                    require(['jquery', 'pim/attributeoptionview'], function($, attributeoptiongrid) {
                        attributeoptiongrid($('#attribute-option-grid'));
                    });
                </script>
            {% else %}
                <div class="well">{{ 'save_attribute_before_manage_option'|trans }}</div>
            {% endif %}
        {% endset %}
        {% set accordionContent = accordionContent|merge({ 'pane.accordion.options': optionsContent }) %}
    {% endif %}

    {{ elements.accordion(accordionContent, 2) }}
</div>
