{% for userNotification in userNotifications %}
    <li>
        <a href="{{ userNotification.notification.route ? path(userNotification.notification.route, userNotification.notification.routeParams) : 'javascript:void(0);'}}"{{ userNotification.viewed ? '' : ' class="new"' }}>
            {% set icon = userNotification.notification.type == 'success' ? 'ok' : (userNotification.notification.type == 'warning' ? 'warning-sign' : 'remove') %}
            <i class="icon-{{ icon }}"></i>
            {{ userNotification.notification.message|trans(userNotification.notification.messageParams) }}
            <i class="icon-trash" data-id="{{ userNotification.id }}"></i>
        </a>
    </li>
    <li class="divider"></li>
{% endfor %}
