{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Export profile overview'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}

    <div class="row-fluid has-resizable-sidebar">
        <div class="resizable-sidebar">
            <ul id="entities-sortable">
                {% for profile in profiles %}
                    <li data-id="{{ profile.id }}">
                        <span>{{ profile.name }}</span>
                    </li>
                {% endfor %}
            </ul>
            <a id="profile-create" class="btn btn-small" href="{{ path('pim_product_exportprofile_create') }}">{{ 'New export profile'|trans }}</a>
        </div>
        <div id="form-tab" class="resizable-content">
            <h3>{{ title|trans }}</h3>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#entities-sortable li').click(function() {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                var id = $(this).attr('data-id');
                $.get('{{ path('pim_product_exportprofile_edit') }}' + '/' + id, null, function(data, status) {
                    if (status === 'success') {
                        $('#form-tab').html(data);
                    }
                });
            });

            $('#profile-create').click(function(e) {
                e.preventDefault();
                $('#entities-sortable li').removeClass('active');
                $.get('{{ path('pim_product_exportprofile_create') }}', null, function(data, status) {
                    if (status === 'success') {
                        $('#form-tab').html(data);
                    }
                });
            });

        });
    </script>

{% endblock %}
