{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        {% if form|is_flexible %}
            {{ block('form_row_flex') }}
        {% else %}
            <div class="control-group{% if attr.class is defined %} {{ attr.class }}{% endif %}">
                {{ form_label(form, '' , { label_attr: label_attr|merge({ class: 'control-label' })}) }}
                <div class="controls{% if errors|length > 0 %} validation-error{% endif %}">
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block form_row_flex %}
    {% spaceless %}
        {% set col = attr['data-col'] is defined ? attr['data-col'] : 0 %}

        {% if col > 1 %}
            {# calculate Bootstrap class for 12-columns grid system #}
            {% set class = 'span' ~ (12 // col) %}

            {% for attribute in form %}
                {% if loop.first %}
                    <div class="{{ class }}">
                {% endif %}

                {{ form_widget(attribute) }}
                {{ form_errors(attribute) }}

                {% if loop.index % ((loop.length / col)|ceil) == 0  and not loop.last %}
                    </div>
                    <div class="{{ class }}">
                {% endif %}

                {% if loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for attribute in form %}
                {{ form_widget(attribute) }}
                {{ form_errors(attribute) }}
            {% endfor %}
        {% endif %}

        {% for attribute in form %}
            {% if (attribute.values is defined) %}
                {{ form_row(attribute.values) }}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock form_row_flex %}

{% block choice_widget_collapsed %}
    <script type="text/javascript">
        $(function() {
            $('#{{ id }}').on('uniformInit', function () {
                $(this).filter('.error:not([multiple])').removeClass('error').closest('.selector').addClass('error');
            });
        })
    </script>
    {{ parent() }}
{% endblock choice_widget_collapsed %}

{% block form_widget_simple %}
    {% if type is defined and type == 'file' %}
        <script type="text/javascript">
            $(function() {
                $('#{{ id }}').on('uniformInit', function () {
                    $(this).filter('.error').removeClass('error').closest('.uploader').addClass('error');
                });
            })
        </script>
    {% endif %}
    {{ parent() }}
{% endblock form_widget_simple %}

{% block widget_attributes %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' error' : 'error'}) %}
    {% endif %}
    {{ parent() }}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' error' : 'error'}) %}
    {% endif %}
    {{ parent() }}
{% endblock widget_container_attributes %}

{% block form_errors %}
    {%- spaceless -%}
        {% if errors|length > 0 %}
            {% if form.parent %}
                {% set combinedError = '' %}
                {% for error in errors %}
                    {% set error = error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') %}
                    {% set combinedError = (combinedError != '') ? combinedError ~ '; ' ~ error : error %}
                {% endfor %}
                <a class="validation-tooltip" data-placement="top" data-toggle="tooltip" data-original-title="{{ combinedError }}">{{ combinedError }}</a>
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block money_widget %}
    {% spaceless %}
        <div class="input-prepend input-prepend-right">
            <span class="add-on">{{ money_pattern|replace({ '{{ widget }}': '' }) }}</span>
            {{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
        </div>
    {% endspaceless %}
{% endblock money_widget %}

{% block date_widget %}
    {% spaceless %}
        {% set type = 'text' %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple')|raw }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' horizontal' : 'horizontal'}) %}
        {% set attr = attr|merge({'class': attr.class ~ ' validate-group'}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="oro-clearfix">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_label %}
    {% spaceless %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% set isRadioLabel = form.parent.vars.expanded|default(false) and checked is defined %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{% if required and not isRadioLabel %}<em>*</em>{% endif %}{{ label|trans({}, translation_domain)|capitalize }}</label>
    {% endspaceless %}
{% endblock form_label %}

{% block oro_flexibleentity_email_collection_widget %}
    {% set subform = form.collection %}
    {{ block('collection_render') }}
{%  endblock oro_flexibleentity_email_collection_widget %}

{% block oro_flexibleentity_phone_collection_widget %}
    {% set subform = form.collection %}
    {{ block('collection_render') }}
{%  endblock oro_flexibleentity_phone_collection_widget %}

{% block collection_render %}
    {% spaceless %}
        {% from 'OroUIBundle::macros.html.twig' import collection_prototype as collection  %}
        <div class="row-oro">
            <div class="collection-fields-list" data-prototype="{{ collection(subform)|escape }}">
                {% for field in subform.children %}
                    {{ collection(field) }}
                {% endfor %}
            </div>
            <a class="btn add-list-item" href="javascript: void(0);"><i class="icon-plus"></i>{{ 'Add'|trans }}</a>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _oro_entity_config_config_field_type_widget %}
    {% for field in form.children %}
        {{ form_widget(field) }}
    {% endfor %}
{% endblock %}
