<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>UX</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" media="all" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a ui-sref="dashboard" title="{{ oro_config_value('oro_ui.application_title') }}">
                        <img src="{{ asset('/bundles/pimui/images/logo.png') }}" alt="{{ oro_config_value('oro_ui.application_name') }}">
                    </a>
                </div>
                {{ oro_menu_render('application_menu', {'template': 'PimUxBundle:Menu:menu.html.twig'}) }}
            </div>
        </nav>
        <div class="container-fluid" ui-view>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="{{  asset('bundles/pimux/js/lib/ui-bootstrap-tpls-0.10.0.js')  }}"></script>
        <script src="{{  asset('bundles/pimux/js/app.js')  }}"></script>
        <script src="{{  asset('bundles/pimux/js/services.js')  }}"></script>
        <script src="{{  asset('bundles/pimux/js/controllers.js')  }}"></script>
        <script src="{{  asset('bundles/pimux/js/directives.js')  }}"></script>
        <script src="{{  asset('bundles/pimux/js/filters.js')  }}"></script>
    </body>
</html>
