{% extends bap.layout is defined ? bap.layout : 'PimBatchBundle::layout.html.twig' %}

{% set title = 'Connectors' %}

{% block content %}

    <fieldset>
        <legend>
            {{ "Connectors" | trans }}
            <a class="btn btn-primary pull-right" href="{{ path('pim_batch_connector_create') }}">{{ "Add new" | trans }}</a>
        </legend>

        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>{{ "ID" | trans }}</th>
                    <th>{{ "Description" | trans }}</th>
                    <th>{{ "Type" | trans }}</th>
                    <th>{{ "Service" | trans }}</th>
                    <th style="width: 50px">{{ "Rename" | trans }}</th>
                    <th style="width: 50px">{{ "Configure" | trans }}</th>
                    <th style="width: 50px">{{ "Remove" | trans }}</th>
                    <th style="width: 70px">{{ "Add job" | trans }}</th>
                    <th style="width: 50px">{{ "Run" | trans }}</th>
                </tr>
            </thead>
        
            <tbody>
                {% for connector in connectors %}
                <tr>
                    <td>{{ connector.id }}</td>
                    <td>{{ connector.description }}</td>
                    <td>Connector</td>
                    <td>{{ (connector.serviceId ~ ".label") | trans }}</td>
                    <td><a href="{{ path('pim_batch_connector_edit', {'id': connector.id}) }}"><i class="icon-edit"></i></a></td>
                    <td><a href="{{ path('pim_batch_configuration_edit', {'id': connector.rawConfiguration.id}) }}"><i class="icon-wrench"></i></a></td>
                    <td><a href="{{ path('pim_batch_connector_remove', {'id': connector.id}) }}"><i class="icon-remove"></i></a></td>
                    <td><a href="{{ path('pim_batch_job_create', {'id': connector.id}) }}"><i class="icon-plus"></i></a></td>
                    <td><a href="{{ path('pim_batch_connector_run', {'id': connector.id}) }}"><i class="icon-play"></i></a></td>
                </tr>
                    {% for job in connector.jobs %}
                    <tr>
                        <td>-</td>
                        <td> {{ job.description }}</td>
                        <td>Job</td>
                        <td>{{ (job.serviceId ~ ".label") | trans }}</td>
                        <td><a href="{{ path('pim_batch_job_edit', {'id': job.id}) }}"><i class="icon-edit"></i></a></td>
                        <td><a href="{{ path('pim_batch_configuration_edit', {'id': job.rawConfiguration.id}) }}"><i class="icon-wrench"></i></a></td>
                        <td><a href="{{ path('pim_batch_job_remove', {'id': job.id}) }}"><i class="icon-remove"></i></a></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="100%">{{ "There are no connectors." | trans }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </fieldset>

{% endblock %}
