<div id="pin-button-div" class="AknButtonList {% if app.request.attributes.get('_route') == bap.start_route %}AknButtonList--hide{% endif %}">
    <button class="AknIconButton favorite-button"
        data-title="{{ oro_title_render_serialized() }}"
        data-title-rendered-short="{{ oro_title_render_short() }}"
        title="{{ 'Add this page to favorites'|trans }}">
            <i class="icon-star"></i>
    </button>
    <button class="AknIconButton minimize-button"
        data-title="{{ oro_title_render_serialized() }}"
        data-title-rendered-short="{{ oro_title_render_short() }}"
        title="{{ 'Minimize the window to the pinbar'|trans }}">
            <i class="icon-pushpin"></i>
    </button>
</div>
