<div class="tab-content">
    {% set columnWidth = 90/(channels|length) %}
    <table id="progress-table" class="table groups">
        <thead>
            <th width="10%">{{ 'Locales'|upper }}</th>
            {% for channel in channels %}
                <th class="channel" width="{{ columnWidth }}%">{{ channel.name|upper }}</th>
            {% endfor %}
            <th>&nbsp;</th>
        </thead>

        <tbody>
            {% for locale in locales %}
            <tr>
                <td>{{ locale.code }}</td>
                {% for channel in channels %}

                <td>
                    {% include 'PimProductBundle:Product:_healthbar.html.twig'
                        with {'channel': channel, 'completeness': product.completeness(locale.code, channel.code)} %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="legend">
        <b>{{ 'Legend' | trans }} :</b>
        <div class="row-fluid">
            <div class="pull-left progress-bars">
                <div class="progress">
                    <div class="bar bar-success" style="width: 100%;"></div>
                </div>
                <div class="progress">
                    <div class="bar bar-warning" style="width: 100%;"></div>
                </div>
                <div class="progress">
                    <div class="bar bar-danger" style="width: 100%;"></div>
                </div>
                <div class="progress">
                    <div class="bar bar-disabled" style="width: 100%;"></div>
                </div>
            </div>
            <div class="pull-left progress-legend">
                <span>100% {{ 'completeness' | trans }}</span>
                <span>Between 50% and 90% {{ 'completeness' | trans }}</span>
                <span>< 50% {{ 'completeness' | trans }}</span>
                <span>Channels without the locale</span>
            </div>
        </div>
    </div>
</div>
