<div class="tab-content">
    {% set columnWidth = 100/(channels|length + 1) %}
    <table class="table groups">
        <thead>
            <th width="{{ columnWidth }}%">{{ 'Locales'|upper }}</th>
            {% for channel in channels %}
                <th class="channel" width="{{ columnWidth }}%">{{ channel.name|upper }}</th>
            {% endfor %}
            <th>&nbsp;</th>
        </thead>

        <tbody>
            {% for locale in locales %}
            <tr>
                <td>{{ locale.code }}</td>
                {% for channel in channels %}

                <td>
                    {% if channel.hasLocale(locale) == false %}
                        Not required
                    {% endif %}
                    {% set completeness = product.completeness(locale.code, channel.code) %}
                    {% set ratio = completeness.ratio %}
                    {{ ratio }}%
                    {{ healthBar(ratio)|raw }}
                    {{ completeness.missingCount }} missing values
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
