<div class="tab-content">
    {% set columnWidth = 100/(channels|length + 1) %}
    <table class="table groups">
        <thead>
            <th width="{{ columnWidth }}%">{{ 'Locales'|upper }}</th>
            {% for channel in channels %}
                <th class="channel" width="{{ columnWidth }}%">{{ channel.name|upper }}</th>
            {% endfor %}
            <th>&nbsp;</th>
        </thead>

        <tbody>
            {% for locale in locales %}
            <tr>
                <td>{{ locale.code }}</td>
                {% for channel in channels %}

                <td>
                    {% include 'PimProductBundle:Product:_healthbar.html.twig'
                        with {'channel': channel, 'completeness': product.completeness(locale.code, channel.code)} %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
