<div class="progress-cell">
{% if completeness is null %}
    {{ 'Impossible to calculate' | trans }}
{% else %}
    {% set titleProgressBar = completeness.ratio|number_format(2) ~'% completed ('~ completeness.requiredCount ~' required values)' %}
    <div class="progress" title="{{ titleProgressBar }}">
        {% if channel.hasLocale(locale) == false %}
            {% set progressClass = 'bar-disabled' %}
        {% elseif completeness.ratio == 100 %}
            {% set progressClass = 'bar-success' %}
        {% elseif completeness.ratio >= 50 %}
            {% set progressClass = 'bar-warning' %}
        {% else %}
            {% set progressClass = 'bar-danger' %}
        {% endif %}
        <div class="bar {{ progressClass }}" style="width: {{ completeness.ratio }}%;"></div>
    </div>

    {% if completeness.missingCount == 0 %}
        <div class="center">{{ 'Completed' | trans }}</div>
    {% else %}
        {% set titleMissing = "Missing attributes :"|trans %}
        {% for attribute in completeness.missingAttributes %}
            {% set titleMissing = titleMissing ~'&#013; - '~ attribute.label  %}
        {% endfor %}
        <div class="center" title="{{ titleMissing|raw }}">
            <span class="progress-info">{{ completeness.missingCount }} missing values</span>
        </div>
    {% endif %}

{% endif %}
</div>
