
{% if completeness is null %}
    {{ 'Impossible to calculate' | trans }}
{% else %}
    {% set titleProgressBar = completeness.ratio|number_format(2) ~'% completed ('~ completeness.requiredCount ~' required values)' %}
    <div class="progress progress-striped" title="{{ titleProgressBar }}">
    {% if channel.hasLocale(locale) == false %}
        {% set progressClass = 'bar-info' %}
    {% elseif completeness.ratio == 100 %}
        {% set progressClass = 'bar-success' %}
    {% elseif completeness.ratio >= 50 %}
        {% set progressClass = 'bar-warning' %}
    {% else %}
        {% set progressClass = 'bar-danger' %}
    {% endif %}
        <div class="bar {{ progressClass }}" style="width: {{ completeness.ratio }}%;"></div>
    </div>

    {% set titleMissing = "Missing attributes :"|trans %}
    {% for attribute in completeness.missingAttributes %}
        {% set titleMissing = titleMissing ~'&#013; - '~ attribute.label  %}
    {% endfor %}
    <div{% if completeness.missingCount > 0 %} title="{{ titleMissing|raw }}"{% endif %}>
        <b>{{ completeness.missingCount }}</b> missing values
    </div>
{% endif %}