{% extends 'PimProductBundle::layout.html.twig' %}

{% block page_container %}
<div class="container-fluid product-edit">

    {% block content %}

    {{ JSFV(form) }}
    <form id="{{ form.vars.id }}" method="POST" class="form-horizontal" action="{{ path('pim_product_product_edit', { id: form.vars.value.id, dataLocale: dataLocale }) }}" {{ form_enctype(form) }}>

        {% set title = 'Products'|trans %}

        {% set buttons %}
            {{ elements.backLink(path('pim_product_product_index')) }}
            <div class="btn-group">
                {{ form_widget(form.enabled) }}
            </div>
            {{ elements.deleteLink(path('pim_product_product_remove', { id: form.vars.value.id }), 'Are you sure you want to delete this product ?'|trans) }}
            {{ elements.submitBtn }}
        {% endset %}

        {% set subtitle %}
            <div id="locale-switcher" class="btn-group sub-title">
                <span class="product-name dropdown-toggle" data-toggle="dropdown">
                    {{ dataLocale|flag }}
                    {{ product.label }}
                    <span class="caret"></span>
                </span>
                <ul class="dropdown-menu">
                    {% for locale in form.vars.value.getLocales() %}
                        <li class="{{ locale.code == dataLocale ? 'activeLocale' : '' }}">
                            <a href="?dataLocale={{ locale.code }}" title="{{ localeLabel(locale.code) }}">
                                {% if locale.code == dataLocale %}
                                    <span class="icon">
                                        <i class="icon-bullet"></i>
                                    </span>
                                {% endif %}
                                {{ locale.code|flag }}
                                <span class="title">{{ product.label(locale.code) }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endset %}

        {% set left %}
            <ul class="inline">
               <li>{{ 'Family'|trans }}: {{ form.vars.value.family|capitalize|default('N/A'|trans) }}</li>
               <li>{{ 'Last update'|trans }}: {{ updated ? updated.loggedAt|date("Y-m-d h:i:s") : 'N/A'|trans }} {{ 'by' | trans }} {{ updated ? updated.user.username : 'N/A'|trans }}</li>
               <li>{{ 'Created'|trans }}: {{ created ? created.loggedAt|date("Y-m-d h:i:s") : 'N/A'|trans }} {{ 'by' | trans }} {{ created ? created.user.username : 'N/A'|trans }}</li>
           </ul>
        {% endset %}

        {% set right %}
            <div class="pull-right product-updated">
                <span id="updated" class="label label-warning">{{ 'There are unsaved changes.'|trans }}</span>
            </div>
        {% endset %}

        {{ elements.page_header(title, buttons, subtitle, left, right) }}

        <div class="layout-content">

            {{ elements.form_navbar(['Attributes', 'Categories', 'Localisations', 'History']) }}

            <div class="row-fluid tab-content">

                {{ elements.form_errors(form) }}

                <div class="tab-pane active" id="attributes">
                    {% include 'PimProductBundle:Product:_attributes.html.twig' with { 'product': product, 'channels': channels, 'forn': form } %}
                </div>

                <div class="tab-pane" id="associations"></div>

                <div class="tab-pane buffer-top" id="localisations">
                    {{ form_row(form.locales) }}
                </div>

                <div class="tab-pane" id="categories">
                   {% include 'PimProductBundle:Product:_associateCategories.html.twig' %}
                </div>

                <div class="tab-pane" id="history">
                    <div id="history-grid"></div>
                </div>

                {{ form_row(form.id) }}
                {{ form_row(form._token) }}
            </div>
        </div>
    </form>
    {% endblock %}
    {% include 'PimProductBundle:ProductAttribute:_available-attributes-form.html.twig' with {
        'form': attributesForm,
        'action': path('pim_product_product_addproductattributes', {'id': product.id, 'dataLocale': dataLocale})
    } %}
</div>
{% endblock %}

{% block head_script_component %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/backbone.bootstrap-modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.js') }}"></script>

    {#
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#history-grid'} %}
    #}

    {% javascripts
        '@PimUIBundle/Resources/public/js/jquery.multiselect.custom.js'
        '@PimUIBundle/Resources/public/js/jquery.pimMultiselect.js'
        filter='?yui_js'
        output='js/pim.multiselect.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include 'PimProductBundle:Product:_js-handler.html.twig' %}
    {% include 'PimUIBundle:Default:_back-url.html.twig' %}
{% endblock %}
