{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Products'|trans %}

{% block head_script %}
    {{ parent() }}

    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#product-grid'} %}

    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orosegmentationtree/js/lib/jstree/jquery.jstree.tree_selector.js') }}"></script>

    <script type="text/javascript">
        $(document).dialogForm({ trigger: '#create-product', url: '{{ path('pim_product_product_create') }}' });
    </script>
{% endblock %}

{% block page_container %}
<div class="container-fluid product-list">
    {% block content %}

    {% set buttons %}
        <a id="create-product" class="btn btn-primary pull-right" href="{{ path('pim_product_product_create') }}">{{ 'New product'|trans }}</a>
    {% endset %}

    {% set subtitle %}
        <div id="locale-switcher" class="btn-group sub-title">
            <span class="product-name dropdown-toggle" data-toggle="dropdown">
                {{ dataLocale|flag }}
                <span class="caret"></span>
            </span>
            <ul class="dropdown-menu">
                {% for locale in locales %}
                    <li class="{{ locale.code == dataLocale ? 'activeLocale' : '' }}">
                        <a href="?dataLocale={{ locale.code }}" title="{{ localeLabel(locale.code) }}">
                                {% if locale.code == dataLocale %}
                            <span class="icon">
                                    <i class="icon-bullet"></i>
                            </span>
                                {% endif %}
                            {{ locale.code|flag }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endset %}

    {{ elements.page_header(title, buttons, subtitle) }}

    <div class="row-fluid has-sidebar">
        <div id="tree"></div>
        <div id="product-grid"></div>
    </div>

    {% endblock %}
</div>

<script type="text/javascript">
    var assetsPath = "{{ asset('bundles/pimproduct/') }}";
    var tree_id = "#tree";
    var urlListTree = "{{ path('pim_product_categorytree_listtree', { '_format': 'json', 'dataLocale': dataLocale }) }}";
    var urlChildren = "{{ path('pim_product_categorytree_children', { '_format': 'json', 'dataLocale': dataLocale }) }}";
    var unclassifiedNodeTitle = "{{ 'Unclassified node' | trans }}";
    var filterInType = {{ constant('Pim\\Bundle\\FilterBundle\\Form\\Type\\Filter\\CategoryFilterType::TYPE_CONTAINS') }};
    var filterUnclassifiedType = {{ constant('Pim\\Bundle\\FilterBundle\\Form\\Type\\Filter\\CategoryFilterType::TYPE_UNCLASSIFIED') }};
</script>
<script type="text/javascript" src="{{ asset('bundles/pimproduct/js/tree-view.jstree.js') }}"></script>
{% endblock %}
