{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Category tree overview'|trans %}

{% block head_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orosegmentationtree/js/lib/jstree/jquery.jstree.tree_selector.js') }}"></script>
    
{% endblock %}

{% block page_container %}
<div class="container-fluid category">
    {% block content %}
    <div class="row-fluid">
        {% include 'PimProductBundle:CategoryTree:_tree-management-sidebar.html.twig' %}
        <div id="form-tab" class="span10">
            <h3>{{ title }}</h3>
            
            <div id="list">
                <table id="product_grid" border="1"></table>
            </div>
        </div>
    </div>
    
    {% include 'PimProductBundle:CategoryTree:_js-handler.html.twig' %}
{% endblock %}
</div>
{% endblock %}
