{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block content %}
    {{ JSFV(form) }}
    {{ form_start(form, {
        'action': path('pim_enrich_grouptype_edit', { id: form.vars.value.id}),
        'attr': {
            'data-updated-title': 'confirmation.leave'|trans,
            'data-updated-message': 'confirmation.discard changes'|trans({ '%entity%': 'group type.title'|trans })
        }
    }) }}

        {% set title = 'group type.edit'|trans ~ ' - ' ~ form.vars.value.label %}

        {% set titleButtons %}
            {{ elements.backLink(path('pim_enrich_grouptype_index')) }}
        {% endset %}

        {% set confirmationMessage = 'confirmation.remove.group type'|trans({ '%name%': form.vars.value.label }) %}

        {% set buttons %}
            {% if not form.vars.value.isVariant %}
                {{ elements.deleteLink(
                    path('pim_enrich_grouptype_remove', { id: form.vars.value.id }),
                    'pim_enrich_grouptype_remove',
                    path('pim_enrich_grouptype_index'),
                    confirmationMessage,
                    'flash.group type.removed'|trans,
                    '',
                    'AknButtonList-item'
                ) }}
            {% endif %}
            {{ elements.submitBtn('', 'ok', 'AknButtonList-item') }}
        {% endset %}

        {{ elements.page_header(title, buttons, null, null, null, titleButtons, elements.updated(form.vars.id)) }}

        <div class="AknTabContainer">
            {{ elements.form_navbar(view_element_aliases(form.vars.id ~ '.form_tab')) }}
            <div class="AknTabContainer-content tab-content">
                {{ elements.form_errors(form) }}
                {{ view_elements(form.vars.id ~ '.form_tab') }}
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}
