{% if pageCount > 1 %}
<div class="pagination">
    <ul>
        {% if previous is defined %}
        <li><a href="{{ path(route, query|merge({ (pageParameterName): previous })) }}">← Previous</a></li>
        {% else %}
        <li class="disabled"><span>← Previous</span></li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
            <li><a href="{{ path(route, query|merge({ (pageParameterName): page })) }}">{{ page }}</a></li>
            {% else %}
            <li class="active"><span>{{ page }}</span></li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
        <li><a href="{{ path(route, query|merge({ (pageParameterName): next })) }}">Next →</a></li>
        {% else %}
        <li class="disabled"><span>Next →</span></li>
        {% endif %}
    </ul>
</div>
{% endif %}
