{% block _emailnotification_entityName_row %}
    <script type="text/javascript">
        $(function () {
            'use strict';

            var selectId = '#{{ id }}';
            var ownerFieldId = '#{{ form.parent.children.recipientList.children.owner.vars.id }}';

            $(selectId).change(function (e) {
                var $el = $(e.target);
                var value = $el.val();
                var config = $el.data('entities');

                if (!_.isUndefined(config[value]) && config[value] === true) {
                    $(ownerFieldId).parents('.control-group').removeClass('hide');
                    $(ownerFieldId).removeAttr('disabled');
                } else {
                    $(ownerFieldId).parents('.control-group').addClass('hide');
                    $(ownerFieldId).attr('disabled', 'disabled');
                }
            });

            $(selectId).trigger('change');
        });
    </script>
    {{ form_row(form) }}

    <script type="text/javascript">
        $(function() {
            var emailTemplates = new Oro.EmailTemplatesUpdater.Collection();

            new Oro.EmailTemplatesUpdater.View({
                el: $('#{{ id }}'),
                target: $('#{{ form.parent.children.template.vars.id }}'),
                collection: emailTemplates
            });
        });
    </script>

    <script type="text/template" id="emailtemplate-chooser-template">
        <% _.each(entities, function(entity, i) { %>
        <option value="<%= entity.get('id') %>"><%= entity.get('name') %></option>
        <% }); %>
    </script>
{% endblock %}
