{% extends 'PimProductBundle:Family:index.html.twig' %}

{% set title = 'New family'|trans %}

{% block familyTab %}
{{ JSFV(form) }}
<form action="{{ path('pim_product_family_create') }}" method="POST" class="form-horizontal">

    {{ form_row(form._token) }}

    <div class="form-row">
        <h3>
            {{ title }}
            <button type="submit" class="btn btn-primary pull-right">{{ ' Save'|trans }}</button>
        </h3>
    </div>

    <div id="form-navbar" class="navbar navbar-static scrollspy-nav">
        <div class="navbar-inner">
            <div class="row-fluid">
                <ul class="nav">
                    <li class="active"><a href="#properties" data-toggle="tab">{{ 'Properties' | trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

        {% if form.vars.errors|length %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
        {% endif %}

        <div class="tab-pane active" id="properties">
            <div id="accordion1" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                            <i class="fa-icon-collapse-alt"></i>
                            {{ "General Properties"|trans }}
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body in">
                        <div class="accordion-inner">
                            {{ form_row(form.code) }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion2" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            <i class="fa-icon-collapse-alt"></i>
                            {{ "Locale values"|trans }}
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body in">
                        <div class="accordion-inner">
                            {{ form_row(form.label) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
