{% for notification in notifications %}
    <li>
        <a href="{{ notification.event.route ? path(notification.event.route, notification.event.routeParams) : 'javascript:void(0);'}}"{{ notification.viewed ? '' : ' class="new"' }}>
            {% set icon = notification.event.type == 'success' ? 'ok' : (notification.event.type == 'warning' ? 'warning-sign' : 'remove') %}
            <i class="icon-{{ icon }}"></i>
            {{ notification.event.message|trans(notification.event.messageParams) }}
            <i class="icon-trash" data-id="{{ notification.id }}"></i>
        </a>
    </li>
    <li class="divider"></li>
{% endfor %}
