<div class="tabsection tab-pane tab-attribute {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {% if elements is not defined %}
        {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
    {% endif %}
    <div class="AknGridToolbar">
        <div class="AknGridToolbar-right">
            <div id="attribute-buttons"></div>
        </div>
    </div>
    <div class="tabsection-content tab-content">
        <div class="AknGridContainer">
            <table class="AknGrid AknGrid--unclickable groups">
                <thead>
                    <th class="AknGrid-headerCell">{{ 'Label'|trans|upper }}</th>
                    {% for channel in channels %}
                        <th class="AknGrid-headerCell AknGrid-headerCell--center channel">{{ channel.label|upper }}</th>
                    {% endfor %}
                    <th class="AknGrid-headerCell"></th>
                </thead>

                {% set colspan = channels|length + 2 %}
                {% set editGranted = resource_granted('pim_enrich_family_edit_attributes') %}
                {% for groupLabel, attributes in form.vars.value.groupedAttributes %}
                <tbody>
                    <tr class="AknGrid-bodyRow AknGrid-bodyRow--highlight group">
                        <td class="AknGrid-bodyCell" colspan="{{ colspan }}"><i class="icon-collapse-alt"></i>{{ groupLabel }}</td>
                    </tr>
                    {% for attribute in attributes %}
                    <tr class="AknGrid-bodyRow">
                        <td class="AknGrid-bodyCell">{{ attribute.label }}</td>
                        {% for channel in channels %}
                            <td class="AknGrid-bodyCell AknGrid-bodyCell--center">
                                {% if attribute.attributeType == 'pim_catalog_identifier' %}
                                    <div class="attribute-requirement identifier">
                                        <i class="AknAcl-icon AknAcl-icon--granted icon-ok required" data-toggle="tooltip" data-original-title="{{ 'Required'|trans }}" data-placement="right"></i>
                                    </div>
                                {% else %}
                                    {{ form_widget(form.attributeRequirements[(attribute.code ~ '_' ~ channel.code)]) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="AknGrid-bodyCell AknGrid-bodyCell--right">
                            {% if attribute.attributeType != 'pim_catalog_identifier' and editGranted %}
                                <a {{ elements.deleteLinkAttributes(
                                        path('pim_enrich_family_removeattribute', {'familyId': form.vars.value.id, 'attributeId': attribute.id}),
                                        path('pim_enrich_family_edit', {'id': form.vars.value.id }),
                                        'confirmation.family.remove attribute'|trans({ '%name%': attribute.label }),
                                        'flash.family.attribute removed'|trans
                                    )}} class="AknIconButton AknIconButton--small AknIconButton--grey remove-attribute">
                                    <i class="icon-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
