{% extends 'OroProductBundle::layout.html.twig' %}

{% block content %}

    <ul class="menu">
        <li><a href="{{ path('oro_product_product_index') }}">Select entities and all attribute values</a></li>
        <li><a href="{{ path('oro_product_product_querylazyload') }}">Select just entities, attributes and values are lazy loaded</a></li>
        
        <li><a href="{{ path('oro_product_product_queryonlyname') }}">Select with only attribute name</a></li>
        <li><a href="{{ path('oro_product_product_querynameanddesc') }}">Select with attribute name and description</a></li>
        <li><a href="{{ path('oro_product_product_querynameanddescforcelocale') }}">Select with attribute name and description (force french)</a></li>
        
        <li><a href="{{ path('oro_product_product_queryfilterskufield') }}">Select filtered on field sku = 'sku-2'</a></li>
        <li><a href="{{ path('oro_product_product_querynamefilterskufield') }}">Select with attribute name and filtered on field sku = 'sku-2'</a></li>
        
        <li><a href="{{ path('oro_product_product_queryfiltersizeattribute') }}">Select with attribute description, size filtered on attribute size = 175</a></li>
        <li><a href="{{ path('oro_product_product_queryfiltersizeanddescattributes') }}">Select with attribute description, size filtered on attribute size = 175 and description = 'my other description'</a></li>

        <li><a href="{{ path('oro_product_product_querynameanddesclimit') }}">Select with attribute name and description limit 1, 10 (TODO : still a problem here, see paginator to limit on entity)</a></li>
        <li><a href="{{ path('oro_product_product_querynameanddescorderby') }}">Select with attribute name and description order by description DESC and id ASC (TODO : don't use localized value)</a></li>
    </ul>

    <p>Nb results : {{ products|length }}</p>

    <table class="mytable">
        <tr>
            <td>Id</td>
            <td>Sku</td>
            
            {% if 'name' in attributes %}
                <td>Name</td>
            {% endif %}
            
            {% if 'description' in attributes %}
                <td>Description</td>
            {% endif %}
            
            {% if 'size' in attributes %}
                <td>Size</td>
            {% endif %}
            
            {% if 'color' in attributes %}
                <td>Color</td>
            {% endif %}
            
            <td>Action</td>
        </tr>
    {% for product in products %}
        <tr>
            <!-- fields -->
            <td>{{ product.id }}</td>
            <td>{{ product.sku }}</td>
            
            <!-- attributes -->
            {% if 'name' in attributes %}
                <td>{{ product.name }}</td>
            {% endif %}
            
            {% if 'description' in attributes %}
                <td>{{ product.description }}</td>
            {% endif %}
            
            {% if 'size' in attributes %}
                <td>{{ product.size }}</td>
            {% endif %}
            
            {% if 'color' in attributes %}
                <td>{{ product.color }}</td>
            {% endif %}
            <td><a href="{{ path('oro_product_product_view', {'id': product.id}) }}">Load details</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}