{% extends 'OroProductBundle::layout.html.twig' %}

{% block content %}

    <ul class="menu">
        <li><a href="{{ path('oro_product_product_querylazyload') }}">Products with lazy load</a></li>
        <li><a href="{{ path('oro_product_product_index') }}">Products no lazy load</a></li>
        <li><a href="{{ path('oro_product_product_queryonlynameandsku') }}">products no lazy load, only sku and name</a></li>
        <li><a href="{{ path('oro_product_product_queryfilterskufield') }}">Products no lazy load filter on field sku = 'sku-1'</a></li>
        <li><a href="{{ path('oro_product_product_queryfiltersizeattribute') }}">Products no lazy load filter on attribute size = 175</a></li>
        <li><a href="{{ path('oro_product_product_queryfiltersizeanddescattributes') }}">Products no lazy load filter on attribute size = 175 and description = 'my long description'</a></li>
    </ul>

    <table class="mytable">
        <tr>
            <td>Id</td><td>Sku</td><td>Name</td><td>Description</td><td>Size</td><td>Color</td>
        </tr>
    {% for product in products %}
        <tr>
            <!-- fields -->
            <td>{{ product.id }}</td>
            <td>{{ product.sku }}</td>
            
            <!-- attributes -->
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.size }}</td>
            <td>{{ product.color }}</td>

            <td><a href="{{ path('oro_product_product_view', {'id': product.id}) }}">Load details</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}