{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}


{#{% block content %}#}
    {#<div class="container-fluid">#}
        {#<h1>{{ (pageTitle is defined ? pageTitle : '')|trans }}#}
            {#{% if buttons is defined %}#}
                {#{% for button in buttons %}#}
                    {#{{ button }}#}
                {#{% endfor %}#}
            {#{% endif %}#}
        {#</h1>#}
    {#</div>#}
    {#{{ UI.gridBlock(gridId) }}#}
{#{% endblock content %}#}


{#{% block head_script %}#}
    {#{{ parent() }}#}
    {#{% placeholder prepare_grid with {'datagrid': datagrid, 'selector': '#' ~ gridId} %}#}
{#{% endblock %}#}


{% block content %}
    {% set pageTitle = 'Entities' %}
    {#{% set buttons = [UI.addButton({'path' : path('oro_user_create'), 'title' : 'Create user', 'label' : 'Create user'})] %}#}
    {% set buttons = [] %}

<div class="container-fluid">
    <h1>
        Entities
        <a href="" class="btn btn-primary pull-right " title="Create">Create</a>
    </h1>
</div>
<div id="entities-grid">

    <div class="clearfix" id="rolesDatagridFilters">
        <div class="filter-box oro-clearfix-width">
            <select id="add-filter-select" multiple="" class="uniform-multiselect" style="display: none;">
                <option value="role" selected="">Role</option>
                <option value="label" selected="">Label</option>
            </select>
            <button type="button" class="ui-multiselect ui-corner-all filter-list select-filter-widget" aria-haspopup="true" style="width: 225px;">
                <a id="add-filter-button" href="javascript:void(0);">Manage filters</a>
            </button>

            <div class="btn-group filter-item oro-drop">
                <button type="button" class="btn filter-criteria-selector oro-drop-opener oro-dropdown-toggle">
                    Role: <strong class="filter-criteria-hint">All</strong>
                    <span class="caret"></span>
                </button>

                <a href="javascript:void(0);" class="disable-filter">
                    <i class="icon-remove hide-text">Close</i>
                </a>

                <div class="filter-criteria dropdown-menu">
                    <div class="choicefilter">
                        <div class="input-prepend">
                            <div class="btn-group">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a class="choice_value" href="#" data-value="1">contains</a></li>
                                    <li><a class="choice_value" href="#" data-value="2">does not contain</a></li>
                                    <li><a class="choice_value" href="#" data-value="3">is equal to</a></li>
                                </ul>
                                <input type="text" name="value" value="">
                                <input class="name_input" type="hidden" name="role" id="role" value="">
                            </div>
                        </div>
                        <button class="btn btn-primary filter-update" type="button">Update</button>
                    </div>
                </div>
            </div>

            <div class="btn-group filter-item oro-drop">
                <button type="button" class="btn filter-criteria-selector oro-drop-opener oro-dropdown-toggle">
                    Label: <strong class="filter-criteria-hint">All</strong><span class="caret"></span>
                </button>
                <a href="javascript:void(0);" class="disable-filter"><i class="icon-remove hide-text">Close</i></a>
                <div class="filter-criteria dropdown-menu">
                    <div class="choicefilter">
                        <div class="input-prepend"><div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span></button>
                            <ul class="dropdown-menu"><li><a class="choice_value" href="#" data-value="1">contains</a></li><li><a class="choice_value" href="#" data-value="2">does not contain</a></li><li><a class="choice_value" href="#" data-value="3">is equal to</a></li>
                            </ul>
                            <input type="text" name="value" value="">
                            <input class="name_input" type="hidden" name="label" id="label" value="">
                        </div>
                    </div>
                        <button class="btn btn-primary filter-update" type="button">Update</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="clearfix" id="rolesDatagridBody">
        <div class="clearfix">
            <div class="toolbar">
                <div>
                    <div class="grid-toolbar">
                        <div class="pull-left">
                            <div class="btn-group icons-holder">
                                <button class="btn"><i class="icon-edit hide-text">edit</i></button>
                                <button class="btn"><i class="icon-copy hide-text">copy</i></button>
                                <button class="btn"><i class="icon-trash hide-text">remove</i></button>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn dropdown-toggle">Status: <strong>All</strong><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">only short</a></li>
                                    <li><a href="#">this is long text for test</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="pull-right">
                            <div class="actions-panel pull-right form-horizontal">
                                <div class="btn-group">
                                    <a href="javascript:void(0);" class="action btn" title="Refresh"><i class="icon-refresh"></i> Refresh</a>
                                    <a href="javascript:void(0);" class="action btn" title="Reset"><i class="icon-repeat"></i> Reset</a>
                                </div>
                            </div>

                            <div class="page-size pull-right form-horizontal">
                                {#<label class="control-label">View per page: &nbsp;</label>#}
                                {#<div class="btn-group">#}
                                    {#<button data-toggle="dropdown" class="btn dropdown-toggle disabled">10<span class="caret"></span></button>#}
                                    {#<ul class="dropdown-menu pull-right">#}
                                        {#<li><a href="#">10</a></li>#}
                                        {#<li><a href="#">25</a></li>#}
                                        {#<li><a href="#">50</a></li>#}
                                        {#<li><a href="#">100</a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            </div>
                        </div>

                        <div class="pagination pagination-centered">
                            <label class="dib">Page:</label>
                            <ul class="icons-holder">
                                <li class="disabled disabled"><a href="#"><i class="icon-chevron-left hide-text">Prev</i></a></li>
                                <li class=" disabled"><input type="text" value="1" disabled="disabled"></li>
                                <li class="disabled disabled"><a href="#"><i class="icon-chevron-right hide-text">Next</i></a></li>
                            </ul>
                            <label class="dib">of 1 | 0 records</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="grid-container">
                    <table class="grid table-hover table table-bordered table-condensed">

                        {#<tr>#}
                            {#<th style="display: none;"><span>ID</span></th>#}
                            {#<th class="ascending"><a href="#">Role <span class="caret"></span></a></th>#}
                            {#<th><a href="#">Label <span class="caret"></span></a></th>#}
                            {#<th class="action-column"><a><b class="sort-caret"></b></a></th>#}
                        {#</tr>#}
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Extend</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Id</td>
                                <td>Name</td>
                                <td>Extend</td>
                                <td>Actions</td>
                            </tr>

                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('flex_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.className }}</td>
                                    <td>{{ entity.extend }}</td>
                                    <td>
                                        <ul>
                                            <li><a href="{{ path('flex_show', { 'id': entity.id }) }}">show</a></li>
                                            <li><a href="{{ path('flex_edit', { 'id': entity.id }) }}">edit</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>


                    </table>

                    <div class="no-data" style="">
                        <span>No entities were found to match your search.<br>                    Try modifying your search criteria or creating a new ...<span></span></span>
                    </div>
                    <div class="loading-mask">
                        <div class="loading-mask" style="display: none;">
                            <div id="loading-wrapper" class="loading-wrapper" style="height: 100%;"></div>
                            <div id="loading-frame" class="loading-frame" style="top: 0px;">
                                <div class="box well">
                                    <div class="loading-content">Loading . . .</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





        </div>
    </div>
</div>

<ul>
    {#<li><a href="{{ path('flex_new') }}">Create a new entry</a></li>#}
</ul>



{% endblock %}