<h1>User</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.className }}</td>
        </tr>
        <tr>
            <th>Parent</th>
            <td>{{ entity.parent }}</td>
        </tr>
        <tr>
            <th>Config</th>
            <td>{{ entity.config }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('flex') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('flex_edit', { 'id': entity.id }) }}">Edit</a>
    </li>
    <li>
        <form action="{{ path('flex_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
