{% extends 'OroUIBundle:actions:view.html.twig' %}
{% set gridId = 'fields-grid' %}
{% block navButtons %}
    {{ UI.button({'path' : path('oro_entityconfig_index'), 'iClass' : 'icon-chevron-left ', 'title' : 'Back', 'label' : 'Back'}) }}
    {% if resource_granted('oro_user_user_update') %}
        {{ UI.button({'path' : path('oro_entityconfig_update', { id: entity.id }), 'iClass' : 'icon-edit ', 'title' : 'Edit user', 'label' : 'Edit'}) }}
    {% endif %}

    {#{% if resource_granted('oro_user_user_delete') and entity.id!=app.user.id %}#}
        {#{{ UI.deleteButton({#}
        {#'dataUrl': path('oro_api_delete_user', {'id': entity.id}),#}
        {#'dataRedirect': path('oro_user_index'),#}
        {#'aCss': 'no-hash remove-button',#}
        {#'id': 'btn-remove-user',#}
        {#'dataId': entity.id,#}
        {#'dataMessage': 'Are you sure you want to delete this user?',#}
        {#'title': 'Delete user',#}
        {#'label': 'Delete'#}
        {#}) }}#}
    {#{% endif %}#}
{% endblock navButtons %}

{% block head_script %}
    {{ parent() }}

    {% placeholder prepare_grid with {'datagrid': datagrid, 'selector': '#' ~ gridId, 'parameters': ''} %}
{% endblock %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_entityconfig_index'),
        'indexLabel': 'Entities',
        'entityTitle': entity.className,
        'hasAvatar':   false,
        'imagePath':   '',
    }
    %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
{% endblock stats%}

{% block content_data %}
    {% set id = 'entityconfig-view' %}
    {% set link = '<p class="control-label"><a href="%link%">%entityName%</a></p>'|replace({'%link%': link, '%entityName%':entityName|capitalize}) %}
    {% set data = {
        'dataBlocks':
            [
                {
                    'title': 'General',
                    'class': 'active',
                    'subblocks': [
                        {
                            'title': 'General Information',
                            'data': [
                                UI.attibuteRow('Class name', entity.className),
                                UI.attibuteRow('Created', UI.Time(entity.created)),
                                UI.attibuteRow('Updated', UI.Time(entity.updated)),
                            ]
                          },
                        {
                            'title': 'Summary',
                            'data': [
                                UI.renderAttribute('Link', link ),
                                UI.attibuteRow('# of records', 'toDo'),
                            ]
                        },
                    ]
                },
                {
                    'title': 'Fields',
                    'subblocks': [
                        {
                            'title': '',
                            'useSpan': false,
                            'data': [
                                UI.gridBlock(gridId)
                            ]
                        }
                    ]
                }
            ]
        }
    %}

    {{ parent() }}
{% endblock content_data %}
