{% extends 'OroUIBundle:actions:view.html.twig' %}
{% set gridId = 'fields-grid' %}
{% oro_title_set({params : {"%entityName%": entityName|default('N/A') }}) %}

{% block navButtons %}
    {{ UI.button({'path' : path('oro_entityconfig_index'), 'iClass' : 'icon-chevron-left ', 'title' : 'Back', 'label' : 'Back'}) }}
    {% if resource_granted('oro_user_user_update') %}
        {{ UI.button({'path' : path('oro_entityconfig_update', { id: entity.id }), 'iClass' : 'icon-edit ', 'title' : 'Edit user', 'label' : 'Edit'}) }}
    {% endif %}
    {{ UI.button({'path' : path('oro_entityextend_entity_unique_key', { id: entity.id }), 'iClass' : 'th-large', 'title' : 'Unique Keys', 'label' : 'Unique Keys'}) }}
{% endblock navButtons %}

{% block head_script %}
    {{ parent() }}

    {% placeholder prepare_grid with {'datagrid': datagrid, 'selector': '#' ~ gridId, 'parameters': ''} %}
{% endblock %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_entityconfig_index'),
        'indexLabel': 'Entities',
        'entityTitle': [moduleName, ':', entityName]|join,
    }
    %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'Created'|trans }}: {{ UI.Time(entity.created) }}</li>
    <li>{{ 'Updated'|trans }}: {{ UI.Time(entity.updated) }}</li>
    <li>{{ ['<a href="', link, '">', 'List'|trans, '</a>']|join|raw }}</li>

    {#UI.attibuteRow('# of records', 0),#}
{% endblock stats%}

{% block content_data %}
    {% set id = 'entityconfig-view' %}

    {% set generalFields = [
        UI.attibuteRow('Name', entityName),
        UI.attibuteRow('Module', moduleName),
    ]%}

    {% for key,property in properties %}
        {% set generalFields = generalFields|merge([UI.attibuteRow(key|replace('_',' ')|capitalize, property)])%}
    {% endfor %}
    {#{% set generalFields = generalFields|merge([UI.attibuteRow('Type', entity.type )])%}#}

    {% set data = {
        'dataBlocks': [
            {
                'title': 'General',
                'class': 'active',
                'subblocks': [
                    {
                        'title': 'General Information',
                        'data': generalFields
                    },
                    {
                        'title': 'Unique Keys',
                        'data': [
                        ]
                    }
                ]
            },
            {
                'title': 'Fields',
                'subblocks': [
                    {
                        'title': '',
                        'useSpan': false,
                        'data': [
                            UI.gridBlock(gridId)
                        ]
                    }
                ]
            }
        ]
    }%}

    {{ parent() }}
{% endblock content_data %}
