{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block head_script %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block page_container %}
    <div class="container-fluid">
        {% block content %}
            {#{{ dump(validations) }}#}
            {#{{ dump(entity.id) }}#}
            <div>
                <div>
                    <div class="flash-messages-holder">
                    {% if validations.success is defined %}
                        {% for message in validations.success %}
                            <div class="alert alert-success">
                                <div class="message">{{ message }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if validations.error is defined %}
                        {% for message in validations.error %}
                            <div class="alert alert-error">
                                <div class="message">{{ message }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>

            {{ UI.button({'path' : path('oro_entityconfig_view', {'id':entity.id}), 'title' : 'Cancel', 'label' : 'Cancel'}) }}
            {{ UI.button({'path' : path('oro_entityextend_update', {'id':entity.id}), 'title' : 'Cancel', 'label' : 'Proceed'}) }}

        {% endblock %}
    </div>
{% endblock %}
