{{ dump(properties|keys) }}
<ul>
{% for val in value %}
    {{ dump(val.scope) }}
    {% for key, data in val.diff %}

        {{ dump(data) }}
        <li>
            <b>{{ key|capitalize|replace('_',' ') }}</b>: <s>{{ data[0]|default('N/A') }}</s> {{ data[1] }}
        </li>
    {% endfor %}
{% endfor %}
</ul>
