{% macro renderView(entity) %}
    {# // check if block was not included yet #}
    {% set _block = block('oro_tag_view_js') %}
    {% if (_block is empty) %}
        {% include 'OroTagBundle::javascript.html.twig' %}
        {{ block('oro_tag_view_js')|raw }}
    {% endif %}

    <div id="tags"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            var tags = {{ oro_tag_get_list(entity)|json_encode|raw }};
            var tagView = new Oro.Tags.TagView();
            tagView.getCollection().reset(tags);
        });
    </script>
{% endmacro %}

{#
    Render input for tags
#}
{% macro tagInputField(label, form, defaultClass) %}

    <div>
        <div class="controls">
            <div>
                <ul class="inline" id="tag-sort-actions">
                    <li class="active">
                        <a href="javascript:void(0);" class="no-hash">
                            {% trans %}All tags{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-type="owner" class="no-hash">
                            {% trans %}My tags{% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{ form_row(form.tags)  }}

    <script type="text/javascript">
        $(document).ready(function () {
            var tags = {{ oro_tag_get_list(form.vars.value)|json_encode|raw }};
            var tagView = new Oro.Tags.Select2View({tagInputId: '#{{ form.tags.get('id') }}'});
            tagView.getCollection().reset(tags);

            {% if not resource_granted('oro_tag_assign_unassign') %}
                $('#{{ form.tags.get('id') }}').select2("readonly", true);
            {% endif %}
        });
    </script>
{% endmacro %}
