<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <a href="{{ path('_welcome') }}">
                    <img src="{{ asset('bundles/acmedemo/images/logo.gif') }}" alt="Symfony logo" />
                </a>
            </div>

            {% block header %}
                <ul class="switch-language">
                    {% set route_params = app.request.attributes.get('_route_params') %}
                    {% if route_params == "" %}
                        {% set route_params = [] %}
                    {% endif %}
                    <li>
                        <a href="{{ path(
                            app.request.attributes.get('_route'),
                            route_params | merge({"_locale": "en"})
                        ) }}" class="ui-icon-flag-us">EN</a>
                    </li>&nbsp;&nbsp;
                    <li>
                        <a href="{{ path(
                            app.request.attributes.get('_route'),
                            route_params | merge({"_locale": "fr"})
                        ) }}" data-role="button" class="ui-icon-flag-fr">FR</a>
                    </li>
                </ul>
            {% endblock %}

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}
            
            <div class="clear"></div>

            <div class="sidebar">
            {% block content_header %}
                <ul class="menu">
                    <li class="subtitle"><strong>Settings</strong></li>
                    <li><a href="{{ path('oro_product_default_truncatedb') }}">Reset DB</a></li>

                    <li class="subtitle"><strong>Simple entity</strong></li>
                    <li><a href="{{ path('oro_manufacturer_manufacturer_insert') }}">Insert manufacturers</a></li>
                    <li><a href="{{ path('oro_manufacturer_manufacturer_index') }}">List manufacturers</a></li>

                    <li class="subtitle"><strong>Flexible entity</strong></li>
                    <li><a href="{{ path('oro_customer_attribute_insert') }}">Insert attributes</a></li>
                    <li><a href="{{ path('oro_customer_attribute_index') }}">List attributes</a></li>
                    <li><a href="{{ path('oro_customer_customer_insert') }}">Insert customers</a></li>
                    <li><a href="{{ path('oro_customer_customer_index') }}">List customers</a></li>

                    <li class="subtitle"><strong>Custom flexible entity</strong></li>
                    <li><a href="{{ path('oro_product_attribute_insert') }}">Insert attributes</a></li>
                    <li><a href="{{ path('oro_product_attribute_index') }}">List attributes</a></li>
                    <li><a href="{{ path('oro_product_product_insert') }}">Insert products</a></li>
                    <li><a href="{{ path('oro_product_product_index') }}">List products</a></li>
                </ul>
            {% endblock %}
            </div>

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>

            {% if code is defined %}
                <h2>Code behind this page</h2>
                <div class="symfony-content">{{ code|raw }}</div>
            {% endif %}
        </div>
    </body>
</html>
