{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set format = oro_config_value('oro_user.name_format') %}
{% form_theme form with 'OroUIBundle:Form:fields.html.twig' %}

{% block page_container %}
    {% block content %}
        {{ JSFV(form) }}
        <form id="{{ form.name }}" action="{{ form.vars.value.id ? path('oro_user_update', { id: form.vars.value.id}) : path('oro_user_create') }}" {{ form_enctype(form) }}
              method="post" data-collect="true" class="scrollable-substructure">
            <div class="navigation clearfix navbar-extra navbar-extra-right">
                <div class="row">
                    <div class="pull-right">
                        <div class="pull-right">
                            {% block navButtons %}
                            {% endblock navButtons %}
                        </div>
                        {% placeholder change_history_block with {entity:'Oro_Bundle_UserBundle_Entity_User', id: form.vars.value.id, title: form.vars.value  ~ '-' ~  'Change History'|trans } %}
                    </div>
                    <div class="span9">
                        {% block pageHeader %}
                        {% endblock pageHeader %}
                    </div>
                </div>
            </div>
            <div class="layout-content">
                {% block scroll_data %}
                    {{ UI.scrollData(id, data, true) }}
                {% endblock scroll_data %}
            </div>
        </form>
    {% endblock content %}
{% endblock %}
