{% extends bap.layout%}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block page_container %}
    {% block content %}
        {{ JSFV(form) }}
        <form id="{{ form.vars.name }}" action="{{ formAction }}" {{ form_enctype(form) }}
              method="post" data-collect="true" class="scrollable-substructure">
            <div class="navigation clearfix navbar-extra navbar-extra-right">
                <div class="row">
                    <div class="pull-right">
                        <div class="pull-right">
                            {% block navButtons %}
                            {% endblock navButtons %}
                            <input type="hidden" name="input_action" value="" data-form-id="{{ form.vars.name }}"/>
                        </div>

                        {% set audit_entity_id = audit_entity_id|default ? audit_entity_id : form.vars.value.id|default %}
                        {% if (entityClass is defined and audit_entity_id) %}
                            {% placeholder change_history_block with {'entity': entityClass, 'id': audit_entity_id, 'title': audit_title|default(form.vars.value), 'audit_path': audit_path|default('oro_dataaudit_history') } %}
                        {% endif %}
                    </div>
                    <div class="span9">
                        {% block pageHeader %}
                            <div class="customer-info {% if (breadcrumbs.hasAvatar is not defined) %}customer-simple{% endif %} well-small">
                                {% if (breadcrumbs.hasAvatar is defined and breadcrumbs.hasAvatar) %}
                                    <div class="visual">
                                        <img src="{{ breadcrumbs.imagePath ? breadcrumbs.imagePath | imagine_filter('avatar_med') : asset('bundles/oroui/img/info-usser.png') }}" alt="{{ breadcrumbs.entityTitle }}"/>
                                    </div>
                                {% endif %}
                                <div class="customer-content pull-left">
                                    <div class="clearfix">
                                        {% block breadcrumbs %}
                                            <div class="pull-left">
                                                <div class="sub-title"><a href="{{ breadcrumbs.indexPath }}">{{ breadcrumbs.indexLabel|trans }}</a></div>
                                                <span class="separator">/</span>
                                                {% if breadcrumbs.additional is defined %}
                                                    {% for breadcrumb in breadcrumbs.additional %}
                                                    <div class="sub-title"><a href="{{ breadcrumb.indexPath }}">{{ breadcrumb.indexLabel|trans }}</a></div>
                                                    <span class="separator">/</span>
                                                    {% endfor %}
                                                {% endif %}
                                                <h1 class="user-name">{{ breadcrumbs.entityTitle }}</h1>
                                            </div>
                                        {% endblock breadcrumbs %}
                                    </div>
                                    <div class="clearfix">
                                        <ul class="inline">
                                            {% block stats %}
                                                {% if breadcrumbs.entity.createdAt is defined and breadcrumbs.entity.updatedAt is defined %}
                                                    <li>{{ 'Created'|trans }}: {{ breadcrumbs.entity.createdAt ? UI.time(breadcrumbs.entity.createdAt) : 'N/A' }}</li>
                                                    <li>{{ 'Updated'|trans }}: {{ breadcrumbs.entity.updatedAt ? UI.time(breadcrumbs.entity.updatedAt) : 'N/A' }}</li>
                                                {% endif %}
                                            {% endblock stats %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endblock pageHeader %}
                    </div>
                </div>
            </div>
            <div class="layout-content">
                {% block content_data %}
                    {{ UI.scrollData(id, data, true) }}
                {% endblock content_data %}
            </div>
        </form>
    {% endblock content %}
{% endblock %}
