{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set format = oro_config_value('oro_user.name_format') %}
{% block content %}
<div class="layout-content">
    <div class="navigation clearfix navbar-extra navbar-extra-right">
        <div class="row">
            <div class="pull-right">
                <div class="pull-right">
                    {% block navButtons %}
                    {% endblock navButtons %}
                </div>
                {% if (entity is defined and entityClass is defined) %}
                    {% placeholder change_history_block with {'entity': entityClass, 'id': entity.id, 'title': audit_title|default(entity), 'audit_path': audit_path|default('oro_dataaudit_history') } %}
                {% endif %}
            </div>
            <div class="span9">
            {% block pageHeader %}
                <div class="customer-info {% if (breadcrumbs.hasAvatar is not defined) %}customer-simple{% endif %} well-small">
                    {% if breadcrumbs.hasAvatar is defined and breadcrumbs.hasAvatar %}
                        <div class="visual">
                            <img src="{{ breadcrumbs.imagePath ? breadcrumbs.imagePath | imagine_filter('avatar_med') : asset('bundles/oroui/img/info-usser.png') }}" alt="{{ breadcrumbs.entityTitle }}"/>
                        </div>
                    {% endif %}
                    <div class="customer-content pull-left">
                        <div class="clearfix">
                            {% block breadcrumbs %}
                                <div class="pull-left">
                                    {% if breadcrumbs.indexPath is defined %}
                                        <div class="sub-title"><a href="{{ breadcrumbs.indexPath }}">{{ breadcrumbs.indexLabel|trans }}</a></div>
                                    {% else %}
                                        <div class="sub-title">{{ breadcrumbs.indexLabel|trans }}</div>
                                    {% endif %}
                                    <span class="separator">/</span>
                                    {% if breadcrumbs.additional is defined %}
                                        {% for breadcrumb in breadcrumbs.additional %}
                                            <div class="sub-title"><a href="{{ breadcrumb.indexPath }}">{{ breadcrumb.indexLabel|trans }}</a></div>
                                            <span class="separator">/</span>
                                        {% endfor %}
                                    {% endif %}
                                    <h1 class="user-name">{{ breadcrumbs.entityTitle }}</h1>
                                </div>
                            {% endblock breadcrumbs %}
                        </div>
                        <div class="clearfix">
                            <ul class="inline">
                                {% block stats %}
                                    <li>{{ 'Created'|trans }}: {{ breadcrumbs.entity.createdAt ? UI.time(breadcrumbs.entity.createdAt) : 'N/A' }}</li>
                                    <li>{{ 'Updated'|trans }}: {{ breadcrumbs.entity.updatedAt ? UI.time(breadcrumbs.entity.updatedAt) : 'N/A' }}</li>
                                {% endblock stats %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock pageHeader %}
            </div>
        </div>
    </div>
    <div class="layout-content">
        {% block content_data %}
            {{ UI.scrollData(id, data) }}
        {% endblock content_data %}
    </div>
</div>
{% endblock content %}
