{% macro renderTransition(workflow, transition, url) %}
    <a href="{{ url }}"
       class="btn icons-holder-text no-hash {% if transition.options.frontend is defined and transition.options.frontend.class is defined %}{{ transition.options.frontend.class }}{% endif %}"
       id="transition-{{ workflow.name }}-{{ transition.name }}">
        {% if transition.options.frontend is defined and transition.options.frontend.icon is defined %}
            <i class="{{ transition.options.frontend.icon }} hide-text">{{ transition.label }}</i>
        {% endif %}
        {{ transition.label }}
    </a>
{% endmacro %}

{% set blockId = 'trnaisitions-container-' ~ random() %}
<div class="widget-content btn-group" id="{{ blockId }}">
    {% for data in new_workflows_data %}
        {% for transition in data.transitions %}
            {{ _self.renderTransition(
                data.workflow,
                transition,
                path(
                    'oro_workflow_api_rest_workflow_start',
                    {
                        workflowName: data.workflow.name,
                        entityClass: entity_class,
                        entityId: entity_id,
                        transitionName: transition.name,
                        _format: 'json'
                    }
                )
            ) }}
        {% endfor %}
    {% endfor %}

    {% for data in exisiting_workflows_data %}
        {% for transition in data.transitions %}
            {{ _self.renderTransition(
                data.workflow,
                transition,
                path(
                    'oro_workflow_api_rest_workflow_transit',
                    {
                        workflowItemId: data.workflowItem.id,
                        transitionName: transition.name,
                        _format: 'json'
                    }
                )
            ) }}
        {% endfor %}
    {% endfor %}

    <script type="text/javascript">
        $(function() {
            var container = $('#{{ blockId }}');
            {% for data in new_workflows_data|merge(exisiting_workflows_data) %}
                {% for transition in data.transitions %}
                    container.on('click', '#transition-{{ data.workflow.name }}-{{ transition.name }}', function(e) {
                        e.preventDefault();
                        $.getJSON(this.href)
                            .done(function(response) {
                                if (Oro.hashNavigationEnabled()) {
                                    Oro.hashNavigationInstance.loadPage();
                                } else {
                                    window.location.reload();
                                }
                            })
                            .fail(function(jqxhr, textStatus, error) {
                                Oro.NotificationFlashMessage('error', _.__('Could not perform transition'));
                            });
                        return false;
                    });
                {% endfor %}
            {% endfor %}
        });
    </script>
</div>
