{% macro render_form_col(fields) %}
    <fieldset class="span4 offset1">
        {% for field in fields %}
            {{ form_row(field) }}
        {% endfor %}
    </fieldset>
{% endmacro %}

{% macro render_view_attribute_col(workflowItem, viewAttributes) %}
    <div class="span4 offset1">
        {% for viewAttribute in viewAttributes %}
            {{ oro_workflow_render_view_attribute_row(workflowItem, viewAttribute) }}
        {% endfor %}
    </div>
{% endmacro %}

{% set saveAllowed = displayStep.name == currentStep.name and not workflowItem.closed %}

<div class="container-fluid widget-content">
    <style type="text/css">
        .step-form-container {
            padding: 20px 0 20px;
        }

        .form-horizontal .step-form-container .control-label {
            font-weight: normal;
        }

        /** Wizard styles **/
        .wizard a {
            padding: 5px 5px 5px 20px;
            margin-right: 0px;
            color: #898989;
            background: #e5e5e5;
            position: relative;
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
        }

        .wizard a:before {
            width: 0;
            height: 0;
            border-top: 14px inset transparent;
            border-bottom: 14px inset transparent;
            border-left: 15px solid #f2f2f2;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
        }
        .wizard a:after {
            width: 0;
            height: 0;
            border-top: 14px inset transparent;
            border-bottom: 14px inset transparent;
            border-left: 15px solid #e5e5e5;
            position: absolute;
            content: "";
            top: 0;
            right: -15px;
            z-index: 2;
        }
        .wizard a:first-child:before {
            border: none;
        }
        .wizard a:first-child {
            padding-left: 15px;
        }
        .wizard .processed {
            background: #1f8fd7;
            color: #fff;
        }
        .wizard .processed:after {
            border-left-color: #1f8fd7;
        }
    </style>

    <div class="step-form-header wizard" style="display: none;">
            {% set isProcessed = false %}
            {% for step in steps %}
                <a href="{{ path('oro_workflow_widget_step_form', { workflowItemId: workflowItem.id, stepName: step.name }) }}"
                   class="no-hash {% if not isProcessed %}processed{% endif %} {% if step.name == currentStep.name %}current{% endif %}">
                    {% if step.name == displayStep.name %}
                        <i class="icon icon-chevron-sign-right"></i>
                    {% endif %}
                    {{ step.label|trans }}
                </a>
                {% if step.name == currentStep.name %}
                    {% set isProcessed = true %}
                {% endif %}
            {% endfor %}
    </div>

    {% if saved %}
        <script type="text/javascript">
            require(['oro/widget-manager'],
            function(widgetManager){
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    widget.trigger('formSave');
                });
            });
        </script>
    {% elseif form.vars.errors|length > 0 %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="form-container">
        {% if displayStep.viewAttributes|length %}
            <div class="form-horizontal">
                <div class="step-form-container row-fluid">
                    {% set attrsPerCol = 4 %}
                    {% set numberOfColumns = 2 %}
                    {% set formAttrsPerCol = displayStep.viewAttributes|length/numberOfColumns %}
                    {% if formAttrsPerCol > attrsPerCol  %}
                        {% set attrsPerCol = formAttrsPerCol %}
                    {% endif %}
                    {% for colNum in 1..numberOfColumns %}
                        {% set start = (colNum - 1) * attrsPerCol %}
                        {{ _self.render_view_attribute_col(workflowItem, displayStep.viewAttributes|slice(start, attrsPerCol)) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if displayStep.formOptions.attribute_fields is defined and displayStep.formOptions.attribute_fields|length %}
            <form method="post"
                data-nohash="true"
                data-disable-autofocus="true"
                id="{{ form.vars.name }}"
                action="{{ path('oro_workflow_widget_step_form', {workflowItemId: workflowItem.id}) }}"
                class="form-horizontal">
                <div class="step-form-container row-fluid">
                    {% set fieldsPerCol = 4 %}
                    {% set numberOfColumns = 2 %}
                    {% set formFieldsPerCol = form|length/numberOfColumns %}
                    {% if formFieldsPerCol > fieldsPerCol  %}
                        {% set fieldsPerCol = formFieldsPerCol %}
                    {% endif %}
                    {% for colNum in 1..numberOfColumns %}
                        {% set start = (colNum - 1) * fieldsPerCol %}
                        {{ _self.render_form_col(form|slice(start, fieldsPerCol)) }}
                    {% endfor %}-
                </div>

                {% if saveAllowed %}
                    <div class="widget-actions">
                        <button type="submit" class="btn btn-success btn-small">{{ 'Save'|trans }}</button>
                    </div>
                {% endif %}
            </form>
            {{ oro_form_js_validation(form) }}
        {% endif %}
    </div>

    <script type="text/javascript">
        require(['oro/widget-manager'],
        function(widgetManager){
            widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget){
                widget.$el.find('.step-form-header a').on('click', function(e) {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    if (!widget.loading) {
                        widget.setUrl(this.href);
                        widget.loadContent();
                    }
                });
                widget.setTitle(widget.$el.find('.step-form-header').show());

                {% if saveAllowed %}
                widget.on('renderStart', function() {
                    widget.options.loadingMaskEnabled = true;
                });

                widget.on('adoptedFormSubmit', function() {
                    widget.options.loadingMaskEnabled = false;
                    form.find(':input:not(:disabled)').prop('disabled',true);
                    widget.getAction('form_submit', 'adopted', function(submitAction) {
                        if (submitAction) {
                            submitAction.html('<i class="icon-spinner"></i> {{ "Saving"|trans }}...');
                            submitAction.removeClass('btn-success');
                            submitAction.prop('disabled',true);
                        }
                    });
                });

                var isAllRequiredFieldsFilled = function(form) {
                    var requiredEls = form.find(':input[required]');
                    for (var i = 0; i < requiredEls.length; i++) {
                        var $el = $(requiredEls[i]);
                        if ($el.length && !$el.val().length) {
                            return false;
                        }
                    }
                    return true;
                };

                var form = widget.$el.find('form');
                form.find(':input:not(.select2-input)').on('change', function() {
                    setTimeout(function() {
                        if (isAllRequiredFieldsFilled(form)) {
                            form.submit();
                        }
                    }, 100);
                });
                {% endif %}
            });
        });
    </script>
</div>
