<div class="widget-content">
    {% if saved %}
        <script type="text/javascript">
            require(['oro/widget-manager'],
            function(widgetManager){
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    widget.trigger(
                        'formSave',
                        {% if data is defined and data %}
                            {{ data|json_encode|raw }}
                        {% else %}
                            null
                        {% endif %}
                    );
                });
            });
        </script>
    {% elseif form.vars.errors|length > 0 %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {% if transition.message %}
    <div class="alert">{{ transition.message|trans }}</div>
    {% endif %}
    <form method="post"
          data-nohash="true"
          data-disable-autofocus="true"
          id="{{ form.vars.name }}"
          action="{{ app.request.uri }}"
          class="form-dialog"
    >
        <fieldset class="form-horizontal">
        {{ form_rest(form) }}
        </fieldset>

        <div class="widget-actions">
            <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
            <button type="submit" class="btn btn-success">{{ 'Submit'|trans }}</button>
        </div>
    </form>
</div>
