{% import 'OroUIBundle::macros.html.twig' as macros %}

{% set blockId = 'workflow-items-container-' ~ random() %}
<div class="widget-content workflow-items" id="{{ blockId }}">
    <style type="text/css">
        .widget-content.workflow-items {
            margin: 20px 15px;
        }
    </style>
    {% if workflows_items_data|length %}
        <table class="table-hover table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{% trans %}Workflow Name{% endtrans %}</th>
                    <th>{% trans %}Current Step{% endtrans %}</th>
                    <th>{% trans %}Start Date{% endtrans %}</th>
                    <th>{% trans %}Status{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for data in workflows_items_data %}
                    {% set enabled = data.workflow.enabled %}
                    {% set closed = data.workflowItem.closed %}
                    {% set show_link = enabled %}
                    <tr>
                        <td>
                            {% if show_link %}
                                <a href="{{ path('oro_workflow_step_edit', { id : data.workflowItem.id }) }}">{{ data.workflow.label }}</a>
                            {% else %}
                                {{ data.workflow.label }}
                            {% endif %}
                        </td>
                        <td>
                            {% if show_link %}
                                <a href="{{ path('oro_workflow_step_edit', { id : data.workflowItem.id }) }}">{{ data.currentStep.label }}</a>
                            {% else %}
                                {{ data.currentStep.label }}
                            {% endif %}
                        </td>
                        <td>
                            {{ macros.date(data.workflowItem.createdAt) }}
                        </td>
                        <td>
                            {% if not enabled %}
                                <span class="label">{% trans %}Disabled{% endtrans %}</span>
                            {% elseif closed %}
                                <span class="label label-inverse">{% trans %}Closed{% endtrans %}</span>
                            {% else %}
                                <span class="label label-success">{% trans %}Active{% endtrans %}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans %}No workflow items are available{% endtrans %}</p>
    {% endif %}
</div>
