{% extends 'PimEnrichBundle:MassEditAction:configure/layout.html.twig' %}

{% set notGrantedIdentifiers = form.operation.notGrantedIdentifiers.vars.value %}
{% set nbNotGranted = notGrantedIdentifiers|trim|length == 0 ? 0 : notGrantedIdentifiers|split(', ')|length %}
{% set productCount = productCount - nbNotGranted %}

{% block head_script %}
    {{ parent() }}

    <script type="text/javascript">
        require(
            ['jquery', 'underscore', 'pim/tree/associate'],
            function($, _, TreeAssociate){
                'use strict';
                $(function() {
                    new TreeAssociate('#trees', '#{{ form.operation.categories.vars.id }}');
                    var $nextBtn = $('a.next');
                    $nextBtn.hide();
                    {% if productCount > 0 %}
                        $('#{{ form.operation.categories.vars.id }}').on('change', function() {
                            if ($(this).val()) {
                                $nextBtn.show();
                            } else {
                                $nextBtn.hide();
                            }
                        });
                    {% endif %}
                });
            }
        );
    </script>
{% endblock %}

{% block formContent %}
    {% if productCount == 0 %}
        {% set alertClass = 'error' %}
        {% set alertMessage = 'pim_enrich.mass_edit_action.classify.message.error'|trans %}
    {% elseif nbNotGranted > 0 %}
        {% set alertClass = 'warning' %}
        {% set alertMessage = 'pim_enrich.mass_edit_action.classify.message.warning'|trans({'%notGranted%': notGrantedIdentifiers}) %}
    {% endif %}

    {% if alertClass is defined and alertMessage is defined %}
        <div class="alert alert-{{ alertClass }}">
            <div class="message">
                <ul><li>{{ alertMessage }}</li></ul>
            </div>
        </div>
    {% endif %}

    {% if productCount > 0 %}
        {{ form_widget(form.operation.categories) }}

        {% set trees = form.vars.value.operation.trees %}

        <div class="classify">
            <div class="tab-pane">
                <div id="trees-list" class="tab-groups">
                    <ul class="nav nav-list">
                        {% for tree in trees %}
                            {% set aClass = "" %}
                            {% set iClass = "gray" %}
                            <li>
                                <a class="{{ aClass }}" href="javascript:void(0);" id="tree-link-{{ tree.id }}">
                                    <i class="icon-ok {{ iClass }}"></i>{{ tree.label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-content">
                    {% set selectedTree = 0 %}
                    {% if trees %}
                        {% if app.user.defaulttree is defined and app.user.defaultTree.code is defined %}
                            {% for tree in trees %}
                                {% if loop.first or tree.code == app.user.defaulttree.code %}
                                    {% set selectedTree = tree.id %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <div id="trees" data-selected-tree="{{ selectedTree }}">
                        {% for tree in trees %}
                            <div class="tree root-unselectable" data-tree-id="{{ tree.id }}">
                                <h3>{{ tree.label }}</h3>
                                <div id="tree-{{ tree.id }}"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
