{% block content %}
    <div id="category-form" style="flex-grow:1" class="AknDefault-mainContent">
        {% include 'AkeneoPimEnrichmentBundle:CategoryTree:form.html.twig' with {'form': form} %}
    </div>

    {% include "AkeneoPimEnrichmentBundle:CategoryTree:_scripts.html.twig" %}
{% endblock %}

<script type="text/javascript" nonce="{{ js_nonce() }}">
    window.flashMessages = JSON.parse('{{ app.session.flashbag.all|json_encode()|raw }}');
</script>

<script nonce="{{ js_nonce() }}">
    require(
        [
            'pim/common/breadcrumbs',
            'pim/fetcher-registry',
            'pim/form-builder',
            'pim/page-title'
        ],
        function(
            Breadcrumbs,
            FetcherRegistry,
            FormBuilder,
            PageTitle
        ) {
            $(function() {
                var breadcrumbs = new Breadcrumbs({
                    config: {
                        tab: 'pim-menu-settings',
                        item: 'pim-menu-settings-product-category'
                    }
                });
                breadcrumbs.configure().then(function () {
                    breadcrumbs.render();
                    $('*[data-drop-zone="breadcrumbs"]').append(breadcrumbs.$el);
                });

                PageTitle.set({ 'category.label': '{{ form.vars.value.label }}' });

                // On the initial page load the routing is completed before we set the PageTitle params so we need to trigger it manually (see PIM-8655).
                {% if form.vars.value.code is empty %}
                PageTitle.render('pim_enrich_categorytree_create', { 'category.label': '{{ form.vars.value.label }}' });
                {% else %}
                PageTitle.render('pim_enrich_categorytree_edit', { 'category.label': '{{ form.vars.value.label }}' });
                {% endif %}

                FetcherRegistry.initialize().done(function () {
                    FormBuilder.build('pim-menu-user-navigation').then(function (form) {
                        $('.user-menu').append(form.el);
                        form.render();
                    }.bind(this));
                });
            });
        }
    );
</script>
