{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}

{{ form_start(form, {
    'action': path('pim_enrich_variant_group_create'),
    'class': 'form-inline',
    'attr': {
        'data-title': 'popin.create.variant_group.title'|trans,
        'data-button-submit': 'btn.save'|trans|capitalize,
        'data-button-cancel': 'btn.cancel'|trans|capitalize
    }
}) }}
    {{ JSFV(form) }}

    {{ elements.form_errors(form) }}

    <div class="row-fluid">
        {{ form_row(form.code) }}
        {{ form_row(form.type) }}
        {{ form_row(form.attributes) }}
    </div>
{{ form_end(form) }}
