{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}{{ parent() }} Add product type{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('pim_catalog_producttype_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-ui-button-navigation-back"></span><span class="ui-button-text">Back to list</span>
        </a>
    </li>
{% endblock %}

{% block content %}

    {% form_theme form 'BapUIBundle:Form:fields.html.twig' %}
    
    <form action="{{ path('pim_catalog_producttype_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}
    
        <div class="form-panel ui-corner-all">
            <h2>General</h2>
            {{ form_row(form.code) }}
        </div>
        
        <div class="form-panel ui-corner-all">
            <h2>Copy from existing type</h2>
            {{ form_row(form.copyfromset) }}
        </div>

        {{ form_widget(form._token) }}

        <input type="submit" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false" />
    </form>

{% endblock %}