{% extends bap.layout %}

{% macro renderWidget(widget) %}
    {% if resource_granted(widget.acl) %}
    <div class="quick-launchpad-widget span6">
        <div class="clearfix">
            <div class="image-wrap pull-left">
                <p class="text-center">
                    {{ widget.label|trans }}
                </p>
                {% if widget.image is defined and widget.image %}
                    <a href="javascript:void(0);" class="widget-image {{ widget.image }}"></a>
                {% endif %}
            </div>
            <div class="list-wrap pull-left">
                <ul class="nav nav-list">
                    {% for link in widget.links %}
                        <li class="{{ loop.last ? 'last' : '' }}">
                            <a href="{{ link.url|raw }}" title="{{ link.label|trans }}">{{ link.label|trans }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endmacro %}
{% import _self as __ %}

{% block content %}
    <div class="scrollable-container quick-launchpad dashboard">
        <div class="container">
            <h3>{{ 'Quick Launchpad'|trans }}</h3>

            {% set widgetsArray = [
                {
                    label: 'pim_dashboard.menu.label.collect',
                    links: [
                        { url: path('pim_importexport_import_profile_index'), label: 'pim_dashboard.link.label.import_profile' },
                        { url: path('pim_importexport_import_execution_index'), label: 'pim_dashboard.link.label.import_report' }
                    ],
                    image: 'collect-image',
                    acl: 'pim_navigation_collect'
                },
                {
                    label: 'pim_dashboard.menu.label.enrich',
                    links: [
                        { url: path('pim_catalog_product_index'), label: 'pim_dashboard.link.label.product' },
                        { url: path('pim_catalog_categorytree_create'), label: 'pim_dashboard.link.label.category' },
                        { url: path('pim_catalog_variant_group_index'), label: 'pim_dashboard.link.label.variant' },
                        { url: path('pim_catalog_group_index'), label: 'pim_dashboard.link.label.group' }
                    ],
                    image: 'enrich-image',
                    acl: 'pim_navigation_enrich'
                },
                {
                    label: 'pim_dashboard.menu.label.spread',
                    links: [
                        { url: path('pim_catalog_channel_index'), label: 'pim_dashboard.link.label.channel' },
                        { url: path('pim_importexport_export_profile_index'), label: 'pim_dashboard.link.label.export_profile' },
                        { url: path('pim_importexport_export_execution_index'), label: 'pim_dashboard.link.label.export_report' }
                    ],
                    image: 'spread-image',
                    acl: 'pim_navigation_spread'
                },
                {
                    label: 'pim_dashboard.menu.label.settings',
                    links: [
                        { url: path('pim_catalog_attribute_index'), label: 'pim_dashboard.link.label.attribute' },
                        { url: path('pim_catalog_family_create'), label: 'pim_dashboard.link.label.family' }
                    ],
                    image: 'configure-image',
                    acl: 'pim_navigation_settings'
                },
            ] %}

            {% for widget in widgetsArray %}
                {% if loop.index is odd %}<div class="row">{% endif %}
                {{ __.renderWidget(widget) }}
                {% if loop.index is even %}</div>{% endif %}
            {% endfor %}

        </div>
        <div class="version-container">
            <strong>Version:</strong> 1.0.0-beta3 "Hare Conditioned"
        </div>
    </div>
{% endblock %}
