<div class="tab-pane tab-property {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {% set generalProperties %}
        {{ form_row(form.code) }}
        {{ form_row(form.label) }}
        {{ form_row(form.color) }}
        {{ form_row(form.currencies) }}
        {{ form_row(form.locales) }}
        {{ form_row(form.category) }}
    {% endset %}
    {% set conversionOptions %}
        {% for conversionUnitForm in form.conversionUnits %}
            {{ form_row(conversionUnitForm) }}
        {% endfor %}
    {% endset %}
    {{ elements.accordion({
        'pane.accordion.general_properties': generalProperties,
        'pim_enrich.channel.pick_conversion_unit': conversionOptions
    }) }}
</div>
