é{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% block content %}

    {% set title = 'group.overview'|trans %}

    {% set buttons %}
        {% if groupTypes %}
            {{ elements.createBtn(
                'group',
                path('pim_enrich_group_create'),
                'dialog',
                'pim_enrich_group_create',
                'plus'
            ) }}
        {% elseif resource_granted('pim_enrich_grouptype_index') %}
            <a href="{{ path('pim_enrich_grouptype_index') }}">
                <span class="label link-label">{{ 'info.group.no group types'|trans }}</span>
            </a>
        {% endif %}
    {% endset %}

    {{ elements.page_header(title, buttons) }}

    {{ dataGrid.renderStatefulGrid('group-grid', {localeCode: locale_code(), groupTypes: groupTypes}) }}

{% endblock %}
