{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block content %}

    {% set title = "execution details"|trans ~ ' - ' ~ execution.jobInstance.label ~ ' [' ~
                   execution.jobInstance.code ~ ']' %}

    {% set titleButtons %}
        {{ elements.backLink(indexRoute) }}
    {% endset %}

    {% set buttons %}
        <span id="archives" class="AknButtonList"></span>
        <span id="log"></span>
        {{ elements.link(
            'Show profile',
            '#' ~ path(show_profile_route, { 'code': execution.jobInstance.code }),
            { icon: 'eye-open', class: 'AknButton AknButton--action AknButtonList-item' })
        }}
    {% endset %}

    {% set left %}
        <div class="inline" id="status">
           <span class="AknTitleContainer-metaItem">{{ 'Status'|trans }}: ...</span>
       </div>
    {% endset %}

    {{ elements.page_header(title, buttons, '', left, null, titleButtons) }}

    <div class="AknGridContainer grid-container">
        <img src="{{ asset('bundles/pimimportexport/images/loading.gif') }}" alt="{{ 'Loading ...'|trans }}" class="transparent loading" />
        {{ elements.link('Refresh', path(refresh_route, { 'id': execution.id }), { icon: 'refresh', class: 'transparent loading btn-mini' }) }}
        <table class="AknGrid AknGrid--unclickable grid job-execution" id="job-execution">
            <thead>
                <th class="AknGrid-headerCell">{{ 'Step' | trans | upper }}</th>
                <th class="AknGrid-headerCell">{{ 'Status' | trans | upper }}</th>
                <th class="AknGrid-headerCell">{{ 'Summary' | trans | upper }}</th>
                <th class="AknGrid-headerCell">{{ 'Start' | trans | upper }}</th>
                <th class="AknGrid-headerCell">{{ 'End' | trans | upper }}</th>
            </thead>
            <tbody>
                <tr class="AknGrid-bodyRow">
                    <td class="AknGrid-bodyCell AknGrid-bodyCell--full" colspan="5">{{ 'Collecting data about job execution...'|trans }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/template" id="job-execution-summary">
        {% block job_execution_summary %}
        <!-- Step execution information -->
        <% _.each(jobExecution.stepExecutions, function (stepExecution) { %>
            <tr class="AknGrid-bodyRow">
                <td class="AknGrid-bodyCell"><%= stepExecution.label %></td>
                <td class="AknGrid-bodyCell"><%= stepExecution.status %></td>
                <td class="AknGrid-bodyCell">
                    <% if (_.size(stepExecution.summary) > 0) { %>
                        <table class="AknGrid AknGrid--condensed">
                            <% _.each(stepExecution.summary, function (value, key) { %>
                                <tr class="AknGrid-bodyRow">
                                    <td class="AknGrid-bodyCell"><%= key %></td>
                                    <td class="AknGrid-bodyCell"><%= value %></td>
                                </tr>
                            <% }); %>
                        </table>
                    <% } %>
                </td>
                <td class="AknGrid-bodyCell"><%= stepExecution.startedAt %></td>
                <td class="AknGrid-bodyCell"><%= stepExecution.endedAt %></td>
            </tr>

            <!-- Step execution warnings -->
            <% _.each(stepExecution.warnings, function (warning) { %>
                <tr class="AknGrid-bodyRow warning">
                    <td class="AknGrid-bodyCell AknGrid-bodyCell--full" colspan="5">
                        <div class="AknMessageBox AknMessageBox--warning">
                            <span class="AknMessageBox-title title">{{ 'warning.label'|trans }}</span>
                            <ul class="AknMessageBox-list">
                                <% _.each(warning.reason.split("\n"), function(warningItem) { %>
                                    <% if (warningItem) { %>
                                        <li><%= warningItem %></li>
                                    <% } %>
                                <% }) %>
                            </ul>
                            <a class="data" href="#"
                                data-display-label="<%= showLabel %>"
                                data-hide-label="<%= hideLabel %>">
                                <%= showLabel %>
                            </a>
                            <table class="AknGrid AknGrid--condensed AknGrid--unclickable hide">
                                <% _.each(warning.item, function (value, key) { %>
                                    <tr class="AknGrid-bodyRow">
                                        <td class="AknGrid-bodyCell"><%= key %></td>
                                        <td class="AknGrid-bodyCell">
                                            <% if (typeof value === 'object') { %>
                                                <%= JSON.stringify(value) %>
                                            <% } else { %>
                                                <%= value %>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }); %>
                            </table>
                        </div>
                    </td>
                </tr>
            <% }); %>

            <!-- Step execution failures -->
            <% _.each(stepExecution.failures, function (failure) { %>
                <tr class="AknGrid-bodyRow error">
                    <td class="AknGrid-bodyCell AknGrid-bodyCell--full" colspan="5">
                        <div class="AknMessageBox AknMessageBox--error">
                            <span class="AknMessageBox-title title"><%= stepExecution.label.toUpperCase() %></span>&nbsp;
                            <%= failure %>
                        </div>
                    </td>
                </tr>
            <% }); %>
        <% }); %>

        <!-- Job execution failures -->
        <% _.each(jobExecution.failures, function (failure) { %>
            <tr class="AknGrid-bodyRow error">
                <td class="AknGrid-bodyCell AknGrid-bodyCell--full" colspan="5">
                    <div class="AknMessageBox AknMessageBox--error">
                        <span class="AknMessageBox-title title"><%= jobExecution.label.toUpperCase() %></span>&nbsp;
                        <%= failure %>
                    </div>
                </td>
            </tr>
        <% }); %>
        {% endblock %}
    </script>

    <script type="text/template" id="job-execution-status">
        {% block job_execution_status %}
        <span class="AknTitleContainer-metaItem"><%= statusLabel %>: <%= jobExecution.status %></span>
        {% endblock %}
    </script>

    <script type="text/template" id="job-execution-buttons">
        {% block job_execution_buttons %}
        <% _.each(archives, function (archive, archiver) { %>
            <% if (_.size(archive.files) === 1) { %>

                <% _.each(archive.files, function (file, key) { %>
                     <a class="AknButton AknButton--withIcon AknButton--grey AknButtonList-item"
                        title="<%= archive.label %>"
                        href="<%= Routing.generate(downloadFileRoute, {id: executionId, archiver: archiver, key: key }) %>">
                         <i class="AknButton-icon icon-download-alt"></i> <%= archive.label %>
                     </a>
                <% }); %>

            <% } else { %>

                <div class="AknDropdownButton AknDropdownButton--grey AknDropdown AknButtonList-item">
                    <a class="AknDropdownButton-button" data-toggle="dropdown" href="#">
                        <%= archive.label %>
                        <span class="AknDropdownButton-caretContainer">
                            <span class="AknCaret AknCaret--big AknCaret--inverse caret"></span>
                        </span>
                    </a>
                    <ul class="AknDropdown-menu dropdown-menu">
                        <% _.each(archive.files, function (file, key) { %>
                        <li>
                            <a class="AknDropdown-menuLink" href="<%= Routing.generate(downloadFileRoute, {id: executionId, archiver: archiver, key: key }) %>">
                            <%= key %>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </div>

            <% } %>
        <% }); %>
        {% endblock %}
    </script>

    <script type="text/template" id="job-execution-log-button">
        {% block job_execution_log_button %}
        <% if (hasLog) { %>
            <a class="AknButton AknButton--grey AknButton--withIcon AknButtonList-item"
               title="<%= downloadLabel %>"
               href="<%= Routing.generate(downloadLogRoute, {id: executionId}) %>">
                <i class="AknButton-icon icon-download-alt"></i>
                <%= downloadLabel %>
            </a>
        <% } %>
        {% endblock %}
    </script>

    <script type="text/javascript">
        require(
            ['jquery', 'pim/job-execution-view'],
            function($, jobExecutionView){
                'use strict';

                $(function () {
                    jobExecutionView.init({
                        loadingImageSelector:          'img.loading',
                        refreshButtonSelector:         'a.loading',
                        jobExecutionSelector:          '#job-execution tbody',
                        jobExecutionStatusSelector:    '#status',
                        jobExecutionButtonsSelector:   '.AknTitleContainer-rightButtons #archives',
                        jobExecutionLogButtonSelector: '.AknTitleContainer-rightButtons #log',

                        statusLabel:   '{{ 'Status'|trans }}',
                        downloadLabel: '{{ 'Download log'|trans }}',

                        path:              '{{ path(refresh_route, {id:  execution.id, _format:  'json'}) }}',
                        executionId:       {{ execution.id }},
                        downloadFileRoute: '{{ download_file_route }}',
                        downloadLogRoute:  '{{ download_log_route }}'
                    });
                });
            }
        );
    </script>
{% endblock %}
