{% extends 'PimCatalogBundle::layout.html.twig' %}

{% block content %}

    {% set title = "Execution details" | trans  %}

    {% set buttons %}
        {{ elements.backLink(indexRoute) }}
    {% endset %}

    {{ elements.page_header(title, buttons) }}

    <ul>
        <li><a class="no-hash" href="{{ path(download_log_route, { 'id': execution.id }) }}">{{ "Download the log"|trans }}</a></li>
    </ul>

    <table class="table groups">
        <thead>
            <th>{{ 'Step'|upper }}</th>
            <th>{{ 'Status'|upper }}</th>
            <th>{{ 'Read count'|upper }}</th>
            <th>{{ 'Write'|upper }}</th>
            <th>{{ 'Filter'|upper }}</th>
            <th>{{ 'Start'|upper }}</th>
            <th>{{ 'End'|upper }}</th>
        </thead>
        <tbody>
            {% for step in execution.stepExecutions %}
            <tr>
                <td>{{ step.stepName | trans }}</td>
                <td>{{ step.status }}</td>
                <td>{{ step.readCount }}</td>
                <td>{{ step.writeCount }}</td>
                <td>{{ step.filterCount }}</td>
                <td>{{ step.startTime |date("Y-m-d h:i:s") }}</td>
                <td>{{ step.endTime |date("Y-m-d h:i:s") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
