{% extends 'PimUIBundle::layout.html.twig' %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('pim_connectoricecat_config_edit') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-wrench-screwdriver"></span>
            <span class="ui-button-text">{{ "pim.connector.icecat.menu.config" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('pim_connectoricecat_product_list') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-documents"></span>
            <span class="ui-button-text">{{ "pim.connector.icecat.menu.base-product-list" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('pim_connectoricecat_supplier_list') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-user-business"></span>
            <span class="ui-button-text">{{ "pim.connector.icecat.menu.base-supplier-list" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('pim_connectoricecat_supplier_loadfromicecat') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-database-import"></span>
            <span class="ui-button-text">{{ "pim.connector.icecat.menu.initialize-supplier" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('pim_connectoricecat_product_loadfromicecat') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-database-import"></span>
            <span class="ui-button-text">{{ "pim.connector.icecat.menu.initialize-product" | trans }}</span>
        </a>
    </li>
{% endblock %}