<script type="text/javascript">
    require(
        ['jquery', 'pim/tree/associate'],
        function ($, TreeAssociate) {
            'use strict';
            $(function () {
                new TreeAssociate('#trees', '#{{ form.categories.vars.id }}');
            });
        }
    );
</script>

{{ form_widget(form.categories, { attr: { 'class': 'hide' } }) }}

<div id="trees-list" class="tab-groups">
    <ul class="nav nav-list">
        {% for tree in trees %}
            {% set aClass = "" %}
            {% set iClass = "gray" %}
            {% if (tree['productCount'] > 0) %}
                {% set aClass = "tree-has-product" %}
                {% set iClass = "green" %}
            {% endif %}
            <li>
                <a class="{{ aClass }}" href="javascript:void(0);" data-toggle="tab" id="tree-link-{{ tree['tree'].id }}">
                    <i class="icon-ok {{ iClass }}"></i>{{ tree['tree'].label }} ({{ tree['productCount'] }})
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="tab-content fullheight">
    {% set selectedTree = 0 %}
    {% if trees %}
        {% if app.user.defaultTree is defined and app.user.defaultTree.code is defined %}
            {% for tree in trees %}
                {% if tree['tree'].code == app.user.defaultTree.code %}
                    {% set selectedTree = tree['tree'].id %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% set firstTree = trees|first %}
            {% set selectedTree = firstTree['tree'].id %}
        {% endif %}
    {% endif %}
    <div id="trees" data-id="{{ product.id }}" data-datalocale="{{ dataLocale }}" data-selected-tree="{{ selectedTree }}">
        {% for tree in trees %}
            <div class="tree" data-tree-id="{{ tree['tree'].id }}">
                <h3>{{ tree['tree'].label }}</h3>
                <input type="hidden" id="apply-on-tree-{{ tree['tree'].id }}" name="apply_on_tree_{{ tree['tree'].id }}" value="0"/>
                <div id="tree-{{ tree['tree'].id }}" class="buffer-small-left"></div>
            </div>
        {% endfor %}
    </div>
</div>
