{% set listenerParameters = {
    'columnName': 'has_association',
    'selectors': {
        'included': '#appendTargets',
        'excluded': '#removeTargets'
    }
} %}

{% placeholder prepare_grid with {'datagrid': associationDatagrid, 'selector': '#association-grid', 'parameters': listenerParameters } %}

<script type="text/javascript">
    require(
        ['jquery', 'pim/datagrid/parameter-setter'],
        function($, Setter) {
            'use strict';
            $(function() {
                $('#association-list').on('click', 'a', function() {
                    if ($(this).parent().hasClass('active')) {
                        return;
                    }
                    updateAssociationFields();
                    $(this).parent().siblings('li').removeClass('active');
                    $(this).parent().addClass('active');
                    updateTargetFields();
                    var associationId = $(this).attr('id').replace('association-link-', '');
                    Setter.setParameter('{{ associationDatagrid.datagrid.name }}', 'associationId', associationId, true);
                });

                function updateAssociationFields() {
                    var $appendTargets = $('#appendTargets'),
                        $removeTargets = $('#removeTargets'),
                        associationId = $('#association-list').find('li.active').find('a').attr('id').replace('association-link-', ''),
                        $associationFields = $('#{{ form.productAssociations.vars.id }}'),
                        $field = $associationFields.find('input[type="hidden"][value="' + associationId + '"]');

                    $field.siblings('[id$="appendTargets"]').val($appendTargets.val());
                    $field.siblings('[id$="removeTargets"]').val($removeTargets.val());
                }

                function updateTargetFields() {
                    var $appendTargets = $('#appendTargets'),
                        $removeTargets = $('#removeTargets'),
                        associationId = $('#association-list').find('li.active').find('a').attr('id').replace('association-link-', ''),
                        $associationFields = $('#{{ form.productAssociations.vars.id }}'),
                        $field = $associationFields.find('input[type="hidden"][value="' + associationId + '"]'),
                        appendTargets = $field.siblings('[id$="appendTargets"]').val(),
                        removeTargets = $field.siblings('[id$="removeTargets"]').val();
                    $appendTargets.val(appendTargets);
                    $removeTargets.val(removeTargets);
                    Setter.setParameter('{{ associationDatagrid.datagrid.name }}', 'data_in', appendTargets);
                    Setter.setParameter('{{ associationDatagrid.datagrid.name }}', 'data_not_in', removeTargets);
                }

                $('#{{ form.vars.id }}').on('click', 'button[type="submit"]', function() {
                    updateAssociationFields();
                    updateTargetFields();
                });
            });
        }
    );
</script>

<div id="association-list" class="tab-groups">
    <ul class="nav nav-list">
        {% for association in associations %}
            <li{% if loop.first %} class="active"{% endif %}>
                <a id="association-link-{{ association.id }}" href="javascript:void(0);">
                    <i class="icon-ok"></i>
                    {{ association.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="tab-content fullheight">
    <div id="association-grid"></div>
    {{ form_widget(form.productAssociations, { 'attr': { 'class': 'hide' }}) }}
    <input type="hidden" id="appendTargets">
    <input type="hidden" id="removeTargets">
</div>
