<div id="trees-list" class="tab-groups">
    <ul class="nav nav-list">
        {% for tree in trees %}
            {% set aClass = "" %}
            {% set iClass = "gray" %}
            {% if (tree['productsCount'] > 0) %}
                {% set aClass = "tree-has-product" %}
                {% set iClass = "green" %}
            {% endif %}
            <li>
                <a class="{{ aClass }}" href="javascript:void(0);" id="tree-link-{{ tree['tree'].id }}">
                    <i class="icon-ok {{ iClass }}"></i>{{ tree['tree'].title }} ({{ tree['productsCount'] }})
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="tab-content">
    {% if trees %}
        {% set firstTree = trees|first %}
        {% set selectedTree = firstTree['tree'].id %}
    {% endif %}
    <div id="trees" data-id="{{ product.id }}" data-datalocale="{{ dataLocale }}"{% if selectedTree is defined %} data-selected-tree="{{ selectedTree }}"{% endif %}>
        {% for tree in trees %}
            <div class="tree" data-tree-id="{{ tree['tree'].id }}">
                <h3>{{ tree['tree'].title }}</h3>
                <input type="hidden" id="apply-on-tree-{{ tree['tree'].id }}" name="apply_on_tree_{{ tree['tree'].id }}" value="0"/>
                <div id="tree-{{ tree['tree'].id }}"></div>
            </div>
        {% endfor %}
    </div>
</div>
