{% set listenerParameters = {
    'columnName': 'has_association',
    'selectors': {
        'included': '#' ~ form.productAssociations.children|first.appendTargets.vars.id,
        'excluded': '#' ~ form.productAssociations.children|first.removeTargets.vars.id
    }
} %}

{% placeholder prepare_grid with {'datagrid': associationDatagrid, 'selector': '#association-grid', 'parameters': listenerParameters } %}

<script type="text/javascript">
    require(
        ['jquery', 'pim/datagrid/parameter-setter', 'oro/mediator'],
        function($, Setter, mediator) {
            'use strict';
            $(function() {
                $('#association-list').on('click', 'a', function() {
                    if ($(this).parent().hasClass('active')) {
                        return;
                    }
                    $(this).parent().siblings('li').removeClass('active');
                    $(this).parent().addClass('active');
                    var associationId = $(this).attr('id').replace('association-link-', '');
                    setAssociationFields(associationId);
                    Setter.setParameter('{{ associationDatagrid.datagrid.name }}', 'associationId', associationId, true);
                });

                function setAssociationFields(associationId) {
                    var $associationFields = $('#{{ form.productAssociations.vars.id }}'),
                        $idField = $associationFields.find('input[type="hidden"][value="' + associationId + '"]');

                    var appendFieldId = '#' + $idField.siblings('[id$="appendTargets"]').attr('id');
                    var removeFieldId = '#' + $idField.siblings('[id$="removeTargets"]').attr('id');
                    mediator.trigger('column_form_listener:set_selectors', { included: appendFieldId, excluded: removeFieldId });
                }
            });
        }
    );
</script>

<div id="association-list" class="tab-groups">
    <ul class="nav nav-list">
        {% for association in associations %}
            <li{% if loop.first %} class="active"{% endif %}>
                <a id="association-link-{{ association.id }}" href="javascript:void(0);">
                    <i class="icon-ok"></i>
                    {{ association.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="tab-content fullheight">
    <div id="association-grid"></div>
    {{ form_widget(form.productAssociations, { 'attr': { 'class': 'hide' }}) }}
    <input type="hidden" id="appendTargets">
    <input type="hidden" id="removeTargets">
</div>
