{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
<div class="tab-groups">
    <ul class="nav nav-list">
        {% for group in product.orderedGroups if form.vars.groups[group.id] is defined %}
        <li class="tab{% if loop.index == 1 %} active{% endif %}">
            <a href="#tabs-{{group.id}}" data-toggle="tab">{{ group.label }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="tab-content">
    <div {{ comparisonLocale is not null ? 'class="compare" ' }}id="comparison-buttons">
        {% if comparisonLocale is not null %}
            <div id="copy-switcher" class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    {{ 'Copy'|trans }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li class="left-aligned"><a class="copy" data-target="all" href="#">{{ 'All'|trans }}</a></li>
                    <li class="left-aligned"><a class="copy" data-target="selected" href="#">{{ 'Selected'|trans }}</a></li>
                </ul>
            </div>
        {% endif %}

        <div id="comparison-switcher" class="btn-group">

            <button class="btn dropdown-toggle" data-toggle="dropdown">
                {{ 'Translate'|trans }}
                {% if comparisonLocale is not null %}
                    {{ ' : ' ~ locale_label(comparisonLocale) }}
                {% endif %}
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu pull-right">
                {% for locale in locales if locale != dataLocale %}
                    <li {{ locale.code == comparisonLocale ? 'class="active"' }}>
                        <a href="{{ path('pim_catalog_product_edit', {id: form.vars.value.id, dataLocale: dataLocale, compareWith: locale.code}) }}" title="{{ locale_label(locale.code) }}">
                            <span class="icon pull-left">
                                {% if locale == dataLocale %}
                                    <i class="icon-bullet"></i>
                                {% endif %}
                            </span>
                            <span class="code">
                                {{ locale.code|flag }}
                            </span>
                            <span class="title">{{ locale_label(locale.code) }}</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="javascript:void(0);">
                            <span class="title">{{ 'pim_catalog.product.no_comparison_locale_available'|trans }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if comparisonLocale is not null %}
            <a href="{{ path('pim_catalog_product_edit', {id: form.vars.value.id, dataLocale: dataLocale}) }}" class="btn">
                &times;
            </a>
        {% endif %}
    </div>
    <div id="attribute-buttons">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                <i class="icon-eye-open"></i>
                <i class="icon-caret-down"></i>
            </a>
            <div class="dropdown-menu channel pull-right">
                <h5>{{ 'Scope'|trans }}</h5>
                <div>
                    <span id="channel-controls">
                        <label for="default_channel">{{ 'Default channel'|trans }}</label>
                        <select id="default_channel">
                            {% for channel in channels %}
                                <option value="{{ channel.code }}" data-scope="{{ channel.code }}">{{ channel.label }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <a href="javascript:void(0);" data-action="expand">{{ 'Expand all channels'|trans }}</a>
                    <a href="javascript:void(0);" data-action="collapse">{{ 'Collapse all channels'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    {% for groupId, groupView in form.vars.groups %}
        <div id="tabs-{{ groupId }}" class="tab-pane fullheight">
            <h3>{{ groupView.label }}</h3>
            {% if comparisonLocale %}
                {% include 'PimCatalogBundle:Product:_edit_with_comparison.html.twig' %}
            {% else %}
                {% include 'PimCatalogBundle:Product:_edit_without_comparison.html.twig' %}
            {% endif %}
        </div>
    {% endfor %}
</div>
