{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
<div class="tab-groups">
    <ul class="nav nav-list">
        {% for group in product.orderedGroups if form.vars.groups[group.id] is defined %}
        <li class="tab{% if loop.index == 1 %} active{% endif %}">
            <a href="#tabs-{{group.id}}" data-toggle="tab">{{ group.label }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="tab-content">
    <div id="attribute-buttons">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                <i class="icon-eye-open"></i>
                <i class="icon-caret-down"></i>
            </a>
            <div class="dropdown-menu channel pull-right">
                <h5>{{ 'Scope'|trans }}</h5>
                <div>
                    <span id="channel-controls">
                        <label for="default_channel">{{ 'Default channel'|trans }}</label>
                        <select id="default_channel">
                            {% for channel in channels %}
                                <option value="{{ channel.code }}" data-scope="{{ channel.code }}">{{ channel.label }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <a href="javascript:void(0);" data-action="expand">{{ 'Expand all channels'|trans }}</a>
                    <a href="javascript:void(0);" data-action="collapse">{{ 'Collapse all channels'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    {% for groupId, groupView in form.vars.groups %}
    <div id="tabs-{{ groupId }}" class="tab-pane fullheight">
        <h3>{{ groupView.label }}</h3>
        {% for attributeId, attributeView in groupView.attributes %}
            <div class="attribute-field {{ attributeView.classes|default([])|keys|join(' ') }}">
            {% if attributeView.values is defined %}
                {% for scope, subvalue in attributeView.values %}
                    <div class="control-group" data-field="{{ attributeView.code }}">
                        {{ form_widget(subvalue, {'attr': {'data-scope': scope}}) }}
                    </div>
                {% endfor %}
            {% else %}
                    <div class="control-group" data-field="{{ attributeView.code }}">
                        {{ form_widget(attributeView.value) }}
                    </div>
            {% endif %}
            {% if attributeView.isRemovable %}
                <i {{ elements.deleteLinkAttributes(
                    path('pim_catalog_product_removeproductattribute', { 'productId': product.id, 'attributeId': attributeId, 'dataLocale': dataLocale }),
                    path('pim_catalog_product_edit', { 'id': product.id, 'dataLocale': dataLocale, 'boost': "now"|date('U') }),
                    'confirmation.remove.attribute'|trans({'%name%': attributeView.label}),
                    '',
                    'flash.product.attribute removed'|trans
                )}} class="icon-remove remove-attribute" data-toggle="tooltip" data-placement="right" data-original-title="{{ 'Remove this attribute'|trans }}"></i>
            {% endif %}
            {% if attributeView.allowValueCreation and resource_granted('pim_catalog_attribute_edit') %}
                <a id="add-option-link-{{ attributeId }}" data-form="dialog" data-form-url="{{ path('pim_catalog_productattribute_create_option', { id: attributeId, dataLocale: dataLocale }) }}" class="btn btn-small icons-holder add-attribute-option" href="javascript:void(0);" data-toggle="tooltip" data-original-title="{{ 'Add an option'|trans }}">
                    <i class="icon-plus"></i>
                </a>
            {% endif %}
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
