<div class="progress-cell">
{% if product.getFamily is null %}
    {{ 'Waiting for calculation'|trans }}
{% elseif completeness is null %}
    {{ 'Not yet calculated'|trans }}
{% else %}
    {% set titleProgressBar = completeness.ratio|number_format(0) ~ '% ' ~ 'complete'|trans ~ ' (' ~ completeness.requiredCount ~ ' ' ~ 'required values'|trans ~ ')' %}
    <div class="progress" data-toggle="tooltip" data-original-title="{{ titleProgressBar }}">
        {% if channel.hasLocale(locale) == false %}
            {% set progressClass = 'bar-disabled' %}
        {% elseif completeness.ratio == 100 %}
            {% set progressClass = 'bar-success' %}
        {% elseif completeness.ratio == 0 %}
            {% set progressClass = 'bar-danger' %}
        {% else %}
            {% set progressClass = 'bar-warning' %}
        {% endif %}
        <div class="bar {{ progressClass }}" style="width: {{ completeness.ratio }}%;"></div>
    </div>

    {% if completeness.missingCount == 0 %}
        <div class="center">{{ 'Complete'|trans }}</div>
    {% else %}
        {% set titleMissing = '' %}
        {% for attribute in completeness.missingAttributes %}
            {% set titleMissing = titleMissing ~ '- ' ~ attribute.label ~ (loop.last ? '' : '</br>') %}
        {% endfor %}
        <div class="center" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="hover" data-original-title="{{ 'missing values'|trans|capitalize }}:" data-content="{{ titleMissing|raw }}">
            <span class="progress-info">{{ completeness.missingCount }} {{ 'missing values'|trans }}</span>
        </div>
    {% endif %}

{% endif %}
</div>
