{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}

{{ form_start(form, {
    'action': path('pim_catalog_product_create', { dataLocale: dataLocale }),
    'class': 'form-inline',
    'attr': {
        'data-title': 'Create a new product'|trans,
        'data-button-submit': 'btn.save'|trans|capitalize,
        'data-button-cancel': 'btn.cancel'|trans|capitalize
    }
}) }}
    {{ JSFV(form) }}

    {{ elements.form_errors(form) }}

    <div class="row-fluid">
        {{ form_row(form.id) }}
        {{ form_row(form.values) }}
        {{ form_row(form.familyId) }}
    </div>
{{ form_end(form) }}
