{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}
<form id="pim_catalog_product_create" method="POST" class="form-horizontal" data-title="{{ 'Create a new product'|trans }}" data-button-submit="{{ 'btn.save'|trans }}"  data-button-cancel="{{ 'btn.cancel'|trans }}" action="{{ path('pim_catalog_product_create', { dataLocale: dataLocale }) }}" {{ form_enctype(form) }}>

    {{ JSFV(form) }}

    {{ elements.form_errors(form) }}

    <div class="row-fluid">
        {{ form_row(form.id) }}
        {{ form_row(form.values) }}
        {{ form_row(form.family, { attr: { 'data-placeholder': 'Choose a family'|trans }}) }}
        {{ form_row(form._token) }}
    </div>

</form>
