{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}Akeneo - {{ "pim.catalog.channel.button.new" | trans }}{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('pim_catalog_product_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-ui-button-navigation-back"></span>
            <span class="ui-button-text">{{ "bap.navigation.back-list" | trans }}</span>
        </a>
    </li>
{% endblock %}

{% block content %}

    <h1>{{ "pim.catalog.channel.button.new" | trans }}</h1>

    {% form_theme form 'BapUIBundle:Form:fields.html.twig' %}
    <form action="{{ path('pim_catalog_product_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
    
        <div class="form-panel ui-corner-all">
            <h2>{{ "pim.catalog.product.fieldset.general" | trans }}</h2>
            {{ form_row(form.id) }}

            <div id="tabs">
                <!-- one tab by group -->
                <ul>
                    {% for group in entity.set.groups %}
                        <li>
                            <span class="ui-icon">{{ "pim.catalog.product.text.group-tab" | trans }}</span>
                            <a href="#tabs-{{ group.id }}">{{ group.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <!-- tabs content -->
                {% for group in entity.set.groups %}
                <div id="tabs-{{ group.id }}">
                    <ul>
                        {% for attribute in group.attributes %}
                            <li>{{ form_row(attribute(form, attribute.code)) }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {{ form_widget(form._token) }}

        <!--
        <input type="submit" value="{{ "bap.button.save" | trans }}" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
        -->

    </form>

    <script>
    $(function() {
        var $tabs = $( "#tabs" ).tabs();
        /* vertical tabs */
        $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
        $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
    });
    </script>

{% endblock %}