{% extends 'PimCatalogBundle::layout.html.twig' %}

{% oro_title_set({ params: { "%product.sku%": product.label } }) %}

{% block head_script %}
    {{ parent() }}
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#history-grid'} %}

    <script type="text/javascript">
        require(
            ['jquery', 'underscore', 'oro/mediator', 'pim/tree/associate', 'pim/scopable', 'pim/formupdatelistener', 'pim/dialog', 'jquery.currencyfield'],
            function($, _, mediator, TreeAssociate, Scopable, FormUpdateListener, Dialog){
                'use strict';
                $(function() {
                    {% if resource_granted('pim_catalog_product_categories_view') %}
                        new TreeAssociate('#trees');
                    {% endif %}

                    _.each($('form div.scopable'), function(field) {
                        new Scopable({ el: $(field) });
                    });

                    $('form div.currency').currencyField();

                    new FormUpdateListener($('#{{ form.vars.id }}'));

                    $('#default_channel').select2('destroy').css('padding', '0').on('change', function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        mediator.trigger('scopablefield:changescope', $(this).val());
                    });

                    $('.dropdown-menu.channel').find('a').click(function (e) {
                        e.preventDefault();
                        mediator.trigger('scopablefield:' + $(this).data('action'));
                    });

                    $('#attribute-buttons').find('.dropdown-menu').click(function (e) {
                        e.stopPropagation();
                    });

                    $('[data-toggle="popover"]').popover();

                    {% if resource_granted('pim_catalog_product_change_family') %}
                        {% set familyWidget %}
                            {{ 'info.product.change family to'|trans }}:
                            {{ form_widget(form.family) }}</br>
                            {{ 'info.product.merge attributes'|trans }}</br>
                            {{ 'info.product.keep attributes'|trans }}
                        {% endset %}

                        var message = '{{ familyWidget|e("js")|raw }}',
                            title   = '{{ "info.product.change family"|trans }}',
                            doAction = function () {
                                $('#{{ form.vars.id }}').append($('#{{ form.family.vars.id }}'));
                                $('#{{ form.vars.id }}').submit();
                            };

                        $('#edit-family').on('click', function () {
                            Dialog.confirm(message, title, doAction);
                            $('#{{ form.family.vars.id }}')
                                .attr('data-placeholder', '{{ "Choose a family"|trans }}')
                                .select2({ allowClear: true });
                        })

                        $('#{{ form.vars.id }}').on('click', 'button[type="submit"]', function() {
                            $('#{{ form.vars.id }}').append($('<div class="hide"/>').html(message));
                        });
                    {% endif %}

                    function setFullHeight() {
                        $('.fullheight').each(function() {
                            $(this).height($('.scrollable-container').height() - $(this).position().top + $('.scrollable-container').position().top);
                        })
                    }

                    $('a[data-toggle="tab"]').on('shown', setFullHeight);
                    setFullHeight();
                });
            }
        );
    </script>
{% endblock %}

{% block content %}

    {% include 'PimCatalogBundle:ProductAttribute:_available-attributes-form.html.twig' with {
        'form': attributesForm,
        'action': path('pim_catalog_product_addproductattributes', {'id': product.id, 'dataLocale': dataLocale})
    } %}

    {{ JSFV(form) }}
    <form id="{{ form.vars.id }}" method="POST" class="form-horizontal product-edit" data-updated-title="{{ 'confirmation.leave'|trans }}"  data-updated-message="{{ 'confirmation.discard changes'|trans({ '%entity%': 'product'|trans }) }}" action="{{ path('pim_catalog_product_edit', { id: form.vars.value.id, dataLocale: dataLocale }) }}" {{ form_enctype(form) }}>

        {% set title = 'product'|trans %}

        {% set buttons %}
            {{ elements.backLink(path('pim_catalog_product_index')) }}
            <div class="btn-group">
                {% if form.enabled is defined %}
                    {{ form_widget(form.enabled) }}
                {% endif %}
            </div>
            {{ elements.deleteLink(path('pim_catalog_product_remove', { id: form.vars.value.id }), path('pim_catalog_product_index'), 'confirmation.remove.product'|trans({ '%name%': product.label }), "", 'flash.product.removed'|trans) }}
            {{ elements.submitBtn }}
        {% endset %}

        {% set subtitle %}
            <div id="locale-switcher" class="btn-group sub-title">
                <span class="product-name dropdown-toggle" data-toggle="dropdown">
                    {{ dataLocale|flag }}
                    {{ product.label }}
                    <i class="icon-caret-down"></i>
                </span>
                <ul class="dropdown-menu">
                    {% for locale in locales %}
                        <li class="{{ locale.code == dataLocale ? 'active' : '' }}">
                            <a href="{{ path('pim_catalog_product_edit', {id: form.vars.value.id, dataLocale: locale.code}) }}" title="{{ locale_label(locale.code) }}">
                                <span class="icon pull-left">
                                    {% if locale == dataLocale %}
                                        <i class="icon-bullet"></i>
                                    {% endif %}
                                </span>
                                <span class="code">
                                    {{ locale.code|flag }}
                                </span>
                                <span class="title">{{ product.label(locale.code) }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endset %}

        {% set left %}
            <ul class="inline">
               <li>
                    {{ 'family'|trans|capitalize }}: {{ form.vars.value.family|capitalize|default('N/A'|trans) }}
                    {% if resource_granted('pim_catalog_product_change_family') %}
                        <i id="edit-family" class="icon-pencil"></i>
                    {% endif %}
                </li>
               <li>{{ 'Created'|trans }}: {{ created ? created.loggedAt|date("Y-m-d h:i:s") : 'N/A'|trans }} {{ 'by'|trans }} {{ created ? created.user.username : 'N/A'|trans }}</li>
               <li>{{ 'Last update'|trans }}: {{ updated ? updated.loggedAt|date("Y-m-d h:i:s") : 'N/A'|trans }} {{ 'by'|trans }} {{ updated ? updated.user.username : 'N/A'|trans }}</li>
           </ul>
        {% endset %}

        {% set right %}
            <div class="pull-right entity-updated">
                <span id="updated" class="label label-warning hide">{{ 'info.updated'|trans }}</span>
            </div>
        {% endset %}

        {{ elements.page_header(title, buttons, subtitle, left, right) }}

        <div class="layout-content">
            {% include 'PimCatalogBundle:Product:_navbar.html.twig' %}

            <div class="row-fluid tab-content">
                {{ elements.form_errors(form) }}

                {% include 'PimCatalogBundle:Product:_tab-panes.html.twig' %}

                {{ form_row(form.id) }}
                {{ form_row(form._token) }}
            </div>
        </div>
    </form>
{% endblock %}
