{% extends 'PimCatalogBundle::layout.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set title = 'products'|trans %}

{% block head_script %}
    {{ parent() }}
    {#
    {% embed 'PimGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#product-grid'} %}
        {% block javascript_grid_type "pim/datagrid/grid" %}
        {% block javascript_grid_options %}
            exportActions: {
                {% for action in datagrid.exportActions %}
                    {{ action.name|json_encode|raw }}: ExportCollectionAction.extend({{ action.options|json_encode|raw }})
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            },
        {% endblock %}
        {% block javascript_collection_state_options %}
            {% if app.request.get("categoryId") %}
                categoryId: {{ app.request.get("categoryId")|json_encode|raw }},
            {% endif %}
            {% if app.request.get("treeId") %}
                treeId: {{ app.request.get("treeId")|json_encode|raw }},
            {% endif %}
            {% if app.request.get("dataLocale") %}
                dataLocale: {{ app.request.get("dataLocale")|json_encode|raw }},
            {% endif %}
        {% endblock %}
    {% endembed %}
    #}
    <script type="text/javascript">
        require(
            ['jquery', 'oro/mediator', 'pim/tree/view', 'jquery.sidebarize'],
            function ($, mediator, TreeView){
                'use strict';

                // Move scope filter to the proper location and remove it from the 'Manage filters' selector
                // TODO: Override Oro/Bundle/FilterBundle/Resources/public/js/datagrid/filter-list.js and manage this there
                function moveScopeFilter() {
                    if (!$('.scope-filter').length || $('.scope-filter').parent().parent().hasClass('.actions-panel')) {
                        return;
                    }

                    $('.scope-filter').parent().addClass('pull-right').insertBefore($('.actions-panel'));
                    $('.scope-filter').find('select').multiselect({classes: 'select-filter-widget scope-filter-select'});

                    $('#add-filter-select').find('option[value="scope"]').remove();
                    $('#add-filter-select').multiselect('refresh');
                }

                mediator.once('datagrid_filters:rendered', moveScopeFilter);

                $(function() {
                    moveScopeFilter();
                    $('.has-sidebar').sidebarize();
                    new TreeView('#tree');
                });
            }
        );
    </script>
{% endblock %}

{% block content %}

    {% set buttons %}
        {% if resource_granted('pim_catalog_product_create') %}
            {{ elements.createBtn(
                'product',
                null,
                { 'id': 'create-product', 'data-form': 'dialog', 'data-form-url': path('pim_catalog_product_create') }
            ) }}
            <script type="text/javascript">
                require(
                    ['jquery', 'pim/dialogform'],
                    function ($, DialogForm) {
                        'use strict';
                        $(function() {
                            new DialogForm('#create-product');
                        });
                    }
                );
            </script>
        {% endif %}
    {% endset %}

    {% set subtitle %}
        <div id="locale-switcher" class="btn-group sub-title">
            <span class="product-name dropdown-toggle" data-toggle="dropdown">
                {{ dataLocale|flag }}
                <i class="icon-caret-down"></i>
            </span>
            <ul class="dropdown-menu">
                {% for locale in locales %}
                    <li class="{{ locale.code == dataLocale ? 'active' : '' }}">
                        <a href="{{ path('pim_catalog_product_index', { 'dataLocale': locale.code }) }}" title="{{ locale_label(locale.code) }}">
                            <span class="indicator">
                                {% if locale.code == dataLocale %}
                                    <i class="icon-circle"></i>
                                {% endif %}
                            </span>
                            {{ locale.code|flag }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endset %}

    {{ elements.page_header(title, buttons, subtitle) }}

    <div class="row-fluid has-sidebar">
        <div id="tree" data-datalocale="{{ dataLocale }}" data-node-id="{{ app.request.get("categoryId") }}" data-tree-id="{{ app.request.get("treeId") }}" data-include-sub="{{ app.request.get("includeSub") }}"></div>
        <div id="product-grid">
            {{ dataGrid.renderGrid('product-grid') }}
        </div>
    </div>

{% endblock %}
