{% extends 'PimCatalogBundle::layout.html.twig' %}

{% set title = 'Products'|trans %}

{% block head_script %}
    {{ parent() }}
    {% include 'PimGridBundle:Include:pim-datagrid.html.twig' with {'datagridView': datagrid, 'selector': '#product-grid'} %}
{% endblock %}

{% block content %}

    {% set buttons %}
        {% if resource_granted('pim_catalog_product_create') %}
            {{ elements.createBtn(
                'New product',
                null,
                'create-product',
                { 'data-form': 'dialog', 'data-form-url': path('pim_catalog_product_create') }
            ) }}
        {% endif %}
    {% endset %}

    {% set subtitle %}

        <a id="quick-export"
            class="btn btn-primary pull-right no-hash"
            href="{{ path('pim_catalog_product_index', { '_format': 'csv'}) }}"
            target="_blank"
            title="{{ 'Quick export'|trans }}">{{ 'Quick export'|trans }}</a>

        <div id="locale-switcher" class="btn-group sub-title">
            <span class="product-name dropdown-toggle" data-toggle="dropdown">
                {{ dataLocale|flag }}
                <span class="caret"></span>
            </span>
            <ul class="dropdown-menu">
                {% for locale in locales %}
                    {% if resource_granted('pim_catalog_locale_' ~ locale.code) %}
                    <li class="{{ locale.code == dataLocale ? 'activeLocale' : '' }}">
                        <a href="{{ path('pim_catalog_product_index', { 'dataLocale': locale.code }) }}" title="{{ locale.code }}">
                            {% if locale.code == dataLocale %}
                            <span class="icon">
                                <i class="icon-bullet"></i>
                            </span>
                            {% endif %}
                            {{ locale.code|flag }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endset %}

    {{ elements.page_header(title, buttons, subtitle) }}

    <div class="row-fluid has-sidebar">
        <div id="tree" data-tree="view" data-assets-path="{{ asset('bundles/pimcatalog/') }}" data-datalocale="{{ dataLocale }}"></div>
        <div id="product-grid"></div>
    </div>

    <script type="text/javascript">
    $(function() {
        var datagrid = Oro.Registry.getElement('datagrid');
        console.log(datagrid);
        Oro.Events.on('grid_load:complete', function() {
            var url = "{{ path('pim_catalog_product_index', { '_format': 'csv'}) }}".concat('#url=');
            var newUrl = document.location.href.replace(/(.*)#url=\//, url);
            $('#quick-export').attr('href', newUrl);
        });
    });
    </script>

{% endblock %}
