<form id="{{ form.vars.id }}" name="{{ form.vars.name }}" class="hidden" method="POST" action="{{ action }}">
    {{ form_widget(form.attributes) }}
    {{ form_widget(form._token) }}
</form>
<script>
$(function() {
    $('#{{ form.attributes.vars.id }}').select2('destroy');

    $('#{{ form.attributes.vars.id }}').pimMultiselect({
        title: "{{ 'Add attributes'|trans }}",
        placeholder: "{{ 'Search'|trans }}",
        appendTo: '#attribute-buttons',
        buttons: {
            "{{ 'Save'|trans }}": function() {
                $('#{{ form.vars.id }}').submit();
            }
        }
    });
})
</script>
