{% extends bap.layout is defined ? bap.layout : 'ProductBundle::layout.bootstrap.html.twig' %}

{% set title = form.vars.value.id ? 'Edit attribute' : 'Add attribute' %}

{% block title %}{{ parent() }} - {{ title|trans }}{% endblock %}

{% block content %}
<form action="{{ form.vars.value.id ? 
    path('pim_product_productattribute_edit', { id: form.vars.value.id }) : 
    path('pim_product_productattribute_create') }}" method="POST" class="form-register">
    <fieldset>
        <legend>{{ title|trans }} 
            <a class="btn btn-primary pull-right" href="{{ path('pim_product_productattribute_index') }}">
                {{ "Back to list" | trans }}
            </a>
        </legend>

        {% if form.vars.errors|length %}
            <div class="alert alert-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {{ form_row(form.id) }}
        
        {{ form_row(form.code) }}
        
        {{ form_row(form.name) }}
        
        {{ form_row(form.description) }}
        
        {{ form_row(form.attributeType) }}
        
        {{ form_row(form.required) }}
        
        {{ form_row(form.unique) }}
        
        {{ form_row(form.translatable) }}
        
        {{ form_row(form.scopable) }}
        
        {{ form_row(form.searchable) }}
        
        {{ form_row(form.default_value) }}
        
        {{ form_row(form.variant) }}
        
        {{ form_row(form.smart) }}

        {{ form_row(form.group) }}
        
        {% if form.options is defined %}
            <legend>{{ 'Options'|trans }}</legend>
            
            <ul id="sortable_options" class="options" data-prototype="{% filter escape %}
                {% include 'PimProductBundle:ProductAttribute:_prototype-option.html.twig' 
                    with {'form': form.options.get('prototype')} %}
            {% endfilter %}">
            {% for option in form.options %}
                <li class="att-option">
                    {{ form_row(option.id) }}
                    {% for value in option.optionValues %}
                        {{ form_row(value.id) }}
                        {{ form_row(value.value) }}
                        {{ form_row(value.locale) }}
                    {% endfor %}
                    {{ form_row(option.sort_order) }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {{ form_row(form._token) }}

        <br />
        <legend>{{ 'Additional information'|trans }}</legend>

        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ 'Created at'|trans }}</label>
                <div class="controls">
                    <span class="label">
                        {{ form.vars.value.created ? form.vars.value.created|date('Y-m-d h:i:s'|trans) : 'N/A'|trans }}
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ 'Updated at'|trans }}</label>
                <div class="controls">
                    <span class="label">
                        {{ form.vars.value.updated ? form.vars.value.updated|date('Y-m-d h:i:s'|trans) : 'N/A'|trans }}
                    </span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <button class="btn btn-large btn-primary" type="submit">{{ 'Save'|trans }}</button>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    {% if form.options is defined %}
        {% include 'PimProductBundle:ProductAttribute:_js-option.html.twig' %}
    {% endif %}
    {% include 'PimProductBundle:ProductAttribute:_js-validation.html.twig' %}
</script>
{% endblock %}
