{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Attributes overview'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}

    <h1>{{ title }} 
        <a class="btn btn-primary pull-right" style="margin-left:10px;" 
            href="{{ path('pim_product_productattribute_create') }}">{{ 'New attribute'|trans }}</a>
    </h1>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <th>{{ 'Type'|trans }}</th>
                <th>{{ 'Required'|trans }}</th>
                <th>{{ 'Unique'|trans }}</th>
                <th>{{ 'Translatable'|trans }}</th>
                <th>{{ 'Scopable'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
                <th>{{ 'Updated'|trans }}</th>
                <th style="width: 50px">{{ 'Edit'|trans }}</th>
                <th style="width: 50px">{{ 'Remove'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for attribute in attributes %}
            <tr>
                <td>
                    <a href="{{ path('pim_product_productattribute_edit', { id: attribute.id }) }}">
                        {{ attribute.code }}
                    </a>
                </td>
                <td>{{ attribute.attributeType }}</td>
                <td>{{ attribute.required }}</td>
                <td>{{ attribute.unique }}</td>
                <td>{{ attribute.translatable }}</td>
                <td>{{ attribute.scopable }}</td>
                <td>{{ attribute.created|date('Y-m-d h:i:s') }}</td>
                <td>{{ attribute.updated|date('Y-m-d h:i:s') }}</td>
                <td>
                    <a href="{{ path('pim_product_productattribute_edit', { id: attribute.id }) }}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pim_product_productattribute_remove', { id: attribute.id }) }}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />

{% endblock %}
