{% extends 'OroNavigationBundle:Menu:menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        {% import 'OroNavigationBundle:Menu:menu.html.twig' as oro_menu %}
        {% set listAttributes = listAttributes|merge(
        {'class': oro_menu.add_attribute_values(listAttributes, 'class', ['nav', 'nav-tabs'])})
        %}
        <ul{{ oro_menu.attributes(listAttributes) }}>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block item %}
    {% if matcher.isAncestor(item, 2) %}
        {%- set classes = classes|merge([options.ancestorClass]) %}
    {% endif %}
    {{ block('item_renderer') }}
{% endblock %}

{% block linkElement %}
    {% import 'OroNavigationBundle:Menu:menu.html.twig' as oro_menu %}
    {% set itemLink = item.uri %}
    {% if item.hasChildren and item.displayChildren %}
        {% set linkAttributes = linkAttributes|merge({'data-toggle': 'tab'}) %}
        {% set itemLink = '#' ~ item.name|replace({' ': '_', '#': '_'})|lower|trim %}
    {% else %}
        {% set linkAttributes = linkAttributes|merge(
        {'class': oro_menu.add_attribute_values(linkAttributes, 'class', ['empty'])})
        %}
    {% endif %}
    <a href="{{ itemLink }}"{{ oro_menu.attributes(linkAttributes) }}>{{ block('label') }}</a>
{% endblock %}
