<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_style %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{asset ('css/pim.css', 'frontend') }}"/>
        {% endblock %}
    {% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
    <div id="page">
        <div id="top-page">
            {% block main %}
                {% block messages %}
                    {% if app.session.flashbag.peekAll|length > 0 %}
                        {% for type, messages in app.session.flashbag.all %}
                            {% for message in messages %}
                            <div class="alert{{ type ? ' alert-'~type : '' }}">
                            {{ message|trans|raw }}
                            </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endblock %}
                {% block content %}
                {% endblock content %}
            {% endblock main %}
        </div>
    </div>
    {# we had to do this to prevent loading js stack when not logged in#}
    <script type="text/javascript" nonce="{{ js_nonce() }}">
        const tooltip = document.querySelector('[data-toggle="tooltip"]');
        if (null !== tooltip) {
            tooltip.addEventListener('mouseover', function(event){
                var html =`
                    <div class="tooltip-arrow" style="top: 19.2982%;"></div>
                    <div class="tooltip-inner">${event.currentTarget.dataset.originalTitle}</div>`
                var tooltip = document.createElement('div');
                tooltip.className = 'tooltip fade right in';
                tooltip.style = `top: 0px; left: ${event.currentTarget.offsetLeft + event.currentTarget.offsetWidth}px; display: block;`;

                tooltip.innerHTML = html;
                event.currentTarget.parentNode.appendChild(tooltip);
            });

            tooltip.addEventListener('mouseout', function(event){
                event.currentTarget.parentNode.querySelectorAll('.tooltip').forEach((tooltip) => tooltip.remove());
            });
        }
    </script>
</body>
</html>
