{% extends 'PimBatchBundle::layout.html.twig' %}

{% set title = "Configuration" %}

{% block page_container %}
    {% block content %}
    
        <form action="{{ path('pim_batch_configuration_edit', { id: configuration.id }) }}" method="POST">

            {% set buttons %}
                {{ elements.backLink(path('pim_batch_connector_index')) }}
                {{ elements.submitBtn }}
            {% endset %}
    
            {{ elements.page_header(title, buttons) }}
    
            {{ form_widget(form) }}
        </form>

    {% endblock %}
{% endblock %}
