{% extends bap.layout is defined ? bap.layout : 'PimBatchBundle::layout.html.twig' %}

{% set title = "Configuration" %}

{% block content %}

    <form action="{{ path('pim_batch_configuration_edit', { id: configuration.id }) }}" method="POST">

        <fieldset>
            <legend>
                {{ title | trans }}
                <a class="btn btn-primary pull-right" href="{{ path('pim_batch_connector_index') }}">{{ "Back" | trans }}</a>
            </legend>
    
            {{ form_widget(form) }}
    
            <div class="form-row">
                <button class="btn btn-large btn-primary pull-right" type="submit">{{ "Save" | trans }}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}
