{{ form_start(form) }}

<div class="row-fluid">
    <div class="span6">
        <h4>{{ 'Available Columns'|trans }}</h4>
        <ul id="bucket" class="connectedSortable">
            {% for column in form.columns if not column.vars.checked %}
            <li>
                <i class="icon-reorder"></i> {{ column.vars.label }}
                {{ form_widget(column, {'attr': {'class': 'hide'}}) }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="span6">
        <h4>{{ 'Displayed Columns'|trans }}</h4>
        <ul id="columns" class="connectedSortable">
            {% for column in form.columns if column.vars.checked %}
            <li>
                <i class="icon-reorder"></i> {{ column.vars.label }}
                {{ form_widget(column, {'attr': {'class': 'hide'}}) }}
            </li>
            {% endfor %}
        </ul>
        {{ form_widget(form.order) }}
    </div>
</div>

{{ form_end(form) }}

<script type="text/javascript">
    require(
        ['jquery', 'jquery-ui-full'],
        function ($) {
            $(function() {
                $('#columns, #bucket')
                    .sortable({
                        connectWith: '.connectedSortable',
                        containment: $('#columns').closest('.row-fluid'),
                        tolerance: 'pointer',
                        cursor: 'move',
                        stop: function() {
                            var values = _.map($('#columns input[type="checkbox"]'), function (el) {
                                return $(el).val();
                            });
                            $('#{{ form.order.vars.id }}').val(values.join(','));
                        }
                    })
                    .disableSelection();
            });
        }
    );
</script>
