{% extends 'PimConfigBundle::layout.html.twig' %}

{% set title = 'Languages overview'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagrid': datagrid, 'selector': '#backgrid'} %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}
        <a class="btn btn-primary pull-right" 
            href="{{ path('pim_config_language_create') }}">{{ 'New language'|trans }}</a>
    </h1>

    <div id="backgrid"></div>
{% endblock %}
