{% extends bap.layout is defined ? bap.layout : 'ConfigBundle::layout.bootstrap.html.twig' %}

{% block content %}

    <h1>Configuration overview
        <a class="btn btn-primary pull-right" 
            href="{{ path('pim_config_language_create') }}">New Language</a>
    </h1>
    
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Code</th>
                <th>Activated</th>
                <th>Created</th>
                <th>Updated</th>
                <th style="width: 50px">Edit</th>
                <th style="width: 50px">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for language in languages %}
            <tr>
                <td>{{ language.code }}</td>
                <td>{{ language.activated }}</td>
                <td></td>
                <td></td>
                <td>
                    <a href="{{ path('pim_config_language_edit', { id: language.id }) }}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pim_config_language_remove', { id: language.id }) }}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
