{% extends bap.layout is defined ? bap.layout : 'ConfigBundle::layout.bootstrap.html.twig' %}

{% block content %}

    <h1>{{ 'Languages overview'|trans }}
        <a class="btn btn-primary pull-right" 
            href="{{ path('pim_config_language_create') }}">{{ 'New language'|trans }}</a>
    </h1>
    
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <th>{{ 'Fallback'|trans }}</th>
                <th>{{ 'Currencies'|trans }}</th>
                <th>{{ 'Activated'|trans }}</th>
                <th style="width: 50px">{{ 'Edit'|trans }}</th>
                <th style="width: 50px">{{ 'Remove'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for language in languages %}
            <tr>
                <td>{{ language.code }}</td>
                <td>{{ language.fallback }}</td>
                <td>
                    {% for currency in language.currencies %}
                        {{ currency.code }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ language.activated }}</td>
                <td>
                    <a href="{{ path('pim_config_language_edit', { id: language.id }) }}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pim_config_language_remove', { id: language.id }) }}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
