{% extends 'PimUserBundle::layout.html.twig' %}

{% block bodyClass %}AknLogin{% endblock %}

{% block content %}
<div class="AknLogin-mainContainer container">
    <div class="AknLogin-title">
        {% embed 'PimUIBundle::logo.html.twig' %}{% endembed %}
    </div>

    <form action="{{ path('oro_user_reset_send_email') }}" method="post" class="form-reset">
        <h2 class="AknLogin-subTitle">{{ 'Forgot Password'|trans }}</h2>

        {% if invalid_username is defined %}
            <div class="AknMessageBox AknMessageBox--error">
                {{ 'The username or email address "%username%" does not exist.'|trans({ '%username%': invalid_username }) }}
            </div>
        {% endif %}

        <fieldset>
            <div class="AknLogin-form">
                <input class="AknTextField" type="text" name="username" required="required" placeholder="{{ 'Username or Email'|trans }}" autofocus="autofocus"/>
                <button type="submit" class="AknButton AknButton--apply AknButton--big">{{ 'Request'|trans }}</button>
            </div>
            <div class="AknLogin-form">
                <a href="{{ path('oro_user_security_login') }}" class="AknLogin-link cancel">{{ 'Cancel'|trans }}</a>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
