{% extends 'PimCatalogBundle:MassEditAction:layout.html.twig' %}

{% block content %}
    {% set title = 'pim_catalog.mass_edit_action.page_title'|trans %}
    {% set subtitle = 'pim_catalog.mass_edit_action.page_subtitle'|transchoice(productIds|length) %}
    {{ elements.page_header(title, null, subtitle) }}

    {{ parent() }}

    {{ form_start(form, { 'action': path('pim_catalog_mass_edit_action_perform', { 'operationAlias': massEditActionOperator.operationAlias, 'products': productIds }) }) }}

        <div class="row">
            <div class="offset1 span12">
                <h3>{{ ('pim_catalog.mass_edit_action.' ~ massEditActionOperator.operationAlias ~ '.label')|trans }}</h3>
                <h4>{{ ('pim_catalog.mass_edit_action.' ~ massEditActionOperator.operationAlias ~ '.description')|trans }}</h4>
                <div class="pull-right">
                    {% block formTitle %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="row offset1 span12 buffer-top confirmation hide">
            <div class="alert alert-info">
                {{ 'pim_catalog.mass_edit_action.confirm'|transchoice(productIds|length) }}
            </div>
        </div>

        <div class="row buffer-top">
            <div class="offset1 span12 mass-edit-form">
                <div class="errors">
                    {{ form_errors(form) }}
                </div>
                {{ JSFV(form) }}
                {% block formContent %}

                {% endblock %}
            </div>
        </div>

        <div class="row offset1 buffer-top configuration">
            {{ elements.link('btn.back', path('pim_catalog_mass_edit_action_choose', {'products': productIds})) }}
            {{ elements.link('btn.next', '#', {'class': ['next', 'btn-primary']}) }}
        </div>

        <div class="row offset1 buffer-top confirmation hide">
            {{ elements.link('btn.cancel', '#', {'class': 'cancel'}) }}
            {{ elements.submitBtn('btn.confirm') }}
        </div>

    {{ form_end(form) }}
{% endblock %}

{% block head_script_component %}
    {% set currentStep = 3 %}
    {{ parent() }}

    {% set action = path('pim_catalog_mass_edit_action_configure', { 'operationAlias': massEditActionOperator.operationAlias, 'products': productIds }) %}
    <script type="text/javascript">
        require(
            ['jquery', 'oro/mediator', 'jquery.wizard', 'jquery.select2', 'bootstrap.bootstrapswitch', 'jquery.multiselect'],
            function ($, mediator) {
                'use strict';

                $(function () {
                    var disableForm = function() {
                        // Disable common fields
                        $('input, textarea').each(function() {
                            $(this).attr('readonly', 'true').attr('disabled', 'disabled');
                        });

                        // Disable select2
                        $('select').select2('readonly', true);

                        // Disable multiselect
                        $('select.pimmultiselect').multiselect('disable');

                        // Disable switcher
                        $('.has-switch').bootstrapSwitch('setActive', false);

                        // Trigger jstree lock
                        mediator.trigger('jstree:lock');
                    }

                    var enableForm = function() {
                        // Enable common fields
                        $('input, textarea').each(function() {
                            $(this).removeAttr('readonly').removeAttr('disabled');
                        });

                        // Enable select2
                        $('select').select2('readonly', false);

                        // Enable multiselect
                        $('select.pimmultiselect').multiselect('enable');

                        // Enable switcher
                        $('.has-switch').bootstrapSwitch('setActive', true);

                        // Trigger jstree unlock
                        mediator.trigger('jstree:unlock');
                    };

                    $('select.operation-param').change(function () {
                        $('#{{ form.vars.id }}').attr('action', '{{ action|raw }}').submit();
                    });

                    /**
                     * Confirmation
                     */
                    $('a.next').on('click', function(event) {
                        event.preventDefault();

                        $('.wizard').wizard({ currentStep: 4});
                        disableForm();
                        $('.configuration').addClass('hide');
                        $('.confirmation').removeClass('hide');
                    });

                    $('a.cancel').on('click', function(event) {
                        event.preventDefault();

                        $('.wizard').wizard({ currentStep: 3});
                        enableForm();
                        $('.configuration').removeClass('hide');
                        $('.confirmation').addClass('hide');
                    });

                    $('#{{ form.vars.id }} button[type="submit"]:last').on('click', function() {
                        $('#{{ form.vars.id }} [disabled]').removeAttr('disabled');
                    });
                });
            }
        );
    </script>
{% endblock %}
