{% import 'OroLocaleBundle::macros.html.twig' as macro %}
<ul>
{% for fieldKey, fieldValue in value %}
    {% if fieldKey == 'auditData' %}
    {% for collKey, collValue in fieldValue.new %}
    <li>
        <b>{{ collKey }}:</b>
        {% if fieldValue.old|length %}
        <s>{{ fieldValue.old[collKey] }}</s>
        {% endif %}
        {{ collValue }}
    </li>
    {% endfor %}
    {% else %}
    <li>
        <b>{{ fieldKey }}:</b>
        {% if fieldValue.old.timestamp is defined %}
        <s>{{ fieldValue.old|date('m/d/Y') }}</s>
        {% else %}
        <s>{{ fieldValue.old }}</s>
        {% endif %}
        {{ fieldValue.new.timestamp is defined ? macro.time(fieldValue.new) : fieldValue.new }}
    </li>
    {% endif %}
{% endfor %}
</ul>
