{% extends bap.layout%}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block page_container %}
    {% block content %}
        <form id="{{ form.vars.name }}" action="{{ formAction }}" {{ form_enctype(form) }} method="post" class="unspaced">

            {% block pageHeader %}
                {% set buttons %}
                    {% block navButtons %}{% endblock navButtons %}
                    <input type="hidden" name="input_action" value="" data-form-id="{{ form.vars.name }}"/>
                {% endset %}

                {% set meta %}
                    <ul class="inline">
                        {% block stats %}
                            {% if breadcrumbs.entity.createdAt is defined and breadcrumbs.entity.updatedAt is defined %}
                                <li>{{ 'Created'|trans }}: {{ breadcrumbs.entity.createdAt ? breadcrumbs.entity.createdAt|datetime_presenter : 'N/A' }}</li>
                                <li>{{ 'Updated'|trans }}: {{ breadcrumbs.entity.updatedAt ? breadcrumbs.entity.updatedAt|datetime_presenter : 'N/A' }}</li>
                            {% endif %}
                        {% endblock stats %}
                    </ul>
                {% endset %}

                {% set title %}
                    {% block breadcrumbs %}
                        <a href="{{ breadcrumbs.indexPath }}">{{ breadcrumbs.indexLabel|trans }}</a>
                        <span class="separator">/</span>
                        {% if breadcrumbs.additional is defined %}
                            {% for breadcrumb in breadcrumbs.additional %}
                                <a href="{{ breadcrumb.indexPath }}">{{ breadcrumb.indexLabel|trans }}</a>
                                <span class="separator">/</span>
                            {% endfor %}
                        {% endif %}
                        {{ breadcrumbs.entityTitle }}
                    {% endblock breadcrumbs %}
                {% endset %}

                {% set back %}
                    {% block back %}{% endblock %}
                    {% if (breadcrumbs.hasAvatar is defined and breadcrumbs.hasAvatar) %}
                        <img class="AknTitleContainer-avatar" src="{{ breadcrumbs.imagePath ? breadcrumbs.imagePath | imagine_filter('avatar_med') : asset('bundles/pimui/img/info-user.png') }}" alt="{{ breadcrumbs.entityTitle }}"/>
                    {% endif %}
                {% endset %}

                {{ elements.page_header(title, buttons, [], meta, '', back) }}

            {% endblock pageHeader %}

            <div class="layout-content">
                {% block content_data %}
                    {{ UI.scrollData(id, data, form) }}
                {% endblock content_data %}
            </div>
        </form>
    {% endblock content %}
{% endblock %}
