<table class="comparison">
    {% for attributeView in groupView.attributes if attributeView.locale is null or attributeView.locale == dataLocale %}
    <tr>
        <td>
            <div class="attribute-field {{ attributeView.classes|default([])|keys|join(' ') }}">
                {% if attributeView.values is defined %}
                    {% for scope, subvalue in attributeView.values %}
                        <div class="control-group" data-field="{{ attributeView.code }}">
                            {{ form_widget(subvalue, {'attr': {'data-scope': scope}}) }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="control-group" data-field="{{ attributeView.code }}">
                        {{ form_widget(attributeView.value) }}
                    </div>
                {% endif %}
                {% if attributeView.isRemovable and resource_granted('pim_enrich_product_remove_attribute') %}
                    <i {{ elements.deleteLinkAttributes(
                        path('pim_enrich_product_removeattribute', { 'productId': product.id, 'attributeId': attributeView.id, 'dataLocale': dataLocale }),
                        path('pim_enrich_product_edit', { 'id': product.id, 'dataLocale': dataLocale, 'boost': "now"|date('U') }),
                        'confirmation.product.remove attribute'|trans({'%name%': attributeView.label}),
                        'flash.product.attribute removed'|trans
                        )}} class="icon-remove remove-attribute" data-toggle="tooltip" data-placement="right" data-original-title="{{ 'Remove this attribute'|trans }}"></i>
                {% endif %}
                {% if attributeView.allowValueCreation and resource_granted('pim_enrich_attribute_edit') %}
                    {{ elements.quickCreateOption(attributeView.id, path('pim_enrich_attribute_create_option', { id: attributeView.id, dataLocale: dataLocale })) }}
                {% endif %}
            </div>
        </td>
        <td class="no-label">
            {% if attributeView.locale is not null %}
                {% for comparisonView in groupView.attributes if comparisonView.locale == comparisonLocale %}
                    {% if comparisonView.code == attributeView.code %}
                        <div class="attribute-field {{ comparisonView.classes|default([])|keys|join(' ') }}">
                            {% if comparisonView.values is defined %}
                                {% for scope, subvalue in comparisonView.values %}
                                    <div class="control-group" data-field="{{ comparisonView.code }}">
                                        {{ form_widget(subvalue, {'attr': {'data-scope': scope}}) }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="control-group" data-field="{{ comparisonView.code }}">
                                    {{ form_widget(comparisonView.value) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
