{% extends 'PimEnrichBundle::layout.html.twig' %}

{% oro_title_set({ params: { "%product.sku%": product.label } }) %}

{% block head_script %}
    {{ parent() }}
    {% include 'PimEnrichBundle:Product:_js-handler.html.twig' %}
{% endblock %}

{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}

{% block content %}

    {% if resource_granted('pim_enrich_product_add_attribute') %}
        {% include 'PimEnrichBundle:Attribute:_available-attributes-form.html.twig' with {
            'form': attributesForm,
            'action': path('pim_enrich_product_addattributes', {'id': product.id, 'dataLocale': dataLocale})
        } %}
    {% endif %}

    {% block sequentialEdit %}
        {% include 'PimEnrichBundle:Product:_sequentialEdit.html.twig' %}
    {% endblock %}

    {% set formAction = path('pim_enrich_product_update', { id: form.vars.value.id, dataLocale: dataLocale, compareWith: comparisonLocale }) %}
    {% if sequentialEdit and sequentialEdit.next is not null %}
        {% set formAction = formAction ~ '&action=SaveAndNext' %}
    {% elseif sequentialEdit and sequentialEdit.next is null %}
        {% set formAction = formAction ~ '&action=SaveAndFinish' %}
    {% endif %}

    {{ JSFV(form) }}
    {{ form_start(form, {
        'action': formAction,
        'attr': {
            'class': 'product-edit',
            'data-updated-title': 'confirmation.leave'|trans,
            'data-updated-message': 'confirmation.discard changes'|trans({ '%entity%': 'product.title'|trans })
        }
    }) }}
        {% set title = 'product.title'|trans %}

        {% set buttons %}
            {% include 'PimEnrichBundle:Product:_buttons.html.twig' %}
        {% endset %}

        {% if subtitle is not defined %}
            {% set subtitle %}
                {% include 'PimEnrichBundle:Product:_locale-switcher.html.twig' %}
                {{ elements.enabledLabel(form) }}
            {% endset %}
        {% endif %}

        {% set left %}
            <ul class="inline">
                {% include 'PimEnrichBundle:Product:_left-details.html.twig' %}
            </ul>
        {% endset %}

        {{ elements.page_header(title, buttons, subtitle, left, elements.updated(form.vars.id)) }}

        <div class="layout-content">
            {{ elements.form_navbar(view_element_aliases(form.vars.id ~ '.form_tab')) }}

            <div class="row-fluid tab-content">
                {{ elements.form_errors(form) }}

                {{ view_elements(form.vars.id ~ '.form_tab') }}

                {{ form_row(form.id) }}
            </div>
        </div>
    {{ form_end(form) }}

    <a href="javascript:void(0);"
        id="create-product"
        data-form-url="{{ path('pim_enrich_product_create', { 'dataLocale': dataLocale }) }}"></a>
{% endblock %}
