{% extends 'PimEnrichBundle::layout.html.twig' %}

{% oro_title_set({ params: { "%product.sku%": product.label } }) %}

{% block head_script %}
    {{ parent() }}
    {% include 'PimEnrichBundle:Product:_js-handler.html.twig' %}
{% endblock %}

{% block content %}

    {% if resource_granted('pim_enrich_product_add_attribute') %}
        {% include 'PimEnrichBundle:Attribute:_available-attributes-form.html.twig' with {
            'form': attributesForm,
            'action': path('pim_enrich_product_addattributes', {'id': product.id, 'dataLocale': dataLocale})
        } %}
    {% endif %}

    {{ JSFV(form) }}
    {{ form_start(form, {
        'action': path('pim_enrich_product_update', { id: form.vars.value.id, dataLocale: dataLocale, compareWith: comparisonLocale }),
        'attr': {
            'class': 'product-edit',
            'data-updated-title': 'confirmation.leave'|trans,
            'data-updated-message': 'confirmation.discard changes'|trans({ '%entity%': 'product.title'|trans })
        }
    }) }}

        {% set title = 'product.title'|trans %}

        {% set buttons %}
            {% include 'PimEnrichBundle:Product:_buttons.html.twig' %}
        {% endset %}

        {% set subtitle %}
            <div id="locale-switcher" class="btn-group sub-title">
                <span class="product-name dropdown-toggle" data-toggle="dropdown">
                    {{ dataLocale|flag }}
                    <span class="title">
                        {{ product.label }}
                    </span>
                    <i class="icon-caret-down"></i>
                </span>
                <ul class="dropdown-menu">
                    {% for locale in locales %}
                        <li class="{{ locale.code == dataLocale ? 'active' : '' }}">
                            <a href="{{ path('pim_enrich_product_edit', {id: form.vars.value.id, dataLocale: locale.code}) }}" title="{{ locale_label(locale.code) }}">
                                <span class="indicator">
                                    {% if locale.code == dataLocale %}
                                        <i class="icon-circle"></i>
                                    {% endif %}
                                </span>
                                {{ locale.code|flag }}
                                <span class="title">{{ product.label(locale.code) }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {{ elements.enabledLabel(form) }}
        {% endset %}

        {% set left %}
            <ul class="inline">
                {% include 'PimEnrichBundle:Product:_left-details.html.twig' %}
            </ul>
        {% endset %}

        {{ elements.page_header(title, buttons, subtitle, left, elements.updated(form.vars.id)) }}

        <div class="layout-content">
            {% include 'PimEnrichBundle:Product:_navbar.html.twig' %}

            <div class="row-fluid tab-content">
                {{ elements.form_errors(form) }}

                {% include 'PimEnrichBundle:Product:_tab-panes.html.twig' %}

                {{ form_row(form.id) }}
            </div>
        </div>
    {{ form_end(form) }}

    <a href="javascript:void(0);"
        id="create-product"
        data-form-url="{{ path('pim_enrich_product_create', { 'dataLocale': dataLocale }) }}"></a>
{% endblock %}
