{% block form_info %}
    {% spaceless %}
        {% if type is not defined or type != 'hidden' %}
            <div class="AknFieldContainer-iconsContainer icons-container">
                {% if help is defined %}
                    <i class="AknIconButton icon-info-sign"
                       data-toggle="tooltip" data-placement="right" data-original-title="{{ help|trans }}"></i>
                {% endif %}
                {% if modified is defined %}
                    <i class="icon-file-text-alt from-modified"
                       data-trigger="hover" data-toggle="popover" data-placement="right"
                       data-title="{{ 'Current value(s)'|trans }}" data-async-content="{{ modified }}"
                       data-container="body"></i>
                {% endif %}
                {% if smart is defined and from_variant is not defined %}
                    <i class="icon-code-fork from-smart"
                       data-trigger="hover" data-toggle="popover" data-placement="right"
                       data-title="{{ 'pimee_catalog_rule.product_value.tooltip.affected_by.title'|trans }}"
                       data-async-content="{{ smart }}" data-container="body" data-html="true"></i>
                {% endif %}
                {{ form_errors(form) }}
            </div>
            {% if info is defined %}
                <div>{{ info|trans }}</div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_info %}

{% block pim_ajax_asset_tag_row %}
    {{ block('form_row_field') }}
{% endblock %}
