{% block head_script %}
    <script type="text/javascript">
        require(
                ['jquery', 'underscore', 'pim/tree/associate'],
                function($, _, TreeAssociate){
                    'use strict';
                    $(function() {
                        new TreeAssociate('#{{ domTreeId }}', '#{{ form.operation.categories.vars.id }}', {
                            list_categories: '{{ listCategoriesRoute }}',
                            children:        '{{ listCategoryChildrenRoute }}'
                        });
                        var $nextBtn = $('a.next');
                        $nextBtn.hide();
                        $('#{{ form.operation.categories.vars.id }}').on('change', function() {
                            if ($(this).val()) {
                                $nextBtn.show();
                            } else {
                                $nextBtn.hide();
                            }
                        });
                    });
                }
        );
    </script>
{% endblock %}

{% block formContent %}

    {{ form_widget(form.operation.categories) }}

    {% set trees = form.operation.vars.trees %}

    <div class="classify {{ operationAlias }}">
        <div class="tabs-left tab-pane">
            <div id="trees-list" class="tab-groups">
                <ul class="AknVerticalNavtab AknVerticalNavtab--condensed nav nav-list">
                    <li class="AknVerticalNavtab-item AknVerticalNavtab-header">
                    {% for tree in trees %}
                        {% set aClass = "" %}
                        {% set iClass = "gray" %}
                        <li class="AknVerticalNavtab-item">
                            <a class="AknVerticalNavtab-link {{ aClass }}" href="javascript:void(0);" id="tree-link-{{ tree.id }}">
                                <div class="AknAcl">
                                    <i class="icon-ok AknAcl-icon {{ iClass }}"></i>
                                    {{ tree.label }}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="AknTabContainer-content tab-content">
                {% set selectedTree = 0 %}
                {% if trees %}
                    {% for tree in trees %}
                        {% if loop.first or tree.code == defaultTreeCode %}
                            {% set selectedTree = tree.id %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div id="{{ domTreeId }}" data-selected-tree="{{ selectedTree }}">
                    {% for tree in trees %}
                        <div class="tree root-unselectable" data-tree-id="{{ tree.id }}">
                            <div class="AknTabHeader">
                                <h3 class="AknTabHeader-title">{{ tree.label }}</h3>
                            </div>
                            <div id="tree-{{ tree.id }}"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
