{% extends 'PimEnrichBundle:MassEditAction:product/configure.html.twig' %}

{% block formContent %}

    <div id="product-edit-form">
    </div>

    {{ form_widget(form.operation.values) }}
    {{ form_widget(form.operation.attribute_locale) }}
    {{ form_widget(form.operation.attribute_channel) }}

    <script>
        require(
                [
                    'jquery',
                    'pim/fetcher-registry',
                    'pim/form-builder',
                    'oro/mediator',
                    'pim/user-context'
                ],
                function (
                        $,
                        FetcherRegistry,
                        FormBuilder,
                        mediator,
                        UserContext
                ) {
                    $(function () {
                        var userData = "{{ form.vars.data.getValues|escape('js') }}";
                        var errors = "{{ form.vars.data.getErrors|escape('js') }}";
                        errors = '' !== errors ? JSON.parse(errors) : {};

                        var product = {
                            meta: {},
                            values: '' !== userData ? JSON.parse(userData) : {}
                        };

                        FetcherRegistry.initialize().then(function() {
                            $.when(
                                FetcherRegistry.getFetcher('channel').fetch(UserContext.get('catalogScope')),
                                FetcherRegistry.getFetcher('locale').fetch(UserContext.get('catalogLocale'), {'activated': true}),
                                FormBuilder.build('pim-mass-product-edit-form')
                            ).then(function (channel, locale, form) {
                                form.setData(product);
                                mediator.trigger('pim_enrich:form:entity:post_fetch', product);
                                form.setElement('#product-edit-form').render();
                                form.$el.find('.AknTitleContainer').addClass('AknTitleContainer--hidden');

                                var event = {
                                    sentData: product,
                                    response: errors
                                };

                                if (!_.isEmpty(errors)) {
                                    form.trigger('pim_enrich:form:entity:bad_request', event);
                                }

                                $('#mass-edit-common-attribute-description').html(_.__(
                                    'pim_enrich.mass_edit_action.edit_common_attributes.description',
                                    {'locale': locale.label, 'channel': channel.labels[UserContext.get('catalogLocale')]}
                                ));
                            });
                        });
                    });
                });
    </script>
{% endblock %}

{% block formDescription %}
    <div id="mass-edit-common-attribute-description"></div>
{% endblock %}
