{% extends 'PimProductBundle::layout.html.twig' %}

{% import _self as export %}

{% macro configuration(title, name, config, stepIndex, violations) %}
    <li>{{ title|trans ~ ' - ' ~ name|trans }}
        <ul>
        {% for field, value in config %}
            <li>
                <b>{{ field|normalizeKey }}:</b>
                <span class="label">{{ value|normalizeValue }}</span>
                <span class="label label-important">{{ getViolations(violations, stepIndex, title, field) }}</span>
            </li>
        {% else %}
            <li><i>{{ 'No configuration'|trans }}</i></li>
        {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% block content %}

    {% set title = 'Export'|trans %}
    {% set subtitle = job.label  %}

    {% set left %}
        <ul class="inline">
           <li>{{ 'Code'|trans }}: {{ job.code|upper }}</li>
           <li>{{ 'Connector'|trans }}: {{ job.jobDefinition.name|trans }}</li>
       </ul>
    {% endset %}

    {% set buttons %}
        {{ elements.backLink(path('pim_ie_export_index')) }}
        {% if violations|length == 0 %}
            {{ elements.link('Execute', path('pim_ie_export_launch', {'id': job.id}), {icon: 'cogs', class: 'btn-primary'}) }}
        {% endif %}
    {% endset %}

    {{ elements.page_header(title, buttons, subtitle, left) }}

    {% set accordionContent = {} %}
    {% for stepTitle, stepConfig in job.jobDefinition.configuration %}

        {% set heading = 'Step %stepIndex%'|trans({ '%stepIndex%': loop.index }) ~ ' - ' ~ stepTitle|trans %}

        {% set content %}
            <ul>
                {% set step = job.jobDefinition.step(stepTitle) %}
                {% set stepIndex = loop.index - 1 %}
                {{ export.configuration('Reader', step.reader.name, stepConfig.reader, stepIndex, violations) }}
                {{ export.configuration('Processor', step.processor.name, stepConfig.processor, stepIndex, violations) }}
                {{ export.configuration('Writer', step.writer.name, stepConfig.writer, stepIndex, violations) }}
            </ul>
        {% endset %}

        {% set accordionContent = accordionContent|merge({ (heading): content }) %}
    {% endfor %}

    {{ elements.accordion(accordionContent) }}

{% endblock %}
