{% spaceless %}
    {% if elements is not defined %}
        {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
    {% endif %}
{% endspaceless %}

{{ form_start(form, {
    'action': path('pim_enrich_family_create'),
    'class': 'form-inline',
    'attr': {
        'data-title': 'popin.create.family.title'|trans,
        'data-button-submit': 'btn.save'|trans|capitalize,
        'data-button-cancel': 'btn.cancel'|trans|capitalize
    }
}) }}

    {{ JSFV(form) }}

    {{ elements.form_errors(form) }}

    <div class="row-fluid">
        {{ form_row(form.code) }}
    </div>
{{ form_end(form) }}
