{% set title = form.vars.value.id ? 'Edit export profile'|trans : 'Add export profile'|trans %}

{{ JSFV(form) }}
<form action="{{ form.vars.value.id ?
    path('pim_product_exportprofile_edit', { id: form.vars.value.id }) :
    path('pim_product_exportprofile_create') }}" method="POST" class="form-horizontal">
    <div class="form-row">
        <h3>
            {% if form.vars.value.id %}
                {{ 'Export profile'|trans }} - {{ form.vars.data.name }}
            {% else %}
                {{ 'New export profile'|trans }}
            {% endif %}
            <button class="btn btn-primary pull-right" type="submit">{{ 'Save'|trans }}</button>
            {% if form.vars.value.id %}
                <a class="btn pull-right" href="{{ path('pim_product_exportprofile_remove', { id: form.vars.value.id }) }}">{{ 'Delete'|trans }}</a>
            {% endif %}
        </h3>
    </div>

    <div class="form-row">
        {{ elements.form_errors(form) }}

        <div id="accordion1" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                        <i class="fa-icon-collapse-alt"></i>
                        {{ "General Properties"|trans }}
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body in">
                    <div class="accordion-inner">
                        {{ form_row(form.code) }}
                    </div>
                </div>
            </div>
        </div>

        <div id="accordion2" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <i class="fa-icon-collapse-alt"></i>
                        {{ "Export profile values"|trans }}
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body in">
                    <div class="accordion-inner">
                        {{ form_row(form.name) }}
                    </div>
                </div>
            </div>
        </div>

        {{ form_row(form._token) }}

    </div>

</form>
