{% extends 'PimProductBundle::layout.html.twig' %}

{% set parentId %}{{ form.vars.value.parent ? form.vars.value.parent.id : null }}{% endset %}
{% set type = parentId ? 'category' : 'tree' %}
{% set action = form.vars.value.id ? 'Edit' : 'Create' %}

{% set title = action|trans ~ ' ' ~ type|trans %}
{% if form.vars.value.id %}
    {% set title = title ~ ' - ' ~ form.vars.value.title %}
{% endif %}

{% block head_script %}
    {{ parent() }}
    {% if form.vars.value.id %}
        {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#history-grid'} %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="category-tree-container" class="row-fluid">
        <div id="tree"
            data-tree="manage"
            data-assets-path="{{ asset('bundles/pimproduct/') }}"
            data-edit-url="{{ path('pim_product_categorytree_edit', { id: 0 }) }}"
            data-create-url="{{ path('pim_product_categorytree_create') }}"
            data-move-url="{{ path('pim_product_categorytree_movenode') }}"
            data-listtree-url="{{ path('pim_product_categorytree_listtree', { '_format': 'json' }) }}"
            data-no-tree-message="{{ 'No tree available'|trans }}"
            data-edit-label="{{ 'Edit'|trans }}"
            data-children-url="{{ path('pim_product_categorytree_children', { '_format': 'json' }) }}"
            {% if form.vars.value.id %}data-node-id="{{ form.vars.value.id }}"{% elseif form.vars.value.parent %}data-node-id="{{ form.vars.value.parent.id }}"{% endif %}
        ></div>

        <div id="category-form">
            {{ JSFV(form) }}
            <form id="{{ form.vars.id }}" class="form-horizontal" action="{{ form.vars.value.id ?
                path('pim_product_categorytree_edit', { id: form.vars.value.id }) :
                path('pim_product_categorytree_create', { parent: parentId }) }}" method="POST">

                {% set buttons %}
                    {% if form.vars.value.id %}
                        {{ elements.deleteLink(path('pim_product_categorytree_remove', { id: form.vars.value.id }), 'Are you sure you want to delete this category ?'|trans) }}
                    {% endif %}
                    {{ elements.submitBtn }}
                {% endset %}

                {{ elements.page_header(title|trans, buttons) }}

                {% include 'PimProductBundle:CategoryTree:_navbar.html.twig' %}

                <div class="row-fluid tab-content">
                    {{ elements.form_errors(form) }}
                    {% include 'PimProductBundle:CategoryTree:_tab-panes.html.twig' %}
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>

    {% include 'PimProductBundle:CategoryTree:_js-handler.html.twig' %}
{% endblock %}
