{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Category tree overview'|trans %}

{% block content %}

    <h1>{{ title }}
        <a class="btn btn-primary pull-right" style="margin-left:10px;"
            href="{{ path('pim_product_categorytree_create') }}">{{ 'New tree'|trans }}</a>
    </h1>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Parent'|trans }}</th>
                <th>{{ 'Root'|trans }}</th>
                <th>{{ 'Is dynamic'|trans }}</th>
                <th style="width: 50px">{{ 'Add child'|trans }}</th>
                <th style="width: 50px">{{ 'Edit'|trans }}</th>
                <th style="width: 50px">{{ 'Remove'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>
                    <a href="{{ path('pim_product_categorytree_edit', { id: category.id }) }}">
                        {{ category.code }}
                    </a>
                </td>
                <td>{{ category.title }}</td>
                <td>{% if category.parent %}{{ category.parent.code }}{% endif %}</td>
                <td>{{ category.root == category.id }}</td>
                <td>{{ category.isDynamic }}</td>
                <td>
                    <a href="{{ path('pim_product_categorytree_create', { parent: category.id }) }}">
                        <i class="icon-file"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pim_product_categorytree_edit', { id: category.id }) }}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pim_product_categorytree_remove', { id: category.id }) }}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
