{% extends 'PimCatalogBundle::layout.html.twig' %}

{% macro configuration(title, config, stepIndex, violations, stepType) %}
<table class="configuration">
    <thead>
        <tr>
            <td colspan="2" class="buffer-small-bottom">{{ ('oro_batch.' ~ title ~ '.title')|trans }}</td>
        </tr>
    </thead>
    <tbody>
        {% for field, value in config %}
        <tr>
            <td><b>{{ ('oro_batch.' ~ title ~ '.' ~ field ~ '.label')|trans }}</b></td>
            <td>{{ value|normalizeValue }} {{ getViolations(violations, stepIndex, stepType, field) }}</td>
        </tr>
        {% else %}
        <tr>
            <td><i>{{ 'No configuration'|trans }}</i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% block content %}

    {% set title = entityName ~ ' - ' ~ jobInstance.label %}

    {% set left %}
        <ul class="inline">
            <li>{{ 'Job'|trans }}: {{ jobInstance.job.name|trans }}</li>
            <li>{{ 'Connector'|trans }}: {{ jobInstance.connector|trans }}</li>
        </ul>
    {% endset %}

    {% set buttons %}
        {{ elements.backLink(indexRoute) }}
        {% if jobInstance.status != constant('Oro\\Bundle\\BatchBundle\\Entity\\JobInstance::STATUS_IN_PROGRESS') %}
            {{ elements.link('Edit', editRoute, { icon: 'edit' }) }}
        {% endif %}
        {% if uploadAllowed and uploadViolations|length == 0 %}
            {{ elements.link('Upload and '~action, null, {icon: 'upload-alt', class: 'btn-primary', attr: { 'data-form-toggle': 'pim_importexport_import_upload'}}) }}
        {% endif %}
        {% if violations|length == 0 %}
            {{ elements.link(action~' now', launchRoute, {icon: 'cogs', class: 'btn-primary'}) }}
        {% endif %}
    {% endset %}

    {{ elements.page_header(title, buttons, null, left) }}

    {% if form is defined and form is not empty and uploadAllowed and uploadViolations|length == 0 %}
        {{ form_start(form, {
            'id': 'pim_importexport_import_upload',
            'action': path('pim_importexport_import_launch', { id: jobInstance.id }),
            'attr': {
                'class': 'form-upload hide'
            }
        }) }}
            {{ elements.form_errors(form) }}
            <div class="row-fluid">
                {{ form_row(form.file) }}
                {{ elements.submitBtn('Upload and '~action~' now') }}
            </div>
        {{ form_end(form) }}
    {% endif %}

    {% set accordionContent = {} %}
    {% for stepTitle, stepConfig in jobInstance.job.configuration %}

        {% set heading = 'Step %stepIndex%'|trans({ '%stepIndex%': loop.index }) ~ ' - ' ~ stepTitle|trans %}

        {% set content %}
            {% set step = jobInstance.job.step(stepTitle) %}
            {% set stepIndex = loop.index - 1 %}
            {{ _self.configuration(step.reader.name, stepConfig.reader, stepIndex, violations, 'reader') }}
            {{ _self.configuration(step.processor.name, stepConfig.processor, stepIndex, violations, 'processor') }}
            {{ _self.configuration(step.writer.name, stepConfig.writer, stepIndex, violations, 'writer') }}
        {% endset %}

        {% set accordionContent = accordionContent|merge({ (heading): content }) %}
    {% endfor %}

    {{ elements.accordion(accordionContent, 1, true) }}

{% endblock %}
