{% extends 'PimUserBundle::layout.html.twig' %}

{% block bodyClass %}AknLogin{% endblock %}

{% block content %}
<div class="AknLogin-mainContainer container">
    <div class="AknLogin-title">
        {% embed 'PimUIBundle::logo.html.twig' %}{% endembed %}
    </div>

    <form action="{{ path('pim_user_reset_send_email') }}" method="post" class="form-reset">
        <h2 class="AknLogin-subTitle">{{ 'pim_user.user.login.forgot_password'|trans }}</h2>
        <fieldset>
            <div class="AknLogin-form">
                <input class="AknTextField" type="text" name="username" required="required" placeholder="{{ 'pim_user.user.login.username_or_email'|trans }}" autofocus="autofocus"/>
            </div>
            <div class="AknLogin-form">
                <div class="AknLogin-formCell">
                    <a href="{{ path('pim_user_security_login') }}" class="AknLogin-link cancel">{{ 'pim_common.cancel'|trans }}</a>
                </div>
                <div class="AknLogin-formCell AknLogin-formCell--small">
                    <button type="submit" class="AknButton AknButton--apply AknButton--big">{{ 'pim_user.user.login.request'|trans }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
