{% extends 'PimUserBundle::layout.html.twig' %}

{% block bodyClass %}AknLogin{% endblock %}

{% block content %}
    <div class="Separator"></div>
    <form action="{{ path('pim_user_reset_send_email') }}" method="post" class="Form">
        <div class="InputGroup">
            <div class="InputBlock">
                <label class="InputLabel" for="username">{{ 'pim_user.user.login.username_or_email'|trans }}</label>
                <input class="InputText" type="text"  id="username" name="username" required="required" placeholder="{{ 'pim_user.user.login.username_or_email'|trans }}" autofocus="autofocus"/>
            </div>
            <div class="CancelPasswordReset">
                <a href="{{ path('pim_user_security_login') }}" class="AknLogin-link cancel">{{ 'pim_common.cancel'|trans }}</a>
            </div>
        </div>
        <button type="submit" class="AknButton AknButton--apply AknButton--big">{{ 'pim_user.user.login.request'|trans }}</button>
    </form>
{% endblock %}
