{% extends 'PimUserBundle::layout.html.twig' %}

{% form_theme form 'PimUserBundle:Reset:_fields.html.twig' %}

{% block bodyClass %}AknLogin{% endblock %}

{% block messages %}
    {{ form_errors(form) }}
{% endblock %}

{% block content %}
    {{ form_start(form, {
        'action': path('pim_user_reset_reset', {token: token}),
        'method': 'post',
        'class': 'Form'
    }) }}
    <div class="InputGroup">
        {{ form_widget(form.plainPassword, {'required': true}) }}
        {{ form_widget(form._token) }}
    </div>
    <div class="CancelPasswordReset">
        <a href="{{ path('pim_user_security_login') }}">{{ 'pim_common.cancel'|trans }}</a>
    </div>
    <button type="submit"
            class="AknButton AknButton--apply AknButton--big AknButton--uppercase">{{ 'pim_user.user.login.reset'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}
