{% if not oro_is_hash_navigation() %}
    <!DOCTYPE html>
    <html>
    <head>
        {% block head %}
            <title>{% trans %}Loading...{% endtrans %}</title>
            <script id="page-title" type="text/html">{{ oro_title_render() }}</script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% block head_style %}
                <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
                <link rel="stylesheet" media="all" href="{{ asset('bundles/oroui/css/jquery-ui.grid.css') }}" />
                <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
                {% placeholder head_style %}
                <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
            {% endblock %}

            {% block script %}
                {% placeholder scripts_before %}

                <script type="text/javascript" src="{{ url('oro_translation_jstranslation') }}"></script>

                <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/orosegmentationtree/js/lib/jstree/jquery.jstree.tree_selector.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.hotkeys.js') }}"></script>
                {% if app.debug %}
                    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                    <script type="text/javascript">
                        Oro.debug = true;
                    </script>
                {% endif %}
                <!--[if lte IE 9]>
                <link href="{{ asset('bundles/oroui/css/ie.css') }}" rel="stylesheet" media="all" />
                <script src="{{ asset('bundles/oroui/lib/html5.js') }}"></script>
                <script src="{{ asset('bundles/oroui/lib/jquery/jquery.placeholder.js') }}"></script>
                <script type="text/javascript">
                    jQuery(document).ready(function() {
                        jQuery('input[placeholder], textarea[placeholder]').placeholder();
                    });
                </script>
                <![endif]-->
                <!--[if lte IE 7]>
                <script src="{{ asset ('bundles/oroui/js/ie.js') }}"></script>
                <![endif]-->
                {% block hash_nav %}
                    {% placeholder hash_nav %}
                {% endblock %}
                {% placeholder scripts_after %}
                {% block head_script %}
                {% endblock %}
            {% endblock %}
        {% endblock %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
    {% placeholder after_body_start %}
    <div id="progressbar">
        <h3>{% trans %}Loading ...{% endtrans %}</h3>
        <div class="progress progress-striped active">
            <div class="bar" style="width: 90%;"></div>
        </div>
    </div>
    <div id="page" style="display:none;">
        <div id="top-page">
            {% block header %}
                <header class="navbar">
                    {% placeholder before_navigation %}
                    <div class="navbar-inner">
                        <div class="container">
                            {% placeholder header_logo %}
                            <div class="navbar-responsive-collapse">
                                {% block navbar %}
                                <div class="nav pull-left top-search shortcuts">
                                    {% placeholder navbar %}
                                </div>
                                {% endblock navbar %}
                                <div class="divider-vertical small-divider"></div>
                                <div id="main-menu">
                                    {% block application_menu %}
                                        {% placeholder application_menu %}
                                    {% endblock application_menu %}
                                 </div>
                                <ul class="nav pull-right">
                                    {% placeholder user_menu %}
                                    {# Disabled notification icon till it will be implemented
                                    {% block notifications %}
                                    <li class="divider-vertical small-divider"></li>
                                    <li><a class="notifications" href="#"><i class="icon-bullhorn"></i><span class="badge badge-important">1</span></a></li>
                                    {% endblock notifications %}
                                    #}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% placeholder after_navigation %}
                </header>
            {% endblock header %}
            {% block main %}
                <div id="main" >
                    {% block right_panel %}
                        {% placeholder right_panel %}
                    {% endblock right_panel %}
                    {% block left_panel %}
                        {% placeholder left_panel %}
                    {% endblock left_panel %}
                    <div class="container-fluid breadcrumb-pin">
                        <div id="breadcrumb">
                            {% block breadcrumb %}
                                {% placeholder breadcrumb %}
                            {% endblock breadcrumb %}
                        </div>
                        {% placeholder pin_button %}
                    </div>
                    <div id="flash-messages">
                        {% block messages %}
                            {%  set hasMessages = app.session.flashbag.peekAll|length > 0 %}
                            <div class="flash-messages-frame" {% if not hasMessages %}style="display:none"{% endif %}>
                                <div class="flash-messages-holder"></div>
                            </div>
                            {% if hasMessages %}
                            <script type="text/javascript">
                                $(function() {
                                {% for type, messages in app.session.flashbag.all %}
                                    {% for message in messages %}
                                        Oro.NotificationFlashMessage({{ type|json_encode|raw }}, {{ message|trans|json_encode|raw }});
                                    {% endfor %}
                                {% endfor %}
                                });
                            </script>
                            {% endif %}
                        {% endblock messages %}
                    </div>
                    <div class="hash-loading-mask"></div>
                    <div id="container" class="scrollable-container">
                        {% block page_container %}
                            {% block content %}
                                {% placeholder content_before %}
                                <div class="container" style="background: #fff">
                                    <div class="row">
                                        <div class="span4">
                                            <hr />
                                            <h3>Layout pages</h3>
                                            <ul>
                                                <li><a href="{{ path('oro_ui_1column') }}">1 column </a></li>
                                                <li><a href="{{ path('oro_ui_1column_toolbar') }}">1 column with toolbar</a></li>
                                                <li><a href="{{ path('oro_ui_1column_menu') }}">1 column with menu</a></li>
                                                <li><a href="{{ path('oro_ui_grid_page') }}">grid page</a></li>
                                                <li><a href="{{ path('oro_ui_grid_without_bar_page') }}">grid page without bar</a></li>
                                                <li><a href="{{ path('oro_ui_2columns_left') }}">2 columns - left</a></li>
                                                <li><a href="{{ path('oro_ui_2columns_right') }}">2 columns - right</a></li>
                                                <li><a href="{{ path('oro_ui_3columns') }}">3 columns</a></li>
                                            </ul>
                                            <h3>Static pages</h3>
                                            <ul>
                                                <li><a href="{{ path('oro_ui_forgot_password') }}">Forgot password</a></li>
                                                <li><a href="{{ path('oro_ui_login') }}">Login page</a></li>
                                                <li><a href="{{ path('oro_ui_registration') }}">Registration page</a></li>
                                                <li><a href="{{ path('oro_ui_404') }}">404</a></li>
                                                <li><a href="{{ path('oro_ui_503') }}">503</a></li>
                                            </ul>
                                            <h3>Example pages</h3>
                                            <ul>
                                                <li><a href="{{ path('oro_ui_form_elements') }}">Form elements</a></li>
                                                <li><a href="{{ path('oro_ui_form_horizontal') }}">Form Horizontal</a></li>
                                                <li><a href="{{ path('oro_ui_messages') }}">System messages</a></li>
                                                <li><a href="{{ path('oro_ui_title_bar') }}">Entity Title Bar</a></li>
                                                <li><a href="{{ path('oro_ui_buttons') }}">Buttons</a></li>
                                                <li><a href="#">Print page</a></li>
                                                <li><a href="{{ path('oro_ui_tables') }}">Tables</a></li>
                                                <li><a href="{{ path('oro_ui_general_elements') }}">General elements</a></li>
                                            </ul>
                                            <h3>Js use page</h3>
                                            <ul>
                                                <li><a href="{{ path('oro_ui_dialog_styled') }}">jQuery Dialog styled</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% placeholder content_after %}
                            {% endblock content %}
                        {% endblock page_container %}
                    </div>
                </div>
            {% endblock main %}
        </div>
    </div>
    {% placeholder before_body_end %}
    </body>
    </html>
{% else %}
{# Template for hash tag navigation#}
{% include 'OroNavigationBundle:HashNav:hashNavAjax.html.twig'
    with {
        'script': block('head_script'),
        'content': block('page_container'),
        'menu': block('application_menu'),
        'breadcrumb': block('breadcrumb')
    }
    %}
{% endif %}
