{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}{{ parent() }} Home{% endblock %}

{% block content_menu '' %}

{% block content %}

    <div class="blocks-welcome">

        <div class="block-dashboard ui-corner-all">
            <h2>Catalog / Products</h2>
            <ul>
                <li>
                    <a href="{{ path('akeneo_catalog_product_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-documents"></span><span class="ui-button-text">Manage products</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('akeneo_catalog_producttype_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-folder-open-document"></span><span class="ui-button-text">Manage product types</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('akeneo_catalog_productfield_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-tags"></span><span class="ui-button-text">Manage product fields</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('akeneo_catalog_channel_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-books"></span><span class="ui-button-text">Manage channels</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('strixos_catalog_product_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-documents"></span><span class="ui-button-text">Old products</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('strixos_catalog_set_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-folder-open-document"></span><span class="ui-button-text">Old product types</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('strixos_catalog_attribute_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-tags"></span><span class="ui-button-text">Old attributes</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="block-dashboard ui-corner-all">
            <h2>DataFlow / Connectors</h2>
            <ul>
                <li>
                    <a href="{{ path('pim_icecatconnector_supplier_list') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-connector-icecat"></span><span class="ui-button-text">Connector IceCat</span>
                    </a>
                    <a href="{{ path('pim_icecatconnector_supplier_list') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-connector-magento"></span><span class="ui-button-text">Connector Magento</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="block-dashboard ui-corner-all">
            <h2>Test / users</h2>
            <ul>
                <li>
                    <a href="{{ path('pim_user_user_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-users"></span><span class="ui-button-text">Users list</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="block-demo ui-corner-all">
            <h2>Test / benchmark</h2>
            <ul>
                <li>
                    <a href="{{ path('strixos_catalog_product_search') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-document-search-result"></span><span class="ui-button-text">Products searches</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
