{% extends 'PimProductBundle::layout.html.twig' %}

{% macro configuration(title, config, stepIndex, violations) %}
    <li>{{ ('pim_batch.' ~ title ~ '.title')|trans }}
        <ul>
        {% for field, value in config %}
            <li>
                <b>{{ field|normalizeKey }}:</b>
                <span class="label">{{ value|normalizeValue }}</span>
                <span class="label label-important">{{ getViolations(violations, stepIndex, title, field) }}</span>
            </li>
        {% else %}
            <li><i>{{ 'No configuration'|trans }}</i></li>
        {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% block content %}

    {% set subtitle = job.label  %}

    {% set left %}
        <ul class="inline">
           <li>{{ 'Code'|trans }}: {{ job.code|upper }}</li>
           <li>{{ 'Connector'|trans }}: {{ job.jobDefinition.name|trans }}</li>
       </ul>
    {% endset %}

    {% set buttons %}
        {{ elements.backLink(indexRoute) }}
        {% if job.status != constant('Pim\\Bundle\\BatchBundle\\Entity\\Job::STATUS_IN_PROGRESS') %}
            {{ elements.link('Edit', editRoute, { icon: 'edit' }) }}
        {% endif %}
        {% if violations|length == 0 %}
            {{ elements.link('Export now', launchRoute, {icon: 'cogs', class: 'btn-primary'}) }}
        {% endif %}
    {% endset %}

    {{ elements.page_header(title, buttons, subtitle, left) }}

    {% set accordionContent = {} %}
    {% for stepTitle, stepConfig in job.jobDefinition.configuration %}

        {% set heading = 'Step %stepIndex%'|trans({ '%stepIndex%': loop.index }) ~ ' - ' ~ stepTitle|trans %}

        {% set content %}
            <ul>
                {% set step = job.jobDefinition.step(stepTitle) %}
                {% set stepIndex = loop.index - 1 %}
                {{ _self.configuration(step.reader.name, stepConfig.reader, stepIndex, violations) }}
                {{ _self.configuration(step.processor.name, stepConfig.processor, stepIndex, violations) }}
                {{ _self.configuration(step.writer.name, stepConfig.writer, stepIndex, violations) }}
            </ul>
        {% endset %}

        {% set accordionContent = accordionContent|merge({ (heading): content }) %}
    {% endfor %}

    {{ elements.accordion(accordionContent) }}

{% endblock %}
