<!DOCTYPE html>
<html>
    <head>
        <title>{{ product.identifier }} - {{ renderingDate|date }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
            {% if (null != customFont) %}
                @font-face {
                    font-family: 'Custom font';
                    font-style: normal;
                    font-weight: 400;
                    src: url({{ customFont }}) format('truetype');
                }
            {% endif %}

            * {
                font-family: 'Custom font', "DejaVu Sans", monospace;
                font-weight: 400 !important;
            }

            body {
                font-size: 14px;
            }

            .header {
                margin-bottom: 20px;
                width: 100%;
            }

            .header h1 {
                margin-bottom: 5px;
            }

            .header .rendering-date {
                font-size: 15px;
            }

            .images {
                width: 100%;
                overflow: hidden;
            }

            .images img {
                max-height: 100px;
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 20px;
            }

            .attribute-groups h2 {
                width: 100%;
                background: #7887AB;
                color: white;
                padding: 2.5px 5px;
                font-size: 23px;
                text-transform: uppercase;
                margin: 0px;
            }

            .group {
                border: 1px solid #aaa;
                margin-bottom: 20px;
            }

            .attributes {
                clear:both;
                position:relative;
            }

            .left-column {
                position: absolute;
                left: 0;
                padding: 5px;
                width: 35%;
            }

            .right-column {
                margin-left: 35%;
                padding: 5px;
                width: 65%;
            }
        </style>
    </head>
    <body>
        <div class="header">
            {% block header %}
                <h1>{{ product.label }} {{ product.identifier != product.label ? '(' ~ product.identifier ~ ')' : '' }}</h1>
                <span class="rendering-date">{{ renderingDate|date }}</span>
            {% endblock %}
        </div>
        <div class="images">
            {% block images %}
                {% for imagePath in imagePaths %}
                    <img src="media/cache/{{ filter }}/{{ imagePath }}">
                {% endfor %}
            {% endblock %}
        </div>
        <div class="attribute-groups">
            {% for group, attributes in groupedAttributes %}
                {% block attribute_group %}
                    <div class="group">
                        <h2>{{ group }}</h2>
                        {% for attribute in attributes %}
                            {% block attribute %}
                                {% set locale_attribute = attribute.isLocalizable or attribute.isLocaleSpecific ? locale : null %}
                                {% set channel_attribute = attribute.isScopable ? scope : null %}
                                {% set content = product.getValue(attribute.code, locale_attribute, channel_attribute) %}
                                {% set manualHeight = true %}

                                {% if 'pim_catalog_image' == attribute.type and content.media is not null %}
                                    {% set content = content.media.originalFilename %}
                                    {% set manualHeight = false %}
                                {% elseif ('pim_catalog_simpleselect' == attribute.type or 'pim_catalog_multiselect' == attribute.type) and attribute.code in optionLabels|keys %}
                                    {% set content = optionLabels[attribute.code] %}
                                {% endif %}

                                {% if content != null and manualHeight == true %}
                                    {% set manualHeight = attribute.label|length >(content.__toString()|length / 3) %}
                                {% endif %}

                                <div class="attributes"{% if manualHeight %} style="height: {{ (attribute.label|length / 30)|round(0, 'ceil') * 18 + 10 }}px"{% endif %}>
                                    <div class="left-column">
                                        {{ attribute.label }}
                                    </div>
                                    <div class="right-column">
                                        {% if 'pim_catalog_textarea' == attribute.type and attribute.isWysiwygEnabled %}
                                            {{ content|raw }}
                                        {% elseif 'pim_catalog_boolean' == attribute.type %}
                                            {# @todo @merge: refactor on master - use new translation keys #}
                                            {{ (content.data ? 'Yes' : 'No')|trans([], null, locale) }}
                                        {% else %}
                                            {{ content }}
                                        {% endif %}
                                        &nbsp;
                                    </div>
                                </div>
                            {% endblock %}
                        {% endfor %}
                    </div>
                {% endblock %}
            {% endfor %}
        </div>
    </body>
</html>
