
{% block oro_tag_select_row %}
    <div class="control-group{% if attr.class is defined %} {{ attr.class }}{% endif %}">
        {{ form_label(form, '' , { label_attr: label_attr|merge({ class: 'control-label' })}) }}

        {% import 'OroTagBundle::macros.html.twig' as _tag %}

        {% if resource_granted('oro_tag_assign_unassign') %}
            <div>
                <div class="controls">
                    <div>
                        {{ _tag.tagSortActions() }}
                    </div>
                </div>
            </div>
            {{ form_widget(form.autocomplete) }}
        {% endif %}

        {{ form_rest(form) }}
    </div>
    <div class="control-group{% if attr.class is defined %} {{ attr.class }}{% endif %}">
        <div id="tags-overlay"></div>

        {# show all tags #}
        {{ form_row(form.autocomplete) }}

        {# show field with mine tags #}
        {% if resource_granted('oro_tag_assign_unassign') %}
            {{ form_row(form.autocomplete) }}
        {% endif %}
        <script type="text/javascript">
            $(function () {
                new Oro.Tags.TagsUpdateView({
                    autocompleteFieldId: '#{{ form.autocomplete.vars.id }}',
                    fieldId: '#{{ form.all.vars.id }}',
                    ownFieldId: '#{{ form.owner.vars.id }}'
                });

            });
        </script>
    </div>
{% endblock %}

{% block oro_combobox_dataconfig_multi_autocomplete %}
    {{ block('oro_combobox_dataconfig_autocomplete') }}

    select2Config.createSearchChoice = function(term, data) {
        if (
            $(data).filter(function() {
                return this.name.localeCompare(term) === 0;
            }).length === 0
        ) {
            {% if not resource_granted('oro_tag_create') %}
                return null;
            {% else %}
                return {
                    id: term,
                    name: term
                };
            {% endif %}
        }
    }
{% endblock %}
