{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = form.vars.value.id ? 'Edit group'|trans : 'Add group'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}
<form action="{{ form.vars.value.id ? 
    path('pim_product_attributegroup_edit', { id: form.vars.value.id }) : 
    path('pim_product_attributegroup_create') }}" method="POST" class="form-register">
    <fieldset>
        <legend>{{ title }} 
            <a class="btn btn-primary pull-right" href="{{ path('pim_product_attributegroup_index') }}">
                {{ "Back to list" | trans }}
            </a>
        </legend>

        {% if form.vars.errors|length %}
            <div class="alert alert-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        
        {{ form_row(form) }}

        <br />
        <legend>{{ 'Additional information'|trans }}</legend>

        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ 'Created at'|trans }}</label>
                <div class="controls">
                    <span class="label">
                        {{ form.vars.value.created ? form.vars.value.created|date('Y-m-d h:i:s'|trans) : 'N/A'|trans }}
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ 'Updated at'|trans }}</label>
                <div class="controls">
                    <span class="label">
                        {{ form.vars.value.updated ? form.vars.value.updated|date('Y-m-d h:i:s'|trans) : 'N/A'|trans }}
                    </span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <button class="btn btn-large btn-primary" type="submit">{{ 'Save'|trans }}</button>
        </div>
    </fieldset>
</form>
{% endblock %}
