{% extends 'PimProductBundle::layout.html.twig' %}

{% block content %}

    {% set currentGroup = group is defined ? group : null %}

    <div id="group-container" class="row-fluid">
        <div class="sidebar-list">
            <form id="pim_product_attributegroup_sort" action="{{ path('pim_product_attributegroup_sort') }}" method="POST">
            <ul id="entities-sortable">
                {% for group in groups %}
                    <li class="{{ group == currentGroup ? 'active' : '' }}">
                        <span class="handle">
                            <i class="icon-list"></i>
                            <input name="{{ group.id }}" type="hidden" value="{{ group.sortOrder }}">
                        </span>
                        <a href="{{ path('pim_product_attributegroup_edit', {'id': group.id}) }}">{{ group.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            </form>
        </div>
        <div id="form-tab">
            {% block groupTab %}
            {% endblock groupTab %}
        </div>
    </div>

{% endblock %}

{% block head_script_component %}
    {{ parent() }}

    {% javascripts
        '@PimUIBundle/Resources/public/js/jquery.multiselect.custom.js'
        '@PimUIBundle/Resources/public/js/jquery.pimMultiselect.js'

        filter='?yui_js'
        output='js/pim.multiselect.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            function updateSortOrder() {
                var num = 0;
                $('#entities-sortable').find('li').each(function() {
                    $(this).find('.handle input').val(num);
                    num++;
                });

                $.ajax({
                    url: '{{ path('pim_product_attributegroup_sort') }}',
                    type: 'POST',
                    data: $('#pim_product_attributegroup_sort').serialize()
                });
            }

            $('#entities-sortable').sortable({
                handle: '.handle',
                containment: 'parent',
                tolerance: 'pointer',
                update: updateSortOrder
            });

            $('#group-container').sidebarize({ buttons: ['<a href="{{ path('pim_product_attributegroup_create') }}"><i class="icon-plus-sign"></i></a>'] });
        });
    </script>
{% endblock %}