{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Groups overview'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}

    <h1>{{ title }}
        <a class="btn btn-primary pull-right" style="margin-left:10px;" 
            href="{{ path('pim_product_attributegroup_create') }}">{{ 'New group'|trans }}</a>
    </h1>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Order'|trans }}</th>
                <th>{{ 'Attributes count'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
                <th>{{ 'Updated'|trans }}</th>
                <th style="width: 50px">{{ 'Edit'|trans }}</th>
                <th style="width: 50px">{{ 'Remove'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>
                    <a href="{{ path('pim_product_attributegroup_edit', { id: group.id }) }}">
                        {{ group.name }}
                    </a>
                </td>
                <td>{{ group.sortOrder }}</td>
                <td>
                    <a href="{{ path('pim_product_productattribute_list', { groupId: group.id }) }}">
                        {{ group.attributes|length }} - ({{ 'Show list'|trans }})
                    </a>
                </td>
                <td>{{ group.created|date('Y-m-d h:i:s') }}</td>
                <td>{{ group.updated|date('Y-m-d h:i:s') }}</td>
                <td>
                    <a href="{{ path('pim_product_attributegroup_edit', { id: group.id }) }}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pim_product_attributegroup_remove', { id: group.id }) }}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />

{% endblock %}
