{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Groups overview'|trans %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div id="sidebar" class="span3">
            <form id="pim_product_attributegroup_sort" action="{{ path('pim_product_attributegroup_sort') }}" method="POST">
                <ul id="attributegroups-sortable">
                    {% for group in groups %}
                        <li data-id="{{ group.id }}">
                            <span class="handle">
                                <i class="icon-list"></i>
                                <input name="{{ group.id }}" type="hidden" value="{{ group.sortOrder }}">
                            </span>
                            <span>{{ group.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </form>
            <a id="attributegroup-create" class="btn btn-small" href="{{ path('pim_product_attributegroup_create') }}">{{ 'New group'|trans }}</a>
        </div>
        <div id="form-tab" class="span9">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#attributegroups-sortable').sortable({
                handle: '.handle',
                containment: 'parent',
                tolerance: 'pointer',
                update: updateSortOrder
            });

            function updateSortOrder() {
                var num = 0;
                $('#attributegroups-sortable').find('li').each(function() {
                    $(this).find('.handle input').val(num);
                    num++;
                });

                $.ajax({
                    url: '{{ path('pim_product_attributegroup_sort') }}',
                    type: 'POST',
                    data: $('#pim_product_attributegroup_sort').serialize()
                });
            }

            $('#attributegroups-sortable li').click(function() {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                var id = $(this).attr('data-id');
                $.get('{{ path('pim_product_attributegroup_edit') }}' + '/' + id, null, function(data, status) {
                    if (status === 'success') {
                        $('#form-tab').html(data);
                    }
                });
            });

            $('#attributegroup-create').click(function(e) {
                e.preventDefault();
                $('#attributegroups-sortable li').removeClass('active');
                $.get('{{ path('pim_product_attributegroup_create') }}', null, function(data, status) {
                    if (status === 'success') {
                        $('#form-tab').html(data);
                    }
                });
            });
        });
    </script>

{% endblock %}
