{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}{{ parent() }} {{ "pim.dashboard.title.home" | trans }}{% endblock %}

{% block content_menu '' %}

{% block content %}

    <div class="blocks-dashboard">


        <div class="block-dashboard ui-corner-all">
            <h2>{{ "pim.dashboard.title.import" | trans }}</h2>
        </div>

        <div class="block-dashboard ui-corner-all">
            <h2>{{ "pim.dashboard.title.enrich" | trans }}</h2>
        </div>

        <div class="block-dashboard ui-corner-all">
            <h2>{{ "pim.dashboard.title.export" | trans }}</h2>
        </div>

        <div class="block-dashboard ui-corner-all">
            <h2>{{ "pim.dashboard.title.configure" | trans }}</h2>
        </div>

    </div>

{% endblock %}
