{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}{{ parent() }} {{ "pim.dashboard.title.home" | trans }}{% endblock %}

{% block content_menu '' %}

{% block content %}

    <div class="blocks-dashboard">


        <div class="block-dashboard ui-corner-all">
            <h2>{{ "pim.dashboard.title.import" | trans }}</h2>
            <ul>
                <li>
                    <a href="{{ path('pim_connectoricecat_supplier_list') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-connector-icecat"></span>
                        <span class="ui-button-text">{{ "pim.dashboard.connector-icecat" | trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('pim_catalogtaxinomy_source_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-arrow-in"></span>
                        <span class="ui-button-text">{{ "pim.catalogtaxinomy.sources" | trans }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="block-dashboard ui-corner-all">
            <h2>{{ "pim.dashboard.title.enrich" | trans }}</h2>
            <ul>
                <li>
                    <a href="{{ path('pim_catalogtaxinomy_category_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-folder-tree"></span>
                        <span class="ui-button-text">{{ "pim.dashboard.categories" | trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('pim_catalog_product_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-documents"></span>
                        <span class="ui-button-text">{{ "pim.dashboard.products" | trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('pim_catalog_productattribute_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-tags"></span>
                        <span class="ui-button-text">{{ "pim.dashboard.product-attributes" | trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('pim_catalog_productset_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-document-template"></span>
                        <span class="ui-button-text">{{ "pim.dashboard.product-sets" | trans }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="block-dashboard ui-corner-all">
            <h2>{{ "pim.dashboard.title.export" | trans }}</h2>
            <ul>
                <li>
                    <a href="{{ path('pim_catalogtaxinomy_channel_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-arrow-out"></span>
                        <span class="ui-button-text">{{ "pim.catalogtaxinomy.channels" | trans }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="block-dashboard ui-corner-all">
            <h2>{{ "pim.dashboard.title.configure" | trans }}</h2>
            <ul>
                <li>
                    <a href="{{ path('pim_catalogtaxinomy_locale_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                        <span class="ui-button-icon-primary ui-icon ui-icon-fugue-locale-alternate"></span>
                        <span class="ui-button-text">{{ "pim.catalogtaxinomy.locales" | trans }}</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}
