{% extends 'OroUserBundle::layout.html.twig' %}

{% block bodyClass %}login-page{% endblock %}

{% block content %}
<div class="container">
    {% if error %}
    <div class="alert alert-error">
        <button data-dismiss="alert" class="close" type="button">&times;</button>
        <div>{{ error|trans }}</div>
    </div>
    {% endif %}

    <form action="{{ path('oro_user_security_check') }}" method="post" class="form-signin">
        <div class="title-box">
            <h1 class="oro-title" title="{{ get_user_value('oro_ui.application_title') }}">{{ get_user_value('oro_ui.application_name') }}</h1>
            <span class="divider-vertical"></span>
            <h2 class="title">{{ 'Login'|trans }}</h2>
        </div>
        <fieldset>
            <div class="input-prepend">
                <span class="add-on">{{ 'Username'|trans }}</span>
                <input type="text" id="prependedInput" class="span2" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'Username or Email'|trans }}" />
            </div>
            <div class="input-prepend">
                <span class="add-on">{{ 'Password'|trans }}</span>
                <input type="password" id="prependedInput2" class="span2" name="_password" required="required" placeholder="{{ 'Password'|trans }}" autocomplete="off" />
            </div>
            <div class="form-row">
                <label class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'Remember me on this computer'|trans }}
                </label>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-large  btn-primary" id="_submit" name="_submit">{{ 'Log in'|trans }}</button>
                <a class="forgot-pass" href="{{ path('oro_user_reset_request') }}">{{ 'Forgot your password?'|trans }}</a>
            </div>
        </fieldset>
        <input type="hidden" name="_target_path" value="" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    </form>
</div>
{% endblock content %}
