{% block content %}
<div id="loading-project-filtered-grid"></div>

<script type="text/javascript" nonce="{{ js_nonce() }}">
    require(
        ['jquery', 'pim/datagrid/state', 'pim/router', 'oro/loading-mask'],
        function ($, DatagridState, router, LoadingMask)
        {
            'use strict';

            $(function() {
                var extraFilter = '&f%5Bproject_completeness%5D%5Bvalue%5D=' + {{ status }};

                var loadingMask = new LoadingMask();
                loadingMask.render().$el.appendTo('#loading-project-filtered-grid');
                loadingMask.show();

                DatagridState.set('product-grid', {
                    view: {{ view.id }},
                    filters: '{{ view.filters|raw }}' + extraFilter,
                    columns: '{{ view.columns|join(',') }}'
                });

                router.redirectToRoute('pim_enrich_product_index', {'dataLocale': '{{ locale }}'});
            });
        }
    );
</script>
{% endblock %}
