{% extends 'PimConfigBundle::layout.html.twig' %}

{% block page_container %}
<div class="container-fluid">

    {% block content %}

    {{ JSFV(form) }}
    <form id="{{ form.vars.id }}" class="form-horizontal" action="{{ form.vars.value.id ?
        path('pim_config_channel_edit', { id: form.vars.value.id }) :
        path('pim_config_channel_create') }}" method="POST" class="form-register">

        {% set title = 'Channels'|trans %}

        {% set subtitle = form.vars.value.id ? form.vars.value.code : 'New channel'|trans %}

        {% set buttons %}
            <div class="btn-group icons-holder">
                <a class="btn" href="{{ path('pim_config_channel_index') }}" title="{{ 'Back to grid' | trans }}"><i class="icon-chevron-left"></i></a>
            </div>
            {% if form.vars.value.id %}
                <div class="btn-group icons-holder">
                    <a href="javascript: void(0);" class="btn icons-holder-text" id="btn-delete-channel" data-id="{{ form.vars.value.id }}" data-message="{{ 'Are you sure you want to delete this channel ?'|trans }}" title="{{ 'Delete'|trans }}"><i class="icon-trash hide-text">{{ 'Remove'|trans }}</i>Delete</a>
                </div>
            {% endif %}
            <div class="btn-group">
                <button type="submit" class="btn btn-primary"><i class="hide-text">Save </i> {{ ' Save'|trans }}</button>
            </div>
        {% endset %}

        {{ elements.page_header(title, buttons, subtitle) }}

        <div class="row-fluid">
            {{ elements.form_errors(form) }}

            {{ form_row(form.id) }}

            {{ form_row(form.code) }}

            {{ form_row(form.name) }}

            {{ form_row(form.currencies) }}

            {{ form_row(form.locales) }}

            {{ form_row(form.category) }}

            {{ form_row(form._token) }}
        </div>
    </form>
    {% endblock %}
</div>
{% endblock %}

{% block head_script_component %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/backbone.bootstrap-modal.js') }}"></script>

    <script type="text/javascript">
    $(function() {
        'use strict';
        $('#btn-delete-channel').click(function() {
            var message = '{{ "Are you sure you want to delete this item?" | trans }}';
            var title = '{{ "Delete Confirmation" | trans }}';
            var doAction = function() {
                window.location.href = "{{ path('pim_config_channel_remove', { id: form.vars.value.id }) }}";
            };
            PimDialog.confirm(message, title, doAction);
        });
    });
    </script>
{% endblock %}
