<div class="tab-pane" id="pimee_product_asset-tabs-categories">
    <script type="text/javascript">
        require(
            ['jquery', 'pim/tree/associate'],
            function ($, TreeAssociate) {
                'use strict';
                $(function () {
                    new TreeAssociate('#trees', '#{{ form.categories.vars.id }}');
                });
            }
        );
    </script>

    {{ form_widget(form.categories) }}

    <div class="tabbable tabs-left">
        <div class="sidebar">
            <ul class="nav nav-tabs" id="trees-list">
                {% for tree in trees %}
                    {% set aClass = "" %}
                    {% set iClass = "gray" %}
                    {% if (tree['itemCount'] > 0) %}
                        {% set aClass = "tree-has-product" %}
                        {% set iClass = "green" %}
                    {% endif %}
                    <li data-tree="{{ tree['tree'].code }}" data-tree-id="{{ tree['tree'].id }}" class="active">
                        <a href="javascript:void(0);" id="tree-link-{{ tree['tree'].id }}" class="{{ aClass }}">
                            <i class="icon-ok {{ iClass }}"></i>
                            {{ tree['tree'].label }}
                            <span class="badge" data-tree-id="{{ tree['tree'].code }}">{{ tree['itemCount'] }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-content">
            {% set selectedTree = 0 %}
            {% if trees %}
                {% if app.user.defaultTree is defined and app.user.defaultTree.code is defined %}
                    {% for tree in trees %}
                        {% if tree['tree'].code == app.user.defaultTree.code %}
                            {% set selectedTree = tree['tree'].id %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% set firstTree = trees|first %}
                    {% set selectedTree = firstTree['tree'].id %}
                {% endif %}
            {% endif %}
            {% set selectedTree = 1 %}
            <div id="trees" data-id="{{ asset.id }}" data-datalocale="{{ currentLocale }}" data-selected-tree="{{ selectedTree }}">
                {% for tree in trees %}
                    <div class="tree root-unselectable" data-tree-id="{{ tree['tree'].id }}">
                        <header class="tab-header">
                            <h3>{{ tree['tree'].label }}</h3>
                        </header>
                        <div id="tree-{{ tree['tree'].id }}" class="buffer-small-left"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% set activeTab = true %}
