<div class="row-fluid variations">
    <h3>
        {% if currentLocale is not null %}
            {% include 'PimEnrichBundle:Locale:_locale_switcher.html.twig' with {
                'locales':           asset.locales,
                'currentLocaleCode': currentLocale.code,
                'routeName':         'pimee_product_asset_edit',
                'routeParams':       { 'id': asset.id },
                'localeParamName':   'locale'
            } only %}
        {% endif %}
    </h3>

    <ul>
        <li>
            <div class="row-fluid reference">
                <h4>{{ 'pimee_product_asset.enrich_asset.view.reference'|trans }}</h4>

                <div class="row-fluid">
                    {% if referenceModel.file %}
                        <figure class="thumbnail">
                            {% include '@PimEnterpriseProductAsset/Property/thumbnail.html.twig' with {
                                'path': referenceModel.file.key,
                                'filter': 'thumbnail'
                            } only %}
                        </figure>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'pimee_product_asset.enrich_asset.view.filename'|trans }}</th>
                                    <th>{{ 'pimee_product_asset.enrich_asset.view.actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ referenceModel.file.originalFilename }}</td>
                                    <td>
                                        <button class="btn icons-holder-text delete" data-href="{{ path('pimee_product_asset_reference_delete', {'id': referenceModel.id}) }}" >
                                            <i class="icon-trash"></i>
                                            {{ 'btn.delete'|trans }}
                                        </button>
                                        <button class="btn icons-holder-text reset-variations" data-href="{{ path('pimee_product_asset_variations_reset', {'id': referenceModel.id}) }}" >
                                            <i class="icon-repeat"></i>
                                            {{ 'pimee_product_asset.enrich_asset.button.reset_variations'|trans }}
                                        </button>
                                        {% if referenceModel.file %}
                                            <a class="btn icons-holder-text no-hash btn-download" title="{{ 'btn.download'|trans }}"
                                               href="{{ path('pim_enrich_media_download', {'filename': referenceModel.file.key|url_encode}) }}">
                                                <i class="icon-download-alt"></i> {{ 'btn.download'|trans }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% else %}
                        {{ pamMacros.renderUploadZone(reference.file, 'span12') }}
                    {% endif %}
                </div>
            </div>
        </li>

        {% for variation in reference.variations %}
            {% include 'PimEnterpriseProductAssetBundle:ProductAsset:_variation.html.twig' %}
        {% endfor %}

    </ul>
</div>
