
<div class="row-fluid variations">
    <h3>
        {% if currentLocale is not null %}
            <div id="locale-switcher" class="btn-group">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                        {{ currentLocale.code|flag }}
                        <i class="icon-caret-down"></i>
                    </span>
                <ul class="dropdown-menu">
                    {% for locale in asset.locales %}
                        <li>
                            <a href="{{ path('pimee_product_asset_edit', { 'id': asset.id, 'locale': locale.code }) }}"
                               title="{{ locale_label(locale.code) }}">
                                    <span class="indicator">
                                        {% if locale.code == currentLocale.code %}
                                            <i class="icon-circle"></i>
                                        {% endif %}
                                    </span>
                                {{ locale.code|flag }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </h3>

    <ul>
        <li>
            <div class="row-fluid reference">
                <h4>{{ 'pimee_product_asset.enrich_asset.view.reference'|trans }}</h4>

                <div class="row-fluid">
                    {% if referenceModel.file %}
                        <figure class="thumbnail">{% include '@PimEnterpriseProductAsset/Property/thumbnail.html.twig'
                            with {'path': referenceModel.file.key, 'filter': 'thumbnail'} only %}</figure>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'pimee_product_asset.enrich_asset.view.filename'|trans }}</th>
                                <th>{{ 'pimee_product_asset.enrich_asset.view.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ referenceModel.file.originalFilename }}</td>
                                <td>
                                    <button class="btn delete"
                                       data-href="{{ path('pimee_product_asset_reference_delete', {'id': referenceModel.id}) }}"
                                            >{{ 'btn.delete'|trans }}</button>
                                    <button class="btn reset-variations"
                                       data-href="{{ path('pimee_product_asset_variations_reset', {'id': referenceModel.id}) }}"
                                            >{{ 'pimee_product_asset.enrich_asset.button.reset_variations'|trans }}</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        {{ pamMacros.renderUploadZone(reference.file, 'span12') }}
                    {% endif %}
                </div>
            </div>
        </li>

        {% for variation in reference.variations %}
            {% include 'PimEnterpriseProductAssetBundle:ProductAsset:_variation.html.twig' %}
        {% endfor %}

    </ul>
</div>
