<div class="tab-pane" id="pimee_product_asset-tabs-variations">
    {% for reference in form.references %}
        {% set referenceModel = reference.vars.data %}
        <div class="row-fluid variations">
            <h3>{% if reference.vars.data.locale %}
                    {{ referenceModel.locale.code|flag }}
                {% endif %}</h3>

            <ul>
                <li>
                    <div class="row-fluid reference">
                        <h4>{{ 'pimee_product_asset.enrich_asset.view.reference'|trans }}</h4>

                        <div class="row-fluid">
                            {% if referenceModel.file %}
                                <figure class="thumbnail">{% include '@PimEnterpriseProductAsset/Property/thumbnail.html.twig'
                                    with {'path': referenceModel.file.key, 'filter': 'thumbnail'} only %}</figure>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ 'pimee_product_asset.enrich_asset.view.filename'|trans }}</th>
                                        <th>{{ 'pimee_product_asset.enrich_asset.view.actions'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ referenceModel.file.originalFilename }}</td>
                                        <td>{{ form_row(reference.file) }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% else %}
                                No reference file for the locale {{ referenceModel.locale.code }}.
                                {{ form_row(reference.file) }}
                            {% endif %}
                        </div>
                    </div>
                </li>

                {% for variation in reference.variations %}
                    {% set variationModel = variation.vars.data %}
                    <li>
                        <div class="row-fluid variation">

                            <h4>{{ variationModel.channel.label }}</h4>

                            <div class="row-fluid">
                                {% if variationModel.file %}
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>{{ 'pimee_product_asset.enrich_asset.view.filename'|trans }}</th>
                                            {% if 'image' in variationModel.file.mimeType %}
                                                <th>{{ 'pimee_product_asset.enrich_asset.view.width'|trans }}</th>
                                                <th>{{ 'pimee_product_asset.enrich_asset.view.height'|trans }}</th>
                                                <th>{{ 'pimee_product_asset.enrich_asset.view.resolution'|trans }}</th>
                                                {#<th>{{'pimee_product_asset.enrich_asset.view.colors'|trans}}</th>#}
                                            {% endif %}
                                            <th>{{ 'pimee_product_asset.enrich_asset.view.filesize'|trans }}</th>
                                            <th>{{ 'pimee_product_asset.enrich_asset.view.filetype'|trans }}</th>
                                            <th>{{ 'pimee_product_asset.enrich_asset.view.actions'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ variationModel.file.originalFilename }}</td>
                                            {% if 'image' in variationModel.file.mimeType and metadata.variations[variationModel.id] %}
                                                <td>{{ metadata.variations[variationModel.id].exifSizeWidth }} px</td>
                                                <td>{{ metadata.variations[variationModel.id].exifSizeHeight }} px</td>
                                                <td>{{ metadata.variations[variationModel.id].exifResolution }}</td>
                                                {#<td>{{ metadata.variations[variationModel.id].exifColorSpace }}</td>#}
                                            {% endif %}
                                            <td>{{ variationModel.file.size|number_format(0, '.', ' ') }} ko</td>
                                            <td>{{ variationModel.file.mimeType }}</td>
                                            <td>{{ form_row(variation.source_file) }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% else %}
                                    No variation file for the channel {{ variationModel.channel.label }}.
                                    {{ form_row(variation.source_file) }}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
