{% set variationModel = variation.vars.data %}
<li>
    <div class="row-fluid variation">

        <h4>{{ variationModel.channel.label }}</h4>

        <div class="row-fluid">
            {% if variationModel.file %}
                <figure class="thumbnail">{% include '@PimEnterpriseProductAsset/Property/thumbnail.html.twig'
                    with {'path': variationModel.file.key, 'filter': 'thumbnail'} only %}</figure>
                <table class="table">
                    <thead>
                    <tr>
                        {% if 'image' in variationModel.file.mimeType and metadata.variations[variationModel.id] %}
                            <th>{{ 'pimee_product_asset.enrich_asset.view.width'|trans }}</th>
                            <th>{{ 'pimee_product_asset.enrich_asset.view.height'|trans }}</th>
                            <th>{{ 'pimee_product_asset.enrich_asset.view.resolution'|trans }}</th>
                            {#<th>{{'pimee_product_asset.enrich_asset.view.colors'|trans}}</th>#}
                        {% endif %}
                        <th>{{ 'pimee_product_asset.enrich_asset.view.filesize'|trans }}</th>
                        <th>{{ 'pimee_product_asset.enrich_asset.view.filetype'|trans }}</th>
                        <th>{{ 'pimee_product_asset.enrich_asset.view.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% if 'image' in variationModel.file.mimeType and metadata.variations[variationModel.id] %}
                            <td>{{ metadata.variations[variationModel.id].exifSizeWidth }} px</td>
                            <td>{{ metadata.variations[variationModel.id].exifSizeHeight }} px</td>
                            <td>{{ metadata.variations[variationModel.id].exifResolution }}</td>
                            {#<td>{{ metadata.variations[variationModel.id].exifColorSpace }}</td>#}
                        {% endif %}
                        <td>{{ variationModel.file.size|number_format(0, '.', ' ') }} ko</td>
                        <td>{{ variationModel.file.mimeType }}</td>
                        <td><button class="btn delete"
                               data-href="{{ path('pimee_product_asset_variation_delete', {'id': variationModel.id}) }}"
                            >{{ 'btn.delete'|trans }}</button></td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <div class="asset-uploader media-uploader span6">
                        <label class="file-uploader">
                            {{ form_widget(variation.file) }}
                        </label>
                        <div class="uploader">
                            <img src="/bundles/pimui/images/upload.png" alt="upload icon">
                            <span>{{ 'btn.drag_or_upload'|trans }}</span>
                        </div>
                        <div class="clear-fix"></div>
                </div>
                <div class="media-uploader span6">
                    <div>
                        <a href="{{ path('pimee_product_asset_variation_reset', {'id': variationModel.id}) }}"
                           class="file-uploader"></a>
                        <div class="uploader">
                            <img src="/bundles/pimui/images/icon_gear.png" alt="upload icon">
                            <span>{{ 'pimee_product_asset.enrich_asset.button.generate_from_reference'|trans }}</span>
                        </div>

                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</li>
