<li>
    <div class="AknWidget row-fluid variation">

        <div class="AknWidget-header">{{ variationModel.channel.label }}</div>

        <div class="AknWidget-content row-fluid">
            {% if variationModel.fileInfo %}
                {% embed 'PimEnterpriseProductAssetBundle:ProductAsset:_variation_core.html.twig' %}
                    {% block variation_buttons %}
                        <button class="AknButtonList-item AknButton AknButton--important AknButton--withIcon AknButton--small delete"
                                data-href="{{ path('pimee_product_asset_variation_delete', {'id': variationModel.id}) }}">
                            <i class="AknButton-icon icon-trash"></i>
                            {{ 'btn.delete'|trans|capitalize }}
                        </button>
                    {% endblock %}
                {% endembed %}
            {% else %}
                {% if not referenceModel.fileInfo is null %}
                    {{ pamMacros.renderUploadZone(variation.fileInfo, 'span6') }}
                    {{ pamMacros.renderGenerateFromReferenceZone(variationModel.id) }}
                {% else %}
                    {{ pamMacros.renderUploadZone(variation.fileInfo, 'span12') }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</li>
