{% spaceless %}
    {% if elements is not defined %}
        {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
    {% endif %}
{% endspaceless %}
{% import '@PimEnterpriseProductAsset/ProductAsset/macros.html.twig' as pamMacros %}

{{ form_start(form, {
    'action': path('pimee_product_asset_create', {dataLocale: app.request.get('dataLocale')}),
    'class': 'container-fluid',
    'attr': {
        'data-title': 'pimee_product_asset.popin.create.title'|trans,
        'data-button-cancel': 'btn.cancel'|trans|capitalize,
        'data-button-submit': 'btn.save'|trans|capitalize
    }
}) }}

    {{ elements.form_errors(form) }}

    <div class="row-fluid create-asset-form">
        <div class="row-fluid localizable-field">
            {{ form_row(form.isLocalized) }}
        </div>
        <div class="row-fluid reference-field">
            {{ pamMacros.renderUploadZone(form.reference_file, 'span12') }}
        </div>
        <div class="row-fluid code-field">
            {{ form_row(form.code) }}
        </div>
    </div>
{{ form_end(form) }}
