{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% import '@PimEnterpriseProductAsset/ProductAsset/macros.html.twig' as pamMacros %}

{% block head_script %}
    {% include 'PimEnterpriseProductAssetBundle:ProductAsset:_js-handler.html.twig' %}
{% endblock %}

{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}

{% block content %}
<div class="AknDefault-mainContent">
    {% set actionQueryParams = {id: asset.id} %}
    {% if app.request.get('dataLocale') %}
        {% set actionQueryParams = actionQueryParams|merge({dataLocale: app.request.get('dataLocale')}) %}
    {% endif %}
    {{ form_start(form, {
        'action': path('pimee_product_asset_edit', actionQueryParams),
        'class': 'product-asset-edit',
        'attr': {
            'data-updated-title': 'confirmation.leave'|trans,
            'data-updated-message': 'confirmation.discard changes'|trans({ '%entity%': 'pimee_product_asset.asset.title'|trans }),
            'data-saveformstate': ''
        }
    }
    ) }}

    {% set title %}
        {{ asset.code }}
    {% endset %}

    {% set backButton %}
    {% endset %}

    {% set buttons %}
        {% include 'PimEnterpriseProductAssetBundle:ProductAsset:_buttons.html.twig' %}
    {% endset %}

    {% set meta %}
        <span class="AknTitleContainer-metaItem">{{ 'Created'|trans }}: {{ asset.createdAt ? asset.createdAt|datetime_presenter : 'N/A'|trans }}</span>
        <span class="AknTitleContainer-metaItem">{{ 'Last update'|trans }}: {{ asset.updatedAt ? asset.updatedAt|datetime_presenter : 'N/A'|trans }}</span>
    {% endset %}

    {{ elements.page_header(title, buttons, null, meta, null, backButton, elements.updated(form.vars.id)) }}

    <div class="form-horizontal product-edit product-view asset">
        <div class="layout-content">
            {{ elements.form_navbar(view_element_aliases(form.vars.id ~ '.asset.form_tab')) }}

            <div class="tabsections row-fluid tab-content">
                {{ view_elements(form.vars.id ~ '.asset.form_tab') }}
            </div>

        </div>
    </div>
    {{ form_end(form) }}

    <script>
        require(
            ['pimee/productasset/variations'],
            function (AssetVariationsForm) {
                'use strict';
                var variations = new AssetVariationsForm();
            }
        );
    </script>

    <script>
        require(
            [
                'pim/common/breadcrumbs',
                'pim/fetcher-registry',
                'pim/form-builder'
            ],
            function(
                Breadcrumbs,
                FetcherRegistry,
                FormBuilder
            ) {
                $(function() {
                    var breadcrumbs = new Breadcrumbs({
                        config: {
                            tab: 'pim-menu-asset'
                        }
                    });
                    breadcrumbs.configure().then(function () {
                        breadcrumbs.render();
                        $('*[data-drop-zone="breadcrumbs"]').append(breadcrumbs.$el);
                    });

                    FetcherRegistry.initialize().done(function () {
                        FormBuilder.buildForm('pim-menu-user-navigation').then(function (form) {
                            form.setElement('.user-menu').render();
                        }.bind(this));
                    });
                });
            }
        );
    </script>
</div>
{% endblock %}

<script>
    window.flashMessages = JSON.parse('{{ app.session.flashbag.all|json_encode()|raw }}');
</script>
