{% extends 'PimEnrichBundle::layout.html.twig' %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% block head_script %}
    {{ parent() }}
    {% include 'PimEnterpriseProductAssetBundle:ProductAsset:_create-js-handler.html.twig' %}
{% endblock %}

{% block content %}
    {% set title = 'pimee_product_asset.page_tab.title.index'|trans %}

    {% set buttons %}
        <a class="btn btn-primary pull-right create-asset" href="javascript:void(0);" title="{{ 'btn.create.asset'|trans|capitalize }}" data-form-url="{{ path('pimee_product_asset_create')}}">
            {{ 'btn.create.asset'|trans|capitalize }}
        </a>
    {% endset %}

    {{ elements.page_header(title, buttons) }}

    {{ dataGrid.renderGrid('asset-grid', { dataLocale: locale_code(), currentUser: app.user }) }}
{% endblock %}
