{% extends 'PimEnrichBundle::layout.html.twig' %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% set title = 'asset.overview'|trans %}

{% block head_script %}
    {{ parent() }}
    <script type="text/javascript">
        require(
                ['jquery', 'jquery.sidebarize'],
                function ($) {
                    'use strict';
                    $(function() {
                        $('.has-sidebar').sidebarize();
                    });
                }
        );
    </script>
{% endblock %}

{% block content %}

    {{ elements.page_header(title) }}

    {% set categoriesGranted = true %}
    <div class="row-fluid {{ categoriesGranted ? 'has-sidebar': '' }}">
        {% if categoriesGranted %}
            <div id="tree" data-datalocale="{{ locale_code() }}" data-relatedentity="asset"></div>
        {% endif %}
        <div id="product-grid">
            {{ dataGrid.renderStatefulGrid('asset-grid', { dataLocale: locale_code(), currentUser: app.user }, {}, 'pimee_asset_categorytree') }}
        </div>
    </div>

{% endblock %}
