{% macro renderUploadZone(fileElement, spanClass = 'span6') %}
    {% set isValid = fileElement.uploadedFile.vars.valid %}
    <div class="AknMediaField asset-uploader media-uploader {{ spanClass }}{% if not isValid %} error{% endif %}">
        <!-- This next line has to be changed with a single input with this class -->
        {{ form_widget(fileElement, {'attr': {'class': 'AknMediaField-fileUploaderInput'}}) }}
        <div class="AknMediaField-emptyContainer">
            <span class="AknMediaField-uploadIcon"></span>
            <span>{{ 'btn.drag_or_upload'|trans }}</span>
        </div>
        {% if not isValid %}
            <div class="errors">
                {% for error in  fileElement.uploadedFile.vars.errors %}
                    {{ error.message|trans }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script>
        require(['pimee/productasset/media-field'], function (mediaField) {
            $(function() {
                mediaField.initialize();
            });
        });
    </script>
{% endmacro %}

{% macro renderGenerateFromReferenceZone(variationId) %}
<div class="AknButtonList AknButtonList--single">
    <a href="{{ path('pimee_product_asset_variation_reset', {'id': variationId}) }}" class="AknButton AknButton--centered AknButton--greyLight">
        {{ 'pimee_product_asset.enrich_asset.button.generate_from_reference'|trans }}
    </a>
</div>
{% endmacro %}
