{% macro renderUploadZone(fileElement, spanClass = 'span6') %}
    {% set isValid = fileElement.uploadedFile.vars.valid %}
    <div class="AknMediaField asset-uploader media-uploader {{ spanClass }}{% if not isValid %} error{% endif %}">
        <!-- This next line has to be changed with a single input with this class -->
        {{ form_widget(fileElement, {'attr': {'class': 'AknMediaField-fileUploaderInput'}}) }}
        <div class="AknMediaField-emptyContainer">
            <span class="AknMediaField-uploadIcon"></span>
            <span>{{ 'btn.drag_or_upload'|trans }}</span>
        </div>
        {% if not isValid %}
            <div class="errors">
                {% for error in  fileElement.uploadedFile.vars.errors %}
                    {{ error.message|trans }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro renderGenerateFromReferenceZone(variationId) %}
    <a href="{{ path('pimee_product_asset_variation_reset', {'id': variationId}) }}" class="file-uploader span6">
        <div class="AknMediaField asset-generator media-uploader">
            <div class="AknMediaField-emptyContainer uploader">
                <img src="/bundles/pimui/images/icon_gear.png" alt="upload icon" class="AknMediaField-uploadIcon">
                <span>{{ 'pimee_product_asset.enrich_asset.button.generate_from_reference'|trans }}</span>
            </div>
        </div>
    </a>
{% endmacro %}
