{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block content %}
    <div class="mass-upload-wrapper">
        <div class="navigation clearfix navbar-extra">
            <div class="navbar-buttons pull-right">
                <button class="btn btn-publish schedule">{{ 'pimee_product_asset.mass_upload.schedule'|trans|capitalize }}</button>
                <button class="btn fileinput-button">{{ 'pimee_product_asset.mass_upload.add_files'|trans|capitalize }}</button>
                <button class="btn btn-primary start" type="submit">{{ 'pimee_product_asset.mass_upload.start'|trans|capitalize }}</button>
                <button class="btn cancel" type="reset">{{ 'pimee_product_asset.mass_upload.cancel'|trans|capitalize }}</button>
            </div>
        </div>

        <div class="container-fluid">
            <div class="grid-container">
                <table class="grid table table-striped files">
                    <thead>
                    <tr>
                        <th class="preview">{{ 'medias'|trans|capitalize }}</th>
                        <th class="filename">{{ 'filename'|trans|capitalize }}</th>
                        <th class="filetype">{{ 'filetype'|trans|capitalize }}</th>
                        <th class="status">{{ 'status'|trans|capitalize }}</th>
                        <th class="dz-progress-wrapper">{{ 'progress'|trans|capitalize }}</th>
                        <th class="action-cell">{{ 'actions'|trans|capitalize }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            require(['pimee/productasset/mass-upload'], function (massUpload) {
                var myDropzone = new massUpload();
            });
        </script>

    </div>
{% endblock %}
