{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block content %}
    {% set title %}
        {{ 'pimee_product_asset.enrich_asset.view.title'|trans }} / {{ asset.code }}
    {% endset %}

    {% set backButton %}
    {% endset %}

    {% set meta %}
        <ul class="inline">
            <li>{{ 'Created'|trans }}: {{ asset.createdAt ? asset.createdAt|datetime_presenter : 'N/A'|trans }}</li>
            <li>{{ 'Last update'|trans }}: {{ asset.updatedAt ? asset.updatedAt|datetime_presenter : 'N/A'|trans }}</li>
        </ul>
    {% endset %}

    {{ elements.page_header(
        {
            title: title,
            meta: meta,
            backButton: backButton
        }
    ) }}

    <div class="form-horizontal product-edit product-view asset">
        <div class="layout-content">
            {% set form_tabs = ['pimee_product_asset.tabs.variations', 'pimee_product_asset.tabs.properties'] %}
            {{ elements.form_navbar(form_tabs) }}

            <div class="row-fluid tab-content">
                {# ASSET PANEL #}
                <div class="tab-pane" id="pimee_product_asset-tabs-properties">

                    <h3> </h3>

                    <div class="control-group attribute-field">
                        <label class="control-label">{{'pimee_product_asset.enrich_asset.view.code'|trans}}</label>
                        <div class="controls">
                            <div class="value-field">
                                {{ asset.code }}
                            </div>
                            <div class="icons-container"></div>
                        </div>
                    </div>

                    <div class="control-group attribute-field">
                        <label class="control-label">{{'pimee_product_asset.enrich_asset.view.description'|trans}}</label>
                        <div class="controls">
                            <div class="value-field">
                                {{ asset.description }}
                            </div>
                            <div class="icons-container"></div>
                        </div>
                    </div>

                    <div class="control-group attribute-field">
                        <label class="control-label">{{'pimee_product_asset.enrich_asset.view.tag'|trans}}</label>
                        <div class="controls">
                            <div class="value-field">
                               {{ asset.tags|join(', ') }}
                            </div>
                            <div class="icons-container"></div>
                        </div>
                    </div>

                    <div class="control-group attribute-field">
                        <label class="control-label">{{'pimee_product_asset.enrich_asset.view.end_of_use'|trans}}</label>
                        <div class="controls">
                            <div class="value-field">
                                {{ asset.endOfUseAt|date("m / d / Y") }}
                            </div>
                            <div class="icons-container"></div>
                        </div>
                    </div>
                </div>

                {# VARIATIONS PANEL #}
                <div class="tab-pane active" id="pimee_product_asset-tabs-variations">
                    {% for attachment in attachments %}
                        {% include 'PimEnterpriseProductAssetBundle:ProductAsset:_reference_view.html.twig' with {'referenceModel': attachment.reference}%}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
