{% extends 'PimEnrichBundle::layout.html.twig' %}

{% oro_title_set({ params: { "%asset.code%": asset.code } }) %}

{% block content %}
    {% set title = 'pimee_product_asset.enrich_asset.view.title'|trans %}
    {# Copy dataset/stored and dataset/thumbnail folder in web/ for the demo #}

    {% set subtitle %}
       {{ asset.code }}
    {% endset %}

    {% set left %}
        <ul class="inline">
            <li>{{ 'Created'|trans }}: {{ asset.createdAt ? asset.createdAt|date("Y-m-d H:i:s") : 'N/A'|trans }}</li>
            <li>{{ 'Last update'|trans }}: {{ asset.updatedAt ? asset.updatedAt|date("Y-m-d H:i:s") : 'N/A'|trans }}</li>
        </ul>
    {% endset %}

    {{ elements.page_header(title, [], subtitle, left) }}

    <div class="form-horizontal product-edit product-view asset">
        <div class="layout-content">
            {% set form_tabs = ['pimee_product_asset.tabs.variations', 'pimee_product_asset.tabs.global-settings'] %}
            {{ elements.form_navbar(form_tabs) }}

            <div class="row-fluid tab-content">
                {# ASSET PANEL #}
                <div class="tab-pane" id="pimee_product_asset-tabs-global-settings">

                    <h3> </h3>

                    <div class="control-group attribute-field">
                        <label class="control-label">{{'pimee_product_asset.enrich_asset.view.code'|trans}}</label>
                        <div class="controls">
                            <div class="value-field">
                                {{ asset.code }}
                            </div>
                            <div class="icons-container"></div>
                        </div>
                    </div>

                    <div class="control-group attribute-field">
                        <label class="control-label">{{'pimee_product_asset.enrich_asset.view.description'|trans}}</label>
                        <div class="controls">
                            <div class="value-field">
                                {{ asset.description }}
                            </div>
                            <div class="icons-container"></div>
                        </div>
                    </div>

                    <div class="control-group attribute-field">
                        <label class="control-label">{{'pimee_product_asset.enrich_asset.view.end_of_use'|trans}}</label>
                        <div class="controls">
                            <div class="value-field">
                                {{ asset.endOfUseAt|date("m / d / Y") }}
                            </div>
                            <div class="icons-container"></div>
                        </div>
                    </div>
                </div>

                {# VARIATIONS PANEL #}
                <div class="tab-pane active" id="pimee_product_asset-tabs-variations">

                    {% for attachment in attachments %}

                        <div class="row-fluid variations">

                            <h3>
                                {% if attachment.reference.locale %}
                                    {{ attachment.reference.locale.code|flag }}
                                {% endif %}
                            </h3>

                            <ul>
                                <li>
                                    <div class="row-fluid reference">

                                        <h4>{{'pimee_product_asset.enrich_asset.view.reference'|trans}}</h4>

                                        <div class="row-fluid">

                                            <figure class="thumbnail">
                                                <img src="{{ path('pim_enrich_media_show', { 'filename': attachment.reference.file.key|url_encode, 'filter': 'thumbnail' }) }}">
                                            </figure>

                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>{{'pimee_product_asset.enrich_asset.view.filename'|trans}}</th>
                                                        <th>{{'pimee_product_asset.enrich_asset.view.actions'|trans}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{ attachment.reference.file.originalFilename }}</td>
                                                        <td>
                                                            <a class="btn btn-info btn-mini no-hash" download="{{ attachment.reference.file.originalFilename }}" href="{{ path('pim_enrich_media_show', { 'filename': attachment.reference.file.key|url_encode }) }}">
                                                                {{'pimee_product_asset.enrich_asset.view.download'|trans}}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </li>

                                {% for variation in attachment.variations %}
                                    {% if variation.entity.channel %}
                                        <li>
                                            <div class="row-fluid variation">

                                                <h4>{{ variation.entity.channel.label }}</h4>

                                                <div class="row-fluid">
                                                    {% if variation.entity.file %}
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'pimee_product_asset.enrich_asset.view.filename'|trans}}</th>
                                                                {% if 'image' in variation.entity.file.mimeType %}
                                                                    <th>{{'pimee_product_asset.enrich_asset.view.width'|trans}}</th>
                                                                    <th>{{'pimee_product_asset.enrich_asset.view.height'|trans}}</th>
                                                                    <th>{{'pimee_product_asset.enrich_asset.view.resolution'|trans}}</th>
                                                                {% endif %}
                                                                <th>{{'pimee_product_asset.enrich_asset.view.filesize'|trans}}</th>
                                                                <th>{{'pimee_product_asset.enrich_asset.view.filetype'|trans}}</th>
                                                                <th>{{'pimee_product_asset.enrich_asset.view.actions'|trans}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{ variation.entity.file.originalFilename }}</td>
                                                                {% if 'image' in variation.entity.file.mimeType %}
                                                                    <td>{% if variation.metadata %}{{ variation.metadata.exifSizeWidth ? variation.metadata.exifSizeWidth ~ ' px' : 'pimee_product_asset.notAvailable.label'|trans }}{% endif %}</td>
                                                                    <td>{% if variation.metadata %}{{ variation.metadata.exifSizeHeight ? variation.metadata.exifSizeHeight ~ ' px' : 'pimee_product_asset.notAvailable.label'|trans }}{% endif %}</td>
                                                                    <td>{% if variation.metadata %}{{ variation.metadata.exifResolution ? variation.metadata.exifResolution : 'pimee_product_asset.notAvailable.label'|trans }}{% endif %}</td>
                                                                {% endif %}
                                                                <td>{{ variation.entity.file.size|number_format(0, '.', ' ') }} ko</td>
                                                                <td>{{ variation.entity.file.mimeType }}</td>
                                                                <td>
                                                                    <a class="btn btn-info btn-mini no-hash" download="{{ variation.entity.file.originalFilename }}" href="{{ path('pim_enrich_media_show', { 'filename': variation.entity.file.key|url_encode }) }}">
                                                                        {{'pimee_product_asset.enrich_asset.view.download'|trans}}
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    {% else %}
                                                        No variation file for the channel {{ variation.entity.channel.label }}.
                                                    {% endif %}
                                                </div>

                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
{% endblock %}
