{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block content %}
    <div class="AknDefault-mainContent">
        {% set buttons %}
            <a href="{{ path('pim_analytics_system_info_download') }}" class="AknButton AknButton--grey no-hash">
                {{ 'pim_analytics.system_info.download'|trans }}
            </a>
        {% endset %}

        {{ elements.page_header(
            {
                title: 'pim_analytics.system_info.title'|trans,
                buttons: buttons
            }
        ) }}

        <table class="AknGrid AknGrid--unclickable AknGrid--condensed table">
            {% for infoType,info in data %}
                <tr class="AknGrid-bodyRow">
                    <th class="AknGrid-bodyCell">{{ ('pim_analytics.info_type.' ~ infoType)|trans }}</th>
                    <td class="AknGrid-bodyCell">
                        {% if info is iterable %}
                            {{ info|join('<br>')|raw }}
                        {% else %}
                            {{ info }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script nonce="{{ js_nonce() }}">
        require(
            [
                'pim/common/breadcrumbs',
                'pim/fetcher-registry',
                'pim/form-builder'
            ],
            function(
                Breadcrumbs,
                FetcherRegistry,
                FormBuilder
            ) {
                $(function() {
                    var breadcrumbs = new Breadcrumbs({
                        config: {
                            tab: 'pim-menu-system',
                            item: 'pim-menu-system-info'
                        }
                    });
                    breadcrumbs.configure().then(function () {
                        breadcrumbs.render();
                        $('*[data-drop-zone="breadcrumbs"]').append(breadcrumbs.$el);
                    });

                    FetcherRegistry.initialize().done(function () {
                        FormBuilder.build('pim-menu-user-navigation').then(function (form) {
                            $('.user-menu').append(form.el);
                            form.render();
                        }.bind(this));
                    });
                });
            }
        );
    </script>
{% endblock %}
