{# to prevent showing cached ajax response, reload the page#}
<script type="text/javascript">
    if (self == top) {
        window.location.reload();
    } else {
        //skipping js errors in case content is loaded in iframe (for ex. file uploading in ie8)
        window.onerror = function(e) {
            return true;
        };
    }
</script>
<div id="head">
    <div id="title">{{ oro_title_render() }}</div>
    <div id="title-serialized">{{ oro_title_render_serialized()|raw }}</div>
    {{ script|raw }}
</div>
<div id="main-menu">
    {{ menu|raw }}
</div>
<div id="flash-messages">
    {{ messages|raw }}
</div>
<div id="history-content">
    {{ oro_menu_render('history') }}
</div>
<div id="mostviewed-content">
    {{ oro_menu_render('mostviewed') }}
</div>
<div id="content">
    {{ content|raw }}
</div>
<div id="pin-button-div">
    {% if app.request.attributes.get('_route') == bap.start_route %}false{% else %}true{% endif %}
</div>
