{% block content %}
    <div id="category-tree-container" class="row-fluid">
        <div id="tree" {% if resource_granted(acl ~ '_category_edit') %} data-editable="true"{% endif %}{% if resource_granted(acl ~ '_category_create') %} data-creatable="true"{% endif %}></div>

        <div id="category-form">
            <div class="AknInfoBlock">
                {% if resource_granted(acl ~ '_category_edit') %}
                    {{ 'category.suggest selection'|trans }}
                {% endif %}
                {% if resource_granted(acl ~ '_category_create') %}
                    <br/>
                    {{ 'category.or'|trans }}
                    <br/>
                    <a class="AknButton AknButton--withIcon AknButton--apply" href="#{{ path(route ~ '_categorytree_create', { parent: 0 }) }}">
                        <i class="AknButton-icon icon-plus"></i>
                        {{ 'category.create new'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "PimEnrichBundle:CategoryTree:_scripts.html.twig" %}
{% endblock %}

<script type="text/javascript">
    window.flashMessages = JSON.parse('{{ app.session.flashbag.all|json_encode()|raw }}');
</script>
