{% extends 'form_div_layout.html.twig' %}

{% block media_row %}
    {% spaceless %}
    
    {{ form_errors(form) }}
    
    <div class="fileupload fileupload-new" data-provides="fileupload">
        {{ form_label(form) }}
        {{ form_widget(form.id) }}
        <div class="fileupload-new thumbnail" style="width: 50px; height: 50px;">
            <img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" />
        </div>
        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
        <span class="btn btn-file">
            <span class="fileupload-new">{{ "Select file" | trans }}</span>
            <span class="fileupload-exists">{{ "Change file" | trans }}</span>
            {{ form_widget(form.file) }}
        </span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{{ "Remove file" | trans }}</a>
        {% if form.vars.value %}
            <div style="display: inline-block; margin-left: 50px;">
                {{ form_row(form.remove) }}
            </div>
            <div style="width: 50px; height: 50px; display: inline-block; margin-left: 30px;">
                <img src="{{ asset(form.vars.value.filePath) }}" />
            </div>
        {% endif %}
    </div>

    {% endspaceless %}
{% endblock %}
