{% extends 'StrixosWidgetBundle::layout.html.twig' %}

{% block title %}Akeneo - product field list{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('akeneo_catalog_productfield_new') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-tag--plus"></span><span class="ui-button-text">New field</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    
    <h1>Catalog product field list</h1>
    
        <table class="grid">
        <thead>
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Title</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for field in fields %}
          <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}">
            <td>{{field.id}}</td>
            <td>{{field.code}}</td>
            <td>{{field.titles}}</td>
            <td>{{field.type}}</td>
            <td>
                <a href="{{ path('akeneo_catalog_productfield_edit', {'id': field.id }) }}">Edit</a> 
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    
    

{% endblock %}