{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}Akeneo - product field details{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('akeneo_catalog_productfield_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-ui-button-navigation-back"></span><span class="ui-button-text">Back to list</span>
        </a>
    </li>
{% endblock %}

{% block content %}

    <h1>Catalog product field</h1>
    
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
        </tbody>
    </table>
    
    <ul class="record_actions">
        <li>
            <a href="{{ path('akeneo_catalog_productfield_index') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('akeneo_catalog_productfield_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('akeneo_catalog_productfield_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>

{% endblock %}
