{% extends 'OroProductBundle::layout.html.twig' %}

{% block content %}

    <table class="mytable">
        <tr>
            <td>Id</td><td>Email</td><td>FirstName</td><td>LastName</td><td>Birth</td><td>Gender</td><td>Company</td>
        </tr>
    {% for customer in customers %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.firstname }}</td>
            <td>{{ customer.lastname }}</td>
            <td>{{ customer.dob|date('Y-m-d')}}</td>
            <td>{{ customer.gender }}</td>
            <td>{{ customer.company }}</td>

            <td><a href="{{ path('oro_customer_customer_view', {'id': customer.id}) }}">Show details</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}