{% extends 'OroUIBundle:actions:update.html.twig' %}
{% set format = oro_config_value('oro_user.name_format') %}
{% form_theme form with ['OroUIBundle:Form:fields.html.twig', 'OroFormBundle:Form:fields.html.twig', 'OroTagBundle:Form:fields.html.twig'] %}

{% set title = form.vars.value.id ? form.vars.value.fullname(format)|default('N/A') ~ ' - ' ~ 'Update User'|trans : 'New User'|trans %}
{% oro_title_set({params : {"%username%": form.vars.value.fullname(format)|default('N/A') }}) %}
{% set entityClass = 'Oro_Bundle_UserBundle_Entity_User' %}
{% set formAction = form.vars.value.id ? path('oro_user_update', { id: form.vars.value.id}) : path('oro_user_create') %}
{% block head_script %}
    <script type="text/javascript">
        require(['jquery', 'jquery.jstree', 'jstree/jquery.hotkeys'],
        function($){
            $(function() {
                $('#business_units_tree').jstree({
                    "checkbox": {
                        real_checkboxes: true,
                        real_checkboxes_names: function (n) {
                            return ['businessUnits[' + n.data('id') + ']', 1]
                        },
                        two_state: true
                    },
                    "plugins": ["themes", "html_data", "ui", "checkbox", "hotkeys"]
                });
            });
        });
    </script>
{% endblock %}

{% block navButtons %}
    {% if form.vars.value.id and resource_granted('oro_user_user_delete') and  form.vars.value.id!=app.user.id %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_user', {'id': form.vars.value.id}),
            'dataRedirect': path('oro_user_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId':  form.vars.value.id,
            'dataMessage': 'Are you sure you want to delete this user?',
            'title': 'Delete user',
            'label': 'Delete'
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.button({'path' : path('oro_user_index'), 'title' : 'Cancel', 'label' : 'Cancel'}) }}
    {{ UI.saveAndStayButton() }}
    {{ UI.saveAndCloseButton() }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('oro_user_index'),
            'indexLabel': 'Users',
            'entityTitle': form.vars.value.fullname(format)|default('N/A'),
            'hasAvatar':   true,
            'imagePath':   form.vars.value.imagePath,
        }
        %}
        {{ parent() }}
    {% else %}
        {% include 'OroUIBundle::page_title_block.html.twig' %}
    {% endif %}
{% endblock pageHeader %}

{% block stats %}
    {{ parent() }}
    <li>{{ 'Last logged in'|trans }}: {{ form.vars.value.lastLogin ? UI.time(form.vars.value.lastLogin) : 'N/A' }}</li>
    <li>{{ 'Login count'|trans }}: {{ form.vars.value.loginCount|default(0) }}</li>
{% endblock stats %}

{% block content_data %}
    {% set id = 'user-profile' %}

    {% set dataBlocks = [{
            'title': 'General',
            'class': 'active',
            'subblocks': [
                {
                    'title': '',
                    'data': [
                        form_row(form.enabled),
                        form_row(form.username),
                        form.plainPassword is defined ? form_row(form.plainPassword) : '',
                        form_row(form.firstName),
                        form_row(form.lastName),
                        form_row(form.birthday),
                        form_row(form.imageFile)
                    ]
                },
                {
                    'title': '',
                    'data': [
                        form_row(form.email),
                        UI.collectionField(form.emails, 'Additional emails', 'Add another email'),
                        form_row(form.tags),
                    ]
                }
            ]
        }]

    %}

    {% if form.groups is defined or form.rolesCollection is defined %}
        {% macro userRoles(form) %}
            {% if form.rolesCollection is defined %}
                <div class="form-horizontal" id="roles-list">
                    {{ form_row(form.rolesCollection, { attr: { class: 'horizontal' } }) }}
                </div>
            {% endif %}
        {% endmacro %}
        {% set dataBlocks = dataBlocks|merge(
            [{
                'title': 'Groups and Roles',
                'subblocks': [
                    {
                        'title': '',
                        'data': [
                            form.rolesCollection is defined ? form_row(form.groups, { attr: { class: 'horizontal' } }) : null,
                            _self.userRoles(form)
                        ]
                    }
                ]
            }]
        ) %}
    {% endif %}

    {% if form.values is defined %}
        {% set dataBlocks = dataBlocks|merge(
            [{
                'title': 'Additional data',
                'subblocks': [{
                    'title': '',
                    'useSpan': false,
                    'data': [
                        form_row(form.values)
                    ]
                }]
            }]
        ) %}
    {% endif %}

    {% macro businessUnitsTree(form, businessUnits) %}
        <div id="business_units_tree">
            {% include 'OroOrganizationBundle:BusinessUnit:businessUnitsTree.html.twig' with {'businessUnits': businessUnits, 'hasId': form.vars.value.id ? true : false} %}
        </div>
    {% endmacro %}
    {% set dataBlocks = dataBlocks|merge(
        [{
            'title': 'Business Units',
            'subblocks': [
                {
                    'title': '',
                    'useSpan': false,
                    'data': [
                        _self.businessUnitsTree(form, businessUnits)
                    ]
                }
            ]
        }]
        )
    %}

    {% set data =
        {
            'formErrors': form_errors(form)? form_errors(form) : null,
            'dataBlocks': dataBlocks,
        }
    %}
    {{ parent() }}
{% endblock content_data %}
