<div class="customer-info well-small">
    <div class="visual"><img src="{{ user.imagePath ? user.imagePath | imagine_filter('avatar_med') : asset('bundles/oroui/img/info-usser.png') }}" alt="{{ user.fullname(format) }}"/></div>
    <div class="customer-content pull-left">
        <div class="clearfix">
            <div class="pull-left">
                <div class="sub-title"><a href="{{ path('oro_user_index') }}">{{ 'Users'|trans }}</a></div>
                <span class="separator">/</span>
                <h1 class="usser-name">{{ user.fullname(format)|default('N/A') }}</h1>
            </div>
            <div class="status-enabled pull-left">
                {% if user.enabled %}
                    <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled"></i>{{ 'Active'|trans }}</div>
                {% else %}
                    <div class="badge badge-enabled status-disabled"><i class="icon-status-disabled"></i>{{ 'Inactive'|trans }}</div>
                {% endif %}
            </div>
        </div>
        <div class="clearfix">
            <ul class="inline">
                <li>{{ 'Created'|trans }}: {{ user.createdAt ? UI.time(user.createdAt) : 'N/A' }}</li>
                <li>{{ 'Updated'|trans }}: {{ user.updatedAt ? UI.time(user.updatedAt) : 'N/A' }}</li>
                <li>{{ 'Last logged in'|trans }}: {{ user.lastLogin ? UI.time(user.lastLogin) : 'N/A' }}</li>
                <li>{{ 'Login count'|trans }}: {{ user.loginCount|default(0) }}</li>
            </ul>
        </div>
    </div>
</div>