{% extends 'OroUIBundle:actions:view.html.twig' %}
{% set format = oro_config_value('oro_user.name_format') %}
{% oro_title_set({params : {"%username%": entity.fullname(format)|default('N/A') }}) %}
{% set entityClass = 'Oro_Bundle_UserBundle_Entity_User' %}
{% macro api_data_block(user) %}
<div class="horizontal">
    <strong class="label label-info">{{ user.api ? user.api.apiKey : 'N/A' }}</strong>
    {% if resource_granted('oro_user_user_apigen') %}
        <a class="btn btn-small no-hash" id="btn-apigen" href="{{ path('oro_user_apigen', { id: user.id }) }}"
           data-title="{{ 'Generate key'|trans }}" data-message="{{ 'Generate key was successful. New key:'|trans }}">
            {{ 'Generate key'|trans }}
        </a>
    {% endif %}
</div>
{% endmacro %}

{% block navButtons %}
    {{ UI.button({'path' : path('oro_user_index'), 'iClass' : 'icon-chevron-left ', 'title' : 'Back', 'label' : 'Back'}) }}
    {% if resource_granted('oro_user_user_update') %}
        {{ UI.button({'path' : path('oro_user_update', { id: entity.id }), 'iClass' : 'icon-edit ', 'title' : 'Edit user', 'label' : 'Edit'}) }}
    {% endif %}
    {% if resource_granted('oro_user_user_delete') and entity.id!=app.user.id %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_user', {'id': entity.id}),
            'dataRedirect': path('oro_user_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'dataMessage': 'Are you sure you want to delete this user?',
            'title': 'Delete user',
            'label': 'Delete'
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_user_index'),
        'indexLabel': 'Users',
        'entityTitle': entity.fullname(format)|default('N/A'),
        'hasAvatar':   true,
        'imagePath':   entity.imagePath,
    }
    %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="status-enabled pull-left">
        {% if entity.enabled %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled"></i>{{ 'Active'|trans }}</div>
        {% else %}
            <div class="badge badge-enabled status-disabled"><i class="icon-status-disabled"></i>{{ 'Inactive'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block stats %}
    {{ parent() }}
    <li>{{ 'Last logged in'|trans }}: {{ entity.lastLogin ? UI.time(entity.lastLogin) : 'N/A' }}</li>
    <li>{{ 'Login count'|trans }}: {{ entity.loginCount|default(0) }}</li>
{% endblock stats %}

{% block scroll_data %}
    {% set attributes = {} %}
    {% for value in entity|getAttributes() %}
        {% set attributes = attributes | merge([UI.flexibleAttributeRow(value)]) %}
    {% endfor %}

    {% set id = 'user-profile' %}
    {% set data = {
        'scrollBlocks':
            [
                {
                    'title': 'General',
                    'class': 'active',
                    'subblocks': [
                        {
                            'title': 'Basic Information',
                            'data': [
                                UI.attibuteRow('User name', entity.username),
                                UI.attibuteRow('First name', entity.firstname),
                                UI.attibuteRow('Last name', entity.lastname),
                                UI.attibuteRow('Birthday', entity.birthday ? UI.date(entity.birthday) : 'N/A'),
                                UI.renderAttribute('API key', _self.api_data_block(entity))
                            ]
                        },
                        {
                            'title': 'Contact Information',
                            'data': [
                                UI.attibuteRow('Email', {value: entity.email, hint: 'Primary'}, entity.emails|length ? {data: entity.emails, field:'email'} : {})
                            ]
                        }
                    ]
                },
                {
                    'title': 'Additional data',
                    'subblocks': [
                        {'title': null, 'data': attributes}
                    ]
                }
            ]
        }
    %}
    {{ parent() }}
{% endblock scroll_data %}
