{% extends 'OroUIBundle:actions:view.html.twig' %}
{% set format = oro_config_value('oro_user.name_format') %}
{% oro_title_set({params : {"%username%": user.fullname(format)|default('N/A') }}) %}

{% macro api_data_block(user) %}
<div class="horizontal">
    <strong class="label label-info">{{ user.api ? user.api.apiKey : 'N/A' }}</strong>
    {% if resource_granted('oro_user_user_apigen') %}
        <a class="btn btn-small no-hash" id="btn-apigen" href="{{ path('oro_user_apigen', { id: user.id }) }}"
           data-title="{{ 'Generate key'|trans }}" data-message="{{ 'Generate key was successful. New key:'|trans }}">
            {{ 'Generate key'|trans }}
        </a>
    {% endif %}
</div>
{% endmacro %}

{% block navButtons %}
    {{ UI.button({'path' : path('oro_user_index'), 'iClass' : 'icon-chevron-left ', 'title' : 'Back', 'label' : 'Back'}) }}
    {% if resource_granted('oro_user_user_update') %}
        {{ UI.button({'path' : path('oro_user_update', { id: user.id }), 'iClass' : 'icon-edit ', 'title' : 'Edit user', 'label' : 'Edit'}) }}
    {% endif %}
    {% if resource_granted('oro_user_user_delete') and user.id!=app.user.id %}
        {{ UI.deleteButton({
        aCss: 'no-hash', dataId: 'btn-remove-user', dataMessage: 'Are you sure you want to delete this user?', title: 'Delete user', label: 'Delete'
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': user,
        'indexPath': path('oro_user_index'),
        'indexLabel': 'Users',
        'entityTitle': user.fullname(format)|default('N/A'),
        'hasAvatar': true,
        'imagePath': user.imagePath,
    }
    %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="status-enabled pull-left">
        {% if user.enabled %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled"></i>{{ 'Active'|trans }}</div>
        {% else %}
            <div class="badge badge-enabled status-disabled"><i class="icon-status-disabled"></i>{{ 'Inactive'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block stats %}
    {{ parent() }}
    <li>{{ 'Last logged in'|trans }}: {{ user.lastLogin ? UI.time(user.lastLogin) : 'N/A' }}</li>
    <li>{{ 'Login count'|trans }}: {{ user.loginCount|default(0) }}</li>
{% endblock stats %}

{% block scroll_data %}
    {% set attributes = {} %}
    {% for value in user|getAttributes() %}
        {% set attributes = attributes | merge([UI.flexibleAttributeRow(value)]) %}
    {% endfor %}

    {% set id = 'user-profile' %}
    {% set data = {
        'scrollBlocks':
            [
                {
                    'title': 'General',
                    'class': 'active',
                    'subblocks': [
                        {
                            'title': 'Basic Information',
                            'data': [
                                UI.attibuteRow('User name', user.username),
                                UI.attibuteRow('First name', user.firstname),
                                UI.attibuteRow('Last name', user.lastname),
                                UI.attibuteRow('Birthday', user.birthday ? UI.date(user.birthday) : 'N/A'),
                                UI.renderAttribute('API key', _self.api_data_block(user))
                            ]
                        },
                        {
                            'title': 'Contact Information',
                            'data': [
                                UI.attibuteRow('Email', {value: user.email, hint: 'Primary'}, user.emails|length ? {data: user.emails, field:'email'} : {})
                            ]
                        }
                    ]
                },
                {
                    'title': 'Additional data',
                    'subblocks': [
                        {'title': null, 'data': attributes}
                    ]
                }
            ]
        }
    %}
    {{ parent() }}
{% endblock scroll_data %}
