{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Family'|trans %}

{% block content %}

    {% set currentFamily = family is defined ? family : null %}

    <div class="row-fluid has-resizable-sidebar">
        <div class="resizable-sidebar">
            <ul>
                {% for family in families %}
                <li class="{{ family == currentFamily ? 'active' : '' }}"><a href="{{ path('pim_product_productfamily_edit', {'id': family.id}) }}">{{ family.label }}</a></li>
                {% endfor %}
                <li><a href="{{ path('pim_product_productfamily_new') }}" class="btn">{{ 'New family'|trans }}</a></li>
            </ul>

        </div>
        <div id="form-tab" class="resizable-content">
            {% block familyTab %}
            <h3>{{ title }}</h3>
            {% endblock familyTab %}
        </div>
    </div>

    {% block javascript %}
    {% endblock %}

{% endblock %}
