{% extends bap.layout is defined ? bap.layout : 'ProductBundle::layout.bootstrap.html.twig' %}

{% block content %}

    <h1>{{ 'Product families overview'|trans }}
        <a class="btn btn-primary pull-right" style="margin-left:10px;"
            href="{{ path('pim_product_productfamily_create') }}">{{ 'New product family'|trans }}</a>
    </h1>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Attributes'|trans }}</th>
                <th style="width: 50px">{{ 'Edit'|trans }}</th>
                <th style="width: 50px">{{ 'Remove'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('pim_product_productfamily_edit', { id: entity.id }) }}">
                        {{ entity.name }}
                    </a>
                </td>
                <td>{{ entity.description }}</td>
                <td>
                    <ul>
                    {% for attribute in entity.attributes %}
                        <li>{{ attribute }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ path('pim_product_productfamily_edit', { id: entity.id }) }}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pim_product_productfamily_remove', { id: entity.id }) }}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />

{% endblock %}
