{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}StrixOS - Manage Attribute Set{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('strixos_catalog_set_new') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-plus-button"></span><span class="ui-button-text">Create attribute set</span>
        </a>
    </li>
{% endblock %}

{% block content %}

    <table class="grid">
        <thead>
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for set in sets %}
          <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}">
            <td>{{set.id}}</td>
            <td>{{set.code}}</td>
            <td>
                <a href="{{ path('strixos_catalog_set_edit', {'id': set.id }) }}">Edit</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
