{% if value['values'] is defined %}
    {% for code, changes in value['values'] %}
        {% for change in changes %}
            <table class="table table-bordered proposal-changes">
                <thead>
                    <tr>
                        <th class="label-cell">{{ get_attribute_label_from_code(code) }}</th>
                        <th>
                            {{ change.locale|pretty_locale_name }}

                            {% if change.scope is not null %}
                                - {{ change.scope }}
                            {% endif %}
                        </th>
                        <th class="action-cell">
                            {% if
                                is_attribute_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::EDIT_ATTRIBUTES'), code) and
                                is_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::OWN'), record.rootEntity.product)
                            %}
                                <span class="partial-approve pull-right">
                                    <a href="#" class="partial-approve-link hide-text" data-product="{{ record.rootEntity.product.identifier }}" data-scope="{{ change.scope }}" data-locale="{{ change.locale }}" data-attribute="{{ code }}" data-product-draft="{{ record.rootEntity.id }}" data-author="{{ record.rootEntity.author }}">
                                        <i class="icon-ok hide-text">
                                            {{ 'pimee_workflow.product_draft.action.partial_approve'|trans({'%attribute%': code, '%product%': record.rootEntity.product.identifier}) }}
                                        </i>
                                    </a>
                                </span>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ 'pimee_workflow.proposal.original_value'|trans }}</td>
                        <td colspan="2">
                            <span class="alert-error">
                                {{ record.rootEntity.product.value(code, change.locale, change.scope)|present_original_change(change) }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'pimee_workflow.proposal.new_value'|trans }}</td>
                        <td colspan="2">
                            <span class="alert-success">
                                {{ change|present_new_change(code) }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% endfor %}
{% endif %}
