{% if value['values'] is defined %}
    {% for code, changes in value['values'] %}
        {% set isAttributeLocalizable = is_attribute_localizable(code) %}
        {% set canView = is_attribute_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::VIEW_ATTRIBUTES'), code) %}
        {% for change in changes %}
            {% set product_draft_change = present_product_draft_change(record.rootEntity, change, code) %}
            {% if
                canView and
                (not isAttributeLocalizable or is_locale_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::VIEW_ITEMS'), change.locale)) and
                product_draft_change|length > 0
            %}
            {%
                set canReview = (
                    is_attribute_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::EDIT_ATTRIBUTES'), code) and
                    is_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::OWN'), record.rootEntity.product) and
                    record.rootEntity.getStatus() == constant('PimEnterprise\\Bundle\\WorkflowBundle\\Model\\ProductDraft::READY') and
                    (not isAttributeLocalizable or is_locale_granted(constant('PimEnterprise\\Bundle\\SecurityBundle\\Attributes::EDIT_ITEMS'), change.locale))
                )
            %}
            <table
                class="table table-bordered proposal-changes{% if not canReview %} readonly{% endif %}"
                data-product="{{ record.rootEntity.product.identifier }}"
                data-scope="{{ change.scope }}"
                data-locale="{{ change.locale }}"
                data-attribute="{{ code }}"
                data-product-draft="{{ record.rootEntity.id }}"
                data-author="{{ record.rootEntity.author }}"
            >
                <thead>
                    <tr>
                        <th class="label-cell">{{ get_attribute_label_from_code(code) }}</th>
                        <th>
                            {{ change.locale|pretty_locale_name }}

                            {% if change.scope is not null %}
                                - {{ change.scope }}
                            {% endif %}
                        </th>
                        <th class="action-cell">
                            {% if canReview %}
                                <button class="partial-reject-link btn" data-product="{{ record.rootEntity.product.identifier }}" data-scope="{{ change.scope }}" data-locale="{{ change.locale }}" data-attribute="{{ code }}" data-product-draft="{{ record.rootEntity.id }}" data-author="{{ record.rootEntity.author }}" data-action="reject">
                                    <i class="icon-remove hide-text">
                                        {{ 'pimee_workflow.product_draft.action.partial_reject'|trans({'%attribute%': code, '%product%': record.rootEntity.product.identifier}) }}
                                    </i>
                                </button>
                                <button class="partial-approve-link btn" data-product="{{ record.rootEntity.product.identifier }}" data-scope="{{ change.scope }}" data-locale="{{ change.locale }}" data-attribute="{{ code }}" data-product-draft="{{ record.rootEntity.id }}" data-author="{{ record.rootEntity.author }}" data-action="approve">
                                    <i class="icon-ok hide-text">
                                        {{ 'pimee_workflow.product_draft.action.partial_approve'|trans({'%attribute%': code, '%product%': record.rootEntity.product.identifier}) }}
                                    </i>
                                </button>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if product_draft_change.before != product_draft_change.after %}
                        <tr>
                            <td>{{ 'pimee_workflow.proposal.original_value'|trans }}</td>
                            <td class="original-value" colspan="2">
                                <span class="alert-error">
                                    {{ product_draft_change.before|raw }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'pimee_workflow.proposal.new_value'|trans }}</td>
                            <td class="new-value" colspan="2">
                                <span class="alert-success">
                                    {{ product_draft_change.after|raw }}
                                </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">{{ 'pimee_workflow.proposal.no_diff'|trans({'%value%': change.data }) }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
