<table class="AknGrid AknGrid--unclickable table">
    <thead>
        <tr>
            <th class="AknGrid-headerCell"></th>
            <th class="AknGrid-headerCell">{{ 'pimee_product_asset.enrich_asset.view.filename'|trans }}</th>
            <th class="AknGrid-headerCell">{{ 'pimee_product_asset.enrich_asset.view.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="AknGrid-bodyRow">
            <td class="AknGrid-bodyCell">
                <figure class="thumbnail">
                    {% include '@AkeneoAsset/Property/thumbnail.html.twig' with {
                    'path': referenceModel.fileInfo.key,
                    'filter': 'thumbnail'
                    } only %}
                </figure>
            </td>
            <td class="AknGrid-bodyCell">{{ referenceModel.fileInfo.originalFilename }}</td>
            <td class="AknGrid-bodyCell">
                <div class="AknButtonList AknButtonList--right AknButtonList--expanded">
                    {% block reference_buttons %}{% endblock %}
                    {% if referenceModel.fileInfo %}
                        <a class="AknButtonList-item AknButton AknButton--grey AknButton--small no-hash"
                           title="{{'pimee_product_asset.enrich_asset.button.download'|trans }}"
                           href="{{ path('pim_enrich_media_download', {'filename': referenceModel.fileInfo.key|url_encode}) }}">
                            {{ 'pimee_product_asset.enrich_asset.button.download'|trans|capitalize }}
                        </a>
                    {% endif %}
                </div>
            </td>
        </tr>
    </tbody>
</table>
