{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block content %}
    {% set title %}
        {{ asset.code }}
    {% endset %}

    {% set meta %}
        <div class="AknTitleContainer-meta">
            <span class="AknTitleContainer-metaItem">{{ 'pim_common.created'|trans }}: {{ asset.createdAt ? asset.createdAt|datetime_presenter : 'N/A'|trans }}</span>
            <span class="AknTitleContainer-metaItem">{{ 'pim_common.updated'|trans }}: {{ asset.updatedAt ? asset.updatedAt|datetime_presenter : 'N/A'|trans }}</span>
        </div>
    {% endset %}

    <div class="AknDefault-mainContent">
        {{ elements.page_header(
            {
                title: title,
                meta: meta
            }
        ) }}
        <div class="form-horizontal product-edit product-view asset">
            <div class="layout-content">
                {% set form_tabs = ['pimee_product_asset.tabs.variations', 'pimee_product_asset.tabs.properties'] %}
                {{ elements.form_navbar(form_tabs) }}

                <div class="row-fluid tab-content">
                    {# ASSET PANEL #}
                    <div class="tab-pane" id="pimee_product_asset-tabs-properties">
                        <div class="AknFormContainer AknFormContainer--withPadding">
                            <div class="AknFieldContainer">
                                <div class="AknFieldContainer-header">
                                    <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="pimee_product_asset_code">
                                        {{'pimee_product_asset.enrich_asset.view.code'|trans}}
                                    </label>
                                </div>
                                <div class="AknFieldContainer-inputContainer field-input">
                                    <input type="text" readonly="readonly" read_only="1" class=" AknTextField" value="{{ asset.code }}">
                                    <div class="AknFieldContainer-iconsContainer icons-container">

                                    </div>
                                </div>
                            </div>

                            <div class="AknFieldContainer">
                                <div class="AknFieldContainer-header">
                                    <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="pimee_product_asset_code">
                                        {{'pimee_product_asset.enrich_asset.view.description'|trans}}
                                    </label>
                                </div>
                                <div class="AknFieldContainer-inputContainer field-input">
                                    <textarea readonly="readonly" read_only="1" class=" AknTextareaField">{{ asset.description }}</textarea>
                                    <div class="AknFieldContainer-iconsContainer icons-container">

                                    </div>
                                </div>
                            </div>

                            <div class="AknFieldContainer">
                                <div class="AknFieldContainer-header">
                                    <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="pimee_product_asset_code">
                                        {{'pimee_product_asset.enrich_asset.view.tag'|trans}}
                                    </label>
                                </div>
                                <div class="AknFieldContainer-inputContainer field-input">
                                    <input type="text" readonly="readonly" read_only="1" class=" AknTextField" value="{{ asset.tags|join(', ') }}">
                                    <div class="AknFieldContainer-iconsContainer icons-container">

                                    </div>
                                </div>
                            </div>

                            <div class="AknFieldContainer">
                                <div class="AknFieldContainer-header">
                                    <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="pimee_product_asset_code">
                                        {{'pimee_product_asset.enrich_asset.view.end_of_use'|trans}}
                                    </label>
                                </div>
                                <div class="AknFieldContainer-inputContainer field-input">
                                    <input type="text"
                                           readonly="readonly" read_only="1"
                                           class=" AknTextField"
                                           value="{{ asset.endOfUseAt is empty ? "" : asset.endOfUseAt|date("m / d / Y") }}"/>
                                    <div class="AknFieldContainer-iconsContainer icons-container">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {# VARIATIONS PANEL #}
                    <div class="tab-pane active" id="pimee_product_asset-tabs-variations">
                        {% for attachment in attachments %}
                            {% include 'AkeneoAssetBundle:ProductAsset:_reference_view.html.twig' with {'referenceModel': attachment.reference}%}
                        {% endfor %}
                    </div>
                </div>

            </div>
            <script>
                require(
                    [
                        'pim/common/breadcrumbs',
                        'pim/fetcher-registry',
                        'pim/form-builder',
                        'pim/page-title'
                    ],
                    function(
                        Breadcrumbs,
                        FetcherRegistry,
                        FormBuilder,
                        PageTitle
                    ) {
                        $(function() {
                            var breadcrumbs = new Breadcrumbs({
                                config: {
                                    tab: 'pim-menu-asset'
                                }
                            });
                            breadcrumbs.configure().then(function () {
                                breadcrumbs.render();
                                $('*[data-drop-zone="breadcrumbs"]').append(breadcrumbs.$el);
                            });

                            PageTitle.set({ 'asset.label': '{{ asset.code }}' });

                            FetcherRegistry.initialize().done(function () {
                                FormBuilder.build('pim-menu-user-navigation').then(function (form) {
                                    form.setElement('.user-menu').render();
                                    form.$el.addClass('AknTitleContainer-userMenu');
                                }.bind(this));
                            });
                        });
                    }
                );
            </script>
        </div>
    </div>
{% endblock %}
