<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}POC STRIXos{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/strixoscatalog/css/main.css') }}" />
        
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <a class="logo" href="{{ path('_welcome') }}">
                    <img src="{{ asset('bundles/strixoscatalog/images/logo.gif') }}" alt="Symfony logo" />
                </a>
                <h1>STRIXos (Proof Of Concept)</h1>
                <p><em>The future of catalog management is open !</em></p>
            </div>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="symfony-content">

                {% block content_menu %}
                    <ul id="menu">
                        {% block content_header_more %}
                            <li><a class="symfony-button-green" href="{{ path('strixos_catalog_default_index') }}">Back to Home</a></li>
                        {% endblock %}
                    </ul>
                    <div style="clear: both"></div>
                {% endblock %}

                {% block content %}{% endblock %}
            </div>

            {% if code is defined %}
                <h2>Code behind this page</h2>
                <div class="symfony-content">{{ code|raw }}</div>
            {% endif %}
            
            <div id="content_footer">
                {% block content_footer %}{% endblock %}
          </div>
        </div>
    </body>
</html>
