<div class="tab-pane active" id="properties">
    {% set generalProperties %}
        {{ form_row(form.code) }}
        {% if form.dynamic is defined %}
            {{ form_row(form.dynamic) }}
        {% endif %}
    {% endset %}

    {% set nodeValues %}
        {{ form_row(form.title) }}
        {{ form_rest(form) }}
    {% endset %}

    {{ elements.accordion({ 'General Properties': generalProperties, 'Node values': nodeValues }) }}   

</div>

{% if form.vars.value.id %}
    <div class="tab-pane" id="history">
        <div id="history-grid"></div>
    </div>
{% endif %}

