<div class="customer-info well-small">
    <div class="visual">
        {% if recordUrl is defined -%}
        <a href="{{ recordUrl }}" {% if recordUrlCssClass is defined %}class="{{ recordUrlCssClass }}"{% endif %}>
        {%- endif -%}
            <img src="{{ showImage|default(false) and imagePath ? imagePath : asset('bundles/oroui/img/info-' ~ iconType|default('user') ~ '.png') }}" alt="{{ title }}" />
        {%- if recordUrl is defined -%}
        </a>
        {%- endif %}
    </div>
    <div class="clearfix">
        <div class="pull-right">
            <div class="sub-title">{{ entityType }}</div>
        </div>
        <div class="{% if showImage|default(false) %}customer-content{% else %}customer-simplу{% endif %} pull-left">
            <div class="clearfix">
                <div class="pull-left">
                    <h1 class="user-name">
                        {% if recordUrl is defined %}<a href="{{ recordUrl }}" {% if recordUrlCssClass is defined %}class="{{ recordUrlCssClass }}"{% endif %}>{% endif %}
                            {{ title }}
                        {% if recordUrl is defined %}</a>{% endif %}
                    </h1>
                </div>
                {% block additional_info %}
                {% endblock %}
            </div>
            {% if entityInfo is defined and entityInfo|length %}
            <div class="clearfix">
                <ul class="inline">
                    {% for info in entityInfo %}
                    <li>{{ info.title|trans }}: {{ info.value }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

