<script type="text/javascript">
    require(
        ['jquery', 'underscore', 'jquery.select2'],
        function ($, _) {
            'use strict';

            $(function () {
                $('#{{form.permissions.vars.id}}')
                    .append('<div class="control-group"><label class="control-label">{{ 'Changes'|trans }}</label><div class="controls" id="permissions-changes"></div></div>');

                $('#{{form.permissions.view.vars.id}}')
                    .select2()
                    .on('change', function(e) {
                        if (typeof e.added !== 'undefined') {
                            if ($('#change-'+e.added.id).length > 0) {
                                $('#change-'+e.added.id).remove();
                            } else {
                                $('#permissions-changes')
                                    .append("<span id='change-"+e.added.id+"'>{{'Add'|trans}} " + e.added.text + '</span>');
                            }
                        }
                        if (typeof e.removed !== 'undefined') {
                            if ($('#change-'+e.removed.id).length > 0) {
                                $('#change-'+e.removed.id).remove();
                            } else {
                                $('#permissions-changes')
                                    .append("<span id='change-"+e.removed.id+"'>{{'Remove'|trans}} " + e.removed.text + '</span>');
                            }
                        }

                        console.log('change '+e.val + ' added ' + e.added + ' removed '+ e.removed);
                    });
            });
        });
</script>

<div class="tab-pane active" id="properties">
    {% set generalProperties %}
        {{ form_row(form.code) }}
    {% endset %}

    {% set nodeValues %}
        {{ form_row(form.label) }}
    {% endset %}

    {{ elements.accordion({ 'pane.accordion.general_properties': generalProperties, 'pane.accordion.node_values': nodeValues }) }}
</div>

{% if form.vars.value.id %}

    <div class="tab-pane" id="permissions">
        {{ elements.accordion({ 'pane.accordion.permissions': form_widget(form.permissions) }) }}
    </div>

    <div class="tab-pane" id="history">
        {% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}
        {{ dataGrid.renderHistoryGrid(form.vars.value) }}
    </div>
{% endif %}
