<script type="text/javascript">
    require(
        ['jquery', 'underscore', 'jquery.select2'],
        function ($, _) {
            'use strict';

            $(function () {
                $('#{{form.permissions.vars.id}}').append('<div class="control-group"><label class="control-label">{{ 'Changes'|trans }}</label><div class="controls"><ul id="permissions-changes"></ul></div></div>');

                $('#{{form.permissions.vars.id}} select')
                    .select2()
                    .on('change', function(e) {

                        var permission = $(this).attr('id');
                        var permissionLabel = $.trim($(this).parents('.control-group').children('label').text()).toLowerCase();

                        if (typeof e.added !== 'undefined') {
                            if ($('#change-'+permission+'-'+e.added.id).length > 0) {
                                $('#change-'+permission+'-'+e.added.id).remove();
                            } else {
                                $('#permissions-changes').append("<li id='change-"+permission+'-'+e.added.id+"'>{{'The role'|trans}} <strong>"+e.added.text+"</strong> {{'will'|trans}} <strong>"+permissionLabel+"</strong> {{'in this category'|trans}}</li>");
                            }
                        }

                        if (typeof e.removed !== 'undefined') {
                            if ($('#change-'+permission+'-'+e.removed.id).length > 0) {
                                $('#change-'+permission+'-'+e.removed.id).remove();
                            } else {
                                $('#permissions-changes').append("<li id='change-"+permission+'-'+e.removed.id+"'>{{'The role'|trans}} <strong>"+e.removed.text+"</strong> {{'will'|trans}} <strong> {{'not'|trans}} "+permissionLabel+"</strong> {{'in this category'|trans}}</li>");
                            }
                        }
                    });
            });
        });
</script>

<div class="tab-pane active" id="properties">
    {% set generalProperties %}
        {{ form_row(form.code) }}
    {% endset %}

    {% set nodeValues %}
        {{ form_row(form.label) }}
    {% endset %}

    {{ elements.accordion({ 'pane.accordion.general_properties': generalProperties, 'pane.accordion.node_values': nodeValues }) }}
</div>

{% if form.vars.value.id %}

    <div class="tab-pane" id="permissions">
        {{ elements.accordion({ 'pane.accordion.permissions': form_widget(form.permissions) }) }}
    </div>

    <div class="tab-pane" id="history">
        {% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}
        {{ dataGrid.renderHistoryGrid(form.vars.value) }}
    </div>
{% endif %}
