{% set removalGranted =
    resource_granted('pim_enrich_attributegroup_remove_attribute') and
    not group.code is constant('DEFAULT_GROUP_CODE', group)
%}
{% set sortGranted = resource_granted('pim_enrich_attribute_sort') %}

<div class="tabsection tab-pane tab-attribute {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    <div class="AknGridToolbar">
        <div class="AknGridToolbar-right">
            <div id="attribute-buttons"></div>
        </div>
    </div>
    <div class="tabsection-content">
        <div class="AknGridContainer">
            <table class="AknGrid AknGrid--unclickable table groups">
                <thead>
                    {% if sortGranted %}
                        <th class="AknGrid-headerCell">&nbsp;</th>
                    {% endif %}
                    <th class="AknGrid-headerCell">{{ 'Name'|trans }}</th>
                    <th class="AknGrid-headerCell">{{ 'Type'|trans }}</th>
                    <th class="AknGrid-headerCell">{{ 'Scope'|trans }}</th>
                    <th class="AknGrid-headerCell">{{ 'Localizable'|trans }}</th>
                    {% if removalGranted %}
                        <th class="AknGrid-headerCell">&nbsp;</th>
                    {% endif %}
                </thead>
                    <tbody id="attributes-sortable">
                        {% for attribute in group.attributes %}
                            <tr class="AknGrid-bodyRow">
                                {% if sortGranted %}
                                    <td class="AknGrid-bodyCell AknGrid-bodyCell--tight">
                                        <span class="handle">
                                            <i class="icon-reorder"></i>
                                            <input name="{{ attribute.id }}" type="hidden" value="{{ attribute.sortOrder }}">
                                        </span>
                                    </td>
                                {% endif %}
                                <td class="AknGrid-bodyCell">{{ attribute.label }}</td>
                                <td class="AknGrid-bodyCell">{{ attribute.type|trans }}</td>
                                <td class="AknGrid-bodyCell">{{ attribute.scopable ? 'Channel'|trans : 'Global'|trans }}</td>
                                <td class="AknGrid-bodyCell">
                                    <input type="checkbox" disabled="disabled"{% if attribute.localizable %} checked="checked"{% endif %}>
                                </td>
                                {% if removalGranted %}
                                    <td class="AknGrid-bodyCell AknGrid-bodyCell--right">
                                        <a {{ elements.deleteLinkAttributes(
                                            path('pim_enrich_attributegroup_removeattribute', {'groupId': group.id, 'attributeId': attribute.id}),
                                            path('pim_enrich_attributegroup_edit', {'id': group.id }),
                                            'confirmation.attribute group.remove attribute'|trans({'%name%': attribute.label}),
                                            'flash.attribute group.attribute removed'|trans
                                        ) }} class="AknIconButton AknIconButton--small AknIconButton--grey remove-attribute">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>
