<div class="tab-pane {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {{ form_row(form.catalogLocale) }}
    {{ form_row(form.catalogScope) }}
    {{ form_row(form.defaultTree) }}
    {{ form_row(form.productGridFilters) }}
</div>
