<div class="tab-pane {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    <div class="AknFormContainer AknFormContainer--withPadding">
        {{ form_row(form.enabled) }}
        {{ form_row(form.username) }}
        {{ form.plainPassword is defined ? form_row(form.plainPassword) : '' }}
        {{ form_row(form.namePrefix) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.middleName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.nameSuffix) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.birthday, {class: 'datepicker'}) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.email) }}
    </div>
</div>
